/*doc
---
title: Custom Select
name: customselect
category: Style-Guide -- Custom-Inputs
---

**Custom styling removed.** `<Selects>` will be using browser default stlying.

```html_example
<select>
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
</select>
```

*/
