<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <layernavigation>
            <general>
                <enablelayernavigation>1</enablelayernavigation>
                <enablepriceslider>1</enablepriceslider>
            </general>
        </layernavigation>
    </default>
</config>