<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <!-- catergory collection filters -->
    <virtualType name="categoryFilterList" type="Magento\Catalog\Model\Layer\FilterList">
        <arguments>
            <argument name="filters" xsi:type="array">
                <item name="attribute" xsi:type="string">Earthlite\LayerNavigation\Model\Layer\Filter\Attribute</item>
                <item name="price" xsi:type="string">Earthlite\LayerNavigation\Model\Layer\Filter\Price</item>
                <item name="category" xsi:type="string">Earthlite\LayerNavigation\Model\Layer\Filter\Category</item>
            </argument>
        </arguments>
    </virtualType>
    
    <!-- Search fultext selection -->
    <virtualType name="Magento\CatalogSearch\Model\ResourceModel\Fulltext\CollectionFactory" type="Magento\Catalog\Model\ResourceModel\Product\CollectionFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">Earthlite\LayerNavigation\Model\ResourceModel\Fulltext\Collection</argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento\CatalogSearch\Model\ResourceModel\Fulltext\SearchCollection" type="Earthlite\LayerNavigation\Model\ResourceModel\Fulltext\Collection">
        <arguments>
            <argument name="searchRequestName" xsi:type="string">quick_search_container</argument>
        </arguments>
    </virtualType>
    
    <!-- elastic search fulltext collection -->
    <virtualType name="elasticsearchLayerCategoryItemCollectionProvider" type="Magento\Elasticsearch\Model\Layer\Category\ItemCollectionProvider">
        <arguments>
            <argument name="factories" xsi:type="array">
                <item name="elasticsearch6" xsi:type="object">Earthlite\LayerNavigation\Model\ResourceModel\Fulltext\CollectionFactory</item>
            </argument>
        </arguments>
    </virtualType>
    
    <virtualType name="elasticsearchLayerSearchItemCollectionProvider" type="Magento\Elasticsearch\Model\Layer\Search\ItemCollectionProvider">
        <arguments>
            <argument name="factories" xsi:type="array">
                <item name="elasticsearch6" xsi:type="object">Earthlite\LayerNavigation\Model\ResourceModel\Fulltext\CollectionFactory</item>
            </argument>
        </arguments>
    </virtualType>
    
    <!-- search result collection filters -->
    <virtualType name="searchFilterList" type="Magento\Catalog\Model\Layer\FilterList">
        <arguments>
            <argument name="filters" xsi:type="array">
                <item name="category" xsi:type="string">Earthlite\LayerNavigation\Model\Layer\Filter\Category</item>
                <item name="attribute" xsi:type="string">Earthlite\LayerNavigation\Model\Layer\Filter\Attribute</item>
                <item name="price" xsi:type="string">Earthlite\LayerNavigation\Model\Layer\Filter\Price</item>
            </argument>
        </arguments>
    </virtualType>
</config>
