<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="real_order_id" xsi:type="string">sales_order.real_order_id</item>
                <item name="sx_integration_status" xsi:type="string">sales_order.sx_integration_status</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\SalesArchive\Model\ResourceModel\Order\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="real_order_id" xsi:type="string">sales_order.real_order_id</item>
                <item name="sx_integration_status" xsi:type="string">sales_order.sx_integration_status</item>
            </argument>
        </arguments>
    </virtualType>
    <preference for="Magento\Checkout\Block\Onepage\Success" type="SomethingDigital\Order\Block\Checkout\Success"/>
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="sd_add_order_extension_attribute" type="SomethingDigital\Order\Plugin\OrderRepositoryPlugin" />
    </type>
    <type name="Magento\Sales\Block\Order\Totals">
        <plugin name="sd_order_remove_base_grandtotal" type="SomethingDigital\Order\Plugin\RemoveBaseGrandtotal" />
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\View">
       <plugin name="sd_order_sales_order_adminhtml_view_custom_button_plugin" type="SomethingDigital\Order\Plugin\Sales\Block\Adminhtml\Order\Button"/>
   </type>
</config>
