<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Mirasvit\Search\Api\Data\IndexInterface" type="Mirasvit\Search\Model\Index"/>
    <preference for="Mirasvit\Search\Api\Repository\IndexRepositoryInterface" type="Mirasvit\Search\Repository\IndexRepository"/>
    <preference for="Mirasvit\Search\Api\Service\IndexServiceInterface" type="Mirasvit\Search\Service\IndexService"/>

    <preference for="Mirasvit\Search\Api\Service\QueryServiceInterface" type="Mirasvit\Search\Service\QueryService"/>

    <preference for="Mirasvit\Search\Api\Data\StopwordInterface" type="Mirasvit\Search\Model\Stopword"/>
    <preference for="Mirasvit\Search\Api\Repository\StopwordRepositoryInterface" type="Mirasvit\Search\Repository\StopwordRepository"/>
    <preference for="Mirasvit\Search\Api\Service\StopwordServiceInterface" type="Mirasvit\Search\Service\StopwordService"/>

    <preference for="Mirasvit\Search\Api\Data\SynonymInterface" type="Mirasvit\Search\Model\Synonym"/>
    <preference for="Mirasvit\Search\Api\Repository\SynonymRepositoryInterface" type="Mirasvit\Search\Repository\SynonymRepository"/>
    <preference for="Mirasvit\Search\Api\Service\SynonymServiceInterface" type="Mirasvit\Search\Service\SynonymService"/>

    <preference for="Mirasvit\Search\Api\Service\StemmingServiceInterface" type="Mirasvit\Search\Service\StemmingService"/>

    <preference for="Mirasvit\Search\Api\Service\CloudServiceInterface" type="Mirasvit\Search\Service\CloudService"/>

    <preference for="Magento\Framework\Search\Request\IndexScopeResolverInterface" type="Magento\Framework\Indexer\ScopeResolver\IndexScopeResolver" />

    <preference for="Mirasvit\Search\Api\Service\ScoreServiceInterface" type="Mirasvit\Search\Service\ScoreService"/>

    <!-- register default data mapper for indexation -->
    <type name="Mirasvit\Search\Api\Data\Index\InstanceInterface">
        <arguments>
            <argument name="dataMappers" xsi:type="array">
                <item name="1default" xsi:type="object">Mirasvit\Search\Model\Index\DataMapper</item>
            </argument>
        </arguments>
    </type>

    <type name="Mirasvit\Search\Index\Magento\Catalog\Product\Index">
        <arguments>
            <argument name="dataMappers" xsi:type="array">
                <item name="0product" xsi:type="object">Mirasvit\Search\Index\Magento\Catalog\Product\DataMapper</item>
            </argument>
        </arguments>
    </type>

    <type name="Mirasvit\Search\Index\Magento\Cms\Page\Index">
        <arguments>
            <argument name="dataMappers" xsi:type="array">
                <item name="0page" xsi:type="object">Mirasvit\Search\Index\Magento\Cms\Page\DataMapper</item>
            </argument>
        </arguments>
    </type>

    <type name="Mirasvit\Search\Api\Repository\IndexRepositoryInterface">
        <arguments>
            <argument name="indices" xsi:type="array">
                <item name="magento_catalog_product" xsi:type="string">Mirasvit\Search\Index\Magento\Catalog\Product\Index</item>
                <item name="magento_catalog_category" xsi:type="string">Mirasvit\Search\Index\Magento\Catalog\Category\Index</item>
                <item name="magento_cms_page" xsi:type="string">Mirasvit\Search\Index\Magento\Cms\Page\Index</item>
                <item name="external_wordpress_post" xsi:type="string">Mirasvit\Search\Index\External\Wordpress\Post\Index</item>
                <item name="mirasvit_blog_post" xsi:type="string">Mirasvit\Search\Index\Mirasvit\Blog\Post\Index</item>
                <item name="mirasvit_kb_article" xsi:type="string">Mirasvit\Search\Index\Mirasvit\Kb\Article\Index</item>
                <item name="mirasvit_gry_registry" xsi:type="string">Mirasvit\Search\Index\Mirasvit\Gry\Registry\Index</item>
                <item name="magefan_blog_post" xsi:type="string">Mirasvit\Search\Index\Magefan\Blog\Post\Index</item>
                <item name="aheadworks_blog_post" xsi:type="string">Mirasvit\Search\Index\Aheadworks\Blog\Post\Index</item>
                <item name="mageplaza_blog_post" xsi:type="string">Mirasvit\Search\Index\Mageplaza\Blog\Post\Index</item>
                <item name="ves_blog_post" xsi:type="string">Mirasvit\Search\Index\Ves\Blog\Post\Index</item>
                <item name="ves_brand_brand" xsi:type="string">Mirasvit\Search\Index\Ves\Brand\Brand\Index</item>
                <item name="magento_catalog_attribute" xsi:type="string">Mirasvit\Search\Index\Magento\Catalog\Attribute\Index</item>
                <item name="amasty_faq_question" xsi:type="string">Mirasvit\Search\Index\Amasty\Faq\Question\Index</item>
            </argument>
        </arguments>

        <plugin name="syncWeights" type="Mirasvit\Search\Index\Magento\Catalog\Product\WeightSynchronizationPlugin"/>
    </type>

    <type name="Magento\Framework\Search\Adapter\Mysql\TemporaryStorage">
        <plugin name="customWeight" type="Mirasvit\Search\Index\Magento\Catalog\Product\CustomWeightPlugin"/>
    </type>

    <!--register index providers for NATIVE magento mysql search-->
    <!--Extension can works without SearchMysql, SearchSphinx, SearchElastic-->
    <type name="Magento\Framework\Search\Adapter\Mysql\Mapper">
        <arguments>
            <argument name="indexProviders" xsi:type="array">
                <item name="magento_catalog_category" xsi:type="object">Mirasvit\Search\Model\Adapter\Mapper\IndexBuilder</item>
                <item name="magento_cms_page" xsi:type="object">Mirasvit\Search\Model\Adapter\Mapper\IndexBuilder</item>
                <item name="external_wordpress_post" xsi:type="object">Mirasvit\Search\Model\Adapter\Mapper\IndexBuilder</item>
                <item name="mirasvit_blog_post" xsi:type="object">Mirasvit\Search\Model\Adapter\Mapper\IndexBuilder</item>
                <item name="mirasvit_kb_article" xsi:type="object">Mirasvit\Search\Model\Adapter\Mapper\IndexBuilder</item>
                <item name="mirasvit_gry_registry" xsi:type="object">Mirasvit\Search\Model\Adapter\Mapper\IndexBuilder</item>
                <item name="magefan_blog_post" xsi:type="object">Mirasvit\Search\Model\Adapter\Mapper\IndexBuilder</item>
                <item name="aheadworks_blog_post" xsi:type="object">Mirasvit\Search\Model\Adapter\Mapper\IndexBuilder</item>
                <item name="mageplaza_blog_post" xsi:type="object">Mirasvit\Search\Model\Adapter\Mapper\IndexBuilder</item>
                <item name="ves_blog_post" xsi:type="object">Mirasvit\Search\Model\Adapter\Mapper\IndexBuilder</item>
                <item name="ves_brand_brand" xsi:type="object">Mirasvit\Search\Model\Adapter\Mapper\IndexBuilder</item>
                <item name="magento_catalog_attribute" xsi:type="object">Mirasvit\Search\Model\Adapter\Mapper\IndexBuilder</item>
                <item name="amasty_faq_question" xsi:type="object">Mirasvit\Search\Model\Adapter\Mapper\IndexBuilder</item>
            </argument>
        </arguments>
    </type>

    <!--registering data providers for NATIVE magento mysql search-->
    <type name="Magento\Framework\Search\Adapter\Mysql\Aggregation\DataProviderContainer">
        <arguments>
            <argument name="dataProviders" xsi:type="array">
                <item name="magento_catalog_category" xsi:type="object">Mirasvit\Search\Model\Adapter\Aggregation\DataProvider</item>
                <item name="magento_cms_page" xsi:type="object">Mirasvit\Search\Model\Adapter\Aggregation\DataProvider</item>
                <item name="external_wordpress_post" xsi:type="object">Mirasvit\Search\Model\Adapter\Aggregation\DataProvider</item>
                <item name="mirasvit_blog_post" xsi:type="object">Mirasvit\Search\Model\Adapter\Aggregation\DataProvider</item>
                <item name="mirasvit_kb_article" xsi:type="object">Mirasvit\Search\Model\Adapter\Aggregation\DataProvider</item>
                <item name="mirasvit_gry_registry" xsi:type="object">Mirasvit\Search\Model\Adapter\Aggregation\DataProvider</item>
                <item name="magefan_blog_post" xsi:type="object">Mirasvit\Search\Model\Adapter\Aggregation\DataProvider</item>
                <item name="aheadworks_blog_post" xsi:type="object">Mirasvit\Search\Model\Adapter\Aggregation\DataProvider</item>
                <item name="mageplaza_blog_post" xsi:type="object">Mirasvit\Search\Model\Adapter\Aggregation\DataProvider</item>
                <item name="ves_blog_post" xsi:type="object">Mirasvit\Search\Model\Adapter\Aggregation\DataProvider</item>
                <item name="ves_brand_brand" xsi:type="object">Mirasvit\Search\Model\Adapter\Aggregation\DataProvider</item>
                <item name="magento_catalog_attribute" xsi:type="object">Mirasvit\Search\Model\Adapter\Aggregation\DataProvider</item>
                <item name="amasty_faq_question" xsi:type="object">Mirasvit\Search\Model\Adapter\Aggregation\DataProvider</item>
            </argument>
        </arguments>
    </type>

    <!--Read adapter/engine from our config-->
    <type name="Magento\Search\Model\AdapterFactory">
        <arguments>
            <argument name="path" xsi:type="const">Mirasvit\Search\Model\Config::CONFIG_ENGINE_PATH</argument>
            <argument name="scopeType" xsi:type="const">Magento\Store\Model\ScopeInterface::SCOPE_STORE</argument>
        </arguments>
    </type>
    <type name="Magento\Search\Model\EngineResolver">
        <arguments>
            <argument name="path" xsi:type="const">Mirasvit\Search\Model\Config::CONFIG_ENGINE_PATH</argument>
            <argument name="scopeType" xsi:type="const">Magento\Store\Model\ScopeInterface::SCOPE_STORE</argument>
        </arguments>
    </type>
    <type name="Magento\CatalogSearch\Model\Indexer\IndexerHandlerFactory">
        <arguments>
            <argument name="configPath" xsi:type="const">Mirasvit\Search\Model\Config::CONFIG_ENGINE_PATH</argument>
        </arguments>
    </type>

    <type name="Magento\CatalogSearch\Model\ResourceModel\EngineProvider">
        <plugin name="syncEngine" type="Mirasvit\Search\Plugin\SyncEngineConfigPlugin"/>
    </type>

    <!--register requests for all search indices-->
    <type name="Magento\Framework\Search\Request\Config\FilesystemReader">
        <plugin name="searchIndices" type="Mirasvit\Search\Plugin\RequestConfigPlugin"/>
    </type>

    <!--register console commands-->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="SynonymCommand" xsi:type="object">Mirasvit\Search\Console\Command\SynonymCommand</item>
                <item name="StopwordCommand" xsi:type="object">Mirasvit\Search\Console\Command\StopwordCommand</item>
                <item name="ReindexCommand" xsi:type="object">Mirasvit\Search\Console\Command\ReindexCommand</item>
            </argument>
        </arguments>
    </type>

    <!--register inflects -->
    <type name="Mirasvit\Search\Api\Service\StemmingServiceInterface">
        <arguments>
            <argument name="stemmers" xsi:type="array">
                <item name="en" xsi:type="object">Mirasvit\Search\Service\Stemming\En</item>
                <item name="nl" xsi:type="object">Mirasvit\Search\Service\Stemming\Nl</item>
                <item name="ru" xsi:type="object">Mirasvit\Search\Service\Stemming\Ru</item>
            </argument>
        </arguments>
    </type>

    <!--register score handlers -->
    <type name="Mirasvit\Search\Api\Service\ScoreServiceInterface">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="defaultScore" xsi:type="object">Mirasvit\Search\Service\QueryScore\DefaultScore</item>
                <item name="salesScore" xsi:type="object">Mirasvit\Search\Service\QueryScore\SalesScore</item>
            </argument>
        </arguments>
    </type>

    <!-- register indices provider for autocomplete -->
    <type name="Mirasvit\SearchAutocomplete\Api\Repository\IndexRepositoryInterface">
        <arguments>
            <argument name="additionalProviders" xsi:type="array">
                <item name="provider" xsi:type="object">Mirasvit\Search\Model\AutocompleteProvider</item>
            </argument>
        </arguments>
    </type>

    <!--after full reindex-->
    <type name="Magento\CatalogSearch\Model\Indexer\Fulltext">
        <plugin name="search" type="Mirasvit\Search\Plugin\FullReindexPlugin"/>
    </type>

    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Mirasvit\Search\Api\Data\IndexInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="const">Mirasvit\Search\Api\Data\IndexInterface::TABLE_NAME</item>
                    <item name="identifierField" xsi:type="const">Mirasvit\Search\Api\Data\IndexInterface::ID</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\EntityManager\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="Mirasvit\Search\Api\Data\IndexInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
            </argument>
        </arguments>
    </type>

    <!--UI-->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="search_index_listing_data_source" xsi:type="string">Mirasvit\Search\Model\ResourceModel\Index\Grid</item>
                <item name="search_stopword_listing_data_source" xsi:type="string">Mirasvit\Search\Model\ResourceModel\Stopword\Grid</item>
                <item name="search_synonym_listing_data_source" xsi:type="string">Mirasvit\Search\Model\ResourceModel\Synonym\Grid</item>
            </argument>
        </arguments>
    </type>
    <type name="Mirasvit\Core\Service\ValidationService">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="search" xsi:type="object">Mirasvit\Search\Service\ValidationService</item>
            </argument>
        </arguments>
    </type>
</config>