@import "home_widget/_banner.less";
@import "home_widget/_promotion.less";
@import "home_widget/_instagram.less";
@import "home_widget/_awards.less";
@import "home_widget/_services.less";
@import "home_widget/_video-pane.less";

@import "home_widget/_blog.less";
@import "home_widget/_featured-products.less";

@widgets-indent__bottom: @indent__base;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .block-static-block,
    .block-cms-link {
        &.widget {
            .lib-css(margin-bottom, @widgets-indent__bottom);
            .links & {
                margin-bottom: 0;
            }
        }
    }

    .block-cms-link-inline {
        &.widget {
            margin: 0;
        }
    }

    .cms-index-index {
        .widget.block-static-block {
            max-width: none;
            padding: 0;
            margin: 0;
        }
        .page-main {
            padding: 0;
            max-width: none;
        }
    }
}
