<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div id="checkout-shipping-method-load">
    <!-- ko foreach: { data: rates(), as: 'method'} -->
        <!--ko template: { name: element.shippingMethodItemTemplate} --><!-- /ko -->
    <!-- /ko -->

    <div>
        <span>Ship your products from our warehouse</span>
        <div>
        <span data-bind="text: warehouseAddress().branch_name"></span>
        <span data-bind="text: warehouseAddress().street1"></span>
        <span data-bind="text: warehouseAddress().street2"></span>
        <span data-bind="text: warehouseAddress().city"></span>
        <span data-bind="text: warehouseAddress().state"></span>
        <span data-bind="text: warehouseAddress().country"></span>
        <span data-bind="text: warehouseAddress().zip_code"></span>
        <span data-bind="text: warehouseAddress().phone"></span>
        </div>
    </div>

</div>
