<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ziffity" translate="label" sortOrder="10">
            <label>CSN Settings</label>
        </tab>
        <section id="settings" translate="label" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Settings</label>
            <tab>ziffity</tab>
            <resource>Ziffity_Core::index</resource>
            <group id="general" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="ticker_iframe" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enter Ticker Iframe</label>
                    <comment><![CDATA[Enter ticker iframe]]></comment>
                </field>
            </group>
            <group id="seo" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Seo settings</label>
                <field id="pdp_suffix_title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enter the suffix for product meta title</label>
                    <comment><![CDATA[Ex: when enter ' | Sitename', its shows like 'Product Title | Sitename']]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
