& when (@media-common = true) {
	.weltpixel-quickview-catalog-product-view,
	.weltpixel_quickview-catalog_product-view {
		.product-info-main {
			.box-tocart {
				float: none;
				.actions {
					float: none;
					margin-left: 0;
				}
				.action.tocart {
					width: 100%;
				}
			}
		}
		.page-wrapper .page-main {
		}
		.reviews-actions .add {
			display: none;
		}

		&.page-product-downloadable {
			.product-options-wrapper,
			.product-options-bottom {
				float: none;
				width: 100%;
			}
			.product-options-bottom {
				.price-box {
					display: none;
				}
			}
		}


		.product-info-wrap {
			& + .product-options-wrapper {
				display: none;
			}
		}



	}

	.box-gotoproduct {
		margin-top: 20px;
		#product-gotoproduct-button {
			width: 100%;
			padding: 10px 15px;
			font-size: 1.4rem;
			line-height: 2.2rem;
			text-align: center;
			border-radius: 5px;
			border: 1px solid transparent;
		}
	}

	.weltpixel-quickview-catalog-product-view,
	.weltpixel_quickview-catalog_product-view {
		.page-wrapper {
			min-height: auto !important;
		}
		.column.main {
			display: inline-block;
			padding-bottom: 0;
		}
		&.catalog-product-view .page-title-wrapper {
			h1 {
				font-size: 22px !important;
			}
		}

		.product-info-wrap {
			padding-bottom: 31px;
		}

		product.media {
			margin-bottom: 0;
		}
		.product-info-main {
			.box-tocart {
				.actions {
					margin: 0;
				}
			}

			.bundle-options-wrapper {
				display: none;
			}
		}
	}

}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

	.weltpixel-quickview-catalog-product-view,
	.weltpixel_quickview-catalog_product-view {
		&.catalog-product-view .breadcrumbs,
		&.catalog-product-view .columns,
		&.catalog-product-view .page.messages,
		&.catalog-product-view .page-title-wrapper {
			max-width: 100%;
			width: 100%;
			margin: 0 auto;
		}
	}
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
	.page-products .products-list .product-item{
		.product-item-inner {
			clear: left;
		}
	}
	.page-products .products-grid .product-item {
		position: relative;
		.product-item-inner {
			margin: 9px -9px 0 -10px;
		}
		.product-item-details {
			position: relative;
		}
		.product-item-info {
			.weltpixel-quickview.weltpixel_quickview_button_v1 span {
				padding: 18px;
				display: block;
			}
			&:hover {
				.weltpixel-quickview.weltpixel_quickview_button_v1 {
					display: block;
					position: absolute;
					top: -66px;
					z-index: 9;
					width: 100%;
					text-align: center;
					color: #eeeeee;
					background: rgba(0, 0, 0, 0.7);
					font-size: 15px;
					text-decoration: none;
					span:before {
						-webkit-font-smoothing: antialiased;
						font-size: 15px;
						line-height: 1;
						color: #eeeeee;
						content: '\e615';
						font-family: 'luma-icons';
						margin: 0;
						vertical-align: top;
						display: inline-block;
						font-weight: normal;
						overflow: hidden;
						speak: none;
						text-align: center;
						position: relative;
						top: 4px;
						left: -5px
					}
				}
			}
		}
	}
}
