<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\MessageQueue\MergerFactory">
        <arguments>
            <argument name="mergers" xsi:type="array">
                <item name="customer_exchange_consumer" xsi:type="string">Travers\CustomerLinking\Model\ReTransMerger</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Customer\Block\Adminhtml\Edit\Tab\View\PersonalInfo" type="Travers\CustomerLinking\Block\Adminhtml\Edit\Tab\View\PersonalInfo" />
    <type name="Magento\Theme\Model\View\Design">
        <arguments>
            <argument name="themes" xsi:type="array">
                <item name="adminhtml" xsi:type="string">Travers/default</item>
            </argument>
        </arguments>
    </type>
</config>
