// Container div for: main product info, gallery, & related products
/*
    <div class="product-hero">
        <div class="product-hero__info">...</div>
        <div class="block related">...</div>
    </div>
*/
.product-hero {
    display: flex;
    flex-wrap: wrap;

    @include max-screen($screen__m) {
        flex-direction: column;
    }

    &__info {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% - #{$width__product-related} - #{$indent__base});

        @include max-screen($screen__l) {
            width: 100%;
        }
    }

    .block.related {
        order: 4;
        float: none;
        width: 100%;

        @include min-screen($screen__l) {
            width: $width__product-related;
            order: 2;
        }
    }

    .product.media,
    .product-info-main {
        float: none;
        width: auto;

        @include max-screen($screen__m) {
            width: 100%;
        }
    }

    .product.media {
        order: 1;
        width: 100%;

        @include min-screen($screen__m) {
            width: calc(100% - #{$width__product-info} - #{$indent__base});
        }
    }

    .product-info-main {
        order: 2;

        @include max-screen($screen__m) {
            margin-bottom: $indent__m;
        }

        @include min-screen($screen__m) {
            width: $width__product-info;
            margin-left: $indent__base;
        }

        .stock-info-popup-trigger {
            font-size: $font-size__base;
            color: $c-cobalt;
            text-transform: none;
            font-weight: $font-weight__semibold;
            cursor: pointer;
        }
    }

    .product-info-price {
        .manufacturer_price {
            margin-top: $indent__m;
            margin-bottom: 15px;
            font-size: 15px;
            font-weight: $font-weight__semibold;
            color: $c-dusty-grey;
        }
    }

    .product.info.detailed {
        order: 3;
        width: 100%;
        max-width: 700px;

        .data.switch {
            font-family: $font-family__sans-serif;
            text-transform: uppercase;
            background-color: $c-grey;
            font-size: 16px;
        }
    }

    .product-options-bottom {
        display: flex;
        align-items: center;

        .pricing {
            order: 1;
            margin-top: $indent__s;
        }
    }

    .percent-saved {
        display: none !important; // override JS
    }

    .as-low-as {
        font-size: $font-size__base--desktop;
        font-weight: $font-weight__semibold;
        text-transform: uppercase;

        .price-wrapper {
            font-size: 22px;
        }
    }

    .page-title {
        font-size: 30px;
        font-weight: $font-weight__regular;
        margin-bottom: $indent__m;
    }

    .product-info-stock-sku {
        margin-top: 20px;

        span:not(.stock-info-popup-trigger) {
            color: $c-nickel;
            font-size: $font-size__base;
            margin-right: $indent__xs;
        }

        .product.sku {
            display: block;

            .value {
                font-weight: $font-weight__semibold;
            }
        }

        .yotpo-display-wrapper {
            position: absolute;
        }

        .yotpoBottomLine {
            line-height: 1;
            margin-bottom: $indent__xl;
        }
    }

    .product-add-form .tocart {
        max-width: 220px;
        width: 100%;
    }

    .product-reviews-summary {
        margin-top: $indent__xs;
    }

    .fotorama__stage {
        border: 1px solid $c-grey;
        box-sizing: border-box;
    }

    .fotorama__thumb-border {
        border: 2px solid $c-royal;
    }
}

.product-inventory-table {
    h2 {
        text-align: center;
        font-size: 24px;
        margin-top: 0;

        @include min-screen($screen__m) {
            margin: $indent__l 0;
        }
    }

    &-desktop {
        display: none;

        thead {
            border-bottom: 2px solid $c-royal;

            th {
                font-size: 16px;
                padding: $indent__xs;
            }
        }

        tbody tr {
            border-bottom: 1px solid $c-grey;

            td {
                padding: $indent__xs;
            }
        }
    }

    &-mobile {
        .inventory-table--row {
            border-top: 1px solid $c-grey;
            padding: $indent__xs;

            &:last-of-type {
                border-bottom: 1px solid $c-grey;
            }
        }

        strong {
            margin-right: $indent__xs;
        }

        p {
            margin: 2px 0;
        }
    }

    @include min-screen($screen__m) {
        &-mobile {
            display: none;
        }

        &-desktop {
            display: block;
        }
    }
}

.popup-stock-info {
    @include max-screen($screen__m) {
        &.modal-popup {
            left: 0;
            padding: 15px;
            box-sizing: border-box;
        }
    }

    .modal-inner-wrap {
        width: 100%;
        padding: $indent__m;

        @include min-screen($screen__m) {
            max-width: 600px;
        }
    }
}
