// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

$order-dropdown-item__color: $color-gray20;
$order-icon__color: $color-gray56;
$order-input-border__color: $c-border;
$order-product-bg__color: $color-gray94;

//
//  Common
//  _____________________________________________


.quickorder-index-index {
    .column {
        .block-addbysku {
            .action {
                &.remove {
                    display: none;

                    @include lib-button-icon(
                        $_icon-font-content: $icon-trash,
                        $_icon-font-text-hide: true,
                        $_icon-font-size: $font-size__l,
                        $_icon-font-color: $order-icon__color
                    );
                }

                &.add {
                    display: none;
                }
            }

            .fieldset {
                .fields {
                    .actions-toolbar {
                        display: none;
                        margin-bottom: $indent__s;
                        margin-left: $indent__xs;
                        position: relative;
                        top: .3rem;
                        vertical-align: top;
                    }

                    .field.required {
                        margin-top: 0;
                        z-index: 0;

                        &.qty {
                            display: flex;
                            flex-direction: column;

                            @include min-screen($screen__m) {
                                label {
                                    transform: translateX(-12px);
                                }
                            }

                            .control,
                            .control input {
                                margin-top: 0;
                            }
                        }
                    }
                }
            }

            .block-content {
                .actions-toolbar {
                    margin-bottom: $indent__l;
                }
            }

            .box-items {
                margin-bottom: $indent__l;
            }

            .box-upload {
                margin-bottom: $indent__l*2;

                button,
                .file-upload {
                    @include button--type(secondary);
                }
            }

            .deletable-item {
                .label {
                    display: none;
                }

                &:last-child {
                    .remove {
                        display: none;
                    }
                }
            }
        }
    }

    .upload {
        .label {
            margin-bottom: 0;
        }

        .label {
            & + .note {
                margin-bottom: $indent__xs;
                padding-top: 0;
            }
        }
    }

    .upload-container {
        display: inline-block;
        overflow: hidden;
        position: relative;

        .action-upload {
            cursor: pointer;
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    .product-block {
        @include lib-clearfix();
        background-color: $order-product-bg__color;

        &:not(:empty) {
            border: 1px solid $order-input-border__color;
            border-top: none;
            padding: $indent__s $indent__xs;
        }

        .quickorder-product-info {
            transform: translateY(0);
            max-width: none;

            @include min-screen($screen__m) {
                flex-direction: row;
            }

            .product-name {
                padding: 0 $indent__xs;
                font-weight: $font-weight__bold;
            }

            .product-image {
                border: 1px solid $order-input-border__color;
                float: left;
                margin: $indent__s auto;

                @include min-screen($screen__m) {
                    margin: $indent__s;
                }

                img {
                    margin-top: 0;
                    margin-right: 0;
                    display: block;

                    @include min-screen($screen__m) {
                        width: 70px;
                        height: 70px;
                    }
                }
            }
        }

        .product-name {
            overflow: hidden;

            .name {
                display: inline-block;
                margin-bottom: $indent__s;
            }
        }
    }

    .product-error {
        .message {
            margin: 0;
        }

        &.general-error {
            .message {
                margin-bottom: $indent__s;

                &:last-child {
                    margin-bottom: $indent__m;
                }
            }
        }
    }

    .ui-front {
        z-index: 100;

        .ui-helper-hidden-accessible {
            display: none;
        }

        > ul {
            @include lib-list-reset-styles();

            &:not(:empty) {
                background: $autocomplete__background-color;
                border: $autocomplete__border;
                border-top: 0;
            }

            li {
                border-top: $autocomplete-item__border;
                cursor: pointer;
                margin: 0;
                padding: $indent__xs $indent__xl $indent__xs $indent__s;
                position: relative;
                text-align: left;
                white-space: normal;

                @include hover {
                    background: $autocomplete-item__hover__color;
                }

                &:first-child {
                    border-top: none;
                }

                &.selected {
                    background: $autocomplete-item__hover__color;
                }

                a {
                    color: $order-dropdown-item__color;
                    font-weight: $font-weight__bold;
                    margin-right: $indent__xs;
                    text-decoration: none;
                }
            }
        }
    }

    .ui-autocomplete {
        cursor: default;
        left: 0;
        top: 0;
    }

    .stock-info-popup-trigger {
        display: block;
        font-weight: $font-weight__bold;
        margin-top: $indent__s;
        font-size: $font-size__base;
        cursor: pointer;
        color: $link__color;
        width: 100%;
        float: left;

        @include hover {
            color: $primary__color;
        }

        @include min-screen($screen__m) {
            margin-left: $indent__s;
            margin-top: 0;
            font-size: $font-size__base--desktop;
        }
    }
}

//
//  Mobile
//  ---------------------------------------------

@include max-screen($screen__s) {
    .quickorder-index-index {
        .column {
            .block-addbysku {
                .fieldset {
                    .fields {
                        margin-bottom: 1.5rem;
                        padding-bottom: .2rem;
                        position: relative;

                        .field {
                            display: block;
                            margin-right: 0;
                            padding-right: 0;

                            &.qty {
                                display: inline-block;

                                .control {
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }

                .upload_container {
                    width: 100%;

                    .file_upload {
                        display: block;
                    }
                }

                .deletable-item-title {
                    display: none;
                }

                .deletable-item {
                    .label {
                        display: inline-block;
                        margin-right: $indent__s;
                    }

                    .actions-toolbar {
                        float: right;
                    }
                }
            }
        }
    }
}
