<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Rocket Web Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Catalog::catalog">
                    <resource id="RocketWeb_ShoppingFeeds::shoppingfeeds" title="Rocket Shopping Feeds"
                              sortOrder="1000">
                        <resource id="RocketWeb_ShoppingFeeds::grid" title="Shopping Feeds" sortOrder="5">
                            <resource id="RocketWeb_ShoppingFeeds::save" title="Save Feed" sortOrder="10" />
                            <resource id="RocketWeb_ShoppingFeeds::delete" title="Delete Feed" sortOrder="20" />
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="RocketWeb_ShoppingFeeds::configuration" title="Shopping Feeds Section"
                                      sortOrder="1200" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>