{{ ansible_managed | comment }}

{% for site in site_domains %}
map $http_host $MAGE_RUN_CODE {
  {{ site.domain | default(site) }} {{ site.mage_run_code | default("") }};
{% endfor %}
}


{% for site in site_domains %}
server {
  set $MAGE_ROOT {{ site_root }}/current;

  listen 80;
  {% if copy_tls_certs | bool %}
  listen 443 ssl;
  {% endif %}

  server_name {{ site.domain | default(site) }};

  env $MAGE_MODE={{ site.mage_mode | default('developer') }};
  env $MAGE_RUN_TYPE={{ site.mage_run_type | default('website') }};
  env $MAGE_RUN_CODE={{ site.mage_run_code | default('') }};

  access_log /var/log/access.log main;
  error_log /var/log/nginx/error.log warn;

  index index.php index.html;

  {% if copy_tls_certs | bool %}

  #
  # SSL
  #
  ssl_certificate /etc/pki/tls/certs/{{ site.domain }}.crt;
  ssl_certificate_key /etc/pki/tls/private/{{ site.domain }}.key;
  {% endif %}

  include /etc/nginx/conf/server/magento2.conf;
}

{% endfor %}

