<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_CronScheduleList
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Amasty_CronScheduleList::amasty_schedule"
             title="Amasty Cron Scheduler"
             module="Amasty_CronScheduleList"
             sortOrder="110"
             parent="Magento_Backend::system"
             resource="Amasty_CronScheduleList::amasty_schedule"/>
        <add id="Amasty_CronScheduleList::schedule_list"
             title="Cron Tasks List"
             module="Amasty_CronScheduleList"
             sortOrder="10"
             parent="Amasty_CronScheduleList::amasty_schedule"
             action="amasty_cronschedulelist/schedule/index"
             resource="Amasty_CronScheduleList::schedule_list"/>
    </menu>
</config>
