<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Core/etc/config.xsd">
    <default>
        <pointofsale>
            <license>
                <extension_label>Point Of Sale</extension_label>
                <extension_version>7.0.0.6</extension_version>
                <extension_code>pos</extension_code>
                <get_online_license>1</get_online_license>
            <activation_key>41SNNOM4PRPI887XR</activation_key></license>
            <settings>
                <pattern><![CDATA[{{image}}
{{address_1}}
{{address_2}}
{{zipcode}} {{city}}
{{country}} {{state}}
☎ {{phone}}
✉ {{email}}
<p style="margin-top:10px">{{hours}}</p>]]></pattern>
                <display_distance>1</display_distance>
                <display_duration>1</display_duration>
                <unit_system>0</unit_system>
                <time>h:i A</time>
                <display_x_first_pos>0</display_x_first_pos>
            </settings>
        </pointofsale>
    </default>
</config>
