<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Wyomind\PointOfSale\Helper\Data">
        <arguments>
            <argument name="coreHelper" xsi:type="object">Wyomind\Core\Helper\Data\Proxy</argument>
            <argument name="regionModel" xsi:type="object">Magento\Directory\Model\Region\Proxy</argument>
            <argument name="localeLists" xsi:type="object">Magento\Framework\Locale\ListsInterface\Proxy</argument>
            <argument name="coreDate" xsi:type="object">Magento\Framework\Stdlib\DateTime\DateTime\Proxy</argument>
            <argument name="storeManagerInterface" xsi:type="object">Magento\Store\Model\StoreManagerInterface\Proxy</argument>
            <argument name="adapterFactory" xsi:type="object">Magento\Framework\Image\AdapterFactory\Proxy</argument>
            <argument name="directoryList" xsi:type="object">Magento\Framework\App\Filesystem\DirectoryList\Proxy</argument>
        </arguments>
    </type>
    <type name="Wyomind\PointOfSale\Model\PointOfSale">
        <arguments>            
            <argument name="coreHelper" xsi:type="object">Wyomind\Core\Helper\Data\Proxy</argument>
        </arguments>
    </type>
</config>