<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="customerregip" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Customer Registration IP</label>
            <tab>ziffity</tab>
            <resource>Ziffity_CustomerRegIp::index</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="ipinfodb_api_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>IpInfoDb API Key</label>
                    <comment><![CDATA[Visit <a href="http://ipinfodb.com/register.php" target="_blank">ipinfodb.com</a> for a free API key.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
