// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {


    .wp-filters {
        &-text {
            display: none;
        }
    }

    .block.filter {
        margin-bottom: @indent__xl;
        border: 1px solid @c-graylight;
        position: relative;

        .filter-title {
            padding: 1.5rem 2rem;
            margin: 0;
            border-bottom: 1px solid @c-graylight;

            strong {
                font-family: @heading__font-family__base;
                font-weight: 600;
            }
            &::before{
                font-family: @icons__font-name_ps;
                content: '\e90d';
                margin-right: 1rem;
            }
        }
        .filter-subtitle {
            display: none;
        }
    }



    .filter-content{
        padding: 2rem;
    }

    .block-subtitle {
        display: inline-block;
        margin-bottom: @indent__s;
    }

    .filter-current {
        .item {
            margin-bottom: @indent__s;
            background: #dfe4ec;
            padding: 5px 10px;
            border-radius: 3px;
            display: inline-block;
        }

        .action.remove{
            > span{
                border: 0;
                    clip: rect(0, 0, 0, 0);
                    height: 1px;
                    margin: -1px;
                    overflow: hidden;
                    padding: 0;
                    position: absolute;
                    width: 1px;
            }
            &::before{
                font-family: @icons__font-name_ps;
                content: '\e90b';
                display: inline-block;
                font-size: 8px;
                text-align: center;
                padding: 2px;
                margin-left: 1rem;
            }
        }

        .filter-label {
            display: block;
            font-weight: @font-weight__bold;

            &:after {
                content: ':';
            }
        }

        .filter-value{
            font-size: 1.3rem;
        }

        + .filter-actions {
            position: absolute;
            top: 15px;
            right: 15px;
            margin: 0;
            span{
                color: @c-hover_color;
                &::after{
                    font-family: @icons__font-name_ps;
                    content: '\e90b';
                    color: #fff;
                    display: inline-block;
                    font-size: 8px;
                    text-align: center;
                    background: @c-hover_color;
                    padding: 2px 4px;
                    margin-left: 3px;
                    border-radius: 2px;
                    vertical-align: text-bottom;
                }
            }
            a{
                text-transform: capitalize;
                &:hover{
                    span{
                        color: @c-primary_color;
                        &::after{
                            background: @c-primary_color;
                        }
                    }
                }
            }
        }
    }

    .filter-options-content {
        .filter-count-label {
            &:extend(.abs-visually-hidden all);
        }
    }

    .filter-options {
        margin: 0;

        &-item {
            & + .filter-options-item {
                margin-top: 20px;
            }
        }

        .filter-options-title {
            .lib-heading(h4);
            margin: 0 0 1rem;
            word-break: break-all;
            font-family: @font-family-name__base;
            font-size: 1.6rem;
            font-weight: 600;
            position: relative;
            padding: 0.5rem 0;
            cursor: pointer;
            &::after{
                position: absolute;
                right: 0;
                top: 0;
                content: "+";
                font-size: 20px;
            }
        }

        .active>.filter-options-title:after{
            content: "-";
        }

        .filter-options-content {


            .item {
                & + .item {
                    margin-top: 5px;
                }
                a{
                    text-transform: capitalize;
                    .lib-css(color, @c-text_color);
                    &:before{
                        width: 15px;
                        height: 15px;
                        content: '';
                        display: inline-block;
                        vertical-align: middle;
                        border: 1px solid #8a92a5;
                        line-height: 15px;
                        margin-right: 8px;
                        .br-radius(3px);
                    }

                    &:hover {
                        .lib-css(color, @c-primary_color);
                    }
                }
            }

            &.active{
                display: block;
            }
        }  

        .count {
            .lib-css(color, @text__color__muted);
            display: none;

            &:before {
                content: '(';
            }

            &:after {
                content: ')';
            }
        }
    }

    .items {
        &:extend(.abs-reset-list all);
    }

    .filtered {
        .items {
            margin: 15px 0;
        }

        .item {
            margin-bottom: 6px;
            padding-left: 22px;
            position: relative;

            .label {
                font-weight: @font-weight__bold;
            }

            .action.remove {
                &:extend(.abs-remove-button-for-blocks all);
                left: -6px;
                position: absolute;
                top: 0;
            }
        }

        & + .actions {
            margin-bottom: 35px;
        }
    }
}



//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m + 1) {

    .filter {
        &-options {
            &-content {
                /*display: block !important;*/
            }



            &-item {
                &.active {
                    .filter-options-content {
                        /*display: none !important;*/
                    }

                    .filter-options-title {
                        &:after {
                            content:'-';
                        }
                    }
                }

                .filter-options-title {
                    &:after {
                        content:'+';
                    }
                }
            }
        }
    }

}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m + 1) {

    .page-with-filter {
        .columns {
            .sidebar-main {
                .lib-vendor-prefix-order(0);
            }
        }
    }

    .block.filter{
        margin: 0;
        border: none;
        .filter-title {
            background: @c-whitesmoke;
            border: 1px solid @c-graylight;
            padding: 19px 2rem;

            &:before {
                margin-right: 2px;
            }
        }
    }


    .filter-content{
        padding: 0;
        .filter-actions{
            a{
                display: none;
            }
        }
    }

    .filter-options{
        display: none;
    }

    .filter.active{
        position: relative;
        visibility: visible;
        z-index: 99;
        .filter-title {
            left: 0;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 5;
            padding: 18px 20px 18px 31px;
            color: #001842;
            height: auto;
            display: inline-block;
            background: #f2f6f9;
            strong{
                &::after{
                    font-family: 'PS';
                    content: '\e90b';
                    display: inline-block;
                    font-size: 13px;
                    text-align: center;
                    padding: 2px;
                    margin-left: 1rem;
                    position: absolute;
                    right: 15px;;
                }
            }
        }
        .filter-options {
            background: #fff;
            bottom: 0;
            display: block;
            left: 0;
            overflow: auto;
            position: fixed;
            right: 0;
            top: 59px;
            z-index: 10;
            padding: 2rem;
        }
    }

    .filter {
        &-current {
            padding: 1.5rem 0;
        }
    }

    body.filter-active .page-wrapper {
        height: 0;
        margin-top: -999999em;
        visibility: hidden;
    }

}