<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="sx/general/password" xsi:type="string">1</item>
                <item name="sx/general/token" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>
    <type name="SomethingDigital\Sx\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="SomethingDigital\Sx\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">sx_logger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">SomethingDigital\Sx\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>