<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Directory\Model\PriceCurrency">
        <plugin name="roundPrice"
                type="SomethingDigital\PriceRounding\Plugin\RoundPrice"
                sortOrder="10"
                disabled="false"/>
    </type>
    <type name="Magento\Payment\Gateway\Data\Order\OrderAdapter">
        <plugin name="somethingdigital_pricerounding_round_grand_total" type="SomethingDigital\PriceRounding\Plugin\RoundGrandTotal"/>
    </type>
</config>
