<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Rocket Web Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="rocketweb" translate="label" sortOrder="1001000">
            <label>Rocket Web Extensions</label>
        </tab>
        <section id="shoppingfeeds" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Rocket Shoping Feeds</label>
            <tab>rocketweb</tab>
            <resource>RocketWeb_ShoppingFeeds::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Info</label>
                <field id="version" translate="label" type="note" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Versions installed:</label>
                    <frontend_model>RocketWeb\ShoppingFeeds\Block\Adminhtml\Info</frontend_model>
                </field>
                <field id="cron_enabled" translate="label" type="select" sortOrder="20" showInDefault="1">
                    <label>Cron Enabled</label>
                    <comment>Feed generation is launched through magento's cron. If you disable it here, make sure to add stand alone crontab commands for feed:
                    php bin/magento rocketshoppingfeed:schedule,
                    php bin/magento rocketshoppingfeed:generate</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
