<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 Vantiv, LLC. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_catalog_product_save_entity_after">
        <observer name="vantiv_payment_product_save_after_action_observer" instance="Vantiv\Payment\Observer\ProductSaveAfterActionObserver"/>
    </event>
    <event name="catalog_product_save_before">
        <observer name="vantiv_payment" instance="Vantiv\Payment\Observer\CatalogProductSaveBeforeObserver"/>
    </event>
</config>
