<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 Vantiv, LLC. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Vantiv_Payment::subscriptions" title="Subscriptions" translate="title" module="Vantiv_Payment" sortOrder="80" parent="Magento_Sales::sales_operation" action="vantiv/recurring_subscription" resource="Vantiv_Payment::subscriptions_actions_view"/>
        <add id="Vantiv_Payment::recovery_transactions" title="Subscription Recovery Transactions" translate="title" module="Vantiv_Payment" sortOrder="90" parent="Magento_Sales::sales_operation" action="vantiv/recurring_recovery" resource="Vantiv_Payment::recovery_transactions_actions_view"/>
    </menu>
</config>
