<!--@subject {{trans "Welcome to %store_name" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->

{{template config_path="design/email/header_template"}}

<p>{{trans "Welcome to %store_name." store_name=$store.getFrontendName()}}</p>
<p>
    {{trans 'Your Company registration was successful'}}
</p>
<ul>
    <li><strong>{{trans "Email:"}}</strong> {{var customer.email}}</li>
</ul>

<p>{{trans "Business Accounts Benefits"}}</p>
<ul>
    <li>{{trans "Find the ultimate fashion staple at Kurt Geiger"}}</li>
    <li>{{trans "Find the ultimate fashion staple at Kurt Geiger"}}</li>
    <li>{{trans "Find the ultimate fashion staple at Kurt Geiger"}}</li>
    <li>{{trans "Find the ultimate fashion staple at Kurt Geiger"}}</li>
</ul>

{{template config_path="design/email/footer_template"}}
