<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="SomethingDigital\AdminNotify\Api\Data\HistoryInterface" type="SomethingDigital\AdminNotify\Model\History" />
    <preference for="SomethingDigital\AdminNotify\Api\HistoryManagementInterface" type="SomethingDigital\AdminNotify\Model\HistoryManagement" />
</config>