// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
//  Luma theme variables
//  _____________________________________________
//
//  Typography
//  ---------------------------------------------
//  Fonts
@font-family-name__base: 'Roboto',
sans-serif;
@font-family__base: @font-family-name__base,
@font-family__sans-serif;
//  Colors nesting
@page__background-color: @color-white;
//
//  Icons
//  ---------------------------------------------
@icon-success: '\e60e';
@icon-error: '\e61f';
@icon-edit: '\e601';
@icon-print: '\e624';
@icon-star-empty: '\e625';
@icon-download: '\e626';
@icon-private: '\e629';
@icon-present: '\e62a';
@icon-gift-registry: '\e62b';
@icon-calendar__font-size: 23px;
//
//  Sidebar
//  ---------------------------------------------
@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background
//
//  Sidebar blocks
//  ---------------------------------------------
@block-items__counter__color: @color-gray43;
//
// custom values
// ----------------------------------------------
@color-white: #fff;
@color-whitesmoke: #f2f5f8;
@color-gainsboro: #d6dcec;
@color-lightblue: #d7dded;
@color-darkslategray: #2b2b2b;
@color-darkslateblue: #3e5ca3;
@color-btn: #1c3f93;
@color-black: #020202;
@color-crimson: #e32129;
@color-lightgray: #d7dded;
@color-orange: #f26322;
@color-sky: #b5c0dd;
// Font Sizes
@f-size-xxxl: 28px;
@f-size-xxl: 18px;
@f-size-xl: 16px;
@f-size-l: 15px;
@f-size: 14px;
@f-size-s: 13px;
@f-size-xs: 12px;
@f-size-xxs: 11px;
@f-size-xxxs: 9px;
.ptb(@ptb) {
    padding-top: @ptb;
    padding-bottom: @ptb;
}

.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
    text-shadow: @string;
}

.btn-bor-w {
    border: 1px solid @color-white;
    color: @color-white;
    font-weight: bold;
    padding: 12px 24px;
    line-height: normal;
    text-decoration: none;
    font-size: @f-size-xs;
    &:hover {
        background: @color-darkslateblue;
        color: @color-white;
        border-color: @color-darkslateblue;
    }
}

.btn-bor {
    border: transparent;
    background: @color-black;
    color: @color-white;
    font-weight: bold;
    padding: 12px 24px;
    line-height: normal;
    font-size: @f-size-xs;
    text-decoration: none;
    &:hover {
        background: @color-darkslateblue;
        color: @color-white;
        border-color: @color-darkslateblue;
    }
}

.whitesmoke {
    background: @color-whitesmoke;
}

.br {
    border: 1px solid @color-gainsboro;
}

.box-shadow (@string) {
    -webkit-box-shadow: @string;
    -moz-box-shadow: @string;
    box-shadow: @string;
}

.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
    -webkit-box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.inner-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
    -webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.box-sizing (@type: border-box) {
    -webkit-box-sizing: @type;
    -moz-box-sizing: @type;
    box-sizing: @type;
}

.br-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.bg-clip(@bg-clip) {
    -moz-background-clip: @bg-clip;
    -webkit-background-clip: @bg-clip;
    background-clip: @bg-clip;
}

.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
    -webkit-border-top-right-radius: @topright;
    -webkit-border-bottom-right-radius: @bottomright;
    -webkit-border-bottom-left-radius: @bottomleft;
    -webkit-border-top-left-radius: @topleft;
    -moz-border-radius-topright: @topright;
    -moz-border-radius-bottomright: @bottomright;
    -moz-border-radius-bottomleft: @bottomleft;
    -moz-border-radius-topleft: @topleft;
    border-top-right-radius: @topright;
    border-bottom-right-radius: @bottomright;
    border-bottom-left-radius: @bottomleft;
    border-top-left-radius: @topleft;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.opacity (@opacity: 0.5) {
    -webkit-opacity: @opacity;
    -moz-opacity: @opacity;
    opacity: @opacity;
}

.gradient (@startColor: #eee, @endColor: white) {
    background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
}

.horizontal-gradient (@startColor: #eee, @endColor: white) {
    background-color: @startColor;
    background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
    background-image: -webkit-linear-gradient(left, @startColor, @endColor);
    background-image: -moz-linear-gradient(left, @startColor, @endColor);
    background-image: -ms-linear-gradient(left, @startColor, @endColor);
    background-image: -o-linear-gradient(left, @startColor, @endColor);
}

.animation (@name, @duration: 300ms, @delay: 0, @ease: ease) {
    -webkit-animation: @name @duration @delay @ease;
    -moz-animation: @name @duration @delay @ease;
    -ms-animation: @name @duration @delay @ease;
    animation: @name @duration @delay @ease;
}

.transition (@transition) {
    -webkit-transition: @transition;
    -moz-transition: @transition;
    -ms-transition: @transition;
    -o-transition: @transition;
    transition: @transition;
}

.transform(@string) {
    -webkit-transform: @string;
    -moz-transform: @string;
    -ms-transform: @string;
    -o-transform: @string;
    transform: @string;
}

.scale (@factor) {
    -webkit-transform: scale(@factor);
    -moz-transform: scale(@factor);
    -ms-transform: scale(@factor);
    -o-transform: scale(@factor);
    transform: scale(@factor);
}

.rotate (@deg) {
    -webkit-transform: rotate(@deg);
    -moz-transform: rotate(@deg);
    -ms-transform: rotate(@deg);
    -o-transform: rotate(@deg);
    transform: rotate(@deg);
}

.skew (@deg, @deg2) {
    -webkit-transform: skew(@deg, @deg2);
    -moz-transform: skew(@deg, @deg2);
    -ms-transform: skew(@deg, @deg2);
    -o-transform: skew(@deg, @deg2);
    transform: skew(@deg, @deg2);
}

.translate (@x, @y: 0) {
    -webkit-transform: translate(@x, @y);
    -moz-transform: translate(@x, @y);
    -ms-transform: translate(@x, @y);
    -o-transform: translate(@x, @y);
    transform: translate(@x, @y);
}

.translate3d (@x, @y: 0, @z: 0) {
    -webkit-transform: translate3d(@x, @y, @z);
    -moz-transform: translate3d(@x, @y, @z);
    -ms-transform: translate3d(@x, @y, @z);
    -o-transform: translate3d(@x, @y, @z);
    transform: translate3d(@x, @y, @z);
}

.perspective (@value: 1000) {
    -webkit-perspective: @value;
    -moz-perspective: @value;
    -ms-perspective: @value;
    perspective: @value;
}

.transform-origin (@x: center, @y: center) {
    -webkit-transform-origin: @x @y;
    -moz-transform-origin: @x @y;
    -ms-transform-origin: @x @y;
    -o-transform-origin: @x @y;
    transform-origin: @x @y;
}

.pos(@value) {
    position: @value;
}

.disp(@value) {
    display: @value;
}

.h(@value) {
    height: @value;
}

.w(@value) {
    width: @value;
}

.hw(@hvalue, @wvalue) {
    height: @hvalue;
    width: @wvalue;
}

.bg-smoke() {
    background: @color-whitesmoke;
    border: 1px solid @color-lightgray;
}

.flex() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.flex-width(@width) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 @width;
    flex: 0 0 @width;
    max-width: @width;
}

.container-md() {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-sm() {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

// Mixin itself
.clearfix() {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

.lib-link( @_link-color: @color-darkslateblue, @_link-text-decoration: @link__text-decoration, @_link-color-visited: @link__visited__color, @_link-text-decoration-visited: @link__visited__text-decoration, @_link-color-hover: @link__hover__color, @_link-text-decoration-hover: @link__hover__text-decoration, @_link-color-active: @link__active__color, @_link-text-decoration-active: none) {
    .lib-css(color, @color-darkslateblue);
    .lib-css(text-decoration, @_link-text-decoration);
    &:visited {
        .lib-css(color, @color-darkslateblue);
        .lib-css(text-decoration, @_link-text-decoration-visited);
    }
    &:hover {
        .lib-css(color, @color-darkslateblue);
        .lib-css(text-decoration, @_link-text-decoration-hover);
    }
    &:active {
        .lib-css(color, @_link-color-active);
        .lib-css(text-decoration, @_link-text-decoration-active);
    }
}