& when (@media-common = true) {
    .blog__sidebar-search {
        .action.primary {
            padding: 10px;
            height: 100%;
        }
    }

    .blog-search-result {
        .cms-pages {
            .block-title {
                color: @title_color;
                font-weight: 600;
                font-size: 1.6rem;
                margin-bottom: 15px;
            }
            .page-list {
                padding-left: 16px;
            }
        }
    }

    .blog__post-list-wrapper {
        .blog__post-list {
            list-style: none;
            padding: 0;

            > li {
                margin-bottom: 3rem;
                padding-bottom: 2rem;
                border-bottom: 1px dotted #ddd;
            }
        }

        .toolbar {
            position: relative;
        }
    }

    .blog__post-item {
        .lib-clearfix();

        .blog__post-header {
            .blog__post-title {
                margin-bottom: 1.5rem;
                margin-top: 0;
                font-size: 2.8rem;
                a {
                    color: #333;

                    &:hover {
                        text-decoration: none;
                        color: #000;
                    }
                }
            }
        }

        .blog__post-excerpt {
            .lib-clearfix();

            > img, > a > img {
                float: left;
                margin: 0 2rem 0rem 0;
                max-width: 30%;
                border-radius: 5px;
            }

            .read-more {
                display: block;
                margin-top: 1rem;
            }
        }
    }

    .blog__main-recent {
        .item {
            .lib-clearfix();

            img {
                padding: 0 1rem 1rem 0;
                float: left;
                max-width: 10rem;
                border-radius: 2px;
            }

            a {
                color: #333;
                font-size: 1.2rem;
                display: block;
                text-decoration: none;
            }
        }
    }
    .blog__post-view-related-posts .block-title,
    .blog__sidebar-main > .block .block-title {
        color: @title_color;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .blog__post-item {
        .blog__post-excerpt {
            > img {
                padding: 0 0 2rem 0;
                max-width: 100%;
                width: 100%;
            }
        }
    }
}

& when (@media-common = true) {
    .blog__post-meta {
        .lib-clearfix();

        /*color: #a3a3a3;*/
        margin-bottom: 2rem;

        .blog__post-meta-time, .blog__post-meta-author, .blog__post-meta-comments, .blog__post-meta-sharing {
            margin-right: 2rem;
        }

        .blog__post-meta-sharing {
            display: inline-block;
            margin-left: 2rem;
        }
    }

    .blog__post-footer {
        .lib-clearfix();
        margin-bottom: 2rem;

        color: #a3a3a3;

        .blog__post-footer-categories, .blog__post-footer-tags {
            display: block;
            float: left;
            margin-right: 2rem;
            margin-bottom: 15px;
            a {
                border: 1px solid @title_color;
                padding: 5px 15px;
                display: inline-block;
                border-radius: 4px;
                margin: 0 2px 5px 0;
                &::after {
                    content: ',';
                }

                &:last-child::after {
                    content: '';
                }
            }
        }
    }
}