@font-face {
    font-family: 'MinionPro-Regular';
    src: url('MinionPro-Regular.eot');
    src: url('MinionPro-Regular.woff2') format('woff2'), url('MinionPro-Regular.woff') format('woff'), url('MinionPro-Regular.ttf') format('truetype'), url('MinionPro-Regular.svg#MinionPro-Regular') format('svg'), url('MinionPro-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-Md';
    src: url('HelveticaNeueLTStd-Md.eot');
    src: url('HelveticaNeueLTStd-Md.woff2') format('woff2'), url('HelveticaNeueLTStd-Md.woff') format('woff'), url('HelveticaNeueLTStd-Md.ttf') format('truetype'), url('HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md') format('svg'), url('HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}