<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <weltpixel_google_cards>
            <general>
                <enable>1</enable>
                <description>1</description>
                <price>incl_tax</price>
                <condition>item_condition</condition>
                <brand>0</brand>
                <sku>sku</sku>
                <gtin>0</gtin>
                <mpn>0</mpn>
                <reviews_format>2</reviews_format>
                <reviews_count>10</reviews_count>
                <breadcrumbs>1</breadcrumbs>
            </general>
            <rich_snippet_search>
                <enable_search>1</enable_search>
            </rich_snippet_search>
            <rich_snippet_logo>
                <enable_logo>1</enable_logo>
                <mage_logo>1</mage_logo>
                <google_logo>0</google_logo>
            </rich_snippet_logo>
            <rich_snippet_contact>
                <enable_contact>0</enable_contact>
            </rich_snippet_contact>
            <rich_snippet_social_profile>
                <enable_social_profile>0</enable_social_profile>
            </rich_snippet_social_profile>
            <twitter_cards>
                <enable>1</enable>
                <card_type>product</card_type>
                <description>1</description>
                <price>incl_tax</price>
                <site></site>
                <creator></creator>
            </twitter_cards>
            <facebook_opengraph>
                <enable>1</enable>
                <description>1</description>
                <price>incl_tax</price>
                <site_name></site_name>
                <app_id></app_id>
            </facebook_opengraph>
            <pinterest_rich_pins>
                <enable>1</enable>
            </pinterest_rich_pins>
        </weltpixel_google_cards>
    </default>
</config>
