<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Ziffity_PickupdateOR" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Sales" />
            <module name="Amasty_Base" />
            <module name="Ziffity_Pickupdate" />
        </sequence>
    </module>  
</config>
