//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .home-awards {
        text-align: center;
        ul {
            .flex();
            list-style: none;
            margin: 0;
            padding: 0;
            max-width: 800px;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            strong {
                font-size: 15px;
                display: block;
                margin-bottom: 2px;
            }
            h4 {
                margin: 0 0 5px;
            }
        }
        li {
            padding: 0 20px;
            position: relative;
            margin-bottom: 2rem;
            &:before, &:after {
                display: inline-block;
                width: 42px;
                vertical-align: middle;
            }
            &:before {
                content: url(../images/award-leaf-l.png);
            }
            &:after {
                content: url(../images/award-leaf-r.png);
            }
            span {
                font-size: 11px;
                font-weight: 400;
                text-transform: uppercase;
                font-weight: 600;
                line-height: 1.2;
                display: inline-block;
                letter-spacing: .5px;
            }
            .text-title {
                display: inline-block;
                width: 120px;
                vertical-align: middle;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .home-awards li {
        margin-bottom: 4rem;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @c-desk) {
    .home-awards li {
        margin-bottom: 5rem;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .home-awards li {
        margin-bottom: 7rem;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @c-desk) {
    .home-awards li {
        padding: 0 10px;
    }
}