//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .alert.offer-note {
        background: @color__linen;
        border-radius: 0;
        margin-bottom: 0;
        text-align: center;
        .close {
            color: @title_color;
            cursor: pointer;
            font-size: 1.8rem;
            margin-top: 2px;
        }
    }
    .home-banner {
        .pagebuilder-overlay {
            min-height: 800px;
            display: flex;
            align-items: center;
            max-width: 50%!important;
        }
    }
}