//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .home-instagram {
        text-align: center;
        ul {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: center;
            justify-content: center;
            list-style: none;
            margin: 0 -10px;
            padding: 0;

        }
        li {
            padding: 10px;
            margin-bottom: 0;
            a {
                border: 1px solid @color-lines;
                display: block;
                border-radius: 10px;
                overflow: hidden;
                -webkit-transition: .6s ease;
                transition: .6s ease;
                &:hover {
                    img {
                        -webkit-transform: scale(1.05);
                        transform: scale(1.05);
                    }
                }
            }
        }
        img {
            border-radius: 10px;
            -webkit-transition: .6s ease;
            transition: .6s ease;
        }
        .action {
            white-space: nowrap;
        }

        .slick-list {
            .slick-slide {
                li {
                    .flex-width(100%);
                }
            }
        }

    }

    .cms-instagram {
        .row {
            margin: 0 -10px;
            li {
                padding: 0 10px;
                margin-bottom: 20px;
            }
            a {
                border: 1px solid @color-lines;
                border-radius: 10px;
                overflow: hidden;
                -webkit-transition: .6s ease;
                transition: .6s ease;
                &:hover {
                    img {
                        -webkit-transform: scale(1.05);
                        transform: scale(1.05);
                    }
                }
            }
            img {
                border-radius: 10px;
                -webkit-transition: .6s ease;
                transition: .6s ease;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) { 
    .cms-instagram {
        .row {
            margin: 0 -5px;
            li {
                padding: 0 5px;
                margin-bottom: 10px;
            }
        }
    }
    .home-instagram {
        .action.abs-center {
            position: relative;
            transform: none !important;
            left: auto;
            top: auto;
            margin-top: 10px;
        }
    }
}