//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .home-brand1 {
        .container {
            max-width: 1120px;
        }
    }
    body [data-aos=fade-up] {
        transition: opacity,transform 2s cubic-bezier(.16,1.08,.38,.98),-webkit-transform 2s cubic-bezier(.16,1.08,.38,.98) !important;
        will-change: transform;
    }
}
