<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="algoliasearch_credentials">
            <group id="credentials" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="read_index_prefix" translate="label comment" type="text" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Read Index Name Prefix</label>
                    <comment>
                        <![CDATA[
                            Specify different index prefix to read data.
                        ]]>
                    </comment>
                </field>
            </group>
        </section>
        <section id="catalog">
            <group id="reactapp" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>React App</label>
                <field id="limit_filter_attr_values" translate="label comment" type="text" sortOrder="300" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Limit number of attribute values in filters</label>
                </field>
            </group>
        </section>
    </system>
</config>
