<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
  <event name="model_save_after">
    <observer name="urfsales" instance="\Unirgy\RapidFlowSales\Observer\ModelSaveAfter"/>
  </event>
  <event name="model_save_before">
    <observer name="urfsales" instance="\Unirgy\RapidFlowSales\Observer\ModelSaveBefore"/>
  </event>
</config>
