<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="sd:dev:virtual" xsi:type="object">SomethingDigital\VirtualThemes\Console\VirtualCommand</item>
                <item name="sd:dev:unvirtual" xsi:type="object">SomethingDigital\VirtualThemes\Console\UnvirtualCommand</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Theme\Model\Theme\Registration">
        <plugin name="SomethingDigital_VirtualThemes" type="SomethingDigital\VirtualThemes\Plugin\RegistrationPlugin" />
    </type>
</config>
