// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .actions-toolbar {
        > a.action {
            .link-inverse();
        }
        .primary {
            button.action {
                .lib-button-primary();
            }
        }
        
        .actions,
        .secondary {
            a.action {
                .link-inverse();
            }

            button.action {
                .lib-button-primary();
            }
        }
    }



    table.table {
        color: @theme__color__secondary;
        th, td {
            width: auto;
        }

        .mark {
            background: transparent;
        }
    }


    .sidebar {
        &.sidebar-additional {
            .block {
                &-reorder {
                    .actions-toolbar {
                        max-width: none;
                    }

                    .product-item {
                        padding: 0;
                    }
                }
            }


            .block {
                &-title {
                    padding: 10px 20px;
                    border: 1px solid @color-lines;
                    border-top: 4px solid @theme__color__primary;
                    color: @theme__color__secondary;
                    strong {
                        font-size: 2rem;
                    }

                    margin-bottom: 0;
                }

                &-content {
                    padding: 15px 20px;
                    border: 1px solid @color-lines;
                    margin-top: -1px;
                    border-radius: 0 0 6px 6px;
                }
            }

            .product-items {
                margin-left: 0;
                margin-right: 0;
                .product-item-info {
                    padding: 0;
                    display: flex;
                    border: none;

                    &:hover {
                        box-shadow: none;
                    }

                    .product-item-photo {
                        position: static;
                        margin-right: 0;
                        .flex-width(20%);
                        text-align: center;
                    }

                    .product-item-details {
                        margin-left: 15px;
                        .flex-width(75%);
                    }

                    .action.delete {
                        right: -15px;
                        top: -10px;
                    }
                }
            }
        }
    }
    
    .block-collapsible-nav {
        &-content {
            background: @color-white;
            /* box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08); */
            border: 1px solid @color-lines;
            border-top: 4px solid @theme__color__primary;
            padding-top: 20px;
            border-radius: 0 0 6px 6px;
        }
        .items {
            display: block;
        }

        .item {
            display: block;

            strong {
                color: @theme__color__primary;

                &:before {
                    content: '';
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    border: 2px solid @theme__color__primary;
                }
            }

            a {
                &:hover {
                    &:before {
                        content: '';
                        height: 100%;
                        position: absolute;
                        left: 0;
                        top: 0;
                        border: 2px solid @theme__color__primary;
                    }
                }
            }

            a, > strong {
                display: block;
                padding: 10px 20px;
                text-decoration: none;
                position: relative;
            }
        }
    }

    .account {
        .sidebar {
            &.sidebar-additional {
                margin-top: 0;
            }
        }
        .page-main {
            &:before {
                content: '';
                border-top: 1px solid @color-lines;
                position: absolute;
                left: 0;
                right: 0;
            }
        }
        .column.main {
            .block {
                .block-content {
                    .box-title {
                        color: @theme__color__secondary;
                        > span {
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }

        .actions-toolbar {
            margin-top: 30px;
        }

        .table-wrapper {
            border: 1px solid @color-lines;
            .actions {
                .action {
                    .link-inverse();
                }
            }
        }

        .column {
            .block {
                .block-title {
                    padding: 15px 20px;
                    border: 1px solid @color-lines;
                    border-top: 4px solid @theme__color__primary;
                    color: @theme__color__secondary;

                    .action {
                        float: right;
                        .link-inverse();
                    }
                }

                .block-content {
                    padding: 15px 20px;
                    border: 1px solid @color-lines;
                    margin-top: -1px;
                    border-radius: 0 0 6px 6px;
                }

                .box-actions {
                    .action {
                        .btn-bor();
                        padding: 5px 15px;
                        border: 1px solid @theme__color__primary;

                        &:hover {
                            border: @button-primary__hover__border;
                        }

                        & + .action {
                            margin-left: 5px;
                        }
                    }
                }
                
                &.block-dashboard-orders {
                    .block-content {
                        padding: 0;
                        border: none;
                    }
                }
    
            }
        }
    }

    .form-newsletter-manage,
    .form-edit-account,
    .reward-settings,
    .form-giftcard-redeem { 
        padding: 15px 20px;
        border: 1px solid @color-lines;
        border-top: 4px solid @theme__color__primary;
        margin-top: -1px;
        border-radius: 0 0 6px 6px;
        
        .legend {
            font-weight: 600;
        }
    }


    .orders-history {
        border: 1px solid @color-lines;
    }

    .order-links {
        .item {
            padding: 5px 0;
            strong {
                color: @theme__color__primary;
            }
        }
    }

    .order-title {
        color: @theme__color__secondary;

        .action {
            .link-inverse(); 
        }
    }


    // Wish list

    .wishlist-index-index {

        .toolbar {
            & ~ .toolbar {
                margin-top: 30px;
            }
        }
        .products-grid.wishlist {
            .product-items {
                margin-left: -10px;
                margin-right: -10px;
                .flex();

                .product-item {
                    padding: 10px;
                    margin: 0;
                    width: 100%;
                    .flex-width(percentage(1/3));
                }
           }

           .product-item-info {
                width: 100%;
            }

            
            .box-tocart {
                .fieldset {
                    margin-bottom: 0;
                }
            }

            .product-item-actions {
                .actions-primary {
                    position: static;
                    padding: 10px 0;
                }
            }

            .action{
                &.edit {
                    .lib-icon-font(
                    @_icon-font-content: @icon-edit,
                        @_icon-font: @icon__font-name,
                        @_icon-font-size: 16px,
                        @_icon-font-line-height: 20px,
                        @_icon-font-color: @header-icons-color,
                        @_icon-font-color-hover: @header-icons-color-hover,
                        @_icon-font-color-active: @header-icons-color-hover,
                        @_icon-font-text-hide: true
                        );
                }
                &.delete {
                    margin-left: 15px;
                    .lib-icon-font(
                    @_icon-font-content: @icon-trash,
                        @_icon-font: @icon__font-name,
                        @_icon-font-size: 16px,
                        @_icon-font-line-height: 20px,
                        @_icon-font-color: @header-icons-color,
                        @_icon-font-color-hover: @header-icons-color-hover,
                        @_icon-font-color-active: @header-icons-color-hover,
                        @_icon-font-text-hide: true
                        );
                }
            }
        }
    }
}




//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @c-tab) {
    .account.page-layout-2columns-left {
        .columns {
            .flex();
            .column.main, 
            .sidebar-main, 
            .sidebar-additional {
                width: 100%;
                padding-right: 0;
            }

            .column.main {
                order: 2;
            }

            .sidebar-main {
                order: 1;
                padding-right: 0;
            }

            .sidebar-additional {
                margin-top: 0;;
            }
        }
    }

    .wishlist-index-index {
        .products-grid.wishlist {
            .product-items {
                .product-item {
                    .flex-width(percentage(1/2));
                }
            }
        }
    }

    .sidebar-main {
        .block-collapsible-nav {
            &-title {
                padding: 10px 35px 10px 20px;
                margin-bottom: 0;
                color: @theme__color__secondary;
                position: relative;
                border: 1px solid @color-lines;

                &:after {
                    content: @icon-chevron-down;
                    font-family: @icon__font-name;
                    position: absolute;
                    right: 15px;
                    font-size: 1.6rem;

                }

                &.active {
                    &:after {
                        content: @icon-chevron-up;
                    }
                }
            }
            &-content {
                display: none;
                box-shadow: none;

                &.active {
                    display: block;
                    margin-top: -1px;
                }
            }
        }
    }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .wishlist-index-index  {
        .products-grid.wishlist {
            .product-item {
                border: none;
                .product-image-container  {
                    max-width: none;
                    width: 100% !important;
                }
                .product-item-info {
                    .product-item-photo {
                        float: none;
                    }
                    .price-box,
                    .product-item-name {
                        margin-left: 0;
                    }

                    .product-item-actions {
                        float: none;
                        .action {
                            float: none;
                        }
                    }
                }
            }
            
        }
    }

    .account {
        .page-main {
            padding-top: 20px;
            &:before {
                display: none;
            }
        }
        .toolbar {
            .toolbar-amount {
                margin-bottom: 0;
                margin-right: 5px;
            }
        }
    }

}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .account {
        .orders-history,
        .order-items {
            padding: 10px;
        }

        .order-details-items {
            .table-wrapper {
                .item-options,
                .item.options {
                    .flex();
                    margin-bottom: 0;

                    > * {
                        .flex-width(50%);
                        margin-bottom: 5px;
                    }
                }
            }
        }

        .table-wrapper {
            tr {
                td[data-th] {
                    &:before {
                        width: 50%;
                    }
                }
                td {
                    padding: 8px !important;

                    &:nth-child(odd) {
                        background-color: #f1f1f1;
                    }
                }
            }

            .table:not(.totals):not(.table-comparison) {
                tfoot {
                    th {
                        padding-left: 1rem;
                        padding-right: 1rem;
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .wishlist-index-index {
        .products-grid.wishlist {
            .product-items {
                .product-item {
                    .flex-width(percentage(1/4));
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @c-tab) {
    .account.page-layout-2columns-left {
        .columns {
            padding-top: 30px;
        }
    }
    .block-collapsible-nav {
        &-title {
            display: none;
        }
    }
    
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @c-tab) { 
    .account {
        .form-edit-account, 
        .form-address-edit {
            .fieldset {
                margin-left: -15px;
                margin-right: -15px;

                .message {
                    clear: both;
                    margin: 0 15px;
                }
                .legend {
                    padding: 0 15px;
                }
                > .field {
                    padding-left: 15px;
                    padding-right: 15px;
                    &:not(.choice) {
                        width: 50%;
                        float: left;
                    }

                    &.street {
                        width: 100%;
                        .nested {
                            margin-left: -15px;
                            margin-right: -15px;
                        }
                        .field {
                            padding-left: 15px;
                            padding-right: 15px;
                            width: 50%;
                            float: left;
                        }
                    }
                }
            }
        }
    }

}
