<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\SalesRule\Model\RulesApplier">
        <plugin name="SomethingDigital_ApplyRules" type="SomethingDigital\CartRulesCustomizations\Plugin\AddRules" />
    </type>
    <type name="Magento\Checkout\Controller\Cart\CouponPost">
        <plugin name="SomethingDigital_CouponPost" type="SomethingDigital\CartRulesCustomizations\Plugin\ClearRemovedGifts" />
    </type>
    <type name="Magento\Checkout\Controller\Cart\Delete">
        <plugin name="SomethingDigital_DeleteItem" type="SomethingDigital\CartRulesCustomizations\Plugin\DeleteItem" />
    </type>
</config>