<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_collect_totals_after">
        <observer name="SomethingDigital_UpdateCart" instance="SomethingDigital\CartRulesCustomizations\Observer\UpdateCartObserver" />
    </event>
    <event name="checkout_cart_update_items_before">
        <observer name="SomethingDigital_CheckIfGiftBeforeUpdate" instance="SomethingDigital\CartRulesCustomizations\Observer\CheckIfGiftBeforeUpdate" />
    </event>
</config>