<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <price>
                <apply_cart_rules_if_suffix>0</apply_cart_rules_if_suffix>
                <apply_cart_rules_if_cutomer_specific>0</apply_cart_rules_if_cutomer_specific>
            </price>
        </catalog>
    </default>
</config>
