body {
  background-color: #00377B;
  color: #fff;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.maintenance-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  max-width: auto;
  width: 100%;
  padding: 0 20px;
}

svg {
  fill: #fff;
}

.social-media ul {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-left: 0;
  list-style-type: none;
}

.social-media svg {
  width: 25px;
  height: 25px;
  margin: 0 15px;
}

.social-media svg:hover {
  fill: #0361C1;
}

.error-message h5,
.contact-information h5 {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: .7px;
  text-transform: uppercase;
}

.error-message h5,
.main-error-message {
  margin-top: 25px;
}

.main-error-message {
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  line-height: 1.1;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.error-text {
  font-size: 14px;
  line-height: 1.9;
  letter-spacing: 1px;
}

.contact-information {
  margin-top: 50px;
  margin-bottom: 25px;
}

.contact-information h5 {
  margin-bottom: 10px;
}

.contact-information a {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: .5px;
  color: white;
  display: block;
  text-decoration: none;
}

.contact-information a span:hover {
  color: #0361C1;
}

.contact-information .phone {
  text-decoration: none;
}

.contact-information .email span {
  text-decoration: underline;
}

.copyright {
  font-size: 11px;
  line-height: 1.5;
  letter-spacing: .7px;
  margin: 125px auto 0 auto;
  max-width: 200px;
}

.logo {
  max-width: 375px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .main-error-message {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 48px;
    line-height: 1;
    letter-spacing: 1.4px;
    margin: 20px auto 0 auto;
  }

  .error-message h5 {
    margin-top: 75px;
  }

  .error-text {
    margin-top: 25px;
  }

  .contact-information {
    margin-top: 100px;
  }

  .copyright {
    font-size: 12px;
    line-height: 1.3;
    max-width: initial;
  }
}

@media only screen and (min-width: 900px) {
  .main-error-message {
    max-width: 50%;
  }
}