body {
  background-color: #00377B;
  color: #fff;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.maintenance-page {
  max-width: 900px;
  margin: 0 auto;
  padding: 100px 60px 0;
  padding-top: 100px;
}

svg {
  fill: #fff;
}

.social-media ul {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-left: 0;
  list-style-type: none;
}

.social-media svg {
  width: 40px;
  height: 40px;
  margin: 0 15px;
}

.social-media svg:hover {
  fill: #0361C1;
}

.error-message h5,
.contact-information h5 {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: .7px;
  text-transform: uppercase;
}

.main-error-message {
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  line-height: 1.1;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.error-text {
  font-size: 14px;
  line-height: 1.9;
  letter-spacing: 1px;
}

.contact-information a {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: .5px;
  color: white;
}

.contact-information a:hover {
  color: #0361C1;
}

.contact-information .phone {
  text-decoration: none;
}

.copyright {
  font-size: 11px;
  line-height: 1.5;
  letter-spacing: .7px;
}

@media only screen and (min-width: 768px) {
  .main-error-message {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 48px;
    line-height: 1;
    letter-spacing: 1.4px;
  }

  .copyright {
    font-size: 12px;
    line-height: 1.3;
  }
}