//
//  Variables
//  _____________________________________________

$account-nav-background: $sidebar__background-color;
$account-nav-color: false;

$account-nav-current-border: 3px solid transparent;
$account-nav-current-border-color: $color-orange-red1;
$account-nav-current-color: false;
$account-nav-current-font-weight: $font-weight__semibold;

$account-nav-item-hover: $color-gray91;

$_password-default: $color-gray-light01 !default;
$_password-weak: #ffafae !default;
$_password-medium: #ffd6b3 !default;
$_password-strong: #c5eeac !default;
$_password-very-strong: #81b562 !default;

//
//  Common
//  _____________________________________________

.login-container {
    .block {
        &-new-customer {
            .actions-toolbar {
                margin-top: 25px;
            }
        }

        .block-title {
            @extend .abs-login-block-title;
            font-size: 18px;
        }
    }

    .fieldset {
        @include lib-form-hasrequired(top);

        &:before {
            @include min-screen($screen__m) {
                max-width: $form-field__width__desktop;
            }
        }

        &:after {
            margin-top: 35px;
        }
    }
}

.forget {
    .fieldset:before {
        margin-bottom: 10px;

        @include min-screen($screen__s) {
            max-width: $form-field__width__desktop;
        }
    }
}

.block-addresses-list {
    .items.addresses {
        & > .item {
            margin-bottom: $indent__base;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .item.actions {
            margin-top: $indent__xs;

            .action {
                @extend .abs-account-actions;
            }
        }
    }
}

.form-address-edit {
    .region select {
        display: none;
    }

    .actions-toolbar .action.primary {
        @include lib-button-l();
    }
}

.form-edit-account {
    .fieldset.password {
        display: none;
        clear: both;
        float: none;

        @include min-screen($screen__l) {
            clear: none;
            width: 47%;
        }
    }
}

.box-billing-address,
.box-shipping-address,
.box-information,
.box-newsletter {
    .box-content {
        line-height: 26px;
    }
}

.box-address-shipping {
    @include max-screen($screen__m) {
        margin-top: 20px;
    }
}

//
//  My account
//  ---------------------------------------------

.account {
    .column.main {
        @include min-screen($screen__m) {
            width: 66.66666667%
        }

        @include min-screen($screen__l) {
            width: 76.66666667%
        }

        h2 {
            margin-top: 0;
        }

        .toolbar {
            text-align: center;
            .limiter-options {
                width: auto;
            }
        }

        .order-title {
            display: flex;
            flex-wrap: wrap;

            h3 {
                flex-basis: 100%;

                @include min-screen($screen__l) {
                    flex-basis: initial;
                    margin-right: $indent__s;
                }
            }

            a {
                margin-right: $indent__s;

                @include min-screen($screen__l) {
                    margin-top: $indent__base;
                }
            }
        }

        .order-options-links {
            margin-bottom: $indent__m;

            a {
                display: block;
                margin-bottom: $indent__xs;

                @include min-screen($screen__xs) {
                    display: inline-block;
                    margin-right: $indent__l;
                    margin-bottom: 0;
                }
            }
        }

        .limiter {
            >.label {
                @include lib-visually-hidden();
            }
        }

        .block:not(.widget) {
            @extend %abs-account-blocks;
        }
    }

    .sidebar {
        @include min-screen($screen__m) {
            width: 33.3333333%;
        }

        @include min-screen($screen__l) {
           width: 23.3333333%;
        }

       &-additional {
            margin-top: 40px;
       }
    }

    .block-title + .block-content > .table-wrapper {
        margin-top: -25px;
    }

    .table-wrapper {
        margin-bottom : $indent__base;

        &:last-child {
            margin-bottom: 0;
        }

        .action:last-child {
            margin-right: 0;
        }
    }

    .table-return-items {
        .qty {
            .input-text {
                @extend .abs-input-qty;
            }
        }
    }

    .legend {
        @extend %abs-account-title;
        width: 100%;
    }

    .actions-toolbar {
        clear: left;
    }
}

//  Checkout address (create shipping address)
.field.street {
    .field.additional {
        .label {
            @include lib-visually-hidden();
        }
    }
}

/**
 * We're hiding the password confirmation field
 * from registration, and using JS to automatically
 * fill it with what's entered in the primary password
 * field
 */
.create.account .confirmation {
  display: none;
}

//
//  Account navigation
//  ---------------------------------------------

.account-nav {
    .title {
        @include lib-visually-hidden();
    }

    .content {
        background: $account-nav-background;
        padding: 15px 0;
    }

    .item {
        margin: 3px 0 0;

        &:first-child {
            margin-top: 0;
        }

        a,
        & > strong {
            color: $account-nav-color;
            border-left: 3px solid transparent;
            display: block;
            padding: $indent__xs 18px $indent__xs 15px;
        }

        a {
            text-decoration: none;

            @include hover {
                background: $account-nav-item-hover;
            }
        }

        &.current {
            a,
            strong {
                border-color: $account-nav-current-border-color;
                color: $account-nav-current-color;
                font-weight: $account-nav-current-font-weight;
            }

            a {
                border-color: $account-nav-current-border-color;
            }
        }
    }
}


//
//  Table Actions
//  ---------------------------------------------

.account,
[class^='sales-guest-'],
.sales-guest-view {
    .data.table {
        .col.actions {
            .action {
                @extend .abs-account-actions;
            }
        }
    }
}

//
//  Blocks & Widgets
//  ---------------------------------------------

.block {
    @extend .abs-margin-for-blocks-and-widgets;

    .column.main & {
        &:last-child {
            margin-bottom: 0;
        }
    }

    .title {
        margin-bottom: $indent__s;
    }

    p:last-child {
        margin: 0;
    }

    .box-actions {
        margin-top: $indent__xs;

        .action {
            @extend .abs-account-actions;
        }
    }

    .box {
        &-newsletter,
        &-shipping-address {
            @include max-screen($screen__m) {
                margin-top: 20px;
            }
        }
    }
}

//
//  Password Strength Meter
//  ---------------------------------------------

.field.password {
    .control {
        display: flex;
        flex-direction: column;

        .mage-error {
            order: 2;
        }

        .input-text {
            order: 0;
        }

        &:last-child {
            @include min-screen($screen__s) {
                max-width: $form-field__width__desktop;
            }
        }
    }
}

.password-strength-meter {
    position: relative;
    padding: $form-element-input__padding;
    min-height: $form-element-input__height;
    line-height: $form-element-input__height;
    z-index: 1;
    background-color: $_password-default;
    font-size: $font-size__base--desktop;

    &:before {
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        z-index: -1;
    }

    span {
        display: inline-block;
    }

        .password-none & {
        &:before {
            background-color: $_password-default;
            width: 100%;
        }
    }

    .password-weak & {
        &:before {
            background-color: $_password-weak;
            width: 25%;
        }
    }

    .password-medium & {
        &:before {
            background-color: $_password-medium;
            width: 50%;
        }
    }

    .password-strong & {
        &:before {
            background-color: $_password-strong;
            width: 75%;
        }
    }

    .password-very-strong & {
        &:before {
            background-color: $_password-very-strong;
            width: 100%;
        }
    }
}

.control.captcha-image {
    margin-top: $indent__s;

    .captcha-img {
        vertical-align: middle;
    }
}

.block-reviews-dashboard .item .rating-summary  {
    margin-bottom: $indent__s;
}

//
//  Mobile
//  _____________________________________________

@include max-screen($screen__s) {
    .account {
        .column.main,
        .sidebar-additional {
            margin: 0;
        }
    }
}

@include max-screen($screen__m) {
    .login-container {
        .fieldset {
            &:after {
                text-align: center;
            }
        }
    }

    .account {
        .page.messages .message {
            margin-bottom: $indent__s; // same amount as .block .title, which resides above the messages display
        }

        .toolbar {
            @extend .abs-pager-toolbar-mobile;
        }
    }

    .control.captcha-image {
        .captcha-img {
            margin-bottom: $indent__s;
            display: block;
        }
    }

    .customer-account-index {
        .page-title-wrapper {
            position: relative;
        }
    }
}

@include max-screen($screen__l) {
    .form-edit-account {
        .info, .password {
            width: 100%;
        }
    }
}

//
//  Desktop
//  _____________________________________________

@include min-screen($screen__m) {
    .login-container {
        @extend .abs-add-clearfix-desktop;

        .block {
            @extend .abs-blocks-2columns;
            &.login {
                .actions-toolbar {
                    & > .primary {
                        margin-bottom: 0;
                        margin-right: $indent__l;
                    }

                    & > .secondary {
                        float: left;
                    }
                }
            }
        }

        .fieldset {
            &:after {
                @extend .abs-margin-for-forms-desktop;
            }

            & > .field {
                & > .control {
                    width: 55%;
                }
            }
        }
    }

    .form-create-account {
        .fieldset-fullname {
            .fields {
                .field {
                    float: left;
                    margin: 0 $indent__s $indent__s 0;
                }
            }

            .field-name-prefix,
            .field-name-suffix {
                width: 50px;
            }
        }
    }

    .form.password.reset,
    .form.send.confirmation,
    .form.password.forget,
    .form.create.account {
        max-width: $form-field__width__desktop;
        width: 100%;
    }

    //
    //  My account
    //  ---------------------------------------------

    .account {
        .column.main {
            .block:not(.widget) {
                .block-content {
                    @extend .abs-add-clearfix-desktop;

                    .box {
                        @extend .abs-blocks-2columns;
                    }
                }
            }
        }

        .data.table {
            margin-bottom: 0;

            .col {
                &.actions {
                    white-space: nowrap;
                }
            }
        }

        .toolbar {
            @extend .abs-pager-toolbar;
        }
    }

    .form-edit-account {
        .fieldset {
            @extend .abs-blocks-2columns;

            &:nth-child(even) {
                float: none;
            }
        }
    }

    .block-addresses-list {
        .items.addresses {
            @extend .abs-add-clearfix-desktop;

            & > .item {
                @extend .abs-blocks-2columns;
                margin-bottom: $indent__base;

                &:nth-last-child(1),
                &:nth-last-child(2) {
                    margin-bottom: 0;
                }
            }
        }
    }

    //
    //  Welcome block
    //  ---------------------------------------------

    .dashboard-welcome-toggler {
        @extend .abs-visually-hidden-desktop;
    }

    .control.captcha-image {
        .captcha-img {
            margin: 0 $indent__s $indent__s 0;
        }
    }
}
