<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ziffity_Webforms::data" title="Web Form" module="Ziffity_Webforms" sortOrder="75" resource="Ziffity_Webforms::data"
             action="webforms/data/index"/>
    </menu>
</config>
