<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        
        <add id="Ziffity_Webforms::webforms" title="Webforms" module="Ziffity_Webforms" sortOrder="75" resource="Ziffity_Webforms::webforms"
             />
        
        <add id="Ziffity_Webforms::data" title="Comments Form" module="Ziffity_Webforms" sortOrder="75" resource="Ziffity_Webforms::data"
             action="comments/data/index" parent="Ziffity_Webforms::webforms"/>
        
        <add id="Ziffity_Webforms::coin" title="Find Your Coin" module="Ziffity_Webforms" sortOrder="76" resource="Ziffity_Webforms::coin"
             action="comments/coin/index" parent="Ziffity_Webforms::webforms"/>

        <add id="Ziffity_Webforms::catalog" title="Catalog Request" module="Ziffity_Webforms" sortOrder="76" resource="Ziffity_Webforms::catalog"
             action="comments/catalog/index" parent="Ziffity_Webforms::webforms"/>
        
                        
    </menu>
</config>
