//
//  Common
//  _____________________________________________

/*  =================
    Page Footer
    ================= */

& when (@media-common = true) {

    .overlay {
        position: fixed;
        background: rgba(0,0,0,0.5);
        top:0;
        right:0;
        bottom:0;
        left:0;
        opacity:0;
        .transition(all 0.5s ease-in-out 0s);
        z-index: 101;
        visibility: hidden;
    }

    .cart-opened {
        .overlay {
            opacity: 1;
            visibility: visible;
        }
        .page-wrapper {
            .minicart-wrapper {
                z-index: 102;
            }
        }
    }

    .footer.wrapper{
        background-color: @c-whitesmoke;
        .custom-container{
            .container-md();
            padding-top:70px;
            padding-bottom: 60px;
            .lib-clearfix();
        }

        .footer-parts{
            h5{
                color: @color-black;
                text-transform: uppercase;
                margin-top: 0;
                font-weight: @font-weight__semibold;
            }
            p{
                color: @color-black;
                line-height: normal;
                font-weight: @font-weight__heavier;
                .blk{
                    display: block;
                }
            }
            a{
                transition: .5s ease;
                font-weight: @font-weight__heavier;
                &.phone {
                    margin-top: 20px;
                    display: block;
                }
                &.mail{
                    margin-top: 15px;
                    display: block;
                }
            }


            ul{
                padding: 0;
                margin: 0;
                list-style-type: none;
                li{
                    color: @c-white_color;
                    margin-bottom: 10px;
                }
            }
        }
        .newsletter-wrap{
            h5{
                text-transform: uppercase;
                margin-top: 0;
            }
            form{
                position: relative;
                input[type="email"]{
                    border: 0;
                    min-height: 54px;
                    
                    &:focus{
                        box-shadow: none;
                    }
                }
                button{
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 54px;
                    height: 54px;
                    background-color: @c-primary_color;
                    border-radius: 0;
                    padding: 0;
                }
            }
        }
        .foot-bor{
            border-top: 1px solid #e0e0e0;
            padding: 38px 0 30px 0;
            .custom-container{
                padding-top: 0;
                padding-bottom: 0;
                .copy{
                    p{
                        font-weight: @font-weight__heavier;
                    }
                }
                .pay{
                    float: right;
                }
            }
        }
    }

}

@media screen and (min-width: 1250px){

    .footer.wrapper{
        .foot-left{
            .footer-parts {
                .flex-width(20%);
            }
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @c-tab) {

    .footer.wrapper{
        .foot-left{
            .footer-parts{
                p{
                    .blk{
                        display: block;
                    }
                }
            }
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .footer.wrapper{
        .foot-left{
            .footer-parts{
                p{
                    .blk{
                        display: inline;
                    }
                }
            }
        }
        .foot-right{
            float: none;
            width: 50%;
            display: block;
            padding-top: 0;
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @c-mob + 1) {

.footer{
    .custom-container{
        .foot-left{
            .footer-parts{
                h5{
                    &+ul{
                        display: block !important;
                        height: auto !important;
                    }
                }
            }
        }
    }
}

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m + 1) { //768

.footer.wrapper{
    .custom-container{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .foot-left{
        float: none;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        .footer-parts{
            .flex-width(100%);
            margin-bottom: 15px;

            &.newsletter-wrap {
                text-align: center;
                margin-bottom: 30px;
                order: inherit;
            }

            &.con-ad {
                text-align: center;
                padding-bottom: 0;
                order: inherit;
            }

            ul {
                display: none;
                padding-left: 15px;
                padding-right: 15px;
                margin-top: 15px;
            }
            p{
                .blk{
                    display: inline;
                }
            }
        }

        .mb-foot{
            h5{
                padding: 10px;
                border: 1px solid @c-graylight;
                position: relative;
                margin-bottom: 0;

                &:before,
                &:after{
                    background: @color-black;
                    content: '';
                    height: 1px;
                    position: absolute;
                    top: 17px;
                    width: 15px;
                    .transition(transform 500ms ease);
                    right: 7px;
                }
                &:after {
                    transform-origin: center;
                    .transform(rotate(90deg));
                }

                &.active {

                    &:before {
                        .transform(rotate(180deg));
                    }
                    &:after {
                        transform: none;
                    }

                }
            }


        }
    }
    .foot-right{
        float: none;
        display: block;
        width: 100%;
        clear: both;
        padding: 0;
    }
    .foot-bor{
        .custom-container{

            .foot-copy,
            .foot-pay {
                .flex-width(percentage(1));
            }

            .foot-copy{
                .order(2);
                p{
                    text-align: center;
                }
            }
            .foot-pay{
                .order(1);
                .pay{
                    float: none;
                    display: block;
                    text-align: center;
                    margin-bottom: 25px;
                }
            }
        }
    }
}

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @c-mob) {

    .footer.wrapper {
        .foot-bor {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .foot-left{
            .footer-parts{
                width: 100%;
                h5+ul{
                    display: none;
                    padding-bottom: 10px;
                    padding-left: 5px;
                }
                ul{
                    li{
                        &:last-child{
                            margin-bottom: 20px;
                        }
                    }
                }
            }
            .con-ad{
                padding-bottom: 25px;
                text-align: center;
                a.mail{
                    margin-top: 0;
                }
            }

        }
        .foot-right{
            float: none;
            width: 100%;
            clear: both;
            padding-top: 25px;
            .footer-parts{
                text-align: center;
            }
        }
        .foot-bor{
            .custom-container{
                .foot-copy{
                    display: flex;
                    order: 2;
                    .copy{
                        width: 100%;
                        p{
                            text-align: center;
                        }
                    }
                }

            }
        }
    }

}