//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    
    #quickorder-top-link {
        display: none;
    }


    .mm-wrapper_opening {
        .mm-menu_offcanvas{
            & ~.mm-slideout {
                .transform(none) !important;
            }
        }
    }

    /*  ====================
         Home Page Header
        ==================== */

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

    .page-wrapper {
        .page-header{
            .panel {
                &.wrapper {
                    border: none;
                }
                &.header {
                    padding: 0;
                }
            }
        }
    }

    .navigation {
        a {
            font-weight: 700;
            text-transform: uppercase;
        }
    }


    .logo-header {
        background: @color-white;
        .logo-container {
            .container-md();
            padding-top: 15px;
            padding-bottom: 15px;
            min-height: 80px;
            .flex();
            align-items: center;
            text-align: center;
        }
        .logo {
            margin: 0 auto;
            max-width: 100%;
            float: none;
            img {
                margin: 0 auto;
                max-width: 215px;
                width: 100%;
            }
        }
    }





    .page-header{
        /* Logo */

        .block-search {
            max-width: 250px;
            width: 100%;

            button.action.search {
                background-color: transparent;

                &:before {
                    color: #222;
                    font-size: 12px;
                    font-weight: 200;
                }
            }
        }

        .header-wrapper {
            background-color: @color-white;
            .header{
                &.content {
                    .container-md();
                    padding-top: 10px;
                    padding-bottom: 10px;
                    .flex();
                    align-items: center;
                    justify-content: space-between;

                    &:before,
                    &:after {
                        display: none;
                    }


                }
            }

            .block-search {
                    @media screen and (max-width: 1349px) {
                        padding-top: 7px;
                    }
                .minisearch {
                    width: 100%;
                    .control {
                        position: relative;
                        border: none;
                        .input-text {
                            background-color: #f6f6f6;
                            border: none;
                            min-height: 50px;

                            &::-webkit-input-placeholder { /* Edge */
                                color: #999;
                                font-size: 12px;
                            }

                            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                                color: #999;
                                font-size: 12px;
                            }

                            &::placeholder {
                                color: #999;
                                font-size: 12px;
                            }


                            @supports (-webkit-overflow-scrolling: touch) {
                                font-size: 18px;
                            }
                        }
                        .categories {
                            position: absolute;
                            display: none;
                            top:0;
                            right: 60px;
                            min-height: 55px;
                            border: none;
                            max-width: 150px;
                            .lib-css(color, @color-black);

                            &:focus {
                                box-shadow: none;
                            }
                        }
                    }
                }
            }


            .nav-sections{
                margin-bottom: 0;
                background: transparent;

                .navigation {
                    > ul {
                        padding: 0;
                    }

                }
            }
        }


        .dropdown {
            position: relative;

            &-toggle {
                cursor: pointer;
            }

            .action.switch{
                display: inline-block;
                background-image: none;
                background: none;
                -moz-box-sizing: content-box;
                border: 0;
                box-shadow: none;
                line-height: inherit;
                margin: 0;
                padding: 0;
                text-decoration: none;
                text-shadow: none;
                font-weight: 400;
                position: relative;
                width: 12px;
                height: 15px;
                color: inherit;

                > span {
                    .lib-visually-hidden();
                }

                &:after {
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    font-size: 14px;
                    line-height: 18px;
                    color: inherit;
                    content: @icon-chevron-thin-down;
                    font-family: @icons__font-name_ps;
                    margin: 0;
                    vertical-align: top;
                    display: inline-block;
                    font-weight: normal;
                    overflow: hidden;
                    speak: none;
                    text-align: center;
                    top: -2px;
                    right: 0;
                    position: absolute;
                }
            }
            &-content {
                margin: 0;
                padding: 0;
                list-style: none none;
                background: #fff;
                border: 1px solid #bbb;
                margin-top: 4px;
                min-width: 160px;
                z-index: 100;
                box-sizing: border-box;
                display: none;
                position: absolute;
                top: 100%;
                box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
                margin-top: 0;
                right: 0;

               li {
                   margin-bottom: 0;
                   a {
                       color: @color-black;
                       display: block;
                       padding: 8px 16px;

                       &:hover {
                           color: @c-primary_color;
                       }
                   }
               }
            }

            &.active {
                .action.switch {
                    &:after {
                        content: @icon-chevron-thin-up;
                    }
                }
                .dropdown-content {
                    display: block;


                }
            }
        }


        &.fixed {
            .header-wrapper {
                position: fixed !important;
                top: 0;
                width: 100%;
                .box-shadow(0px 0px 10px 5px rgba(0,0,0,0.05));
            }
        }

        .header.content{
            .logo{
                margin: 0;
                max-width: 100%;

                img {
                    margin: auto;
                    max-width: 189px;

                    @media screen and (max-width: 1349px) {
                        max-width: 120px;
                    }

                }
            }
        }


        .links {
            margin-bottom: 0;
            padding: 0;
            
            > li {
                list-style-type:none;
                margin-bottom: 0;

                strong,
                a,
                .customer-name {
                    text-transform: uppercase;
                    font-weight: bold;
                    .lib-css(color, @c-text_color);
                    &:hover {
                        .lib-css(color, @c-primary_color);
                    }
                }
                &.customer-welcome > a,
                .customer-name {
                    display: block;
                }
            }
            .dropdown {
                &-content {
                    top: 55px;
                }

                .counter {
                    display: none;
                }
            }
        }

    }


    .page-wrapper {
        .breadcrumbs {
            .lib-css(background, @c-whitesmoke);
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 40px;
            max-width: none;
            &-inner {
                position: relative;
            }

            .toolbar {
                right: 20px;
            }

            .items {
                padding-top: 20px;
                padding-bottom: 20px;
            }
            .item {
                a {
                    text-decoration: none;
                    .lib-css(color, @color-black);
                }
                &:after {
                    .lib-css(color, @color-black);
                    font-size: 30px;
                    line-height: 20px;
                }
                a,
                strong {
                    .lib-font-size(@font-size__base);
                    font-weight: @font-weight__regular;
                }

                strong {
                    .lib-css(color, @c-primary_color);

                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m + 1) {

    .nav-before-open {
        body {
            overflow: visible;
            height: auto;
        }
    }

    header.page-header {
        .header-wrapper {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 99;
            .header.content{
                height: 80px;
                display: block;
                text-align: center;
            }

        }


        & ~ .page-main,
        & ~ .breadcrumbs {
            margin-top: 80px;
            margin-bottom: 0;

            & ~ .page-main {
                margin-top: 0;

                > .page-title-wrapper {
                    margin-top: 30px;
                }
            }
        }
    }

    .cms-index-index {
        .page-wrapper {
            .logo-header {
                & + .magestore-bannerslider {
                    margin-top: 80px;
                }
            }

            .page-main {
                margin-top: 0;
            }
        }
    }

    .nav-open {
        .page-wrapper {
            left: 0;
        }

        .nav-toggle {
            &:after {
                display: none;
            }
        }
    }

    .mm-menu.mm-menu_offcanvas {
        z-index: 12;
    }

    .mm-wrapper_opening {
        .mm-menu_offcanvas{
            & ~ .mm-page.mm-slideout {
                .transform(none);
            }
        }
    }

    .logo-header {
        display: none;
    }

    .nav-sections {
        display: none;
    }

    .d-mobile {
        display: none !important;
    }

    .page-header {
        .header.content {
            .logo {
                margin: 0 auto;
                max-width: 150px;
            }
        }
    }

    .nav-toggle{
        height: 18px;
        width: 25px;
        top: 32px;
        left: 20px;
        &:before{
            content: "";
        }
        .bar {
            width: 100%;
            margin: 0 auto;
            height: 2px;
            background: #001842;
            clip: auto;
            display: block;
            // -webkit-transition: all .5s ease 0s;
            // -moz-transition: all .5s ease 0s;
            // -ms-transition: all .5s ease 0s;
            // -o-transition: all .5s ease 0s;
            // transition: all .5s ease 0s;
        }
        .bar-1 {
            top: 8px;
        }
        .bar-2 {
            transform: translateY(0px);
            // transition-timing-function: ease;
            // transition-duration: .15s;
            // transition-property: transform;
        }
        .bar-3 {
            transform: translateY(16px);
            // transition-timing-function: ease;
            // transition-duration: .15s;
            // transition-property: transform;
        }
    }


    .navigation {
        .level0 {
            font-size: inherit;
        }
        .parent {
            > .level-top {
                &:after {
                    display: none;
                }
            }
        }
    }


    .navigation.mm-menu {
        width: 100%;
        max-width: none;
        .transform(translate3d(-100%, 0, 0));
        .transition(all 0.5s ease 0s);
        z-index: 99;
        padding: 0;


        .signin-link {
            display: block !important;
        }



        .mm-navbar,
        .mm-panel {
            background: @color-white;
        }

        .mm-navbar {
            //border-top: 1px solid @color-aliceblue;
            border-bottom: none;
            font-size: 16px;
            //color: @color-blue;
            font-weight: 700;
            padding: 20px;
            height: auto;
            text-align: left;
            .flex();
            flex-wrap: nowrap;
            align-items: center;
            .mm-navbar__title {
                padding: 0;
                border-left: 2px solid transparent;
            }

            .mm-btn{
                padding: 0;

            }
            .mm-btn,
            .mm-navbar__title {
                display: inline-block;
                .lib-css(color, @color-black);
                font-weight: 600;
            }
        }

        .mm-listitem__btn {
            border: none;
            width: 60px;
            line-height: 60px;
            text-align: center;
            padding: 20px;
        }

        .parent .level-top:first-child{
            &:after {
                display: none;
            }
        }

        .mm-btn_next:after,
        .mm-btn_prev:before {
            font-family:  @icons__font-name_ps;
            content: '\e900';
            font-size: 20px;
            line-height: 60px;
            right: 0;
            color: @color-black;
            border: none;
            .transform(none);
            width: 60px;
            height: 60px;
            text-align: center;

        }

        .mm-btn_prev {
            width: 20px;
            &:before {
                .transform(rotate(180deg));
                position: static;
                width: 20px;
                height: 40px;
                line-height: 40px;
            }
        }

        .mm-listview {
            padding: 0;
            border-top: none;
            li {
                border-top: 1px solid ;

                &:last-child {
                    border-bottom: 1px solid ;
                }
            }
            .has-active {
                .mm-btn {
                    border: none;
                }
            }

            .signin-link {
                .icon-user {
                    display: none;
                }
            }

            .mm-listitem{
                &:after {
                    display: none;
                }
            }
        }




    }

    .page-wrapper {
        & + .mm-wrapper__blocker {
            z-index: 99;
            }
        }

    .mm-menu {
        .menu-close {
            position: absolute;
            padding: 0;
            right: 20px;
            top: 8px;
            z-index: 9;
            width: 30px;
            text-align: center;
            .lib-icon-font(
                @_icon-font-content: @icon_delete,
                @_icon-font-size: 35px,
                @_icon-font-line-height: 33px,
                @_icon-font-color: @color-black,
                @_icon-font-color-hover: @header-icons-color-hover,
                @_icon-font-color-active: @header-icons-color-hover,
                @_icon-font-text-hide: true
            );
            &:before {
                font-family: @icons__font-name_ps;

            }
        }
    }




    .mm-wrapper_opening {
        .mm-menu_offcanvas {
            .transform(translate3d(0, 0, 0));
        }
        .mm-menu_offcanvas ~ .mm-slideout {
            .transform(none) !important;
        }

        .mm-wrapper__blocker {
            top: 5px;
            right: 5px;
            left: auto;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
        }
    }


    .navigation {
        padding: 0;
        height: 100%;

        > ul {
            position: relative;
        }

        &.mm-menu {
            .mm-listview, ul {
                padding: 0;
                height: 100%;

                li, .ui-menu-item {
                    border-top: 1px solid @c-aliceblue !important;
                    margin-right: 0;
                    .mm-listitem__text {
                        padding: 20px;
                        border-left: 2px solid transparent;
                        .lib-css(color, @color-black)
                    }

                    .mm-btn {
                        padding:0;
                        border: none;
                    }


                    &:last-child {
                        border-bottom: 1px solid @c-aliceblue !important;
                    }

                    &.parent > a {
                        position: relative;
                    }

                    .ui-menu-icon {
                        display: block !important;
                        position: absolute;
                        content: '';
                        top: 14px;
                        right: 8px;
                        width: 40px;
                        height: 40px;

                        &:before {
                            content: '\e622';
                            font-family: 'luma-icons';
                            transform: rotate(-90deg);
                            display: block;
                        }

                    }

                    &.has-active {
                        > a {
                            border-left: 5px solid @c-primary_color !important;
                            padding-left: 15px;
                            color: @c-primary_color !important;
                            span {
                                margin-left: 0 !important;
                            }
                        }

                        > .mm-btn {
                            border: none !important;
                        }
                    }



                    .submenu {
                        position: absolute;
                        .transition(all .2s ease-in-out);
                        display: block !important;
                        width: 100%;
                        background: #fff;
                        top: 0 !important;
                        left: 0 !important;
                        .transform(translateX(-101%));
                        height: 100%;
                        overflow-y: auto;
                        z-index: 11;
                    }


                    &.active-slide {
                        > .submenu {
                            .transform(translateX(0));
                        }
                    }
                }
            }
        }



        .level0 {
            margin-right: 0;
        }

        .parent {
            > .icon {
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                display: inline-block;

            }
        }

    }

}



.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @c-desk-md) {

    .page-title-wrapper {
        .page-title {
            font-size: 3rem;
        }
    }
}



.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @c-desk-lg) {
    .page-header {

        .block-search {
            width: 100%;
        }

        .header-wrapper {




            .navigation {
                > ul {
                    > li {
                        > a {
                            padding-right: 20px;
                            padding-left: 20px;
                        }

                        &:first-child {
                            a {
                                padding-left: 0;
                            }
                        }
                    }
                }
            }

            .links {
                > li {
                    > a,
                    strong,
                    .customer-name {
                        padding-right: 20px;
                        padding-left: 20px;
                    }

                    & + li {
                         > a,
                        strong,
                        .customer-name {
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m + 1) {

    .d-desktop {
        display: none !important;
    }

    .mm-wrapper_blocking {
        overflow: auto;
        body {
            overflow: auto;
        }
    }


    .cms-index-index, .checkout-index-index {
        .page-header {
            .header-wrapper {
                position: relative;
            }
            & ~ .page-main {
                margin-top: 0px;
            }
        }
    }

        .page-header {
            .header-wrapper {
                position: fixed;
                width: 100%;
                z-index: 100;
            }

            & ~ .breadcrumbs,
            & ~ .page-main {
                margin-top: 82px;
            }

            & ~ .breadcrumbs {
                & ~ .page-main {
                    margin-top: 0;
                }
            }

        }



    .page-header {

        &.fixed {
            .header-wrapper{
                -webkit-animation: slide-down .7s;
                -moz-animation: slide-down .7s;
                animation: slide-down .7s;
            }
        }

        .header-wrapper {
            .header {
                &.content {
                    padding-top: 0;
                    padding-bottom: 0;
                    min-height: 80px;
                    padding-right: 270px;
                }

            }
            .nav.item {
                display: inline-block;
            }
        }
    }


    .links {
        > li {

            > a, .customer-name, strong {
                padding-right: 12px;
                padding-left: 12px;
            }

            .customer-name {
                &:after {
                    display: none;
                }
            }

            & + li {
                 > a, .customer-name, strong {
                    padding-right: 0px;
                }
            }
        }
    }

    .cms-index-index{
        .page-header {
            .header-wrapper {
                .links {
                    > li {

                        > a, .customer-name {
                            .lib-css(color, @color-black);
                        }
                    }
                }
            }

            &.fixed {
                .header-wrapper {
                    background-color: @color-white;
                    .logo {
                        display: block;
                    }

                    .links {
                        > li {

                           > a, .customer-name {
                                .lib-css(color, @color-black);

                               &:hover {
                                   .lib-css(color, @c-primary_color);
                               }
                            }
                        }
                    }
                }
            }
        }
    }


    .cms-index-index {

        .page-header {
            .navigation {

                > ul {
                    > li {
                        display: inline-block;
                        &:first-child {
                            > a {
                                padding-left: 0;
                            }
                        }

                        > a {
                            color: @color-black;

                        }

                        &.has-active,
                        &:hover {
                            > a {
                                color: @color-black;

                            }
                        }
                    }
                }
            }

            .links {
                > li {
                    > a, .customer-name {
                        &:hover {
                            color: @color-black;
                        }
                    }
                }
            }
        }

        .fixed {
            .navigation {
                > ul {
                    > li {
                        > a {
                            color: @color-black;

                            > .ui-menu-icon {
                                &:after {
                                    color: @color-black;
                                }
                            }
                        }


                            &.has-active,
                            &.active,
                            &:hover {
                                > a {
                                    color: @c-primary_color;
                                    > .ui-menu-icon{
                                        &:after {
                                            color: @c-primary_color;
                                        }
                                    }
                                }
                            }


                    }
                }

            }
        }
    }

    .nav-sections {

        .navigation {
            background: transparent;
            > ul {
                > li {
                    margin-right: 0;
                    &:not(.level0) {
                        display: none;
                    }

                    &:first-child {
                        > a {
                            padding-left: 0;
                        }
                    }
                    
                    > a, strong {
                        color: @color-black;
                        padding: 30px 12px;

                        > .ui-menu-icon {
                            display: none !important;
                            &:after {
                                color: @color-black;
                            }
                        }
                    }
                }
            }

            a,strong {
                text-transform: uppercase;
            }


            > ul {
                padding: 0;
                li {
                    &.has-active,
                    &:hover,
                    &.active {
                        > a {
                            color: @c-primary_color;
                            > .ui-menu-icon{
                                &:after {
                                    color: @c-primary_color;
                                }
                            }
                        }
                    }

                }
            }

            li {
                position: relative;
                &.has-active,
                &:hover,
                &.current{
                    > a,
                    strong {
                        color: @c-primary_color;
                    }
                }


                &.parent {
                    > a {
                        > .ui-menu-icon {
                            position: absolute;
                            text-decoration: none;
                            display: none;
                        }
                    }
                }


                .submenu {
                    li.parent {
                        > a {
                            > .ui-menu-icon{
                                right: 0;
                                &:after{
                                    .lib-css(color, @color-black);
                                    content: @icon-chevron-thin-right;
                                    font-family: @icons__font-name_ps;
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
            }

            li {
                position: relative;

                &.level0 {
                     > .submenu {
                         left: -70px !important;
                         margin-top: 10px !important;
                         &:after {
                             width: 100%;
                             height: 10px;
                             content: '';
                             top: -10px;
                             left: 0;
                             right: 0;
                             margin: auto;
                             background: transparent;
                             position: absolute;
                         }
                         &:before {
                             content: '';
                             border-left: 10px solid transparent;
                             border-right: 10px solid transparent;
                             border-bottom: 10px solid @color-white;
                             width: 5px;
                             position: absolute;
                             margin: auto;
                             left: 0;
                             right: 0;
                             top: -10px;
                             z-index: 1;
                         }
                     }
                }

                > .submenu {
                    position: absolute;
                    top: 100% !important;
                    margin: 0 !important;
                    min-width: 275px;
                    left: 0% !important;
                    margin-top: 25px;
                    -ms-transform: translateY(17px);
                    transform: translateY(17px);
                    opacity: 0;
                    visibility: hidden;
                    display: block !important;
                    will-change: transform,opacity;
                    .br-radius(0 0 3px 3px);
                    .box-shadow(0px 0px 20px 5px rgba(0, 0, 0, 0.05));
                    transition: transform .2s linear,opacity .3s linear,visibility .3s linear;
                    border: none;

                    .submenu {
                        &:before {
                            display: none;
                        }
                    }



                    > li {
                        & + li {
                            > a {
                                border-top: 1px solid @c-graylight;
                            }
                        }
                    }

                    li {
                        padding: 0px 30px;

                        a {
                            padding: 22px 0;
                            .lib-css(color, @color-black);
                            .transition(all 0.5s ease 0s);
                            position: relative;

                            &:before {
                                content: '';
                                position: absolute;
                                height: 0;
                                width: 2px;
                                background: @c-primary_color;
                                top: 0;
                                left: -30px;
                                opacity: 0;
                                .transition(all 0.5s ease 0s);
                            }

                            .ui-menu-icon {
                                &:after {
                                    .lib-css(color, @color-black);
                                    .transition(all 0.5s ease 0s);
                                }
                            }
                        }
                        &.has-active,
                        &.active,
                        &:hover {
                            > a {
                                .lib-css(color, @c-primary_color);

                                &:before {
                                    opacity: 1;
                                    height: 100%;
                                }

                                .ui-menu-icon {
                                    &:after {
                                        .lib-css(color, @c-primary_color);
                                    }
                                }
                            }
                        }
                    }

                }



                &.parent {
                    &:hover {
                        .ui-state-focus,
                        .ui-state-active {
                            & + .submenu {
                                opacity: 1;
                                visibility: visible;
                                -ms-transform: translateY(0);
                                transform: translateY(0);
                            }
                        }
                    }
                }



            }
        }
    }


    .links {
        > li {
            > a,
            .customer-name,
            strong {
                padding-top: 30px;
                padding-bottom: 30px;
            }

            &.customer-welcome {
                .customer-menu {
                    min-width: 220px;
                    .transform(translateY(50px));
                    opacity: 0;
                    top: 78px;
                    visibility: hidden;
                    display: block !important;
                    will-change: transform,opacity;
                    .br-radius(0 0 3px 3px);
                    .box-shadow(0px 0px 20px 5px rgba(0, 0, 0, 0.05));
                    transition: transform .2s linear,opacity .3s linear,visibility .3s linear;
                    border: none;

                    &:after {
                        width: 100%;
                        height: 10px;
                        content: '';
                        top: -10px;
                        left: 0;
                        right: 0;
                        margin: auto;
                        background: transparent;
                        position: absolute;
                    }

                    &:before {
                        content: '';
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid @color-white;
                        width: 5px;
                        position: absolute;
                        margin: auto;
                        right: 50px;
                        top: -10px;
                    }

                    li {
                        padding: 0px 30px;

                        a {
                            padding: 22px 0;
                            position: relative;

                            &:before {
                                content: '';
                                position: absolute;
                                height: 0;
                                width: 2px;
                                background: @c-primary_color;
                                top: 0;
                                left: -30px;
                                opacity: 0;
                                .transition(all 0.5s ease 0s);

                            }
                        }

                        &:hover {
                            a {
                                &:before {
                                    opacity: 1;
                                    height: 100%;
                                }
                            }
                        }

                        & + li > a {
                            border-top: 1px solid @c-graylight;
                        }
                    }
                }

                &:hover {
                    .action{
                        &.switch {
                            &:after {
                                content: @icon-chevron-thin-up;
                            }
                        }
                    }
                    .customer-menu {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(12px);
                    }
                }
            }


        }
    }

}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m + 1) {

    .links-search {
        .flex();
    }

    .block.block-search{
        width: auto;
        padding: 20px 0 15px;
        display: inline-block;
        float: none;
        position: absolute;
        right: 0;
        top: 7px;

        #search_mini_form {
            width: 100%;
            float: none;
        }
            
        .minisearch {
            position: relative;
            .control{
                padding-bottom: 0;

                input{
                    padding: 7px 70px 7px 15px;
                    min-height: 50px;
                    .br-radius(3px);
                    height: auto;

                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                }

                .search-autocomplete {
                    max-width: ~"calc(100% - 50px)";
                }
            }

        }


    }

}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @c-desk-md) {
    .page-header {
        .header-wrapper {
            .header.content {
                min-height: 110px;
                .logo {
                    img {
                        margin: 0 auto;
                    }
                }
            }
        }

        & ~ .breadcrumbs,
        & ~ .page-main {
            margin-top: 110px;
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @c-desk) {

    .page-header {

        .header-wrapper {
            .header {
                .logo {
                    max-width: 120px;
                }
            }

        }
        .navigation li,
        .links > li {
            a, strong,
            .customer-name {
                font-size: 1.2rem;
            }
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l - 1) {

    .page-header {
        .navigation li,
        .links > li {
            a, strong,
            .customer-name {
                font-size: 1rem;
            }
        }
    }

}

@media screen and (min-width: 769px) and (max-width: @c-tab) {

    .header.links {
        margin-right: 20px;
    }

    .block-search {
        float: right;
        padding-left: 15px;
        position: relative;
        width: 250px;
        z-index: 4;

        .block {
            &-title {
                position: static;
            }
        }
    }
}



.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @c-tab) {
    .header {
        .nav-sections {
            .navigation {
                > ul {
                    > li {
                        > a {
                            padding-left: 5px;
                            padding-right: 5px;
                        }
                    }
                }

            }
        }

        .links {
            > li {
                > a,
                .customer-name, strong {
                    padding-right: 5px;
                    padding-left: 5px;
                }

                & + li {
                    > a,
                    .customer-name, strong {
                        padding-right: 0;
                    }
                }
            }
        }
    }

    .page-header {
        .header-wrapper {
            .header {
                .block-search {
                    max-width: ~"calc(100% - 450px)";
                }
            }
        }

        &.fixed {
            .header-wrapper {
                .block-search {
                    max-width: ~"calc(100% - 450px)";
                }
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m + 1) {
    .page-header{
        position: relative;
        margin-bottom: 0;
        .wrapper{
            position: absolute;
            top: 10%;
            right: 0;
            left: 0;
            .panel.header{
                background-color: transparent;
                display: block;
                padding: 0 5px;
            }
        }

        .links {
            display: none;
        }
        .logo {
            float: none;
            display: inline-block;
            img {
                margin: 0 auto;
                max-width: 80px;
                max-height: 70px;
                width: auto;;
            }
        }
    }

    .block-search{
        .block-content {
            z-index: 105;
            position: fixed;
            width: 0;
            right: 0;
            top: 80px;
            visibility: hidden;
            opacity: 0;
            backface-visibility: hidden;
            .transition(all .5s ease 0s);
            background: @color-white;
            .flex();
            align-items: center;
            justify-content: center;
        }

    }

    .search-opened {
        .overlay {
            opacity: 1;
            visibility: visible;
            z-index: 10;
        }
        .page-wrapper {
            .minicart-wrapper {
                z-index: 9;
            }
        }
        .block-search {
            .block-content {
                visibility: visible;
                opacity: 1;
                width: 100%;
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m + 1) {
    .page-header{
        position: relative;
        margin-bottom: 0;
        .wrapper{
            position: absolute;
            top: 10%;
            right: 0;
            left: 0;
            .panel.header{
                background-color: transparent;
                display: block;
                padding: 0 5px;
            }
        }

        .links {
            display: none;
        }
        .logo {
            float: none;
            display: inline-block;
            img {
                margin: 0 auto;
                max-width: 80px;
            }
        }
    }
}
