// // //
// // //  Common
// // //  _____________________________________________

/* Home Page Sections Category */

& when (@media-common = true) {


    .cms-index-index {
        .page-title-wrapper {
            display: none;
        }

        @media screen and (max-width: 768px) {
            padding-top: 80px;
        }

        .why-us {
            min-width: 100%;
            padding: 0;

            .why-us-banner-container {
                position: relative;

                h2 {
                    font-weight: @font-weight__bold;

                    @media screen and (min-width: 769px) {
                        font-size: 60px;
                    }
                }

                .why-us-banner-text {
                    left: 50%;
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        .why-us-reasons-container {
            margin: 0 auto;
            max-width: 1520px;
            padding-bottom: 110px;

            @media screen and (max-width: 768px) {
                padding-bottom: 30px;
                padding-left: 15px;
                padding-right: 15px;
            }

        .slick-why-parts {
            margin-top: -30px;
            position: relative;
            z-index: 9;

            @media screen and (min-width: 769px) {
                margin-top: -100px;
            }

            &:after {
                clear: both;
                content: '';
                display: table;
            }

            p {
                line-height: 18px;
                opacity: 0;
                padding: 16px 15px 0;
            }

            .why-parts {
                padding: 10px;
            }

            .inner-sec {
                background-color: #F2F6F9;
                border-radius: 5px;
                height: 283px;
            }

            .anim-parts {
                text-align: center;
                margin-top: 50px;
                transition: margin 0.3s ease;

                h4 {
                    color: #0079bc;
                    margin: 25px 0 20px 0;
                    text-align: center;
                    text-transform: uppercase;
                }
                
                .parts-img {
                    border-radius: 50%;
                    border: 2px solid #8cc6fd;
                    display: inline-block;
                    margin: auto;
                    padding: 18px;
                }
            }

            .inner-sec {
                &:hover {
                    background-color: #ffffff;
                    box-shadow: 1px 1px 10px #cccccc;
                }
                &:hover>.anim-parts {
                    margin-top: -20px;
                    p {
                        opacity: 1;
                    }
                }
            }
        }
        }
        .about-container {
            padding-bottom: 110px;

            @media screen and (max-width: 768px) {
                padding-bottom: 20px;
            }

            .container {
                min-width: 100%;
                position: relative;

                .row.bg {
                    background-color: #D7EAF8;
                    border-radius: 5px;
                    padding: 5% 4%;

                    @media screen and (min-width: 769px) {
                        padding-top: 30px;
                    }
                }
                .about-img {
                    overflow: hidden;
                    position: relative;

                    img {
                        border-radius: 4px;
                        min-width: 100%;
                        transition: transform .5s;

                        &:hover {
                            transform: scale(1.2);
                        }
                    }

                    .about-banner-text {
                        color: #ffffff;
                        left: 50%;
                        position: absolute;
                        top: 50%;
                        transform: translate(-50%, -50%);

                        p {
                            font-size: 24px;
                            font-weight: @font-weight__light;
                            letter-spacing: 1px;
                        }
                    }
                }
                .about-content {
                    padding: 30px 20px;
                }
                .read-more {
                    padding-top: 12px;
                }
                .about-balloons-container {
                    bottom: -30px;
                    position: absolute;
                    right: -20px;
                    .balloon-img {
                        float: right;
                        height: 60%;
                        width: 60%;
                    }

                    @media screen and (max-width: 768px) {
                        bottom: -50px;
                        position: absolute;
                        right: 0;
                    }
                }
            }
            h2 {
                font-weight: @font-weight__bold;
                font-size: 60px;
                margin-bottom: 0;
            }            
        }
        
        .magestore-bannerslider-standard {
            .banner-text {
                left: 50%;
                position: absolute;
                top: 50%;
                text-align: center;
                transform: translate(-50%, -50%);

                h1 {
                    @media screen and (max-width: 768px) {
                        font-size: 14px;
                        margin-bottom: 10px;
                    }
                }
                .banner-anim {
                    h2 {
                        display: inline-block;
                        letter-spacing: .5em;
                        margin-top: 10px;
                        text-transform: uppercase;

                        span {
                            letter-spacing: 0;
                            display: block;
                            text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
                            background: url(../images/banner-animate-small.png) repeat-y;
                            -webkit-background-clip: text;
                            background-clip: text;
                            -webkit-text-fill-color: transparent;
                            -webkit-animation: aitf 8s linear infinite;
                            -webkit-transform: translate3d(0, 0, 0);
                            -webkit-backface-visibility: hidden;
                            font-weight: @font-weight__bold;

                            @media screen and (min-width: 769px) {
                                font-size: 40px;
                            }

                            @media screen and (max-width: 768px) {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }

        @-webkit-keyframes aitf {
            0% {
              background-position: 0% 50%;
            }
            100% {
              background-position: 100% 50%;
            }
          }
    }

    .greet.welcome{
        display: none !important;
    }

    .item.link.compare{
        display: none !important;
    }

    .page-header .widget.block{
        margin: 0;
    }

    .page-wrapper .page-footer .widget.block{
        margin: 0;
    }

    .sec-catagory{
        margin-top: 45px;
        h2{
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 30px;
        }
        .cat-pro-cont{
            .flex();
            margin-bottom: 30px;
            margin-left: -20px;
            margin-right: -20px;
        }

        .catalog-category {
            border-radius: 6px;
            margin-bottom: 30px;
            padding-left: 30px;
            padding-right: 30px;
            text-align: center;

            &:first-child {
                background-color: #DAEAFB;
                margin-right:30px;
            }
            
            &:nth-child(2) {
                background-color: #e4f5e5;
            }

            &:nth-child(3) {
                background-color: #ecf5f7;
            }

            &:nth-child(4) {
                background-color: #ffeef0;

                @media screen and (min-width: 769px) {
                    margin-left: 30px;
                    margin-right: 30px;
                }
            }

            &:nth-child(5) {
                background-color: #f1f1f3;
            }

            &:nth-child(-n+2) {
                .flex-width(~"calc(50% - 15px)");
            }

            &:nth-child(n+3) {
                .flex-width(~"calc(33.333333% - 20px)");
            }

            a {
                display: block;
                position: relative;
                .img-border {
                    overflow: hidden;
                    padding: 30px 0 10px;
                    position: relative;

                    img {
                        .transition(all 0.5s ease 0s);
                        max-width: 390px;
                        width: 100%;
                    }

                }

                &:hover {
                    img {
                        .transform(rotate(2deg) scale(1.1));
                    }

                    .cat-name {
                        .lib-css(color, @c-primary_color);
                    }
                }

                & > span {
                    display: block;
                    float: right;
                    font-size: 13px;
                    font-weight: @font-weight__bold;
                    letter-spacing: 1px;
                    margin: 25px 0 40px;
                    text-decoration: underline;
                    text-transform: uppercase;
                }
            }

            .cat-name {
                .lib-css(color, @color-black);
                .transition(all 0.5s ease 0s);
                font-weight: 600;
                float: left;
                margin: 25px 0 40px;
                position: relative;
                text-transform: uppercase;
            }
        }
    }


    .cms-index-index {
        .magestore-bannerslider {

            &-standard {
                width: 100%;
            }

            &-title {
                display: none;
            }


            .magestore-bannerslide-flex-slider {
                margin-bottom: 0 !important;
            }

            .flexslider {
                box-shadow: none;

                .slides > li {
                    margin-bottom: 0;
                }


                .flex-caption {
                    position: absolute;
                    right: 0;
                    left: 0;
                    top: 50%;
                    .transform(translateY(-50%));
                    pointer-events: none;
                    z-index: 9999;
                    .slider-content {
                        .container-sm();
                        display: none;
                        .slider-header {
                            text-transform: uppercase;
                            font-size: 50px;
                            line-height: normal;
                            margin-bottom: 30px;
                            span {
                                display: block;
                                font-weight: bold;
                            }
                        }
                    }
                }

                .flex-control-paging {
                    position: absolute;
                    bottom: 10px;
                    z-index: 9;

                    li {
                        margin: 0 2px;

                        a {
                            width: 8px;
                            height: 4px;
                            .br-radius(5px);
                            .transition(all 0.5s ease 0s);
                            .lib-css(background, @color-white);
                            .box-shadow(none);

                            &.flex-active {
                                width: 25px;
                            }
                        }
                    }
                }
                .flex-direction-nav {
                    display: none;
                }
            }

        }

        .page-main {
            padding-left: 0;
            padding-right: 0;
            .block-static-block {
                margin-bottom: 0;
                > section:not(.why-us) {
                    max-width: 1520px;
                    margin-left: auto;
                    margin-right: auto;
                    width: 98%;
                    padding-right: 20px;
                    padding-left: 20px;

                    @media screen and (max-width: 768px) {
                        width: 100%;

                        &.about-container {
                            padding-left: 0;
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }

    /* Home Page Sections Why US */

    .sec-why{
        padding: 0 45px 0;
        .heading{
            text-align: center;
            margin-bottom: 40px;
            font-weight: @font-weight__heavier;
            span {
                font-weight: 600;
            }
        }
        .why-row{
            margin-left: -20px;
            margin-right: -20px;
            .why-parts{
                padding: 20px;
                .inner-sec {
                    background: @c-whitesmoke;
                    padding:25px;
                    height: 100%;
                    .br-radius(5px);
                    .transition(all 0.5s ease 0s);
                    overflow: hidden;
                }

                &:hover {
                    .inner-sec {
                        .transform(scale(1.05));
                        background: @color-white;
                        .box-shadow(1px 1px 5px 0px rgba(0,0,0,0.2));
                    }
                }

                img{
                    display: block;
                    margin: auto;
                    width: auto;
                }
                h4{
                    text-align: center;
                    text-transform: uppercase;
                    color: @c-sec_color;
                    margin: 25px 0 20px 0;
                    font-weight: @font-weight__heavier;
                    font-size: 100%;

                    span {
                        font-weight:bold;
                    }
                }
                p{
                    text-align: center;
                    margin: 0 auto;
                    line-height: 1.3;
                }
            }
        }
    }

    /* Home Page Sections About US */

    .sec-about{
        margin-top: 40px;
        margin-bottom: 45px;
        padding: 0 45px;
        .heading {
            font-weight: @font-weight__heavier;
            span {
                font-weight: 600;
            }
        }
        .abt-img-cont{
            .heading{
                display: none;
                text-align: center;
                margin-bottom: 30px; 
            }
            a{
                display: block;
                position: relative;
                .abt-over{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    img{
                        -webkit-transition: .5s ease;
                        transition: .5s ease;
                        display: block;
                    }
                }
            }
            &:hover a{
                .abt-over{
                    img{
                        -webkit-transform: rotate(360deg);
                        transform: rotate(360deg);
                    }
                }
            }
        }

        .abt-row {
            align-items: center;
        }
        .abt-cont{
            padding-left: 30px;
            .heading{
                margin-bottom: 20px;
                margin-top: 0;
                font-weight: @font-weight__heavier;
            }
            .hover-arrow img{
                -webkit-transition: all .5s ease;
                transition: all .5s ease;
                visibility: hidden;
                vertical-align: text-top;
                transform: translateX(-50px);
            }
            p{
                line-height: 30px;
            }
            .read{
                font-weight: 600;
                display: inline-block;
                position: relative;
                padding-right: 40px;
                text-transform: none;
                font-size: @font-size__s;
                &:before {
                    position: absolute;
                    right: 15px;
                    content: '\e904';
                    font-family: @icons__font-name_ps;
                    display: inline-block;
                    vertical-align: middle;
                }

                &:hover +.hover-arrow img{
                    display: inline-block;
                    visibility: visible;
                    transform: translateX(50px);
                }
            }
            
        }
    }

}



@media screen and (min-width: 1300px) {
    .sec-why{
        .why-row{
            justify-content: space-between;
            .why-parts{
                .flex-width(20%);
            }
        }
    }


}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {

    .cms-index-index {
        .magestore-bannerslider {
            .flexslider {
                .flex-caption {
                    .slider-content{
                        > div {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
  
    .sec-catagory{
        .cat-pro-cont{
            .cat-pro{
                h4{
                    margin: 40px 0 0 0;
                }
            }
        }

        .cat-pro-cont {
            margin-left: -32px;
            margin-right: -32px;
        }

        .catalog-category {
            padding-left: 32px;
            padding-right: 32px;
        }
    }

    .sec-about{

        .abt-cont{
            padding-left: 40px;

            p{
                margin-bottom: 25px;
            }
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @c-desk) {

    .sec-about{
        .abt-img-cont{
            h1{
                display: none;
            }
        }
        .abt-cont{
            h1{
                margin-bottom: 20px;
                display: block;
            }
            p{
                padding: 0;
            }
           
        }
    }

}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .sec-why{
        h1{
            margin-bottom: 5px;
        }
    }
    .sec-about{
        .abt-img-cont{
            h1{
                display: block;   
            }
            a{
                img{
                    width: 100%;
                }
            }
        }
        .abt-cont{
            padding-left: 20px;
            h1{
                display: none;
            }
            p{
                padding-top: 20px;
            }
            .read{
                text-align: center;
                display: inline-block;
            }
        }
    }

}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @c-tab) {
    .sec-about {
        .abt-img-cont {
            .heading {
                display: block;
            }
        }

        .abt-cont {
            .heading {
                display: none;
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m + 1) {
    .sec-about {
        margin-bottom: 0;
        margin-top: 0;
        .abt-row {
            .abt-cont {
                padding-bottom: 0;
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m + 1) {


    .sec-why {
        padding-right: 0;
        padding-left: 0;
    }


    .slider-content {
        display: none;
    }
  
    .sec-catagory{
        padding: 0 25px 0;
        margin-top: 0;
        .cat-pro-cont{
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 20px;
            .catalog-category {
                .flex-width(100%);
                margin-bottom: 0;

                & + .catalog-category {
                    margin-top: 20px;
                }
            }
        }
    }
    .sec-why{
        .heading {
            margin: 30px 0 20px;
        }
        .why-row.slick-slider {
            .slick-prev{
                position: absolute;
                top: 17%;
                left: 0;
                z-index: 1;
            }
            .slick-next{
                position: absolute;
                top: 17%;
                right: 0;
                z-index: 1;
            }
            .slick-track {
                display: table;
                height: 100%;
                .why-parts{
                    padding: 10px;
                    display: table-cell;

                    img{
                        max-width: 100%;
                        width: auto;
                    }
                }
            }

        }
    }
    .sec-about{
        .abt-img-cont{
            h1{
                display: block;
            }
        }
        .abt-cont{
            padding: 20px 0 ;
            h1{
                display: none;
            }
        }
    }
        
}
