//
//  Custom Useful Classes
//  _____________________________________________

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .nav-tabs {
        display: none;
        border: none;
    }

    .tab-content {
        .card {
            border: none;
            margin-top: 50px;
            &-body {
                -ms-flex: 1 1 auto;
                flex: 1 1 auto;
                padding: 1.25rem;
            }
        }
    }

    .choice {
        input[type="checkbox"] {
            display: none;
            & + label {
                cursor: pointer;
                &:before {
                    content: '';
                    border: 1px solid #d8dde7;
                    display: inline-block;
                    height: 14px;
                    width: 14px;
                    vertical-align: middle;
                    margin-right: 8px;
                    -webkit-transition: .4s ease;
                    transition: .4s ease;
                    border-radius: 3px;
                }
            }
            &:checked {
                & + label {
                    &:before {
                        background: #3391cf;
                        border: 3px solid #d8dde7;
                    }
                }
            }
        }
        label {
            display: inline;
            color: #000;
            font-weight: normal;
            font-size: 14px;
            position: relative;
        }
    }

    body {
        overflow-x: hidden;
    }

    .f-lite{
        font-weight: 300;
    }

    ._keyfocus *,
    input:not([disabled]),
    textarea:not([disabled]),
    select:not([disabled]) {
        &:focus {
            box-shadow: none;
        }
    }

    .heading {
        text-transform: uppercase;
    }

    .page-title-wrapper {
        .page-title {
            font-weight: 600;
        }
    }

    div.nice-select {
        width: 100%;
        .list {
            right: 0;
            margin-top: 1px;
            .br-radius(0 0 3px 3px);
            overflow-y: auto;

            li {
                &:hover {
                    .lib-css(color, @c-primary_color);
                    .lib-css(background, @c-aliceblue);
                }
            }
        }
    }

}


.btn{
    padding: 15px 20px;
    .br-radius(3px);
    font-weight: 600;
    display: inline-block;
    &.btn-black {
        .lib-css(background, @text__color);
        .lib-css(color, @color-white);
        .transition(all 0.5s ease-in-out 0s);

        &:hover {
            .lib-css(background, @c-primary_color);
        }
    }
}


.table {
    color: @text__color;
}



/* Arrows */



.slick-arrow {
    position: absolute;
    display: block;
    height: 50px;
    width: 50px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    border: 1px solid @c-graylight;
    color: transparent;
    top: 50%;
    .transform(translate(0, -50%));
    padding: 0;
    outline: none;
    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
    }

    &:before{
        font-family: @icons__font-name_ps;
        font-size: 20px;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        .lib-css(color, @c-graylight);
    }
}

.slick-prev {
    left: -50px;
    [dir="rtl"] & {
        left: auto;
        right: -25px;
    }
    &:before {
        content: @icon-chevron-thin-left;
    }
}

.slick-next {
    right: -50px;
    [dir="rtl"] & {
        left: -25px;
        right: auto;
    }
    &:before {
        content: @icon-chevron-thin-right;
    }
}



//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m + 1) {
    h1 {
        .lib-css(font-size, 38px);
        .lib-css(margin-bottom, @h1__margin-bottom__desktop);
    }
    .card {
        .card-header {
            display: none;
        }
        .collapse {
            display: block;
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @c-desk) {
    body {
        font-size: 1.4rem;
    }
}



