//
//  Custom Useful Classes
//  _____________________________________________

//
//  Common
//  _____________________________________________

& when (@media-common = true) {



    .modal-popup {
        .modal-header {
            .action-close {
                &:before {
                    line-height: normal;
                    font-size: 30px;
                    color: @icon-color;
                }
            }
        }
        .modal-footer {
            button {
                &:focus {
                    background: @color-black;
                }

                &:hover {
                    background: @c-primary_color;
                }
            }
        }
    }

    .nav-tabs {
        display: none;
        border: none;
    }

    .tab-content {
        .card {
            border: none;
            margin-top: 30px;
            &-body {
                -ms-flex: 1 1 auto;
                flex: 1 1 auto;
                padding: 1.25rem;
            }
        }
    }

    .choice {
        input[type="checkbox"] {
            display: none;
            & + label {
                cursor: pointer;
                &:before {
                    content: '';
                    border: 1px solid #d8dde7;
                    display: inline-block;
                    height: 14px;
                    width: 14px;
                    vertical-align: middle;
                    margin-right: 8px;
                    -webkit-transition: .4s ease;
                    transition: .4s ease;
                    border-radius: 3px;
                }
            }
            &:checked {
                & + label {
                    &:before {
                        background: #3391cf;
                        border: 3px solid #d8dde7;
                    }
                }
            }
        }
        label {
            display: inline;
            color: #000;
            font-weight: normal;
            font-size: 14px;
            position: relative;
        }
    }

    body {
        overflow-x: hidden;
    }

    .f-lite{
        font-weight: 300;
    }

    ._keyfocus *,
    input:not([disabled]),
    textarea:not([disabled]),
    select:not([disabled]) {
        &:focus {
            box-shadow: none;
        }
    }

    .heading {
        text-transform: uppercase;
    }

    .page-title-wrapper {
        .page-title {
            font-weight: 600;
        }
    }

    div.nice-select {
        width: 100%;
        &:after{
            content: @icon_caret_dropdown;
            font-family: @icons__font-name_ps;
            border:none;
            transform: none;
            width: auto;
            height: auto;
            font-size: 5px;
            margin-top: 0;
            top: 1px;
            color: @c-lightgray;
            position: static;
            display: inline-block;
            margin-left: 5px;
            vertical-align: middle;
        }

        &.open {
            &:after {
                .transform(none);
            }
        }

        .list {
            right: 0;
            margin-top: 1px;
            .br-radius(0 0 3px 3px);
            overflow-y: auto;



            li {
                margin-bottom: 0;
                min-height: 50px;
                line-height: 50px;
                &:hover {
                    .lib-css(color, @c-primary_color);
                    .lib-css(background, @c-aliceblue);
                }
            }
        }
    }

}



.page.messages {
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
    .messages .message {
        box-shadow: 0px -6px 12px -4px rgba(0,0,0,.1);
        background: #fff;
        color: #000;
        font-size: 1.6rem;
        padding: 2rem;
        margin-bottom: 0;
        visibility: visible;
        opacity: 1;
        > *:first-child:before {
            position: static;
            text-align: center;
            border: 1px solid;
            border-radius: 50%;
            height: 35px;
            width: 35px;
            line-height: 35px;
            margin: 0;
            margin-right: 10px;
            font-size: 20px;
        }
        &.success {
            div {
                &:before {
                    .lib-css(color, @c-success);
                }
            }
            a {
                color: @c-primary_color;
            }
        }

    }
}




.btn{
    padding: 15px 20px;
    .br-radius(3px);
    font-weight: 600;
    display: inline-block;
    &.btn-black {
        .lib-css(background, @text__color);
        .lib-css(color, @color-white);
        .transition(all 0.5s ease-in-out 0s);

        &:hover {
            .lib-css(background, @c-primary_color);
        }
    }
}


.table {
    color: @text__color;
}



/* Arrows */



.slick-arrow {
    position: absolute;
    display: block;
    height: 50px;
    width: 50px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    border: 1px solid @c-graylight;
    color: transparent;
    top: 50%;
    .transform(translate(0, -50%));
    padding: 0;
    outline: none;
    .transition(all 0.5s ease 0s);
    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        border: 1px solid @c-graylight;
        background: @c-graylight;
        &:before {
            .lib-css(color, @color-white);
        }
    }

    &:before{
        font-family: @icons__font-name_ps;
        font-size: 20px;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        .lib-css(color, @c-graylight);
        .transition(all 0.5s ease 0s);
    }
}

.slick-prev {
    left: -50px;
    [dir="rtl"] & {
        left: auto;
        right: -25px;
    }
    &:before {
        content: @icon-chevron-thin-left;
    }
}

.slick-next {
    right: -50px;
    [dir="rtl"] & {
        left: -25px;
        right: auto;
    }
    &:before {
        content: @icon-chevron-thin-right;
    }
}



//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m + 1) {
    h1 {
        .lib-css(font-size, 38px);
        .lib-css(margin-bottom, @h1__margin-bottom__desktop);
    }
    .card {
        .card-header {
            display: none;
        }
        .collapse {
            display: block;
        }
    }
}





.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xl) {
    body {
        font-size: 1.4rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.4rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.6rem;
    }

    h5 {
        font-size: 1.4rem;
    }
}


@media screen and (max-width: @c-desk) {

    h1 {
        font-size: 2.8rem;
    }

    h2 {
        font-size: 2.2rem;
    }

    h3 {
        font-size: 1.6rem;
    }

    h4 {
        font-size: 1.4rem;
    }

    h5 {
        font-size: 1.2rem;
    }
}






