& when (@media-common = true) {
    .blog__sidebar-main {
        > .block {
            margin-bottom: 0 !important;

            .block-title {
                font-weight: 600;
                line-height: 1.1;
                font-size: 1.6rem;
                margin-bottom: 15px;
                color: @title_color;
                /*cursor: pointer;*/
                /*margin: 0;*/
                word-break: break-all;

                strong {
                    font-weight: 600;
                }
            }
        }
    }

    .blog {
        .sidebar-main {
            margin-bottom: 40px;
        }
    }

    .blog__sidebar-search {
        /*margin-bottom: 2rem;*/

        form {
            position: relative;

            input {
                font-size: 1.3rem;
                border-radius: 3px;
            }

            button {
                right: 0;
                top: 0;
                position: absolute;
                border-radius: 0 3px 3px 0;
            }
        }
        .block-collapsible-nav .item a, 
        .block-collapsible-nav .item>strong {
            padding: 4px 0 !important;
            &:hover:before {
                content: none !important;
            }
        }
    }

    .blog__sidebar-recent {
        .item {
            .lib-clearfix();
            + item {
                margin-top: 15px;
            }

            .post-name {
                font-size: 1.2rem;
            }
            img {

                float: left;
                max-width: 9rem;
                border-radius: 6px;
            }

            a {
                &:first-of-type {
                    padding: 0 1rem 1rem 0;
                    float: left;
                }
                font-size: 1.2rem;
                display: block;
                text-decoration: none;
            }
        }
    }

    .blog__sidebar-category-tree {
        li.item {
            &.level-2 {
                a {
                    padding-left: 4rem;
                }
            }

            &.level-3 {
                a {
                    padding-left: 7rem;
                }
            }

            &.level-4 {
                a {
                    padding-left: 9rem;
                }
            }

            &.level-5 {
                a {
                    padding-left: 12rem;
                }
            }
        }
    }

    .blog__sidebar-tag-cloud {
        .tag.items {
            float: left;
            margin: 0 5px 5px 0;
        }
        a {
            border: 1px solid @title_color;
            padding: 4px 15px;
            display: block;
            border-radius: 4px;
        }

        overflow: hidden;
        text-overflow: ellipsis;
    }

    .blog__sidebar-rss-link {
        text-align: center;

        a {
            color: #999;
            font-size: 1.5rem;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .blog__sidebar-main {
        border: 1px solid @color-lines;;
        &:before {
            border-top: 6px solid @theme__color__primary;
            content: '';
            position: relative;
            left: 0;
            display: block;
            right: 0;
            top: 0;
            margin: 0 -1px;
        }
        > div {
            padding: 20px 25px;
        }
        > div + div {
            border-top: 1px solid @color-lines;;
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @c-desk) {
    .blog {
        .sidebar {
            width: 360px;
            padding: 0;
        }
        .column.main {
            width: calc(~'100% - 380px');
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @c-tab) {
    .blog {
        .sidebar {
            width: 280px;
            padding-right: 15px;
        }
        .column.main {
            width: calc(~'100% - 280px');
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .blog {
        .sidebar {
            width: 250px;
            padding-right: 15px;
        }
        .column.main {
            width: calc(~'100% - 250px');
        }
    }
}

//
//    Mobile
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .page-main {
        .blog & {
            position: relative;
            padding-top: 41px;
        }
    }
}

