<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="delivery-tab" data-toggle="tab" href="#delivery" role="tab" aria-controls="home" aria-selected="true">Delivery</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pickup-tab" data-toggle="tab" href="#pickup" role="tab" aria-controls="pickup" aria-selected="false">Pickup Date</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="delivery" role="tabpanel" aria-labelledby="delivery-tab">
        <!-- ko if: (isModuleEnabled()) -->
        <div class="fieldset">
            <!-- ko if: (showGeneralComment()) -->
            <!-- ko if: (styleMagentoNotice()) -->
            <div class="messages">
                <div class="message message-notice notice">
                    <span class="value" data-bind="html: showGeneralComment()"></span>
                </div>
            </div>
            <!--/ko-->
            <!-- ko if: (!styleMagentoNotice()) -->
            <span class="value amasty-deliverydate-comment" data-bind="html: showGeneralComment()"></span>
            <!--/ko-->
            <!--/ko-->
            <each args="data: elems, as: 'element'">
                <render if="hasTemplate()"/>
            </each>
        </div>
        <!--/ko-->
    </div>
    <div class="tab-pane fade" id="pickup" role="tabpanel" aria-labelledby="pickup-tab">
        <!-- ko if: (isModuleEnabled()) -->
        <div class="fieldset">
            <!-- ko if: (showGeneralComment()) -->
            <!-- ko if: (styleMagentoNotice()) -->
            <div class="messages">
                <div class="message message-notice notice">
                    <span class="value" data-bind="html: showGeneralComment()"></span>
                </div>
            </div>
            <!--/ko-->
            <!-- ko if: (!styleMagentoNotice()) -->
            <span class="value amasty-deliverydate-comment" data-bind="html: showGeneralComment()"></span>
            <!--/ko-->
            <!--/ko-->
            <each args="data: elems, as: 'element'">
                <render if="hasTemplate()"/>
            </each>
        </div>
        <!--/ko-->
    </div>
</div>

