<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Creatuity_Nav::configuration_menu_shortcut"
             title="NAV"
             module="Creatuity_Nav"
             sortOrder="100"
             resource="Magento_Backend::system"
             parent="Magento_Integration::system_extensions"
             action="adminhtml/system_config/edit/section/nav"
        />
        <add id="Creatuity_Nav::navision_log"
             title="Navision Log"
             translate="title"
             module="Creatuity_Nav"
             sortOrder="30"
             parent="Magento_AsynchronousOperations::system_magento_logging"
             action="nav/data/index"
             resource="Magento_Backend::system"/>
    </menu>
</config>
