// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-wrapper__margin: @indent__base;
@checkout-wrapper__columns: 8;

@checkout-step-title__border: 0;
@checkout-step-title__font-size: 20px;
@checkout-step-title__font-weight: @font-weight__bold;
@checkout-step-title__padding: @indent__s;

@checkout-step-title-mobile__font-size: 18px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .checkout-index-index {
        .brand-message {
            display: none;
        }
        .page-title-wrapper {
            &:extend(.abs-visually-hidden all);
        }
        .page-main, .header.content {
            max-width: @inner_container__width;
        }
        .page-header {
            .nav-toggle {
                display: none;
            }

            & + .page-main {
                padding-top: 50px;
            }
        }
    }

    .checkout-container {
        &:extend(.abs-add-clearfix all);
        .lib-css(margin, 0 0 @checkout-wrapper__margin);
    }

    .opc-wrapper {
        .lib-css(margin, 0 0 @checkout-wrapper__margin);

        .opc {
            &:extend(.abs-reset-list all);
            border: 1px solid @color-lines;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            position: relative;
            &:before {
                border-top: 5px solid @theme__color__primary;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                margin: 0 -1px;
            }

        }

        .step-title {
            &:extend(.abs-checkout-title all);
        }

        /*        .step-content {
                    margin: 0 0 @indent__xl;
                }*/
    }

    .opc-wrapper .step-title, .opc-block-shipping-information .shipping-information-title, 
    .opc-block-summary > .title, .checkout-agreements-items .checkout-agreements-item-title {
        color: @title_color;
    }

    .checkout-index-index {
        .nav-sections,
        .nav-toggle {
            display: none;
        }

        .logo {
            margin-left: 0;
        }
    }

    .modals-overlay {
        background-color: rgba(0, 0, 0, 0.7);
    }

    .checkout-onepage-success {
        &:extend(.abs-add-clearfix all);

        .print {
            display: none;
        }
    }

    .checkout-index-index .modal-slide {
        .field.choice {
            width: 100% !important;
        }
        .modal-title {
            border: 0;
            text-align: center;
            padding-bottom: 0;
            width: 100%;
            font-size: 2rem;
            font-weight: 600;
        }
        .modal-cotent {
            padding: 2rem;
            padding-bottom: 0;
        }
        .action-hide-popup {
            display: none;
        }
        .modal-footer {
            border-top-color: @color-lines !important;
            display: flex;
            justify-content: center;
        }
    }
    .modal-slide._show .modal-inner-wrap {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        &:before {
            border-top: 5px solid #357df9;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }
        .modal-content {
            padding: 2rem 2rem 1rem;
        }
    }


    .authentication-dropdown {
        .modal-content {
            border: 0;
        }
    }

    body._has-modal {
        overflow: hidden !important; 
    }

    .checkout-onepage-success {
        .page-main {
            max-width: @inner_container__width;
            padding-top: 30px;
        }
    }

    .order-success-msg {
        background: #D7F1D6;
        padding: 25px 15px;
        text-align: center;
        border: 1px solid darken(#D7F1D6, 40%);
        border-top-width: 6px;
        margin-bottom: 20px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        h5 {
            font-weight: 700;
            margin-bottom: 1.2rem;
        }
        h2 {
            text-transform: uppercase;
            margin-bottom: .8rem;
        }
    }

    .block-order-info-view {
        .card-header {
            border-color: @color-lines;
            background: #fff;
            color: @title_color;
            padding: 1.6rem 2.5rem;
        }
        .card-header:first-child {
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }
        .card {
            border-color: @color-lines;
            border-radius: 6px;
            height: 100%;
        }
        .card-body {
            padding: 1.6rem 2.5rem;
            line-height: 1.6;
        }
        .row  {
            margin: 0 -10px;
            > div {
                padding: 0 10px;
            }
        }
    }
    .action.print {
        border: 1px solid @color-lines;
        padding: 5px 10px;
        border-radius: 4px;
        .icon-printer {
            display: inline-block;
            width: 1.2em;
            height: 1em;
            stroke-width: 0;
            stroke: currentColor;
            fill: currentColor;
            stroke-width: .6px;
            margin-left: 5px;
        }
        &:hover {
            border-color: @theme__color__primary;
        }
    }
    .order-summary-wrap {
        border: 1px solid @color-lines;
        border-top: 6px solid @theme__color__primary;;
        border-radius: 0 0 6px 6px;
    }
    .order-summary-wrap {
        .box-title {
            padding: 2rem;
            text-align: center;
            margin: 0;
        }
        table {
            margin: 0;
        }
        .cart-totals .amount, 
        .opc-block-summary .table-totals .amount {
            color: @theme__color__primary;
            font-weight: 600;
        }
        th, td {
            padding: 0 2.5rem 1rem !important;
        }
        .grand_total {
            border-top: 1px solid  @color-lines;
            font-size: 1.8rem;
            th, td {
                background: @color__ghostwhite !important;
                padding: 2rem 2.5rem !important;
            }
            th {
                border-bottom-left-radius: 6px;
            }
            td {
                border-bottom-right-radius: 6px;
            }
        }
        .cart-totals .amount strong, 
        .opc-block-summary .table-totals .amount strong,
        .cart-totals .mark strong, 
        .opc-block-summary .table-totals .mark strong,
        .cart-totals .mark, 
        .opc-block-summary .table-totals .mark{
            font-weight: 600;
        }
        tr:nth-last-child(2) {
            th, td { 
                padding: 0 2.5rem 2.5rem !important;
            }
        }
        th.mark {
            padding-right: .5rem !important;
        }
        td.amount {
            padding-left: .5rem !important;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .opc-wrapper {
        .step-title {
            .lib-css(font-size, @checkout-step-title-mobile__font-size);
            border-bottom: 0;
            padding-bottom: 0;
        }
    }
    .block, .sidebar .widget.block:not(:last-child), 
        .sidebar .widget:not(:last-child), .block-banners, 
        .block-banners-inline {
        margin-bottom: 30px;
    }
    .cart.table-wrapper {
        .table-order-items {
            .col.item {
                padding: 20px 55px 0 80px !important;
            }
            .col.qty{
                position: absolute;
                margin-top: 18px !important;
                &:before {
                    content: attr(data-th) ':' !important;
                    display: inline-block;
                    padding: 0;
                    font-weight: 400;
                }
            }
            .shipping-details {
                margin-bottom: 0;
            }
            .col.qty, .col.subtotal {
                float: none;
                padding: 0 0 0 80px !important;
                margin: 0;
                text-align: left;
            }
            tr {
                padding-bottom: 30px;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    body.checkout-index-index .modal-popup .modal-inner-wrap {
        margin-left: 0;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 660px;
        left: 50%;
    }
    .checkout-index-index .modal-slide {
        .modal-title {
            border: 0;
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @c-desk) {
    .block-order-info-view {
        .col-lg-3 {
            -ms-flex: 0 0 27.5%;
            flex: 0 0 27.5%;
            max-width: 27.5%;
        }
        .col-lg-6 {
            -ms-flex: 0 0 45%;
            flex: 0 0 45%;
            max-width: 45%;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .order-success-msg {
        h2 {
            font-size: 3rem;
        }
    }    
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xl) {
    .checkout-index-index {
        .authentication-wrapper, .opc-progress-bar {
            margin-top: -105px;
        }
    }
    .custom-slide .modal-inner-wrap {
        background: #fff !important;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    .checkout-index-index {
        .page-header+.page-main {
            padding-top: 30px;
        }
        .opc-progress-bar {
            padding-left: 15px;
            margin: 0 0 25px;
            width: 100%;
            text-align: center;
            float: none;
        }
        .authentication-wrapper {
            margin-top: -141px;
            &:before {
                content: none;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .order-success-msg {
        padding: 15px;
    }
    .modal-popup.modal-slide .modal-inner-wrap[class] {
        background: #fff;
    }
    .opc-wrapper {
        /*        .step-title {
                    text-align: center;
                }*/
        .address-box {
            margin-bottom: 10px;
        }
        .checkout-shipping-address .step-title,
        .opc-payment .step-title {
            padding-top: 5%;
        }
        .continue.primary {
            position: fixed;
            left: 0;
            right: 0;
            border-radius: 0 !important;
            bottom: 0;
        }
    }
    .checkout-index-index .authentication-wrapper {
        margin-top: 0; 
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
        .modal-content {
            text-align: left;
        }
    }

    .opc-summary-wrapper {
        .modal-content {
            border: none;
        }
    }

    .opc-estimated-wrapper {
        padding: 15px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid @color-lines;
        border-bottom: 1px solid @color-lines;
        margin: 0 -15px 20px;
        background: @color__ghostwhite;
        &:before, &:after {
            content: none;
        }
        .estimated-block {
            color: @title_color;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .opc-wrapper {
        width: 61%;
        float: left;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
        padding-right: 20px;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @c-tab) {
    .block-order-info-view {
        .row {
            > div {
                margin-bottom: 0;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .modal-slide {
        .fieldset.address {
            display: -ms-flex;
            display: flex;
            flex-wrap: wrap;
            .field {
                width: 50%;
                padding: 0 10px;
            }
            .street {
                .field {
                    padding: 0;
                    width: 100%;
                }
            }
            .field.choice {
                color: @title_color;
            }
        }
    }

    .checkout-onepage-success {
        .print {
            display: inline-block;
            margin: 10px 0;
        }
    }
}
