<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
   
    <event name="catalog_product_is_salable_after">
        <observer name="wyomind_advancedinventory_catalog_product_is_salable_after" instance="Wyomind\AdvancedInventory\Observer\CatalogProductIsSalableAfter" />
    </event>  
  
</config>