<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Your %store_name order confirmation" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"var order.getEmailCustomerNote()":"Email Order Note",
"var order.getBillingAddress().getName()":"Guest Customer Name",
"var order.getCreatedAtFormatted(2)":"Order Created At (datetime)",
"var order.increment_id":"Order Id",
"layout handle=\"sales_email_order_items\" order=$order":"Order Items Grid",
"var payment_html|raw":"Payment Details",
"var formattedShippingAddress|raw":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"var shipping_msg":"Shipping message"
} @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; padding-bottom: 20px;">
            <p class="greeting" style="margin-top: 0; margin-bottom: 10px;"><strong>{{trans "%name," name=$order.getBillingAddress().getName()}}</strong></p>
            {{if order.getIsNotVirtual()}}
                <p style="margin-top: 0; margin-bottom: 10px;">
                    {{trans "Thank you for your order from %store_name.com" store_name=$store.getFrontendName()}}
                    {{trans 'Your order number is <span class="no-link">#%increment_id</span>.  If there are any questions on your order our store staff will contact you at the information below.' increment_id=$order.increment_id |raw}}
                    {{trans 'When your order is ready for delivery our personnel will contact you and verify all delivery specifics.'}}
                </p>
            {{else}}
                <p style="margin-top: 0; margin-bottom: 10px;">
                    {{trans "Thank you for your order from %store_name.com" store_name=$store.getFrontendName()}}
                    {{trans 'Your order number is <span class="no-link">#%increment_id</span>.  If there are any questions on your order our store staff will contact you at the information below.' increment_id=$order.increment_id |raw}}
                    {{trans 'Your order will be ready for pick-up at the time and date chosen.  If there are conflicts or issues with this time you will be contacted by store personnel.'}}
                </p>
            {{/if}}
            <p style="margin-top: 0; margin-bottom: 10px;">
                {{trans 'If you have questions about your order, you can email us at <a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}{{depend store_phone}} {{trans 'or call us at <a href="tel:%store_phone">%store_phone</a>' store_phone=$store_phone |raw}}{{/depend}}.
                {{depend store_hours}}
                    {{trans 'Our hours are <span class="no-link">%store_hours</span>.' store_hours=$store_hours |raw}}
                {{/depend}}
            </p>
        </td>
    </tr>
    <tr class="email-summary">
        <td style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top;">
            <h1 style="font-weight: 300; line-height: 1.1; font-size: 26px; margin-top: 0; border-bottom: 1px solid #cccccc; margin-bottom: 10px; padding-bottom: 10px;">{{trans 'Your Order <span class="no-link">#%increment_id</span>' increment_id=$order.increment_id |raw}}</h1>
            <p style="margin-top: 0; margin-bottom: 10px;">{{trans 'Placed on <span class="no-link">%created_at</span>' created_at=$order.getCreatedAtFormatted(2) |raw}}</p>
        </td>
    </tr>
    <tr class="email-information" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top;">
        <td>
            {{depend order.getEmailCustomerNote()}}
            <table class="message-info">
                <tr>
                    <td>
                        {{var order.getEmailCustomerNote()|escape|nl2br}}
                    </td>
                </tr>
            </table>
            {{/depend}}
            <table class="order-details" style="border-collapse: collapse; width: 100%;">
                <tr>
                    <td class="address-details" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; padding: 10px 10px 10px 0; width: 50%;">
                        <h3 style="font-weight: 600; line-height: 1.1; font-size: 18px; margin-bottom: 10px; margin-top: 0;">{{trans "Billing Info"}}</h3>
                        <p style="margin-top: 0; margin-bottom: 10px;">{{var formattedBillingAddress|raw}}</p>
                    </td>
                    <td width="10"></td>
                    {{depend order.getIsNotVirtual()}}
                    <td class="address-details" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; padding: 10px 10px 10px 0; width: 50%;">
                        <h3 style="font-weight: 600; line-height: 1.1; font-size: 18px; margin-bottom: 10px; margin-top: 0;">{{trans "Shipping Info"}}</h3>
                        <p style="margin-top: 0; margin-bottom: 10px;">{{var formattedShippingAddress|raw}}</p>
                    </td>
                    {{/depend}}
                </tr>
                <tr>
                    <td class="method-info" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; padding: 10px 10px 10px 0; width: 50%;">
                        <h3 style="font-weight: 600; line-height: 1.1; font-size: 18px; margin-bottom: 10px; margin-top: 0;">{{trans "Payment Method"}}</h3>
                        {{var payment_html|raw}}
                    </td>
                    <td width="10"></td>
                    {{depend order.getIsNotVirtual()}}
                    <td class="method-info" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; padding: 10px 10px 10px 0; width: 50%;">
                        <h3 style="font-weight: 600; line-height: 1.1; font-size: 18px; margin-bottom: 10px; margin-top: 0;">{{trans "Shipping Method"}}</h3>
                        <p style="margin-top: 0; margin-bottom: 10px;">{{var order.getShippingDescription()}}</p>
                        {{if shipping_msg}}
                        <p>{{var shipping_msg}}</p>
                        {{/if}}
                    </td>
                    {{/depend}}
                </tr>
            </table>
            {{layout handle="sales_email_order_items" order=$order}}
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
