<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <customer>
            <order_history_date>
                <history_date_limit>14</history_date_limit>
            </order_history_date>
        </customer>
    </default>
</config>
