<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <Unirgy_RapidFlow>
            <usimpleup>
                <remote>https://download.unirgy.com/simple/client_api/version/</remote>
                <changelog>https://unirgy.com/support/portal/announcements</changelog>
            </usimpleup>
        </Unirgy_RapidFlow>
        <urapidflow>
            <finetune>
                <import_page_size>100</import_page_size>
                <export_page_size>100</export_page_size>
                <page_sleep_delay>0</page_sleep_delay>
                <status_refresh_delay>3</status_refresh_delay>
                <debug_sql>1</debug_sql>
                <curl_connect_timeout>5</curl_connect_timeout>
                <curl_timeout>10</curl_timeout>
            </finetune>
            <dirs>
                <import_dir>{var}/urapidflow/import</import_dir>
                <export_dir>{var}/urapidflow/export</export_dir>
                <log_dir>{var}/urapidflow/log</log_dir>
                <report_dir>{var}/urapidflow/report</report_dir>
                <images_dir>images</images_dir>
            </dirs>
            <admin>
                <notifications>1</notifications>
            </admin>
        </urapidflow>
        <Unirgy_RapidFlow>
            <usimpleup>
                <remote>https://download.unirgy.com/simple/client_api/version/</remote>
                <changelog>https://unirgy.com/support/portal/announcements</changelog>
            </usimpleup>
        </Unirgy_RapidFlow>
    </default>
</config>
