//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .checkout-onepage-success,
    .multishipping-checkout-addresses{
        .page-main {
            .container-md();
            .page-title-wrapper {
                margin-top: 40px;
            }
        }
    }

    .multishipping-checkout-addresses {
        .page-header {
            .header {
                .container-md();
            }
            .logo {
                float: none;
                img {
                    margin: 0 auto;
                }
            }
          & ~ .page-main {
                margin-top: 30px;
            }
        }
        .action {
            &.delete {
                span {
                    .lib-visibility-hidden();
                }
                &:before {
                    content: '\e90b';
                    font-size: 15px;
                    font-family: @icons__font-name_ps;
                    color: @icon-color;
                }

                &:hover {
                    &:before {
                        color: @color-black;
                    }
                }
            }
        }

        .multicheckout {
            .table-wrapper {
                .col {
                    .qty {
                        .input-text {
                            border: 1px solid  @c-graylight;
                        }
                    }
                }
            }
            .actions-toolbar {
                .action {
                    .lib-button-primary();
                    .btn();
                    min-height: 52px;
                    margin-top: 0;
                }

                .secondary {
                    margin-top: 0;
                }
            }
        }
    }

    .checkout-index-index {
        .page-header .header-wrapper .header.content {
            padding-right: 0;
        }
        .page-title-wrapper {
            background: @c-primary_color;
            text-align: center;
            clip: auto;
            overflow: visible;
            width: auto;
            height: auto;
            position: static;
            padding: 15px 0;

            .page-title {
                margin-bottom: 0;
                .lib-font-size(2.2rem);
                text-transform: uppercase;
                .lib-css(color, @color-white);
            }
        }

        .page-header{
            .header-wrapper {
                position: static !important;
                .box-shadow(0px 0px 10px 5px rgba(0, 0, 0, 0.05));
                animation: none !important;
            }

            .header.content {
                text-align: center;
                justify-content: center;

            }

            .logo {
                float: none;
                img {
                    max-width: 100px;
                }
            }
        }
        .page-main {
            padding: 0;
        }

        .opc-wrapper,
        .opc-sidebar {
            width: percentage(1);
        }

        .opc-wrapper {
            order: 1;
            padding: 3rem;
            border: 1px solid @c-graylight;
        }

        .opc-sidebar {
            order: 2;
        }

        .shipping-list {
            margin-bottom: 10px;
            text-align: left;

            .col-method {
                font-weight: @font-weight__semibold;
                width: 200px;
                display: inline-block;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            .shipping-chioce {
                display: block;

                input[type=radio] {
                    display: none;
                }

                label {
                    display: block;
                    padding-right: 75px;
                    white-space: nowrap;
                    text-overflow: ellipsis;

                    & > span:not(.col-method) {
                        position: absolute;
                        right: 0;
                    }
                }
            }
        }

        #checkout-shipping-method-load {
            width: 60%;
        }

        .ship-warehouse {
            border: 1px solid @c-graylight;
            border-radius: 3px;
            text-align: left;
            width: 100%;

            & > span {
                border-bottom: 1px solid @c-graylight;
                display: block;
                font-size: 13px;
                font-weight: @font-weight__semibold;
                padding: 10px 20px;
            }

            & > .warehouse-address {
                min-height: 60px;
                padding: 10px 100px 10px 20px;
                position: relative;

                &:after {
                    content: '';
                    background: url(../images/shipping_warehouse.png);
                    height: 34px;
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    width: 48px;
                }

                span {
                    color: #999;
                    font-size: 12px;
                }
            }
        }

        .checkout-shipping-method {
            .step-title {
                margin-bottom: 20px;
                font-weight: 600;
                .lib-font-size(2rem);
            }
        }
        .shipping-address-items{
            .flex();
            justify-content: space-between;
            .shipping-address-item{
                padding: 2rem;
                .br-radius(3px);
                .flex-width(48%);
                margin-bottom: 30px;
                position: relative;
                line-height: 30px;
                .transition(all 0.5s ease 0s);

                @media screen and (max-width: 768px) {
                    .flex-width(100%);
                }

                &.selected-item{
                    border: 1px solid @c-primary_color;
                    &::after{
                        background: @c-primary_color;
                        .lib-css(background, @checkout-shipping-item-icon__background-color);
                        .lib-css(color, @checkout-shipping-item-icon__color);
                        .lib-css(content, @checkout-shipping-item-icon__content);
                        .lib-css(font-family, @icons__font-name);
                        .lib-css(height, @checkout-shipping-item-icon__selected__height);
                        .lib-css(width, @checkout-shipping-item-icon__selected__width);
                        font-size: 27px;
                        line-height: 21px;
                        padding-top: 2px;
                        position: absolute;
                        right: 0;
                        text-align: center;
                        top: 0;
                    }
                }

                &:hover {
                    box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.2);
                }

                &.not-selected-item{
                    border: 1px solid @c-graylight;
                }

                .action {
                    .lib-button-primary();
                    .btn();
                    margin: 26px 5px 0 0;
                }
            }
        }
    }




    .checkout-container{
        .container-md();
        position: relative;
        margin-bottom: 0;
        .actions-toolbar {
            .action {
                &-cancel,
                &-update {
                    .lib-button-primary();
                    .btn();
                }
            }
        }

        .payment-method {
            .choice {
                input[type=radio] {

                    & ~ label {
                        &:before {
                            left: -22px;
                        }
                    }
                    &:checked {
                        & ~ label:after {
                            left: -18px;
                        }
                    }
                }
            }
        }
    }

    .opc-progress-bar{
        margin: 30px 0;
        text-align: center;
        .opc-progress-bar-item{
            &::before{
                border-radius: 0;
                background: @c-whitesmoke;
                border: 1px solid @c-graylight;
                height: 9px;
            }
            &._active{
                &::before{
                    background: @c-primary_color;
                    border: 1px solid @c-primary_color;
                }
                span{
                    color: @c-primary_color;
                    &::before{
                        background: @c-primary_color;
                        border: 1px solid @c-primary_color;
                    }
                }
            }
            span{
                color: @c-text_sec_color;
                font-family: @heading__font-family__base;
                font-weight: 600;
                font-size: 1.4rem;
                &::before{
                    background: @c-whitesmoke;
                    border: 1px solid @c-graylight;
                }
            }
        }
    }




    .opc-wrapper{
            .fieldset.address {
                .flex();
                margin-left: -20px;
                margin-right: -20px;
                margin-bottom: 0;
                .field {
                    .flex-width(100%);
                    padding-left: 20px;
                    padding-right: 20px;
                    margin-bottom: 1.5rem;
                    margin-top: 0;
                }
            }

        .form-shipping-address {
            .street {
                &.field {
                    .flex-width(100%);
                    margin-bottom: 0;

                    .field {
                        padding-left: 0;
                        padding-right: 0;
                        label {
                            display: none;
                        }


                        & + .field {
                            margin-bottom: 1.5rem;
                        }
                    }
                }
            }
        }




        .checkout-shipping-address{

            .heading-group {
                display: table;
                width: 100%;
                padding-bottom: 3rem;
                margin-bottom: 3rem;
                position: relative;

                &:after {
                    content: '';
                    height: 1px;
                    background: @c-graylight;
                    position: absolute;
                    bottom:0;
                    left: -3rem;
                    right: -3rem;
                }
            }

            .step-title{
                border-bottom: 0;
                font-weight: 600;
                font-family: @heading__font-family__base;
                font-size: 2rem;
                padding: 0;
            }
            .step-content{
                margin: 0;
            }

            .step-title,
            .button-group{
                display: table-cell;
                vertical-align: middle;
            }

            .button-group {
                text-align: right;
            }

            .action{
                .lib-button-primary();
                .btn();
                vertical-align: top;
                margin-bottom: 0;
                &.action-show-popup{
                    margin-left: 15px;
                }
                &:active,
                &:focus {
                    background: #000;
                }
            }
        }

        .methods-shipping {
            & > * {
                display: inline-block;
                vertical-align: bottom;
            }

            .actions-toolbar {
                text-align: right;
                width: 38%;

                div.primary {
                    float: none;
                    width: 95%;
                }

                button.primary {
                    float: none;
                    width: 100%;
                    &:active,
                    &:focus {
                        background: #000;
                    }
                }
            }

            .table-checkout-shipping-method {
                .row {
                    display: table-row;
                }
            }
        }

        .payment-option {
            &-title {
                .action-toggle {
                    &:after {
                        .lib-css(color, @icon-color);
                    }
                }
            }
        }

        .form-discount {
            position: relative;

            .input-text {
                height: 50px;
            }
            .actions-toolbar {
                .action {
                    position: absolute;
                    margin-right: 0;
                    top: 0;
                    right: 0;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    padding: 0;
                    margin: 0;

                    span {
                        .lib-visibility-hidden();
                    }

                    &:before {
                        content: @icon-chevron-thin-right;
                        font-family: @icons__font-name_ps;
                    }
                }
            }
        }


        .checkout-payment-method {

            .payment-method {
                & + .payment-method {
                    .payment-method-title {
                        border-color: @c-graylight;
                    }
                }
            }
            .payment-method-content {
                .fieldset {
                     > .field.type {
                         .control {
                             margin-left: 0;
                         }
                     }
                }
            }
            .ccard {
                .cvv {
                    .control._with-tooltip {
                        width: 85px;
                    }
                }
            }

            .field-select-billing,
            .billing-address-form {
                max-width: 100%;
            }
        }
    }

    .checkout-index-index {



        .opc-sidebar {
            margin: 0;
            .modal-header {
                padding: 0;
                border: 0;
            }
            .modal-content {
                border: 0;
                .br-radius(0);
            }

            .items-in-cart {
                padding: 20px 60px 20px 20px;
                margin-bottom: 0;
            }

            .total-wrap {
                border: 1px solid @c-graylight;
                padding: 20px 60px 20px 20px;
            }

            .opc-block-shipping-information {
                border: 1px solid @c-graylight;
                padding: 20px;

                .shipping-information-title {
                    font-size: 2rem;
                    font-weight: @font-weight__bold;
                }
            }

            .product-item {
                .subtotal {
                    width: 20%;
                }
            }

            .action {
                &-edit {
                    &:before {
                        content: @icon_edit;
                        font-family: @icons__font-name_ps;
                    }
                }
            }

            .opc-block-summary {
                background-color: @color-white;
                margin: 0;
                padding: 0;
                > span.title {
                    padding: 1.8rem;
                    background-color: @c-primary_color;
                    border: 1px solid @c-primary_color;
                    text-align: center;
                    font-family: @heading__font-family__base;
                    color: @color-white;
                    font-weight: 600;
                    border-bottom: 0;
                    font-size: 2rem;
                }
                .items-in-cart {
                    border: 1px solid @c-graylight;
                    border-top: 0;
                    .title {
                        display: none;
                    }
                }
            }
            .minicart-items {
                display: block !important;
                .minicart-items-wrapper {
                    max-height: 100%;
                    padding: 0;
                    margin: 0;
                }
                .product-item {
                    border: 0;
                    padding: 20px 0;
                    &:first-child {
                        padding-top: 0;
                    }
                    .product-image-container {
                        min-height: auto;
                        padding: 0;
                    }
                    .product-image-wrapper {
                        border: 1px solid @c-graylight;
                    }
                    .product-item-details {
                        padding-left: 68px;
                        .product-item-inner {
                            margin: 0;
                        }
                    }
                    .product-item-name-block {
                        padding: 0;
                        .flex();
                        justify-content: space-between;
                        .product-item-name {
                            font-family: @heading__font-family__base;
                            font-weight: 600;
                            margin-bottom: 10px;
                            .lib-font-size(@font-size__s);
                            width: 70%;
                        }
                    }
                    .details-qty {
                        margin-top: 0;
                        font-weight: @font-weight__bold;
                        .label,
                        .value {
                            font-family: @heading__font-family__base;
                            color: @c-text_sec_color;
                        }
                    }
                    .subtotal {
                        .price {
                            font-family: @heading__font-family__base;
                            font-weight: 600;
                            font-size: 1.4rem;
                        }
                    }
                    .product.options {
                        .toggle {
                            span {
                                color: @c-text_sec_color;
                            }
                            &::after {
                                color: @c-text_sec_color;
                                font-size: 35px;
                            }
                        }
                        dl {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

}



.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl + 1) {
    .checkout-index-index {
        .opc-sidebar {
            .total-wrap,
            .items-in-cart,
            .opc-block-shipping-information {
                padding: 3rem 6.5rem 8rem 6.5rem;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @c-desk) {

    .opc-wrapper {
        .fieldset.address {
            .flex();
            margin-left: -15px;
            margin-right: -15px;
            margin-bottom: 0;
            .field {
                .flex-width(50%);
                padding-left: 15px;
                padding-right: 15px;
                margin-bottom: 1.5rem;
                &:nth-child(3) {
                    .flex-width(100%);
                }

                &.choice {
                    .flex-width(100%);
                }
            }
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .checkout-index-index {
        .opc-wrapper,
        .opc-sidebar {
            width: ~"calc(50% - 20px)";
        }

        .opc-sidebar {
            margin-left: 40px;
            margin-top: 0;
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m + 1) {
    .checkout-index-index {
        .header.content {
            text-align: center;
        }
        .page-wrapper {
            .minicart-wrapper {
                position: static;
                .action.showcart {
                 position: static;
                }
            }
        }

        header.page-header{
            border: none;
            & ~ .page-main {
                margin-top: 20px;
            }
        }

        .checkout-container {
            margin-top: 0;
        }

        .opc-estimated-wrapper {
            padding: 18px 0;
            margin-bottom: 0;
            border: none;
        }

        .opc-progress-bar {
            display: none;
        }
        .opc-sidebar {
            &.opc-summary-wrapper {
                width: 100%;
                .minicart-items {
                    .product-item {
                        .product-item-name-block {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m ) {

    .multishipping-checkout-addresses {
        .multicheckout {
            .actions-toolbar {
                .action {
                    margin-left: 0;
                    margin-bottom: 20px;
                }

                .primary {
                    margin-right: 0;
                }

                .secondary {
                    .action {
                        margin-left: 0;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

    .checkout-index-index {
        .addresses {
            .shipping-address-items {
                .shipping-address-item {
                    .flex-width(100%);
                }
            }
        }

        .methods-shipping {
            #checkout-shipping-method-load {
                width: 100%;
            }
        }

        .opc-wrapper {
            .checkout-shipping-address {
                .heading-group{
                    display: block;
                    .step-title {
                        display: block;
                        margin-bottom: 20px;
                        font-weight: bold;
                    }
                    &:after{
                        left: -20px;
                        right: -20px;
                    }

                    .button-group {
                        display: block;
                        .action {
                            display: block;
                            width: 100%;
                            margin-left: 0;

                            & + .action {
                                margin-top: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m + 1) {

    .opc-wrapper{
        padding: 3rem;
        border: 1px solid @c-graylight;
        .opc{
            .form-login,
            .form-shipping-address{
                max-width: 100%;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .billing-address-form,
            .form-shipping-address {
                .street {
                    &.field {
                        .flex-width(100%);
                    }
                    .control {
                        .field {
                            .flex-width(100%);
                            padding: 0;
                            label {
                                display: inline;
                            }



                        }
                    }
                }
            }

            .fieldset > {
                .field._required >,
                .field >{
                    .label{
                        &::after{
                            margin-left: 5px;
                            top: 2px;
                        }
                    }
                }
            }

        }

        .methods-shipping {
            .table-checkout-shipping-method {
                td {
                  &.col {
                      width: percentage(1/4);
                  }
                }
            }
        }
    }

    .field{
        .control._with-tooltip{
            input{
                width: 100%;
                margin-right: 0;
            }
        }
    }

    .field-tooltip{
        right: 8px;
        .field-tooltip-content{
            border: 1px solid @c-graylight;
            background-color: @color-white;
            top: -4px;
            &::after,
            &::before{
                border-right-color: @c-graylight;
            }
        }
    }

}