// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________



//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Minicart
    //  ---------------------------------------------
    .confirm {
        .modal-content {
            border: none;
            padding: 20px;
        }
    }

    .page-wrapper {
        .minicart-wrapper {
            position: fixed;
            top: 150px;
            right: 0%;
            z-index: 100;
            .transition(all 0.5s ease 0s);

            .action.showcart {
                height: 55px;
                width: 55px;
                padding: 0;
                background: @color-white;
                z-index: 3;
                color: transparent;
                white-space: nowrap;
                .br-radius(5px);
                .flex() !important;
                justify-content: center;
                align-items: center;
                box-shadow: 0 4px 30px rgba(0, 0, 0, .17);

                .counter.qty {
                    background: @c-hover_color;
                    width: 32px;
                    height: 32px;
                    line-height: 32px;
                    position: absolute;
                    top: -20px;
                    right: -16px;
                    .br-radius(50%);
                    text-align: center;
                    display: block;

                }

                .counter-number {
                    color: @color-white;
                    font-size: @font-size__s;
                }

                .text {
                    display: none;
                }

                &:before {
                    content: '\e901';
                    font-family: @icons__font-name_ps;
                    color: #000;
                    width: 32px;
                    height: 32px;
                    line-height: 32px;
                    display: block;
                    font-size: 20px;
                    text-align: center;

                }
            }

            .action.showcart,
            .block-minicart {
                position: fixed;
                right: 60px;
                -webkit-transition: -webkit-transform .2s;
                transition: -webkit-transform .2s;
                transition: transform .2s;
                transition: transform .2s, -webkit-transform .2s;
                -webkit-transform: translateZ(0);
                transform: translateZ(0);
                -webkit-backface-visibility: hidden;
                will-change: transform;
                backface-visibility: hidden;

            }

            .ui-dialog {
                display: block !important;
            }

            .block-minicart {
                margin-bottom: 0;
                background: transparent;
                z-index: 2;
                width: 90%;
                max-width: 440px;
                height: 400px;
                max-height: 90%;
                pointer-events: none;
                min-width: auto;
                display: block;
                border: none;
                .box-shadow(none);
                top: auto;
                margin-top: 0;
                
                &:before, &:after {
                    display: none;
                }


                .block-title {
                    display: none;
                }


                .action.close {
                    height: 30px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 25px;
                    background-image: none;
                    background: none;
                    -moz-box-sizing: content-box;
                    border: 0;
                    box-shadow: none;
                    line-height: inherit;
                    margin: 0;
                    padding: 0;
                    text-shadow: none;
                    font-weight: 400;
                    display: inline-block;
                    text-decoration: none;
                }

            }



            .minicart-content-wrap {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 2;
                overflow: hidden;
                height: 55px;
                width: 55px;
                border-radius: 6px;
                -webkit-transition: height .4s .1s, width .4s .1s, box-shadow .3s;
                transition: height .4s .1s, width .4s .1s, box-shadow .3s;
                -webkit-transition-timing-function: cubic-bezier(.67, .17, .32, .95);
                transition-timing-function: cubic-bezier(.67, .17, .32, .95);
                background: #fff;
                box-shadow: 0 4px 30px rgba(0, 0, 0, .17);
                pointer-events: auto;

                .subtitle.empty {
                    opacity: 0;
                    visibility: hidden;
                    .transition(all 0.5s ease 0.2s);
                }

                .items-total {
                    display: none;
                }

                .subtotal {
                    position: absolute;
                    bottom: 49px;
                    left: 0;
                    right: 0;
                    .flex();
                    justify-content: flex-end;
                    align-items: center;
                    margin: 0;
                    padding: 20px 40px;
                    font-weight: bold;

                    .amount {
                        margin-left: 10px;
                    }
                    .label,
                    .price-wrapper .price {
                        font-size: 1.6rem;

                    }

                }

                .block-content {
                    height: 100%;
                    > .actions {
                        margin-top: 0;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;

                        > .primary {
                            margin: 0;
                            display: none;
                            .action.primary {
                                font-size: 14px;
                            }
                        }

                        .viewcart {
                            /*.button();*/
                            display: block;
                            font-size: 14px;
                            .br-radius(0);
                        }
                    }

                }

            }

            .minicart-items-wrapper {
                margin: 10px 0 0;
                overflow-y: auto;
                overflow-x: hidden;
                height: ~"calc(100% - 120px)" !important;
                border-top: none;

                li {
                    position: relative;
                    margin-bottom: 0;
                    opacity: 0;
                    .transform(translateX(80px));
                    -webkit-transition: opacity 0s .2s, -webkit-transform 0s .2s;
                    transition: opacity 0s .2s, -webkit-transform 0s .2s;
                    transition: opacity 0s .2s, transform 0s .2s;
                    transition: opacity 0s .2s, transform 0s .2s, -webkit-transform 0s .2s;

                    &:not(:first-child) {
                        border-top-color: @c-graylight;
                    }
                }

                .product-item-details {
                    padding-left: 58px;
                    .product-item-name {
                        a {
                            .lib-css(color, @color-black);
                            display: block;
                            padding-right: 50px;

                            &:hover {
                                .lib-css(color, @c-primary_color);
                            }
                        }
                    }

                    .options {
                        .label {
                            /*.lib-css(color, @color-blue);*/
                        }

                        &.list {
                            margin-bottom: 0;
                        }
                    }

                    .price-container {
                        .price {
                            /*.lib-css(color, @color-red);*/
                        }
                    }

                    .qty {
                        .qty();
                        .label {
                            margin-right: 10px;
                        }

                        .cart-item-qty {
                            font-size: 1.2rem;
                            width: 40px;
                            color: #000;
                            font-weight: @font-weight__bold;
                        }

                        /*button,
                        .item-qty{
                            float: left;
                            margin-left: -1px;
                        }

                        button {
                            width: 40px;
                            height: 40px;
                            background: transparent;
                            !*border-color: @color-gray;*!
                            display: inline-block;
                            vertical-align: top;
                            .box-shadow(none);

                        }
                        .item-qty {
                            margin-right: 0;
                            .br-radius(0);
                            height: 40px;
                        }*/

                        .update-cart-item {
                            &:before {
                                font-family: @icons__font-name_ps;
                                content: '\e912';
                                /*color: @color-textcolor;*/
                            }
                            span {
                                display: none;
                            }
                        }
                    }
                }


                .actions {
                    position: absolute;
                    right: 0px;
                    margin-top: -30px;
                    bottom: 20px;
                }

                .action {

                    &:before {
                        color: @icon-color;
                    }

                    &:hover {
                        &:before {
                            color: @color-black;
                        }
                    }
                    &.edit {
                        &:before {
                            content: @icon_edit;
                            font-family: @icons__font-name_ps;
                            font-size: 15px;
                        }
                    }

                    &.delete {
                        &:before {
                            font-size: 30px;
                        }
                    }
                }

                .action.edit,
                .action.delete{
                }

            }

            &.active .minicart-content-wrap {
                height: 100%;
                width: 100%;
                -webkit-transition-delay: 0s;
                transition-delay: 0s;

                .subtitle.empty {
                    opacity: 1;
                    visibility: visible;
                }

                .minicart-items-wrapper {

                    li {
                        -webkit-transition: opacity .3s .2s, -webkit-transform .3s .2s;
                        transition: opacity .3s .2s, -webkit-transform .3s .2s;
                        transition: transform .3s .2s, opacity .3s .2s;
                        transition: transform .3s .2s, opacity .3s .2s, -webkit-transform .3s .2s;
                        opacity: 1;
                        -webkit-transform: translateX(0);
                        -ms-transform: translateX(0);
                        transform: translateX(0);
                    }
                }
            }

        }
    }
}



@media screen and (max-width: 1023px) and (orientation: landscape) {
    .cart-opened {
        .page-wrapper {
            .minicart-wrapper {
                top: 15px;
            }
        }
    }
}




//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m + 1)  {
    .page-wrapper {
        .page-header {
            .minicart-wrapper {
                top: 100px;
                .action.showcart,
                .block-minicart {
                    right: 22px;

                }
                .minicart-items {
                    .product-item-details {
                        .qty {
                            button {
                                width: 35px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .minicart-wrapper .block-minicart {
        width: 290px;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .minicart-wrapper {
        margin-top: @indent__s;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .minicart-wrapper {
        margin-left: 13px;

        .block-minicart {
            right: -15px;
            width: 390px;
        }
    }
}
