<!--@subject [SHOPCSN BLOG] {{var title}}   @-->


{{template config_path="design/email/header_template"}}

        <tr>
            <td>
                <table class="flexible" width="640" align="center" style="margin:0 auto; background: #fff;" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="padding:29px 30px 30px;">
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <th class="flex" width="113" align="left" style="padding:0;">
                                        <table class="center" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="line-height:0;">
                                                    <img src="{{view url='images/email/thanks.jpg'}}" alt="" />
                                                </td>
                                            </tr>
                                        </table>
                                    </th>
                                    <th class="flex" align="left" style="padding:0;">
                                        <table width="100%" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td data-color="text" data-size="size navigation" data-min="10" data-max="22" data-link-style="text-decoration:none; color:#000;" class="nav" align="right" style="font:13px/15px Tahoma, Arial, Helvetica, sans-serif; color:#000;">
                                                    <div style="font-weight: bold; font-size: 16px;">SHOPCSN BLOG</div>
                                                </td>
                                            </tr>
                                        </table>
                                    </th>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- module 2 -->
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td data-bgcolor="bg-module">
                <table class="flexible" width="640" align="center" style="margin:0 auto; background: #24438d; text-align: center;" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="img-flex" style="font-weight: bold; font-size: 20px; color: #fff;" height="180">
                            <img src="{{view url='images/email/icon_tick.png'}}" alt="" style="display: inline-block; vertical-align: middle;" /> {{var title}} 
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <table class="flexible" width="640" align="center" style="margin:0 auto; background: #fff; padding:30px; line-height: 30px;" cellpadding="0" cellspacing="0">
                    <tr>
                        <td colspan="3" class="" style="font-size: 14px;">
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <p class="greeting">Hi Subscriber</p>
                                        <p>
                                           {{trans 'You recently signed up to be notified of new posts on our blog. So here\'s our next one ...' }}
                                        </p>
                                        <p><a href='{{store url="blog/post/"}}{{var url_key}}'>{{var title}}</a><br/></p>
                                        <p>{{var short_content |raw }} <a href='{{store url="blog/post/"}}{{var url_key}}'>Read More</a></p>
                                        <p>If you wish to unsubscribe please click on the link below: <a href='{{store url="newsletter/subscriber/unsubscribe/id/"}}{{trans 'id/'}}{{var id}}{{trans '/code/'}}{{var code}}{{trans '/_nosid/true'}}'>Click Here</a></p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

{{template config_path="design/email/footer_template"}}
