<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\ConfigurableProduct\Model\ResourceModel\Attribute\OptionSelectBuilderInterface">
        <plugin name="Magento_ConfigurableProduct_Plugin_Model_ResourceModel_Attribute_InStockOptionSelectBuilder" type="Ziffity\StockStatus\Plugin\Model\ResourceModel\Attribute\InStockOptionSelectBuilder"/>
    </type>
    <preference for="Magento\ConfigurableProduct\Model\ConfigurableAttributeData" type="Ziffity\StockStatus\Model\ConfigurableAttributeData" />
    <preference for="Magento\ConfigurableProduct\Block\Product\View\Type\Configure" type="Ziffity\StockStatus\Block\Product\View\Type\Configure" />
</config>
