<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="design">
            <group id="socialprofiles" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Social Profiles URLs</label>
                <field id="social_facebook" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Facebook</label>
                    <comment>Example: https://www.facebook.com/somethingdigitl</comment>
                </field>
                <field id="social_twitter" translate="label comment" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Twitter</label>
                    <comment>Example: https://twitter.com/somethingdigitl</comment>
                </field>
                <field id="social_instagram" translate="label comment" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Instagram</label>
                    <comment>Example: https://www.instagram.com/somethingdigitl</comment>
                </field>
                <field id="social_pinterest" translate="label comment" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pinterest</label>
                    <comment>Example: https://www.pinterest.com/pinterest/</comment>
                </field>
                <field id="social_googleplus" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Plus</label>
                    <comment>Example: https://plus.google.com/+google</comment>
                </field>
                <field id="social_houzz" translate="label comment" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Houzz</label>
                    <comment>Example: https://www.houzz.com/pro/brand/brand</comment>
                </field>
                <field id="social_snapchat" translate="label comment" type="text" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Snpachat</label>
                    <comment>Example: http://www.snapchat.com/add/intradox</comment>
                </field>
                <field id="social_linkedin" translate="label comment" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>LinkedIn</label>
                    <comment>Example: https://www.linkedin.com/company/something-digital</comment>
                </field>
                <field id="social_youtube" translate="label comment" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Youtube</label>
                    <comment>Example: https://www.youtube.com/user/SomethingDigitalNYC</comment>
                </field>
            </group>
            <group id="headerlinks" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Custom Header Links</label>
                <field id="contact_link" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Contact</label>
                    <comment>Example: /contact</comment>
                </field>
                <field id="about_link" translate="label comment" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>About</label>
                    <comment>Example: /about</comment>
                </field>
            </group>
        </section>
        <section id="customer">
            <group id="create_account">
                <field id="subscribe_by_default" translate="label" type="select" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Subscribe to Newsletter by Default</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
        <section id="google">
            <group id="verification" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Google Verification Meta Tag</label>
                <field id="verification_tag" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Verification Tag</label>
                    <comment>Example: GR0007litdSK5Pu0zIERH4vRYJkcnStTp6SsA6FNkvU. The verification tag will be added to the site's HEAD element.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
