//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .sub-category-view {
        li {
            -webkit-transition: all .7s ease;
            transition: all .7s ease;
            margin-bottom: 2rem;
            border-radius: 10px;
            &:hover {
                -webkit-transition: all .7s ease;
                transition: all .7s ease;
                box-shadow: 5px 8px 12px 3px rgba(220, 224, 236, 0.64);
                .list-content {
                    background: #fff;
                    border: 1px solid @color-lines;
                    border-left: 0;
                }
            }
            > div {
                width: 50%;
            }
        }
        .list-image {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background-color: #fbfbfb;
            overflow: hidden;
            /*min-height: 200px;*/
            img {
                width: 100%;
            }
        }
        .list-content {
            background: @color__ghostwhite;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border: 1px solid transparent;
            border-left: 0;
            padding: 20px;
            display: -ms-flexbox;
            display: flex;
            flex-flow: column;
            /*min-height: 250px;*/
            -webkit-transition: background .5s ease;
            transition: background .5s ease;
            h5 {
                margin-top: .5rem;
            }
        }
        [data-content-type='row'][data-appearance='contained'] [data-element='inner'] {
            padding: 0 !important;
            margin: 0 !important;
        }
        .actions {
            margin: 2rem 0 .5rem;
        }
        .desc {
            line-height: 1.6;
            flex-grow: 1;
             > :first-child {
                overflow: hidden;
                max-height: 150px;
            }
        }
    }
    .gallery-container {
        .slick-slide img {
            width: 100%;
        }
    }

    .category-index-index {
        .page-wrapper .breadcrumbs {
            margin-bottom: 0;
        }
    }
    .clp-titledesc {
        padding: 20px 40px 10px;
        border: 1px solid @color-lines;
        border-radius: 10px;
        box-shadow: -1px 8px 20px 2px rgba(0, 0, 0, 0.1);
        top: -50px;
        position: relative;
        z-index: 1;
        background: #fff;
    }

    .category-description {
        [data-content-type='row'][data-appearance='contained'] [data-element='inner'] {
            padding: 0 !important;
            margin: 0 !important;
        }
    }

    .clpdesc {
        max-width: 1260px;
    }
    /*    .clp-banner {
            .slide {
                height: 300px;
            }
        }*/
    .morecontent span {
        display: none;
    }
    .morelink {
        display: block;
        margin-top: 10px;
    }

    .new-trend-slider, .clp-banner {
        opacity: 0;
        &.slick-initialized {
            opacity: 1;
        }
    }
    
    .new-trend-wrap {
        margin-bottom: -40px;
        .product-item {
            padding-bottom: 40px;
        }
    }

    .new-trend-products {
        .product-image-wrapper {
            padding-bottom: 100% !important;
        }
        .slick-slider .slick-arrow {
            background: @theme__color__primary;
            -webkit-transition: all 0.5s ease 0s;
            transition: all 0.5s ease 0s;
            z-index: 2;
        }
        .slick-list .slick-slide[aria-hidden="true"] {
            opacity: 0.6;
        }
        .price-box {
            min-height: 20px;
        } 
    }

    .shop-by-brand {
        max-width: 960px;
        margin: 0 auto;
        img  {
            display: inline-block;
            max-height: 80%;
        }
        figure {
            text-align: center;
            padding: 3rem;
            border: 1px solid @color-lines;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 10px 20px;
            position: relative;
            -webkit-transition: box-shadow .7s ease;
            transition: box-shadow .7s ease;
            &:hover {
                box-shadow: 4px 8px 10px 3px rgba(220, 224, 236, 0.64);
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                &:before {
                    border-top: 6px solid @theme__color__primary;
                }
            }
            &:before {
                -webkit-transition: border .7s ease;
                transition: border .7s ease;
                content: '';
                position: absolute;
                top: 0;
                left: -1px;
                right: -1px;
                border: 0;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @c-desk) {
    .sub-category-view .sub-cat {
        padding: 0;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @c-desk) {
    /*    .clp-banner {
            .slide {
                height: 420px;
            }
        }*/
    .clp-titledesc { 
        top: -60px;
    }
    .new-trend-products {
        max-width: 1340px;
        margin: 0 auto;
        padding-left: 40px;
        padding-right: 40px;
        .slick-prev {
            left: -40px;
        }
        .slick-next {
            right: -40px;
        }
    }
    .shop-by-brand {
        figure {
            min-height: 150px;
        }
    }
    .sub-category-view .desc > :first-child {
        max-height: 130px;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .new-trend-products {
        .slick-prev {
            left: -60px;
        }
        .slick-next {
            right: -60px;
        }
    }
    .sub-category-view {
        .list-content { 
            min-height: 300px;
        }
        .action.primary {
            padding: 12px 30px;
        }
    }
    .clp-titledesc {
        padding: 30px 60px 10px;
        /*top: -100px;*/
    }
    /*    .clp-banner {
            .slide {
                height: 500px;
            }
        }*/
    .shop-by-brand {
        figure {
            min-height: 200px;
        }
    }
    .sub-category-view .desc > :first-child {
        max-height: 160px;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .sub-category-view {
        .sub-cat {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }
        li {
            width: calc(~'50% - 1rem');

            &:nth-of-type(odd) {
                margin-right: 2rem;
            }
        }
        .list-content {
            padding: 30px
        }
    }

    /*    .clp-banner {
            .slide {
                height: 350px;
            }
        }*/
    .sub-category-view .desc > :first-child {
        max-height: 85px;
    }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .clp-titledesc {
        text-align: center;
    }
    .new-trend-wrap {
        &.inner-container {
            padding: 0;
        }
    } 
    .new-trend-slider {
        overflow: hidden;
    }
    .new-trend-slider {
        padding-right: 20%;
        .slick-list {
            overflow: visible;
        }
    }
    .outer-arrow {
        .slick-arrow {
            height: 30px;
            width: 30px;
            z-index: 2;
        }
        .slick-prev {
            left: -2.5rem;
        }
        .slick-next {
            right: -2.5rem;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @c-mob) {
    .sub-category-view {
        .list-image {
            border-radius: 0;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        li {
            display: block;
            border-radius: 8px;
            > div {
                width: 100%;
            }
        }
        .list-content {
            border-radius: 0;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            min-height: auto;
            padding: 15px;
            border: 1px solid @color-lines;
            border-top: 0;
        }
        h5 {
            margin-bottom: 1.3rem;
        }
        .list-image {
            min-height: 180px;
        }
    }
    .clp-titledesc {
        padding: 20px 20px 5px;
        top: -30px;
        h2 {
            margin-bottom: 1rem;
        }
    }
    /*    .clp-banner {
            .slide {
                height: 250px;
            }
        }*/
    .shop-by-brand {
        figure {
            min-height: 100px;
            padding: 2rem;
        }
    }
}
