//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .price-box {
        .price-label {
            display: none;
        }
    }

    .products-grid {
        .product-items {
            margin-left: -10px;
            margin-right: -10px;
        }
    }

    .product {

        &-item-info {
            border: 1px solid @color-lines;
            padding: 20px; 
            .transition(all 0.5s ease 0s);

            &:hover {
                box-shadow: 0 0px 10px 5px fadeout(@color-lines, 20%);
            }

            .price {
                color: @theme__color__primary;
            }
        }

        &-item-name {
            a {
                &:hover {
                    text-decoration: none;
                    color: @theme__color__primary;
                }
            }
        }

        .product-item-actions {
            .action {
                &s-secondary {
                    .action.towishlist {
                        .lib-icon-font(
                        @_icon-font-content: @icon-heart,
                            @_icon-font: @icon__font-name,
                            @_icon-font-size: 16px,
                            @_icon-font-line-height: 20px,
                            @_icon-font-color: @icon-font__color,
                            @_icon-font-color-hover: @theme__color__primary,
                            @_icon-font-color-active: @header-icons-color-hover,
                            @_icon-font-text-hide: true
                            );
                    }
                }
            }
        }
    }

    .products {
        &-grid {
            .product {
                &-item {
                    padding: 10px;
                }
                &-item-info {
                    text-align: center;
                    .br-radius(10px);
                    position: relative;
                    overflow: hidden;
                    width: 100%;


                    .swatch-attribute {
                        display: none;
                    }

                    &:hover {

                        .product-item-actions {
                            .action {
                                &s-primary {
                                    bottom: 2px;
                                }

                                &.towishlist {
                                    top: 10px;
                                }
                            }
                        }
                    }
                }

                &-item-name {
                    min-height: 45px;
                }

                .price-box {
                    margin-bottom: 0;
                }

                &-reviews-summary {
                    display: none;
                }

                &-item-inner {
                    .product-item-actions {
                        margin: 0;
                    }
                }

                &-item-actions {
                    .action {
                        &s-primary {
                            position: absolute;
                            width: 98%;
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                            background: @color-white;
                            padding: 30px 0;
                            bottom: -100%;
                            .transition(all 0.5s ease 0s);
                        }

                        &.primary {
                            .br-radius(5px);
                        }

                        &.towishlist {
                            position: absolute;
                            z-index: 99;
                            top:  -100%;
                            right: 10px;
                            .transition(all 0.5s ease 0s);
                        }
                        &.tocompare {
                            display: none;
                        }
                    }
                }



            }
        }
    }


}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @c-desk) {
    .page-products {
        .products-grid {
            .product-item {
                width: calc(~'100% / 4');
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-products {
        .products-grid {
            .product-item {
                width: calc(~'100% / 2');
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .products{
        &-grid {
            .product-item{
                .actions-primary {
                    display: none;
                } 
            }
        }
    }            

}
