//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .page-products {
        .ln_overlay {
            width: 100%;
            height: 100%;
            .loader {
                .flex();
                align-items: center;
                justify-content: center;
                height: 100%;
            }
            img {
                position: static;
                margin: 0;
            }
        }

        .category-view {
            .page-main {
                padding: 0;
            }

            .category-image {
                position: relative;
                overflow: hidden;
                .br-radius(10px);
                margin-bottom: 20px;
                background-color: @theme__color__primary;
                background-repeat: no-repeat;
                background-position: top;
                background-size: cover;

                .page-title-wrapper {
                    position: absolute;
                    top: 50%;
                    left: 50px;
                    .transform(translateY(-50%));

                    .page-title {
                        color: @color-white;
                        margin-bottom: 0;
                        font-weight: 700;
                    }
                }

                &.no-image img {
                    min-height: 100px;
                    display: inline-block;
                    object-fit: cover;
                    object-position: right;
                }
            }

            .category-description {
                padding: 25px;
                border: 1px solid @color-lines;
                border-radius: 10px;
                margin: 20px 0;

                p {
                    margin-bottom: 0;

                    & + p {
                        margin-top: 15px;
                    }
                }
            }
        }
    }


    .price-box {
        .price-label {
            display: none !important;
        }
    }

    .product {
        &-items {
            margin-left: -10px;
            margin-right: -10px;
            .product-item {
                padding: 10px;
            }
        }
    }

    .product {

        &-item-info {
            border: 1px solid @color-lines;
            padding: 20px; 
            .transition(all 0.5s ease 0s);
            .br-radius(10px);

            &:hover {
                box-shadow: 0px 15px 25px 0 rgba(0, 0, 0, 0.1);
            }

            .price {
                color: @theme__color__primary;
            }

            .product-reviews-summary {
                display: none;
            }

            .old-price {
                display: none;
            }

            .swatch-attribute {
                display: none;
            }
        }

        &-item-name {
            a {
                &:hover {
                    text-decoration: none;
                    color: @theme__color__primary;
                }
            }
        }

        .product-item-actions {
            .action {
                &s-secondary {
                    .action.towishlist {
                        .lib-icon-font(
                        @_icon-font-content: @icon-heart,
                            @_icon-font: @icon__font-name,
                            @_icon-font-size: 16px,
                            @_icon-font-line-height: 20px,
                            @_icon-font-color: @icon-font__color,
                            @_icon-font-color-hover: @theme__color__primary,
                            @_icon-font-color-active: @header-icons-color-hover,
                            @_icon-font-text-hide: true
                            );
                    }

                    .action.tocompare {
                        .lib-icon-font(
                        @_icon-font-content: @icon-compare,
                            @_icon-font: @icon__font-name,
                            @_icon-font-size: 16px,
                            @_icon-font-line-height: 20px,
                            @_icon-font-color: @icon-font__color,
                            @_icon-font-color-hover: @theme__color__primary,
                            @_icon-font-color-active: @header-icons-color-hover,
                            @_icon-font-text-hide: true
                            );
                        display: none;
                    }
                }
            }
        }
    }

    .products {
        &-list {
            .product-item-info {
                .flex();
                width: 100%;

                > .price-box {
                    display: none;
                }
            }

            .price-box {
                margin: 15px 0;
            }

            .product-item-description {
                margin: 15px 0 0;
            }

            .product-item-photo {
                width: auto;
                padding-bottom: 0;
                .flex-width(15%);
                padding-left: 10px;
                padding-right: 10px;
            }

            .product-item-details {
                .flex-width(55%);
                padding-left: 10px;
                padding-right: 10px;
            }

            .product-item-actions {
                .flex-width(30%);
                text-align: right;
                padding-left: 10px;
                padding-right: 10px;

                .actions-primary {
                    margin-bottom: 10px;
                    vertical-align: top;
                }

                .actions-secondary {
                    vertical-align: top;
                }

                .action {
                    &.towishlist {
                        width: 42px;
                        height: 42px;
                        border: 1px solid @color-lines;
                        .br-radius(4px);
                        margin-left: 10px;
                        color: @color-lines;

                        &:hover {
                            background: transparent;
                            border-color: @theme__color__primary
                        }
                    }
                }
            }
        }
        &-grid {
            .product {
                &-items:not(.slick-slider) {
                    .flex();
                    justify-content: center;
                }
                &-item {
                    width: 100%;
                }
                &-item-info {
                    text-align: center;
                    position: relative;
                    overflow: hidden;
                    width: 100%;
                    height: 100%;

                    &:hover {

                        .product-item-actions {
                            .action {
                                &s-primary {
                                    bottom: 2px;
                                }

                                &.towishlist {
                                    top: 10px;
                                }
                            }
                        }
                    }

                    .product-item-actions {
                        .actions-secondary {
                            .tocompare {
                                display: none;
                            }
                        }
                    }
                }

                &-item-name {
                    min-height: 45px;
                }

                .price-box {
                    margin-bottom: 0;
                    margin-top: 10px;
                }

                &-reviews-summary {
                    display: none;
                }

                &-item-inner {
                    .product-item-actions {
                        margin: 0;
                    }
                }

                &-item-actions {
                    margin: 0 !important;
                    .action {
                        &s-primary {
                            position: absolute;
                            width: 98%;
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                            background: @color-white;
                            padding: 30px 0;
                            bottom: -100%;
                            .transition(all 0.5s ease 0s);
                        }

                        &.primary {
                            .br-radius(5px);
                        }

                        &.towishlist {
                            position: absolute;
                            z-index: 99;
                            top:  -100%;
                            right: 10px;
                            .transition(all 0.5s ease 0s);
                        }

                    }
                }

            }
        }
    }

    .catalog-product_compare-index {
        .page-main {
            padding-top: 30px;
        }

        .action.print {
            margin-bottom: 20px;
            display: inline-block;
        }

        .comparison {
            .table-comparison {
                table-layout: auto;
                border: 1px solid @color-lines;
                tbody {
                    & +tbody {
                        border-top: 1px solid @color-lines;
                    }
                    tr {
                        th {
                            border-bottom: 1px solid @color-lines;
                        }
                        td {
                            border-right: 1px solid @color-lines;
                            border-bottom: 1px solid @color-lines;
                        }
                    }
                }

                .cell.label {
                    border-right: 1px solid @color-lines;
                }

                .cell.remove {
                    text-align: center;
                    border-right: 1px solid @color-lines;
                    padding: 15px;

                    .action {
                        &.delete {
                            margin-left: 15px;
                            .lib-icon-font(
                            @_icon-font-content: @icon-trash,
                                @_icon-font: @icon__font-name,
                                @_icon-font-size: 16px,
                                @_icon-font-line-height: 20px,
                                @_icon-font-color: @header-icons-color,
                                @_icon-font-color-hover: @header-icons-color-hover,
                                @_icon-font-color-active: @header-icons-color-hover,
                                @_icon-font-text-hide: true
                                );
                        }
                    }
                }

                .price-box,
                .product-reviews-summary {
                    margin: 0;
                }

                .product-item-actions {
                    > .actions-primary {
                        & + .actions-secondary {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }

    .search.results {
        .toolbar {
            margin-bottom: 20px;
        }
        .block {
            margin-bottom: 10px;
            .title {
                margin-bottom: 10px;
            }
            dd.item {
                display: inline-block;
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xl) {
    .products-grid {
        .product-items:not(.slick-slider) {
            .product-item {
                .flex-width(percentage(1/3));
            }
        }
    }

    .products-list {
        .product-item-info {
            padding: 10px;
        }
    }

    .page-products {
        .category-view {
            .category-image-wrapper {
                padding: 15%;
                .page-title-wrapper {
                    left: 30px;
                    .page-title {
                        font-size: 2.4rem;
                    }
                }
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    .page-products {
        .category-view {
            .category-description {
                padding: 15px;
            }
        }
    }
}



.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @c-tab) {
    .products-grid {
        .product-items:not(.slick-slider) {
            .product-item {
                .flex-width(percentage(1/2));
            }
        }
    }

    .product {
        .product-item-info {
            padding: 10px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-products {
        .layered-filter-block-container  {
            position: static;
        }
        .products-grid {
            .product-item {
                width: calc(~'100% / 2');
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @c-mob) {
    .product-items {
        margin-left: -5px;
        margin-right: -5px;
        .product-item {
            padding: 5px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .page-products {
        .category-view {
            .category-image {
                /*padding: 20px 20px 25%;*/
                .page-title-wrapper {
                    /*                    position: static;
                                        transform: none;*/
                    transform: none;
                    left: 15px;
                    top: 15px;
                    .page-title {
                        font-size: 2rem;
                    }
                }
            }
        }
    }

    page-products .category-view .category-description p {
        text-align: center;
    }

    .products-grid {
        .product-items:not(.slick-slider) {
            .product-item {
                .flex-width(percentage(1/2));
                &-info {
                    padding: 10px;
                }
            }
        }
    }


    .products{
        &-grid {
            .product-item{
                .actions-primary {
                    display: none;
                } 
            }
        }

        &-list {
            .product-item-info {
                padding: 10px;
                .product-item-photo  {
                    .flex-width(30%);
                }

                .product-item-details {
                    .flex-width(70%);
                    padding-left: 0;
                    padding-right: 0;
                }

                .product-item-actions {
                    .flex-width(100%);
                    padding-left: ~"calc(100% - 70%)";
                    text-align: left;
                }
            }
        }
    }
}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @c-desk) {
    .products-list {
        .product-item {
            &-info {
                .product-item-details {
                    .flex-width(45%);
                    max-width: 45%;

                    .price-box {
                        display: none;
                    }
                }
                > .price-box {
                    display: block;
                    .flex-width(10%);
                    max-width: 10%;
                    padding: 0 10px;
                    margin: 0;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .products-grid {
        .product-items:not(.slick-slider) {
            .product-item {
                .flex-width(percentage(1/4));
            }
        }
    }

    .products-list {
        .product-item-actions {
            .action.towishlist {
                width: 50px;
                height: 50px;
                line-height: 50px;
            }
        }
    }
}
