//
//  Common
//  _____________________________________________

& when (@media-common = true) {


    .category-info {
        padding: 30px 0;
        .flex();
        align-items: center;
        background-color: @theme__color__primary;
        position: relative;

        .category-image {
            position: absolute;
            opacity: 0;
        }

        .category-title {
            max-width: 650px;
            width: 100%;
            padding: 20px 35px;
            background: rgba(0,0,0,0.4);
            position: relative;
            z-index: 15;
        }

        .page-title {
            .lib-css(color, @color-white);
            margin-bottom:  10px;
        }

        .category-description {
            margin-bottom: 0;
            .lib-css(color, @color-white);
            font-size: @font-size__s;
        }

        & + .products {
            margin-top: 0;
        }
    }


    .price-box {
        .price-label {
            display: none;
        }
    }

    .page-products {
        .products-grid {
            .product-items {
                .flex();
                .product-item {
                    width: 100%;
                }
            }
        }
    }

    .product {
        &-items {
            margin-left: -10px;
            margin-right: -10px;
            .product-item {
                padding: 10px;
            }
        }
    }

    .product {

        &-item-info {
            border: 1px solid @color-lines;
            padding: 20px; 
            .transition(all 0.5s ease 0s);
            .br-radius(10px);

            &:hover {
                box-shadow: 0px 15px 30px 0 rgba(0, 0, 0, 0.1);
            }

            .price {
                color: @theme__color__primary;
            }

            .product-reviews-summary {
                display: none;
            }

            .old-price {
                display: none;
            }

            .swatch-attribute {
                display: none;
            }
        }

        &-item-name {
            a {
                &:hover {
                    text-decoration: none;
                    color: @theme__color__primary;
                }
            }
        }

        .product-item-actions {
            .action {
                &s-secondary {
                    .action.towishlist {
                        .lib-icon-font(
                        @_icon-font-content: @icon-heart,
                            @_icon-font: @icon__font-name,
                            @_icon-font-size: 16px,
                            @_icon-font-line-height: 20px,
                            @_icon-font-color: @icon-font__color,
                            @_icon-font-color-hover: @theme__color__primary,
                            @_icon-font-color-active: @header-icons-color-hover,
                            @_icon-font-text-hide: true
                            );
                    }

                    .action.tocompare {
                        .lib-icon-font(
                        @_icon-font-content: @icon-compare,
                            @_icon-font: @icon__font-name,
                            @_icon-font-size: 16px,
                            @_icon-font-line-height: 20px,
                            @_icon-font-color: @icon-font__color,
                            @_icon-font-color-hover: @theme__color__primary,
                            @_icon-font-color-active: @header-icons-color-hover,
                            @_icon-font-text-hide: true
                            );
                    }
                }
            }
        }
    }

    .products {
        &-list {
            .product-item-info {
                .flex();
                width: 100%;
            }
            .product-item-photo {
                width: auto;
                padding-bottom: 0;
                .flex-width(20%);
            }

            .product-item-details {
                .flex-width(80%);
            }

            .product-item-description {
                display: none;
            }

        }
        &-grid {
            .product {
                &-item-info {
                    text-align: center;
                    position: relative;
                    overflow: hidden;
                    width: 100%;

                    &:hover {

                        .product-item-actions {
                            .action {
                                &s-primary {
                                    bottom: 2px;
                                }

                                &.towishlist {
                                    top: 10px;
                                }
                            }
                        }
                    }

                    .product-item-actions {
                        .actions-secondary {
                            .tocompare {
                                display: none;
                            }
                        }
                    }
                }

                &-item-name {
                    min-height: 45px;
                }

                .price-box {
                    margin-bottom: 0;
                }

                &-reviews-summary {
                    display: none;
                }

                &-item-inner {
                    .product-item-actions {
                        margin: 0;
                    }
                }

                &-item-actions {
                    .action {
                        &s-primary {
                            position: absolute;
                            width: 98%;
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                            background: @color-white;
                            padding: 30px 0;
                            bottom: -100%;
                            .transition(all 0.5s ease 0s);
                        }

                        &.primary {
                            .br-radius(5px);
                        }

                        &.towishlist {
                            position: absolute;
                            z-index: 99;
                            top:  -100%;
                            right: 10px;
                            .transition(all 0.5s ease 0s);
                        }

                    }
                }

            }
        }
    }

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xl) {
    .page-products {
        .products-grid {
            .product-items {
                .product-item {
                    .flex-width(percentage(1/3));
                }
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @c-desk) {
    .page-products {
        .products-grid {
            .product-item {
                width: calc(~'100% / 4');
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-products {
        .products-grid {
            .product-item {
                width: calc(~'100% / 2');
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .page-products {
        .products-grid {
            .product-items {
                .product-item {
                    .flex-width(percentage(1/2));
                }
            }
        }
    }

    .products{
        &-grid {
            .product-item{
                .actions-primary {
                    display: none;
                } 
            }
        }
    }            

}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .page-products {
        .products-grid {
            .product-items {
                .product-item {
                    .flex-width(percentage(1/4));
                }
            }
        }
    }
}
