//
//  Common
//  _____________________________________________

.qty() {
    .qtyminus {
        .br-radius(3px 0 0 3px);
    }
    .qtyplus {
        .br-radius(0 3px 3px 0);
    }
    .qtyminus,
    .qtyplus {
        width: 40px;
        height: 40px;
        border: 1px solid @color-lines;
        font-weight: bold;
        background: transparent;
        color: @color-dgray;
        font-size: 20px;
        display: inline-block;
        vertical-align: top;
    }
    .item-qty,
    .input-text.qty {
        width: 50px;
        height: 40px;
        position: relative;
        z-index: 1;
        .br-radius(0);
        margin-left: -1px;
        margin-right: -1px;
        color: @theme__color__secondary;
        margin-bottom: 0;
    }

    div.mage-error[generated] {
        position: absolute;
        top: 100%;
        margin: 0;
        display: none !important;
    }
}

& when (@media-common = true) {

    .catalog-product-view .price-box .old-price .price {
        color: #687792;
    }

    .catalog-product-view .old-price {
        margin-left: 10px;
    }

    .product-info-price 
    .catalog-product-view {
        .products-grid .product-items:not(.slick-slider) {
            justify-content: center;
        }
    }
    .additional-attributes {
        .data img {
            width: 50px;
        }
    }

    .product.attribute.description .value {
        white-space: pre;
        white-space: pre-line;
        word-wrap: break-word;
        ul {
            padding-left: 15px;
            li {
                margin-bottom: -13px;
            }
        }
        br {
            display: none;
        }
    }

    // config slide
    .custom-options-container.slide {
        position: fixed;
        top: 0;
        right: 0;
        padding: 25px;
        background: #fff;
        bottom: 0;
        opacity: 0;
        -webkit-transform: translateX(101%);
        transform: translateX(101%);
        -webkit-transition: .5s ease;
        transition: .5s ease;
        width: 310px;
        overflow-y: auto;
        z-index: 1000;
        .swatch-option {
            margin-right: 10px;
        }
        .box-tocart {
            display: block;
            .actions, .field.qty {
                display: block;
                margin-bottom: 0;
            }

            .actions {
                padding-top: 25px;
            }

            .action {
                &.tocart {
                    width: 100%;
                }
                &.towishlist {
                    display: none;
                }
            }
        } 
        .header-content {
            display: -ms-flex;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 2.6rem;
            border-bottom: 1px solid @color-lines;
            h5 {
                margin-bottom: 0;
                font-size: 1.5rem;
            }
        }
        .icon-x {
            cursor: pointer;
            color: @title_color;
            font-size: 2.5rem; 
        }
    }

    .swatch-option.disabled:after {
        opacity: 1;
    }

    .custom-options-container.slide div.mage-error[generated] {
        margin-bottom: 10px;
    }

    .configslide-open {
        overflow: hidden !important;
        .custom-options-container.slide {
            opacity: 1;
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        .page-header, .zEWidget-launcher {
            opacity: 0;
            visibility: hidden;
        }
        .config-overlay {
            z-index: 999;
            opacity: 1;
            visibility: visible;
        }
    }

    .swatch-option-tooltip {
        /*display: none !important;*/
    }

    .swatch-attribute.color_swatch[option-selected] {
        padding-bottom: 25px;
    }

    .product-info-main {
        .swatch-attribute.color_swatch {
            border-bottom: 1px solid @color-lines;
            margin-bottom: 15px;
            position: relative;


            .swatch-attribute-selected-option {
                color: @title_color;
                position: absolute;
                bottom: 10px;
                left: 0;
                padding-left: 0;
            }
        }
    }
    .swatch-attribute.size {
        .swatch-attribute-options {
            .swatch-option {
                border: 1px solid transparent;
                font-size: 10px;
                &:after {
                    display: none;
                }


                &:hover,
                    &.selected {
                    border: 1px solid @color-lines;
                }
            }
        }
    }
    .swatch-option {
        &:focus {
            box-shadow: none;
        }
        &.selected {
            outline: 0 none;
            box-shadow: none;
            &:after {
                opacity: 1;
            }
        }
        &:after {
            content: '\e90d';
            color: #fff;
            font-family: 'ELite';
            font-size: 1.6rem;
            font-weight: 600;
            opacity: 0;
        }
    }

    .filter-options .swatch-option:after {
        line-height: 2;
    }

    .swatch-attribute-label {
        color: @title_color;
    }

    .swatch-attribute-options {
        margin: 10px 0 15px;
    }
    .swatch-attribute {
        .swatch-option {
            width: 26px;
            height: 26px;
            min-width: auto;
            .br-radius(50%);
            padding: 0;
            line-height: 26px;
            font-size: 10px;
            text-align: center;
            border: 1px solid transparent;

            &:not(.disabled):hover{
                border: 1px solid transparent;
                outline: none;
            }

            &[option-tooltip-value="#ffffff"] {
                border: 1px solid @color-lines;
                &:hover {
                    border: 1px solid @color-lines;
                }

                &:after {
                    color: @theme__color__secondary;
                }
            }
        }
    }

    .product {
        &.media,
        &-info-main {
            margin-bottom: 50px;

            .action {
                &.towishlist {
                    .lib-icon-font(
                    @_icon-font-content: @icon-heart,
                        @_icon-font: @icon__font-name,
                        @_icon-font-size: 16px,
                        @_icon-font-line-height: 16px,
                        @_icon-font-color: @icon-color,
                        @_icon-font-color-hover: @header-icons-color-hover,
                        @_icon-font-color-active: @header-icons-color-hover,
                        @_icon-font-text-hide: true
                        );
                }
            }
        }

        &.media {
            display: block;
            position: relative;

            .product-info-main {
                width: 100%;
                float: none;
                padding: 0;
                border: none;
                margin: 0;
                position: relative;

                .page-title-wrapper {
                    margin-bottom: 0;
                    .page-title {
                        margin-bottom: 5px;
                    }
                }
            }

            .action.towishlist {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 40px;
                height: 40px;
                line-height: 40px;
                z-index: 9;
                text-align: center;
                border: none;
                margin: 0;
            }

            .magnifier-preview {
                border: 1px solid @color-lines;
                box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.2);
                width: ~"calc(100% - 10%)" !important;
                height: ~"calc(100% - 10%)" !important;
                left: ~"calc(100% + 20px)" !important;
                top: 0px !important;
                img { 
                    max-height:inherit; 
                    object-fit: cover; 
                }
            }

            .fotorama__stage {
                margin-bottom: 20px;
                padding-left: 20px;
            }

            .fotorama__arr {
                display: none !important;
            }

            .fotorama__nav__shaft {

                .fotorama__thumb-border {
                    border: 1px solid @theme__color__primary;
                }

                .fotorama__dot {
                    width: 10px;
                    height: 10px;
                    border-color: @color-lines;
                }
            }

            .fotorama__active {
                .fotorama__dot {
                    background: @theme__color__primary;
                    border-color: @theme__color__primary;
                }
            }

            .fotorama__nav-wrap {
                .fotorama__thumb {
                    border: 1px solid @color-lines;
                }
            }
        }

        &-info-main {
            .page-title-wrapper {
                margin-bottom: 20px;
                .page-title {
                    font-size: 2.4rem;
                }
            }

            .product-info-stock-sku {
                .flex();
                align-items: center;
            }

            .shipping-details {
                color: @theme__color__secondary;
                font-weight: 600;
                display: inline-block;
                vertical-align: middle;
                font-size: 1.2rem;
                position: relative;

                .field-tooltip {
                    font-weight: 100;
                    position: relative;
                    display: inline-block;
                    top: -1px;

                    .field-tooltip-action:before {
                        content: "\e91a";
                        font-family: 'ELite';
                        color: @color-orange;
                        font-size: 13px;
                        position: relative;
                        display: inline-block;                        
                    }                

                }
            }



            .stock {
                min-width: 120px;
                padding: 5px 10px;
                .br-radius(3px);
                color: @color-white;
                text-align: center;
                font-size: 1.3rem;
                margin-bottom: 0;
                margin-right: 15px;
                text-transform: uppercase;

                &.low-available {
                    background: @color-orange;
                    font-weight: 700;
                }
                &.available {
                    background: @success__color;
                }
                &.unavailable {
                    background: @color-red;
                }
            }

            .product-info-price {
                margin: 15px 0;
            }

            .price-box {
                .flex();
                align-items: center;

                .price {
                    color: @theme__color__primary;
                    line-height: normal;
                }

                .special-price {
                    margin: 0;
                }

                .old-price {
                    margin-left: 15px;
                    .price {
                        color: @text__color;
                    }
                }
                .price-from {
                    & + .price-to {
                        margin-left: 15px;
                    }
                }
            }

            .product.attribute.sku {
                font-weight: 600;
                color: @theme__color__secondary;
            }

            .product-info-stock-sku {
                margin: 15px 0;
            }

            .product.attribute.overview {
                padding: 15px 0;
                border-top: 1px solid @color-lines;
                border-bottom: 1px solid @color-lines;
                letter-spacing: 1px;

                p {
                    margin: 10px 0;
                }
            }

            .box-tocart,
            .product-options-bottom {
                width: 100%;
                .fieldset {
                    margin-bottom: 0;
                    .field.qty {
                        display: block;
                        margin-bottom: 0;
                        position: relative;
                        padding-right: 0;
                    }

                    .actions {
                        .flex();
                        padding-top: 30px
                    }
                }
                .control {
                    .flex();
                }
                .qty {
                    .qty();
                }
            }

            .actions {
                .flex();
                .action.primary {
                    font-size: 1.4rem;
                    line-height: 2rem;
                    padding: 13px 25px;
                    min-width: 150px;
                }
            }

            .action {
                &.towishlist {
                    width: 50px;
                    height: 50px;
                    border: 1px solid @color-lines;
                    .br-radius(4px);
                    line-height: 50px;
                    text-align: center;
                    display: inline-block;
                    background: transparent;
                    margin-left: 20px;
                    padding: 0;

                    &:hover {
                        background: transparent;
                        border-color: @theme__color__primary
                    }
                }
            }

            .product-social-links {
                .product-addto-links {
                    text-align: left;
                    .flex();
                    align-items: center;
                    margin: 0 -10px;
                }

                .action {
                    font-weight: 600;
                    font-size: 1.4rem;
                    padding: 0;
                    display: inline-block;
                    background: transparent !important;
                    border: none !important;
                    color: @theme__color__secondary;
                    line-height: normal;
                    padding: 10px;

                    &:after {
                        display: block;
                        content: '';
                        width: 100%;
                        height: 1px;
                        background: @theme__color__secondary;
                        margin-top: 6px;
                    }
                    &:hover {
                        background: transparent;
                        border: none;
                        color: @theme__color__primary;
                        &:after {
                            background: @theme__color__primary;
                        }
                    }
                }
            }
        }


        &.detailed {
            &.tab-size {
                .product.data.items {
                    > .item.title {
                        > .switch {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
            .product.data.items {
                > .item.title {
                    > .switch {
                        height: auto;
                        font-size: 1.6rem;
                        line-height: 2.6rem;
                        background: transparent;
                        border: transparent;
                        color: @theme__color__secondary;

                        .counter {
                            &:before {
                                content: '(';
                            }
                            &:after {
                                content: ')';
                            }
                        }
                    }

                    &.active {
                        > .switch {
                            color: @theme__color__primary;
                        }
                    }
                }

                > .item.content {
                    background: transparent;
                    border: none;
                }
            }
        }


        &-tab-wrapper {
            position: relative;
            padding: 80px 0;
            clear: both;
            margin: 0 -15px;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                background: @color__linen;
                z-index: -1;
                width: 100vw;
                left: 50%;
                right: 50%;
                margin-left: -50vw;
                margin-right: -50vw;
            }

            &.no-tabs-wrapper {
                display: none;
            }

            & ~ .products-wrapper {
                margin-top: 40px;
                padding-bottom: 30px;
                .block-title {
                    text-align: center;
                    color: @theme__color__secondary;
                    padding: 20px;
                    margin-top: 0
                }
            }

            .inner-container {
                .flex();
                padding: 0;
            }

            &.no-related {
                .product.info.detailed {
                    .flex-width(100%);
                }
            }

            .product.info.detailed {
                .flex-width(75%);
            }

            .products-wrapper {
                .flex-width(25%);
                padding-right: 15px;
                padding-left: 15px;
                .block {
                    background: @color-white;
                    border: 1px solid @color-lines;
                    border-top: 4px solid @theme__color__primary;
                    border-radius: 0 0 6px 6px;

                    .block-title {
                        text-align: center;
                        color: @theme__color__secondary;
                        padding: 20px;
                        border-bottom: 1px solid @color-lines;
                        margin-bottom: 0;

                        #block-related-heading {
                            font-size: 1.6rem;
                            font-weight: 700;
                        }
                    }

                    .block-content {
                        padding: 20px;

                        .block-actions {
                            display: none;
                        }
                    }

                    .products  {
                        margin: 0;
                        .product-items {
                            overflow-y: auto;
                            max-height: 325px;
                            margin: 0;
                            .product-item {
                                .flex-width(100%);
                                padding: 0;
                            }
                        }

                        .product-item-info {
                            .flex();
                            flex-wrap: nowrap;
                            border: none;
                            width: 100%;
                            max-width: none;
                            text-align: left;
                            padding: 0;
                            &:hover {
                                box-shadow: none;
                            }
                        }

                        .product-item-photo  {
                            .flex-width(100px);
                            padding: 10px 0;

                            .product-image-container {
                                border: 1px solid @color-lines;
                                border-radius: 6px;
                                overflow: hidden;
                                padding: 5px;
                                display: block;
                            }

                            .product-image-photo {
                                border-radius: 6px;
                            }
                        }

                        .product-item-details {
                            .flex-width(~"calc(100% - 100px)");
                            padding: 10px 0;

                            .choice {
                                .choice();
                            }
                        }

                        .product-item-name {
                            margin-top: 0;
                            min-height: auto;

                            a {
                                color: @theme__color__secondary;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                display: block;
                                width: 90%;
                                font-size: 1.3rem;
                                font-weight: 600;
                                &:hover {
                                    color: @theme__color__primary;
                                }
                            }
                        }

                        .price-box {
                            margin: 5px 0;
                            .price {
                                font-weight: 600;
                            }
                        }

                        .product-item-actions  {
                            margin: 5px 0 0;
                        }

                        .actions-primary {
                            position: static;
                            padding: 0;

                            .action {
                                .lib-button-reset();
                                .more-icon();
                                font-size: 1.2rem;
                            }
                        }

                        .actions-secondary {
                            display: none;
                        }
                    }
                }
            }
        }

        &-sticky-action {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                background: #fff;
                border-top: 1px solid @color-lines;
                z-index: -1;
                width: 100vw;
                left: 50%;
                right: 50%;
                margin-left: -50vw;
                margin-right: -50vw;
            }
            .sticky-container {
                padding: 15px 0;
            }
            .price-box .price {
                color: @theme__color__primary;
                font-size: 1.8rem;
                font-weight: 700;
            }
            .pdp-sticky-right {
                > div {
                    padding-left: 20px;
                }
            }
            .shipping-details {
                color: @title_color;
                font-size: 1.2rem;
                font-weight: 600;
                line-height: 1.3;
                span {
                    display: block;
                }
                .field-tooltip {
                    display: none;
                    .lib-tooltip(bottom);
                }
            }
        }
    }

    // slide down animation
    @-webkit-keyframes slide-down {
        0% {
            transform: translateY(-100%);
        } 
        100% {
            transform: translateY(0);
        } 
    }
    @-moz-keyframes slide-down {
        0% {
            transform: translateY(-100%);
        } 
        100% {
            transform: translateY(0);
        } 
    }
    @keyframes slide-down {
        0% {
            transform: translateY(-100%);
        } 
        100% {
            transform: translateY(0);
        } 
    }
    .product-sticky-action {
        box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.05);
        position: fixed;
        left: 0;
        right: 0;
        padding: 0 20px;
        background: #fff;
        z-index: 9;
        opacity: 0;
        visibility: hidden;
    }
    .sticked {
        .product-sticky-action {
            opacity: 1;
            visibility: visible;
            -webkit-animation: slide-down .7s;
            -moz-animation: slide-down .7s;
            animation: slide-down .7s;
        }
        .header-wrapper.sticky {
            box-shadow: none;
        }
    }

    .catalog-product-view {
        .column.main {
            padding-bottom: 0;
        }

        #product-review-container {
            .review-details-value,
            .review-title,
            .block-title {
                color: @theme__color__secondary;
            }

            .block-title {
                strong {
                    font-size: 2.5rem;
                }
            }

            .review-title {
                font-size: 1.6rem;
            }

            .review-item {
                border-bottom-color: @color-lines;
            }

            .review-ratings .rating-label {
                color: @theme__color__secondary;
                padding-top: inherit;
                vertical-align: middle;
            }
        }

        .review-form {

            .label {
                color: @theme__color__secondary;
            }
            .review-legend {
                > span {
                    margin-bottom: 10px;
                    display: block;
                }
            }
            .action.submit.primary {
                .lib-button-primary();
            }
        }

        .page-main-details {
            position: relative;
            padding: 50px 0;
            clear: both;
            max-width: none;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                background: @color__linen;
                z-index: -1;
                width: 100vw;
                left: 50%;
                right: 50%;
                margin-left: -50vw;
                margin-right: -50vw;
            }

            .product-section-title {
                border-color: @color-lines;
            }

            .product-full-width-section {
                .inner-container();
            }
        }
    }

    .product-tab-wrapper {
        .download {
            th {
                vertical-align: middle;
            }
        }
    }
}



//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xl) {
    .product-tab-wrapper  {
        padding: 50px 0;
        .product.info.detailed {
            .flex-width(percentage(2/3));
        }
        .products-wrapper {
            .flex-width(percentage(1/3));
        }
    }

}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @c-tab) {
    .product-tab-wrapper  {
        margin: 0;
        .product.info.detailed {
            .flex-width(100%);
            padding: 0;
        }
        .products-wrapper {
            .flex-width(100%);
            margin-top: 30px;
            padding: 0;
        }
    }

    .custom-options-container.slide {
        padding: 20px;
    }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .has-configslide { 
        .page-footer {
            padding-bottom: 50px
        }
        #product-customize-button {
            position: fixed;
            z-index: 9;
            width: 100%;
            left: 0;
            border-radius: 0;
            bottom: 0;
        }
    }
    .product.media, .product-info-main {
        margin-bottom: 20px;
    }

    .product-tab-wrapper {
        padding: 30px 0;
    }

    .product-info-main .page-title-wrapper .page-title {
        font-size: 2rem;
        line-height: 1;
    }

    .product-add-form .custom.action {
        position: fixed;
        bottom: 0;
        z-index: 99;
        background: #fff;
        left: 0;
        right: 0;
        .action {
            border-radius: 0;
            width: 100%;

        }
    }

    .catalog-product-view {
        .pdp-info-media {
            > .product-info-main {
                .page-title-wrapper,
                .product.attribute.sku,
                .product-info-price,
                .product-info-stock-sku {
                    display: none;
                }
            }
        }
    }

    .product {
        &.media {
            margin-top: 10px;
            .fotorama__stage {
                padding-top: 30px;
            }

            .fotorama__nav--thumbs {
                text-align: center;
            }
        }
        &-info-main {
            .product-options-bottom,
            .box-tocart {
                .fieldset {
                    .actions {
                        padding-top: 20px;
                    }
                }
            }
            .action.towishlist {
                display: none;
            }

            .product-addto-links {
                justify-content: center;
                .action {
                    &.tocompare {
                        display: block;
                    }
                }
            }
        }
        &.info {
            &.detailed {
                padding: 0;
                .product.data.items {
                    > .item.content {
                        padding: 15px;
                        background: @color-white;
                        border: 1px solid @color-lines;
                        margin-bottom: 0;
                        .br-radius(6px);
                    }
                    > .item.title {
                        position: relative;
                        margin-bottom: -1px;
                        border: 1px solid @color-lines;

                        & ~ .item.title {
                            margin-top: 10px;
                        }

                        > .switch {
                            padding: 10px 30px 10px 15px;
                            background: @color-white;
                            .br-radius(6px);
                        }

                        &.active {
                            border: 1px solid @theme__color__primary;
                            border-bottom: transparent;
                            .br-radius(6px 6px 0 0);

                            & + .item.content {
                                border: 1px solid @theme__color__primary;
                                border-top: transparent;
                                .br-radius(0 0 6px 6px);
                            }

                            &:before {
                                content: @icon-chevron-up;
                                color: @theme__color__primary;
                            }    
                        }

                        &:before {
                            content: @icon-chevron-down;
                            font-family: @icon__font-name;
                            position: absolute;
                            right: 15px;
                            top: 7px;
                            color: @theme__color__secondary;
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }
    .custom-options-container.slide { 
        width: 100%;
    }
}




//
//  Desktop
//  _____________________________________________


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @c-desk) { 
    .configslide-open, .brand-active {
        padding-right: 15px;
    }
    .custom-options-container:not(.slide) {
        .product-options-wrapper {
            max-width: 70%;
        }
    }
    .product{
        &.info {
            &.detailed {
                .product.data.items {
                    > .item.title {
                        & ~ .item.title {
                            margin-left: 30px;
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) { 
    .product{
        &.media,
        &-info-main {
            margin-bottom: 80px;
        }

        &.info {
            &.detailed {
                .product.data.items {
                    > .item.title {
                        & ~ .item.title {
                            margin-left: 50px;
                        }
                    }
                }
            }
        }
    }
}



.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .page-layout-1column {

        &.catalog-product-view  {
            .column {
                margin-top: 35px;
            }

            .product.media {
                width: 50%;
                padding-right: 30px;
                border-right: 1px solid @color-lines;
                margin-left: 1px;

                .towishlist {
                    display: none;
                }

                .product-info-main {
                    display: none;
                }
            }
            .product-info-main {
                width: 50%;
                padding-left: 30px;
                border-left: 1px solid @color-lines;
                margin-left: -1px
            }
        }
    }

    .product {
        &.media {
            .fotorama__nav--thumbs {
                .flex();
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }

        &-info-main {
            .page-title-wrapper {
                .page-title {
                    margin-top: 0;
                }
            }
        }

        &.info {
            &.detailed, &.tab-size {
                margin-bottom: 0;
                padding-right: 15px;
                padding-left: 15px;

                .product.data.items {
                    margin-bottom: 0;
                    > .item.title {
                        margin-right: 0;

                        & ~ .item.title {
                            margin-left: 20px;
                        }

                        > .switch {
                            padding-left: 0;
                            padding-right: 0;
                            padding-top: 0;
                        }

                        &:not(.disabled) {
                            > .switch:focus,
                                > .switch:hover {
                                background: transparent;
                                color: @theme__color__primary;
                            }
                        }

                        &.active {
                            > .switch {
                                color: @theme__color__primary;
                                border-bottom: 4px solid @theme__color__primary;
                            }

                            & + .item.content {
                                display: block;
                            }
                        }
                    }

                    > .item.content {
                        padding: 50px 0 0;
                        display: none;
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    .product-sticky-action {
        display: none;
    }
    .product-tab-wrapper {
        margin-top: 0 !important;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .page-layout-1column {
        &.catalog-product-view  {
            .product.media {
                padding-right: 50px;
            }
            .product-info-main {
                padding-left: 50px;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .page-layout-1column {
        &.catalog-product-view  {
            .product.media {
                padding-right: 70px;
            }
            .product-info-main {
                padding-left: 70px;
            }
        }
    }
}