//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .swatch-attribute {
        .swatch-option {
            width: 26px;
            height: 26px;
            min-width: auto;
            .br-radius(50%);
            border: none;
            padding: 0;
            line-height: 26px;
            font-size: 10px;
            text-align: center;

            &:not(.disabled):hover{
                border: none;
                outline: none;
            }
        }
    }

    .product {
        &.media {
            display: block;

            .fotorama__stage {
                margin-bottom: 20px;
            }

            .fotorama__arr {
                display: none !important;
            }

            .fotorama__nav__shaft {

                .fotorama__thumb-border {
                    border: 1px solid @theme__color__primary;
                }
            
                .fotorama__dot {
                    width: 10px;
                    height: 10px;
                    border-color: @color-lines;
                }
            }

            .fotorama__active {
                .fotorama__dot {
                    background: @theme__color__primary;
                    border-color: @theme__color__primary;
                }
            }

            .fotorama__nav-wrap {
                .fotorama__thumb {
                    border: 1px solid @color-lines;
                }
            }
        }


        &.detailed {
            .product.data.items {
                > .item.title {
                    > .switch {
                        height: auto;
                        font-size: 1.6rem;
                        line-height: 2.6rem;
                        background: transparent;
                        border: transparent;
                        color: @theme__color__secondary;

                        .counter {
                            &:before {
                                content: '(';
                            }
                            &:after {
                                content: ')';
                            }
                        }
                    }

                    &.active {
                        > .switch {
                            color: @theme__color__primary;
                        }
                    }
                }

                > .item.content {
                    background: transparent;
                    border: none;
                }
            }

            #product-review-container {
              .review-details-value,
              .review-title,
              .block-title {
                color: @theme__color__secondary;
              }

              .block-title {
                  strong {
                      font-size: 2.5rem;
                  }
              }

              .review-title {
                  font-size: 1.6rem;
              }

              .review-item {
                  border-bottom-color: @color-lines;
              }

              .review-ratings .rating-label {
                color: @theme__color__secondary;
                padding-top: inherit;
                vertical-align: middle;
              }
            }

            .review-form {

                .label {
                    color: @theme__color__secondary;
                }
                .review-legend {
                    > span {
                        margin-bottom: 10px;
                        display: block;
                    }
                }
                .action.submit.primary {
                    .lib-button-primary();
                }
            }
        }


        &-tab-wrapper {
            position: relative;
            padding: 100px 0;
            clear: both;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                background: @color__linen;
                z-index: -1;
                width: 100vw;
                left: 50%;
                right: 50%;
                margin-left: -50vw;
                margin-right: -50vw;
            }

            & ~ .products-wrapper {
                margin-top: 40px;
                .block-title {
                    text-align: center;
                    color: @theme__color__secondary;
                    padding: 20px;
                    margin-top: 0
                }
            }

            .inner-container {
                .flex();
                padding: 0;
            }

            .product.info.detailed {
                .flex-width(75%);
            }

            .products-wrapper {
                .flex-width(25%);
                .block {
                    background: @color-white;
                    border: 1px solid @color-lines;
                    border-top: 4px solid @theme__color__primary;
                    border-radius: 0 0 6px 6px;

                    .block-title {
                        text-align: center;
                        color: @theme__color__secondary;
                        padding: 20px;
                        border-bottom: 1px solid @color-lines;
                        margin-bottom: 0;

                        #block-related-heading {
                            font-size: 1.6rem;
                            font-weight: 700;
                        }
                    }

                    .block-content {
                        padding: 20px;

                        .block-actions {
                            display: none;
                        }
                    }

                    .products  {
                        margin: 0;

                        .product-items {
                            overflow-y: auto;
                            max-height: 325px;
                            margin: 0;
                            .product-item {
                                width: 100%;
                                padding: 5px 0;
                            }
                        }

                        .product-item-info {
                            .flex();
                            flex-wrap: nowrap;
                            border: none;
                            width: 100%;
                            max-width: none;
                            text-align: left;
                            padding: 0;
                            &:hover {
                                box-shadow: none;
                            }
                        }

                        .product-item-photo  {
                            .flex-width(100px);
                            padding: 5px 10px 5px 0;

                            .product-image-container {
                                border: 1px solid @color-lines;
                                border-radius: 6px;
                                overflow: hidden;
                            }

                            .product-image-photo {
                                border-radius: 6px;
                            }
                        }

                        .product-item-details {
                            .flex-width(~"calc(100% - 100px)");
                            padding: 5px 0 5px 10px;
                        }

                        .product-item-name {
                            margin-top: 0;
                            min-height: auto;

                            a {
                                color: @theme__color__secondary;
                                &:hover {
                                    color: @theme__color__primary;
                                }
                            }
                        }

                        .actions-secondary {
                            display: none;
                        }
                    }
                }
            }
        }
    }   

}



//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @c-desk) {
    .product-tab-wrapper  {
        padding: 50px 0;
        .product.info.detailed {
            .flex-width(65%);
        }
        .products-wrapper {
            .flex-width(35%);
        }
    }

}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @c-tab) {
    .product-tab-wrapper  {
        .product.info.detailed {
            .flex-width(100%);
        }
        .products-wrapper {
            .flex-width(100%);
            margin-top: 30px;
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .product {
        &.info {
            &.detailed {
                padding: 0;
                .product.data.items {
                    > .item.content {
                        padding: 30px 15px;
                    }
                    > .item.title {
                        position: relative;
                        margin-bottom: -1px;
                        > .switch {
                            padding: 10px 30px 10px 0;
                            border-top: 1px solid @color-lines;
                            border-bottom: 1px solid @color-lines;
                        }

                        &.active {
                            &:before {
                                content: @icon-chevron-up;
                                color: @theme__color__primary;
                            }    
                        }

                        &:before {
                            content: @icon-chevron-down;
                            font-family: @icon__font-name;
                            position: absolute;
                            right: 15px;
                            top: 7px;
                            color: @theme__color__secondary;
                            font-size: 25px;
                        }

                        &:not(.disabled) {
                            .switch{
                                &:focus,
                                &:hover {
                                    background: transparent;
                                }
                            }
                        }

                        &.active,
                        &:hover {
                            .switch {
                                background: transparent;
                            }
                        }
                    }
                }
            }
        }
    }
}




//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .page-layout-1column {

        &.catalog-product-view  {
            .product.media {
                width: 45%;
                padding-right: 60px;
                border-right: 1px solid @color-lines;
            }
            .product-info-main {
                width: 55%;
                padding-left: 60px;
            }
        }
    }

    .product {
        &.media {
            .fotorama__nav--thumbs {
                .flex();
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }

        &-tab-wrapper {
            .products-wrapper {
                padding-right: 15px;
                padding-left: 15px;
            }
        }

        &.info {
            &.detailed {
                margin-bottom: 0;
                padding-right: 15px;
                padding-left: 15px;
                .product.data.items {
                    margin-bottom: 0;
                    > .item.title {
                        margin-right: 0;

                        & ~ .item.title {
                            margin-left: 50px;
                        }

                        > .switch {
                            padding-left: 0;
                            padding-right: 0;
                            padding-top: 0;
                        }

                        &:not(.disabled) {
                            > .switch:focus,
                            > .switch:hover {
                                background: transparent;
                                color: @theme__color__primary;
                            }
                        }

                        &.active {
                            > .switch {
                                color: @theme__color__primary;
                                border-bottom: 4px solid @theme__color__primary;
                            }

                            & + .item.content {
                                display: block;
                            }
                        }
                    }

                    > .item.content {
                        padding: 50px 0 0;
                        display: none;
                    }
                }
            }
        }
    }
}
