<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="earthlite" translate="label" sortOrder="300">
            <label>Earthlite</label>
        </tab>
        <section id="earthlite_general" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Earthlite Configuration</label>
            <tab>earthlite</tab>
            <resource>Earthlite_Customer::config_earthlite</resource>
            <group id="earthlite_pubhtml" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PUBHTML5 Configuration</label>
                <field id="pubhtml_img_src" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Image URL</label>
                </field>
                <field id="pubhtml_source_url" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>PUBHTML5 URL</label>
                </field>
            </group>
        </section>
    </system>
</config>
