// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */



//
//  Common
//  ________________________ _____________________

& when (@media-common = true) {

    .page-products,
    .page-with-filter{
        .page-main{
            .container-md();
        }
    }

    .ias-spinner,
    .ias-noneleft,
    .ias-trigger{
        margin: 30px 0;
        em {
            font-style: normal;
        }
    }

    .ias-trigger {
        &-prev,
        &-next {
            a {
                .btn();
                background: @c-text_color;
                &:hover {
                    background: @c-primary_color;
                }

                &:before {
                    content: @icon-refresh;
                    font-family: @icons__font-name_ps;
                    font-size: 16px;
                    vertical-align: middle;
                    margin-right: 10px;
                }
            }
        }
    }

    .product-items {

        .product-image-container {
            padding: 15px;
            display: block;
        }
         .product-item-info {
             .tocompare {

                 display: none;
             }
         }

    }


    .product {
        &s {
            margin-top: 0;
        }
        &s-grid {
            .product-items {
                .flex();
                margin-left: -20px;
                margin-right: -20px;
                margin-bottom: 0;

                .product-image-container {
                    padding: 0 0 15px;
                }

                .product-image-photo {
                    width: auto;
                }

                .product-item-info {
                    padding: 15px;
                }

                .price-head {
                    margin-bottom: 0;
                    font-weight: 500;
                    & + .price-head {
                        margin-bottom: 0;
                    }
                }
            }
        }

        &s-list {

            .product {

                &-item,
                &-item:last-child {
                    border: none;
                }

                &-item {
                    margin-top: -1px;
                }

                &-item-info {
                    display: block;
                }

                &-item-photo {
                    vertical-align: middle;
                    border-right: 1px solid @c-graylight;
                }

                &-item-name {
                    margin-bottom: 20px;
                }

                &-item-description {
                    margin-bottom: 0;
                }
            }

            .action {
                &.more {
                    display: block;
                    margin-top: 10px;
                }
            }
        }

        &-item {
            .products-grid & {
                margin-left: 0;
                padding: 20px;
                width: 100%;
                border: none;
            }

            &-info {
                border: 1px solid @c-graylight;
                position: relative;
                .transition(all 0.5s ease 0s);
                .box-shadow(none);
                height: 100%;
                width: 100%;

                &:hover {
                    .box-shadow(0 0 8px 8px rgba(0,0,0,0.08));
                    border-color: @color-white;
                }

                .call-price {
                    display: none;

                }

                .action {
                    &-primary,
                    &-black {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xl) {
    .wishlist-index-index{
        &.page-layout-2columns-left {
            .product {
                &s-grid {
                    .product-item {
                        .flex-width(percentage(1/3));
                    }
                }
            }
        }
    }
}

//
//  Tab
//  _____________________________________________


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @c-desk-md) {
    .page-products {
        &.page-layout-2columns-left {

            .product {
                &s-grid {
                    .product-item {
                        .flex-width(percentage(1/3));
                    }
                }
            }
        }
    }
}


@media screen and (max-width: @c-desk) {
    .wishlist-index-index,
    .page-products {
        &.page-layout-2columns-left {
            .column.main {
                width: percentage(1/1.5);
            }
            .sidebar-main {
                width: percentage(1/3);
            }

            .product {
                &s-grid {
                    .product-items {
                        margin-left: -15px;
                        margin-right: -15px;
                        margin-top: -15px;
                    }
                    .product-item {
                        .flex-width(percentage(1/2));
                        padding: 15px;
                        &-name {
                            font-size: 1.2rem;
                        }
                    }
                }

                &s ~ .products {
                    margin-top: 15px;
                }
            }
        }
    }
}


@media screen and (min-width: @c-desk) {
    .wishlist-index-index,
    .page-products {
        &.page-layout-2columns-left {
            .product {
                &s ~ .products {
                    margin-top: 20px;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @c-tab)  {
    .wishlist-index-index {
        &.page-layout-2columns-left{
            .page-main {
                .column.main {
                    width: percentage(1);
                }
            }
        }
    }


    .product {
        &-items {
            .product.name {
                a {
                    font-size: @font-size__s;
                }
            }

        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m + 1) {
    .wishlist-index-index,
    .page-products {
        &.page-layout-2columns-left {
            .page-main {
                .product {
                    &-items {
                        margin-left: 0;
                        margin-right: 0;

                        .product.name {
                            a {
                                font-size: @font-size__s;
                            }
                        }

                    }
                    &s-grid {
                        margin: 0 !important;

                        .product-items {
                            margin-left: -20px;
                            margin-right: -20px;
                            margin-top: 0;

                            .product-item {
                                padding: 0;
                                border: none;
                                margin-top: -1px;

                                &:nth-child(even) {
                                    .product-item-info {
                                        border-right-width: 0;
                                    }
                                }
                                &-actions {
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
        .page-main {
            .column {
                > .page-title-wrapper {
                    display: none;
                }
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m + 1) {
    .wishlist-index-index,
    .page-with-filter {
        &.page-products {
            .products-grid {
                .product-item {
                    .product-item-name {
                        min-height: auto;
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
.wishlist-index-index,
.page-with-filter {
    &.page-products {
        .products-grid {
            .product-item {
                .product-item-name {
                    font-size: 1rem;
                }
                font-size: 1rem;
            }
        }
    }
}
}



//
//  Desktop
//  _____________________________________________


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @c-desk-md) {
    .page-products {
        &.page-layout-2columns-left {

            .product {
                &s-grid {
                    .product-item {
                        .flex-width(25%);
                        padding: 20px;
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m + 1) {
    .wishlist-index-index,
    .page-with-filter {
        &.page-products {
            .page-main {
                > .page-title-wrapper {
                    display: none;
                }
            }

            .products.wrapper {
                margin-bottom: 0;
                margin-top: 0;
            }
        }
    }

    .price-box {
        .price-label {
            font-weight: normal;
        }
        .old-price {
            .lib-css(color, #8a92a5);
            .price-label {
                display: none;
            }
        }
    }


    .product-item {
        .price-box {
            .price-label {
                font-weight: normal;
            }
        }
    }


    .products-list{
        .action{
            &.more {
                font-weight: bold;

                &:after {
                    content: '\e904';
                    margin: 0 5px;
                    font-family: @icons__font-name_ps;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
    }


    .products-grid{
        .product-items{
            margin-top: -20px;
            .product-item {
                overflow: hidden;
            }

            .price-box {
                .special-price {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 20px;
                }
            }

            .product-item-info {
                padding: 20px;
                overflow: hidden;

                .product-item-actions {
                    text-align: center;
                }

                .action {
                    &s-primary {
                        .transition(all .5s ease 0s);
                        .transform(translateY(100%));
                        position: absolute;
                        visibility: hidden;
                        opacity: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background: @c-aliceblue;
                        padding: 20px 15px;
                        display: block;
                        text-align: center;
                        z-index: 2;
                    }

                    &.towishlist {
                        .transition(all .5s ease 0s);
                        .transform(translateY(-100%));
                        width: auto;
                        position: absolute;
                        top: 8px;
                        right: 8px;
                        z-index: 5;
                        opacity: 0;
                    }
                }

                &:hover {
                    .action {
                        &.towishlist {
                            opacity: 1;
                            .transform(translateY(0));
                        }

                        &s-primary {
                            .transform(translateY(0));
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
}