// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@product-grid-items-per-row-layout-default: 2;

@product-grid-items-per-row-layout-1-screen-s: 3;
@product-grid-items-per-row-layout-1-screen-m: 4;
@product-grid-items-per-row-layout-1-screen-l: 5;

@product-grid-items-per-row-layout-2-left-screen-s: 3;
@product-grid-items-per-row-layout-2-left-screen-m: 4;
@product-grid-items-per-row-layout-2-left-screen-l: '';

@product-grid-items-per-row-layout-2-right-screen-s: 3;
@product-grid-items-per-row-layout-2-right-screen-m: 4;
@product-grid-items-per-row-layout-2-right-screen-l: '';

@product-grid-items-per-row-layout-3-screen-s: 3;
@product-grid-items-per-row-layout-3-screen-m: '';
@product-grid-items-per-row-layout-3-screen-l: '';

@product-grid-items-padding: 0 @indent__base @indent__base;
@product-grid-items-margin: 0 0 @indent__s;

@product-name-text-decoration: none;
@product-name-text-decoration-hover: @link__hover__text-decoration;

@toolbar-mode-icon-font-size: 26px;
@product-h1-margin-bottom-desktop: @indent__base;

@import 'module/_listings.less';
@import 'module/_toolbar.less';

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .qty {
        .control {
            .qty();
        }

    }

    .catalog-product-view,
    .checkout-cart-index {

        .control.qty {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .decreaseQty,
        .increaseQty {
            background: transparent;
            width: 40px;
            height: 40px;
            padding: 0;
            color: @c-text_sec_color;
            border: 1px solid @c-lavander;
            font-size: 20px;
        }

        .decreaseQty {
            .br-radius(@radius: 3px 0 0 3px);

        }

        .increaseQty {
            .br-radius(@radius: 0 3px 3px 0);
        }

        .input-text.qty {
            margin-top: 0;
            .br-radius(@radius: 0);
            width: 40px;
            height: 40px;
            padding: 0;
            border-left: 0;
            border-right: 0;
        }
    }



    .colon-text {
        margin-right: 5px;
        &:after {
            content: ':';
        }
    }

    //
    //  Category view
    //  ---------------------------------------------

    .old-price,
    .old.price {
        text-decoration: line-through;
    }

    .prices-tier {
        .price-container {
            .price-including-tax {
                + .price-excluding-tax {
                    &:before {
                        content: '(' attr(data-label) ': ';
                    }

                    &:last-child:after {
                        content: ')';
                    }
                }
            }

            .weee[data-label] {
                display: inline;

                .price {
                    .lib-font-size(11);
                }

                &:before {
                    content: ' +' attr(data-label) ': ';
                }
            }
        }
    }

    .actual-price {
        font-weight: @font-weight__bold;
    }

    .product.name a {
        &:extend(.abs-product-link all);
        font-weight: bold;
        font-family: @heading__font-family__base;
    }

    .category-image {
        .image {
            display: block;
            height: auto;
            max-width: 100%;
        }
    }

    .category-image,
    .category-description {
        margin-bottom: @indent__base;
    }

    //
    //  Product images general container
    //  ---------------------------------------------


    .product-image-wrapper {
        display: block;
        height: 0;
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

    .product-image-photo {
        bottom: 0;
        display: block;
        height: auto;
        left: 0;
        margin: auto;
        max-width: 100%;
        position: absolute;
        right: 0;
        top: 0;
    }

    //
    //  Product view
    //  ---------------------------------------------

    .product.media {
        .product.photo .photo.image {
            &:extend(.abs-adaptive-images-centered);
        }

        .placeholder .photo.container {
            max-width: 100%;
        }

        .notice {
            .lib-css(color, @text__color__muted);
            .lib-font-size(@font-size__s);
            margin: @indent__s 0;
        }

        .product.thumbs {
            margin: @indent__base 0 @indent__l;
        }

        .items.thumbs {
            .lib-list-inline();

            .active {
                display: block;
                line-height: 1;
            }
        }
    }

    .product.info.detailed {
        clear: both;
        margin-bottom: 30px;
        margin-top: 50px;
        border-top: 1px solid @c-whitesmoke;
        display: inline-block;
        width: 100%;

        .additional-attributes {
            width: auto;
            .lib-table-resize(
                @_th-padding-left: 0,
                @_th-padding-right: @indent__l,
                @_th-padding-bottom: @indent__s,
                @_td-padding-bottom: @indent__s
            );
        }
    }

    .product-info-main {
        .page-title-wrapper {
            .page-title {
                line-height: @line-height__base;
                margin-bottom: @indent__s;
                .lib-font-size(2.4rem);
            }
        }


        .product-info-stock-sku {
            .flex();
            align-items: center;

            .pdp-product-price {
                .flex-width(100%);
            }
        }

        .stock {
            &.available,
            &.unavailable {
                display: inline-block;
                font-weight: @font-weight__semibold;
                margin-right: @indent__base;
                margin-bottom: 0;
                text-transform: uppercase;
                vertical-align: top;
                .lib-font-size(@font-size__s);
            }
        }

        .product {
            &.attribute {
                &.sku {
                    display: inline-block;
                    vertical-align: top;
                    .lib-css(color, @text__color__muted);

                    > .value {
                        display: inline-block;
                        vertical-align: top;
                        word-break: break-all;
                    }

                    .type {
                        margin-right: @indent__xs;
                    }
                }

                &.overview {
                    margin: 30px 0;
                }
            }

            &.pricing {
                margin-bottom: 30px;
                font-weight: @font-weight__bold;
                .lib-font-size(@font-size__s);
            }

            &.alert {
                margin: @indent__s 0;
            }
        }

        .price-box {

        }

        .product-reviews-summary {
            .rating-summary,
            .reviews-actions {
                .br-radius(20px);
                padding: 3px 10px;
                border: 2px solid @c-primary_color;
                .lib-css(color, @c-primary_color);
                .lib-font-size(@font-size__s);
                font-weight: @font-weight__heavier;
            }

            .rating-summary {
                display: block;
                left: 0;
                &:after {
                    content: @icon-star;
                    font-family: @icons__font-name;
                    font-size: @font-size__s + 6;
                    vertical-align: middle;
                    display: inline-block;
                    line-height: 20px;
                    font-style: normal;
                    font-weight: normal;
                    speak: none;
                    vertical-align: top;
                    -webkit-font-smoothing: antialiased;
                }
            }
            .reviews-actions {
                .lib-font-size(@font-size__s);
            }
        }
    }

    .product-options-wrapper {
        .fieldset-product-options-inner {
            .legend {
                .lib-css(font-weight, @font-weight__bold);
                .lib-css(margin, 0 0 @indent__xs);
                .lib-font-size(14px);
                border: none;
                display: inline-block;
                float: none;
                padding: 0;
            }

            //  Date & Time custom option (Affect Time that goes only after Date)
            input.datetime-picker {
                ~ select.datetime-picker {
                    margin-top: @indent__s;
                }
            }

            &.required,
            &._required {
                .legend {
                    &:after {
                        content: '*';
                        .lib-typography(
                            @_font-size: @form-field-label-asterisk__font-size,
                            @_color: @form-field-label-asterisk__color,
                            @_font-family: @form-field-label-asterisk__font-family,
                            @_font-weight: @form-field-label-asterisk__font-weight,
                            @_line-height: @form-field-label-asterisk__line-height,
                            @_font-style: @form-field-label-asterisk__font-style
                        );
                        .lib-css(margin, @form-field-label-asterisk__margin);
                    }
                }
            }
        }

        .field {
            .note {
                display: block;
            }

            .price-notice {
                &:extend(.abs-adjustment-incl-excl-tax all);
            }
        }
    }

    .product-info-main,
    .product-options-bottom {
        .price-box {
            .price-including-tax + .price-excluding-tax,
            .weee + .price-excluding-tax,
            .weee {
                .lib-font-size(12);
                line-height: 14px;
                margin-bottom: @indent__xs;

                .price {
                    .lib-font-size(12);
                    font-weight: @font-weight__bold;
                }
            }

            .price-wrapper .price {
                .lib-font-size(18);
                font-weight: @font-weight__bold;
            }

            .price {
                white-space: nowrap;
            }
        }

        .special-price {
            display: block;
            margin: @indent__s 0;

            .price-container {
                .lib-font-size(14);
            }

            .price-label + .price-wrapper {
                display: inline-block;
            }
        }

        .old-price,
        .special-price {
            .price-label {
                &:after {
                    content: ': ';
                }
            }
        }

        .box-tocart {
            margin: 4rem 0 0 0;

            .field.qty {
                padding-right: .75 * @indent__base;
                margin-bottom: 50px;
                .flex();
                align-items: center;

                label {
                    font-weight: bold;
                    margin-right: 20px;
                    text-transform: uppercase;
                    font-size: 1.6rem;
                }
            }



            .input-text.qty {
                @tocart-input-size: @button__line-height__l + 28px;
                text-align: center;
            }

            .actions {
                text-align: center;
            }

            .action.tocart {
                &:extend(.abs-button-l all);
            }
        }

        .product-addto-links {
            margin: @indent__base 0;
        }

        .action.tocompare {
            &:extend(.abs-action-addto-product all);
            vertical-align: top;
        }
    }

    .prices-tier {
        &:extend(.abs-reset-list all);
        .lib-css(background, @sidebar__background-color);
        margin: @indent__s 0;
        padding: @indent__s (.75 * @indent__base);

        .price-container {
            display: inline-block;
        }

        .price-including-tax,
        .price-excluding-tax,
        .weee {
            display: inline-block;

            .price {
                .lib-font-size(14);
                font-weight: @font-weight__bold;
            }
        }
    }

    .ui-dialog-titlebar-close {
        .lib-button-as-link();
    }

    .block.related {
        .action.select {
            margin: 0 @indent__xs;
        }
    }

    //
    //  Sidebar product view
    //  ---------------------------------------------

    .sidebar {
        .product-items {
            .product-item {
                margin-bottom: @indent__base;
                position: relative;
            }

            .product-item-info {
                position: relative;
                width: auto;

                .product-item-photo {
                    left: 0;
                    position: absolute;
                    top: 0;
                }
            }

            .product-item-name {
                margin-top: 0;
            }

            .product-item-details {
                margin: 0 0 0 85px;
            }

            .product-item-actions {
                display: block;
                margin-top: @indent__s;
            }

            .price-box {
                display: block;
                margin: 7px 0;
            }

            .text {
                margin-right: 8px;
            }

            .counter {
                .lib-css(color, @primary__color__lighter);
                .lib-font-size(12);
                white-space: nowrap;
            }

            .minilist {
                .price {
                    display: inline;
                    padding: 0;
                }

                .weee:before {
                    display: inline-block;
                }
            }
        }

        .action {
            &.delete {
                &:extend(.abs-remove-button-for-blocks all);
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        .subtitle {
            &:extend(.abs-no-display all);
        }

        //
        //  Product images only
        //  ---------------------------------------------

        .product-items-images {
            &:extend(.abs-add-clearfix all);
            margin-left: -@indent__xs;

            .product-item {
                &:extend(.abs-add-box-sizing all);
                float: left;
                padding-left: @indent__xs;
            }
        }

        //
        //  Product names only
        //  ---------------------------------------------

        .product-items-names {
            .product-item {
                display: flex;
                margin-bottom: @indent__s;
            }

            .product-item-name {
                margin: 0;
            }
        }
    }

    //
    //  Category page 1 column layout
    //  ---------------------------------------------

    .catalog-category-view.page-layout-1column {
        .column.main {
            min-height: inherit;
        }
    }

    //
    //  Category page 1 column layout
    //  ---------------------------------------------

    .catalog-category-view.page-layout-1column {
        .column.main {
            min-height: inherit;
        }
    }


    /* Custom Styles */
    .catalog-product-view{

        .page-main{
            .container-md();
        }

        .media{
            display: block;
            .fotorama__stage {
                &__shaft {
                    border: 1px solid @c-graylight;
                }
            }
        }
        .fotorama__wrap {
            .fotorama__stage {

                &.fotorama__shadows--left:before,
                &.fotorama__shadows--left:before {
                    background: none;
                }
                &.fotorama__shadows--right:after,
                &.fotorama__shadows--right:after {
                    background: none
                }
            }

            .fotorama__thumb {
                border: 1px solid @c-graylight;
            }

            .fotorama__thumb-border {
                border: 2px solid @c-primary_color;
            }

            .fotorama__arr--prev,
            .fotorama__arr--next {
                display: none !important;
            }

            .fotorama__nav__frame {
                //border: 2px solid @c-lavander !important;
            }
        }

        .product-info-main{

            .stock.available{
                span{
                    color: @c-success;
                }
            }

            .call-price {
                a {
                    .lib-css(color, @color-black);
                    &:hover {
                        .lib-css(color, @c-primary_color);
                    }
                }
            }
        }

        .pdp-product-price{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-top: 2rem;
            .sec-right{
                .get-info{
                    text-transform: none;
                }
                .colr{
                    color: @c-primary_color;
                }
            }
            .price-head,
            .price-from,
            .price-to {
                font-size: 1.4rem;
                margin: 0;
                text-transform: uppercase;
                margin-bottom: 1rem;
                font-weight: normal;

                .price-label,
                .price{
                    font-size: 1.4rem;;
                }

                .price-label,
                .label {
                    min-width: 120px;
                    display: inline-block;
                    font-weight: @font-weight__heavier;
                    position: relative;
                    margin-right: 10px;
                    &:after {
                        content: ':';
                        position: absolute;
                        right: 0;

                    }
                }

                &.case-price {
                    .label {
                        font-weight: @font-weight__bold;
                    }
                }

                .get-info {
                    font-weight: @font-weight__bold;
                }
            }
        }


        .product.overview{
            margin: 2rem 0;
            strong{
                text-transform: uppercase;
                margin-bottom: 1rem;
                display: block;
            }
        }

        .table-wrapper {
            &.grouped {
                margin-top: 20px;
                tr {
                    display: flex;
                }
                thead {
                    background-color: @c-whitesmoke;
                    border: 1px solid @c-whitesmoke;
                    text-transform: uppercase;
                    th {
                        padding: 1.4rem;
                        text-align: center;
                        border: 0 !important;
                    }
                }
                tbody {
                    display: block;
                    height: 280px;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    border: 1px solid @c-graylight;
                    border-top: none;
                    td {
                        padding: 1.5rem;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .lib-font-size(@font-size__s);
                    }
                }
            }
        }

        .product-info-main{
            .box-tocart{
                margin: 30px 0;
                .actions{
                    padding: 0;
                }
            }

            .action {
                &.tocart,
                &.towishlist {
                    .lib-button-primary();
                    .btn();
                    padding: 16px 30px;
                    line-height: normal;
                    text-transform: uppercase;
                    font-size: 1.4rem;
                    min-width: 220px;

                    &:before {
                        font-family: @icons__font-name_ps;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 10px;
                        font-weight: @font-weight__regular;
                        font-size: 2rem;
                    }
                }

                &.tocart {
                    &:before {
                        content: @icon-cart;

                    }
                }

                &.towishlist {
                    &:before {
                        content: @icon-heart-o;
                    }
                }
            }
        }

        .product-social-links{
            display: inline-block;
            width: auto;
            margin: 0 2rem;
            .product-addto-links{
                margin: 0;
                .towishlist {

                }
            }
        }

        .product.description,
        .additional-attributes-wrapper,
        .block.related{
            .container-sm();
        }

        .reviews {
            margin-top: 30px;
        }


        .related {
            .products-grid {
                .product-items {
                    display: block;
                    margin: 0;

                    .slick-track {
                        margin-left: 0;
                        margin-right: 0;
                    }
                }
                .field {
                    &.related {
                        display: none;
                    }
                }
            }
        }

        .product.attribute.description{
            strong{
                margin: 7rem 0 2rem 0;
                display: block;
                font-size: 2.4rem;
                text-transform: uppercase;
                text-align: center;
            }
        }

        .additional-attributes-wrapper{
            padding-top: 5rem;
            .data.table{
                width: 75%;
                margin: auto;
            }
            thead{
                background-color: @c-primary_color;
                th{
                    color: @color-white;
                    border-bottom: none !important;
                }
            }
            th,td{
                width: auto;
                border: 1px solid @c-lavander !important;
                padding: 1.5rem 5rem !important;
            }
            tr:nth-child(even){
                background-color: @c-border-strip;
            }
        }

        .block.related{
            .block-title{
                margin: 5rem 0 3rem 0;
                strong{
                    display: block;
                    font-size: 2.4rem;
                    text-transform: uppercase;
                    text-align: center;
                }
            }
        }


        #product-review-container {
            & + .block.review-add {
                margin-top: 30px;
            }
        }

        .block.review-list,
        .block.review-add{
            max-width: 910px;
            width: 100%;
            margin: auto;
            padding: 0 2rem;

            .action-toolbar {
                text-align: center;
            }
        }


    }

}


//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @c-desk) {
    .catalog-product-view {
        .page-main {
        }
        .table-wrapper {
            &.grouped {
                table {
                    th, td {
                        font-size: 1.2rem;
                        padding: 1rem;
                        &.price {
                            .flex-width(25%);
                        }

                        &.qty {
                            .flex-width(150px);
                        }
                    }
                }
            }
        }
    }
}



.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @c-desk) {
    .catalog-product-view {

        .product-info-main {
            .pdp-product-price {
                .price-head,
                .price-from,
                .price-to,
                .price,
                .price-label {
                    .lib-font-size(@font-size__s - 2);
                    .label,
                    .price-label{
                        min-width: 80px;
                    }
                }
            }

            .action {
                &.tocart,
                &.towishlist {
                    min-width: auto;
                    .lib-font-size(@font-size__s);
                }
            }
        }

        .block.related {
            .products-grid {
                .product-items {
                    margin-left: -40px;
                    margin-right: -40px;
                    .product-item {
                        padding: 15px 0;

                        &-info {
                            border-left: none;
                        }
                    }
                }
                .action.select {
                    display: block;
                    margin: @indent__xs 0;
                }
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @c-tab) {
    .catalog-product-view {
        .additional-attributes-wrapper {
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            .data.table {
                width: 100%;
            }
        }
    }
}


@media screen and (max-width: 800px) {
    .catalog-product-view {
        .column.main {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
        }

        .product.media {
            .lib-vendor-prefix-order(-1);
            margin-top: 30px;
             .fotorama__wrap {
                 .fotorama__stage {
                     border: 1px solid @c-graylight;
                     &__shaft {
                         border: none;
                     }
                 }
                 .fotorama__nav__shaft {
                     top: 0;
                     .fotorama__dot {
                         width: 12px;
                         height: 12px;
                     }
                 }
             }
        }

        .page-main {
            .product-info-main {
                width: 100%;
                margin-top: 30px;

            }
        }

        .table-wrapper {
            &.grouped {
                table {
                    th, td {
                        font-size: 1.2rem;
                        padding: 1rem;
                        .flex-width(percentage(1/3));
                    }
                }
            }
        }

        .product.description,
        .additional-attributes-wrapper,
        .block.related {
            padding-left: 0;
            padding-right: 0;
        }




        .additional-attributes-wrapper th,
        .additional-attributes-wrapper td {
            padding: 2rem !important
        }
    }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m + 1) {
    .catalog-product-view {
        .column.main {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
        }

         .product-info-main {
            .pdp-product-price {
                display: block;
            }

        }

        .product-info-main {
            .pdp-product-price {
                .price-head,
                .price-from,
                .price-to,
                .price,
                .price-label {
                    .lib-font-size(@font-size__s);
                    .label,
                    .price-label {
                        min-width: 80px;
                    }
                }
            }
        }

        .block.related {
            .products-grid {
                .product-items {
                    margin-left: -20px;
                    margin-right: -20px;
                }
            }
        }
    }

    .product-info-main .box-tocart {
        .actions {
            .action.tocart {
                &:extend(.abs-button-responsive-smaller all);
            }
        }
    }



    .compare,
    .product-addto-links .action.tocompare,
    .product-item-actions .actions-secondary > .action.tocompare,
    [class*='block-compare'] {
        display: none;
    }
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .catalog-product-view {
        header.page-header {
           & ~ .breadcrumbs {
                display: none;

                & ~ .page-main {
                    margin-top: 80px;
                }
            }
        }

        .table-wrapper{
            &.grouped {
                table {
                    tbody {
                        tr {
                            padding: 10px;

                            & ~ tr {
                                border-top: 1px solid @c-lavander;
                            }
                        }
                    }
                    th, td{
                        text-align: left;
                        align-items: flex-start;
                        justify-content: flex-start;


                        .qty {
                            align-items: flex-start;
                            justify-content: flex-start;
                        }
                    }

                    th, td {
                        font-size: 1.2rem;
                        padding: 1rem;
                        &.price {
                            .flex-width(100%);
                        }

                        &.qty {
                            .flex-width(100%);
                        }
                    }
                }
            }
        }

        .product-info-main {
            .product-social-links {
                margin: 20px 0;
                display: block;
            }
            .action {
                &.tocart,
                &.towishlist {
                    display: block;
                    width: 100%;
                }
            }
        }

        .info {
            &.detailed {
                border: none;
                .additional-attributes-wrapper {
                    padding: 0;
                    margin-left: 0;
                    .data.table {
                        width: 100%;

                        tbody {
                            .col {
                                &.label {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                .review-add {
                    padding: 0;
                }
            }
        }

    }
}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @c-desk) {

    .page-with-filter{
        .column.main {
            width: calc(~"100% - 300px");
        }
        .sidebar-main {
            width: 300px;
        }
    }

}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product-info-main,
    .product-options-bottom {
        .box-tocart {
            display: block;
            .actions {
                display: inline-block;
                padding-top: @indent__m;
                text-align: center;
                vertical-align: bottom;
            }
        }
    }


    .sidebar {
        .product-items {
            .product-item-info {
                .product-item-photo {
                    float: left;
                    left: auto;
                    margin: 0 @indent__s @indent__s 0;
                    position: relative;
                    top: auto;
                }
            }

            .product-item-details {
                margin: 0;
            }

            .product-item-actions {
                clear: left;
            }
        }
    }

    .product-add-form {
        &:extend(.abs-revert-field-type-desktop all);
    }
}

//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .sidebar {
        .product-items {
            .product-item-info {
                .product-item-photo {
                    float: none;
                    left: 0;
                    margin: 0;
                    position: absolute;
                    top: 0;
                }
            }

            .product-item-details {
                margin-left: 85px;
            }
        }
    }

    /* Custom Styles */
    .page-with-filter,
    .catalog-category-view{
        .page-main{
            .container-md();
        }
    }
}

//
//  Category page layout
//  ---------------------------------------------


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @c-desk) {
    .page-layout-1column {
        .product-info-main {
            width: 45%;//
        }

    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @c-desk) {
    .product-info-main {
        float: right;
    }

    .product.media {
        float: left;
        margin-bottom: @indent__m;
    }

    .page-layout-1column {
        .product-info-main {
            width: 48%;//
        }
        .product.media {
            width: 50%;//
        }
    }

    .page-layout-2columns-left,
    .page-layout-2columns-right,
    .page-layout-3columns {
        .product-info-main {
            width: 48%;
        }

        .product.media {
            width: 50%;
        }
    }
}



@media screen and (min-width: @c-tab-m) and (max-width: @c-desk) {
    .product-info-main {
        float: right;
    }

    .product.media {
        float: left;
        margin-bottom: @indent__m;
    }

    .page-layout-1column {
        .product-info-main {
            width: 52%;//
        }
        .product.media {
            width: 46%;//
        }
    }

    .page-layout-2columns-left,
    .page-layout-2columns-right,
    .page-layout-3columns {
        .product-info-main {
            width: 52%;
        }

        .product.media {
            width: 46%;
        }
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Compare Products Page
    //  ---------------------------------------------

    body.catalog-product-compare-index {
        .action.print {
            float: right;
            margin: 15px 0;
        }
    }

    .table-wrapper.comparison {
        clear: both;
        max-width: 100%;
        overflow-x: auto;
    }

    .table-comparison {
        table-layout: fixed;

        .cell.label.remove,
        .cell.label.product {
            span {
                &:extend(.abs-visually-hidden all);
            }
        }

        .cell.label,
        td:last-child {
            border-right: @table__border-width @table__border-style @table__border-color;
        }

        .cell {
            padding: 15px;
            width: 140px;

            .attribute.value {
                overflow: hidden;
                width: 100%;
            }

            &.product.info,
            &.product.label {
                border-bottom: @table__border-width @table__border-style @table__border-color;
            }

            &.label {
                .attribute.label {
                    display: block;
                    width: 100%;
                    word-wrap: break-word;
                }
            }

            &.attribute {
                .lib-font-size(13);
                img {
                    height: auto;
                    max-width: 100%;
                }
            }
        }

        .product-item-photo {
            display: block;
            margin: 0 auto 15px;
        }

        .product-image-photo {
            margin-left: 0;
        }

        .product-item-actions,
        .price-box,
        .product.rating,
        .product-item-name {
            display: block;
            margin: 15px 0;
        }

        .product-addto-links {
            margin-top: 15px;

            .action.split,
            .action.toggle {
                .lib-button-s();
            }

            .action.toggle {
                padding: 0;
            }
        }

        .cell.remove {
            padding-bottom: 0;
            padding-top: 0;
            text-align: right;

            .action.delete {
                &:extend(.abs-remove-button-for-blocks all);
            }
        }

        .product-item-actions {
            > .actions-primary {
                + .actions-secondary {
                    margin-top: @indent__s;
                }
            }
        }

        .action {
            &.tocart {
                white-space: nowrap;
            }
        }
    }

    .comparison.headings {
        .lib-css(background, @page__background-color);
        left: 0;
        position: absolute;
        top: 0;
        width: auto;
        z-index: 2;
    }

    .block-compare {
        .block-title {
            &:extend(.abs-block-title all);
        }

        .product-item .product-item-name {
            margin-left: 22px;
        }

        .action {
            &.delete {
                &:extend(.abs-remove-button-for-blocks all);
                left: -6px;
                position: absolute;
                top: 0;
            }

            &.compare {
                &:extend(.abs-revert-secondary-color all);
            }
        }

        .counter {
            &:extend(.abs-block-items-counter all);
        }

        .actions-toolbar {
            margin: 17px 0 0;
        }
    }
}