// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */



//
//  Common
//  ________________________ _____________________

& when (@media-common = true) {
    .toolbar {

        .products.wrapper ~ & {
            display: none;
        }


        & + .ias-trigger {
            position: relative;
            top: 60px;
        }

        .flex();
        flex-direction: row-reverse;
        &-products {
            padding: 0;
            text-align: initial;
        }

        .pages,
        .pager {
            display: none !important;
        }

        .modes {
            float:  none;
            margin-right: 0;

            &-mode {
                padding: 0;
                width: 60px;
                height: 60px;
                line-height: 60px;

                &:before {
                    font-size: 25px;
                    line-height: normal;
                }

                &.active {
                    &:before {
                        .lib-css(color, @c-primary_color);
                    }
                }

                &:not(.active):hover {
                    background: transparent;
                    .lib-css(color, @c-primary_color);
                }
            }
        }

        &-amount {
            display: none;
        }


        &-sorter {
            border: 1px solid @c-graylight;
            margin-left: -1px;
            margin-right: -1px;
            padding: 0;
            position: relative;
        }

        .sorter {

            &-label {
                font-weight: bold;
                padding-left: 10px;
            }

            &-options {
                height: 58px;
                display: inline-block;
                vertical-align: middle;
                line-height: 58px;
                margin-left: 0;
                border: none;
                float: none;
            }

            .nice-select {
                position: static;
                width: auto;
                .list {
                    right: 0;
                    margin-top: 1px;
                }
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @c-desk) {
    .toolbar {
        justify-content: flex-end;
    }
}



//
//  Mobile
//  _____________________________________________


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m + 1) {
    .toolbar {
        position: absolute;
        top:1px;
        right: 0px;
        z-index: 9;

        &-sorter.sorter {
            padding: 0;
            border: none;
        }

        .sorter {
            &-label {
                padding: 0 10px;
                &:before {
                    content: @icon-sort;
                    font-family: @icons__font-name_ps;
                    font-size: 20px;
                    vertical-align: middle;
                    margin-right: 5px;
                }

                &:after {
                    font-family: @icons__font-name_ps;
                    content: @icon_delete;
                    font-size: 20px;
                    display: none;
                }
            }

            &-options {
                background: transparent;
                padding: 0 2px;

                &:after {
                    display: none;
                }

                .current {
                    display: none;
                }

                &.nice-select {
                    .list {
                        padding: 20px 0;
                        margin-top: -1px;
                        position: fixed;
                        top: 50px;
                        bottom: 0;
                        width: 100%;
                        opacity: 1;
                        visibility: visible;
                        display: none;
                        .transform(scale(1));
                        margin-bottom: 0;
                        pointer-events: auto;
                        .transition(none);
                    }

                    .option {
                        position: relative;
                        &:before {
                            width: 15px;
                            height: 15px;
                            content: '';
                            display: inline-block;
                            vertical-align: middle;
                            border: 1px solid @c-lightgray;
                            line-height: 15px;
                            margin-right: 8px;
                            .br-radius(3px);
                        }

                        &.selected {
                            &:before {
                                border: 1px solid @c-primary_color;
                                content: @icon-check;
                                font-family: @icons__font-name_ps;
                                font-size: 12px;
                                top: 0;
                                left: 0;
                                background: @c-primary_color;
                                color: @color-white;
                            }
                        }
                    }
                }
            }
        }
    }

    .sort-active {
        .columns {
            z-index: auto;
        }
        .toolbar {
            z-index: 999;
            .sorter {
                &-label {
                    display: block;
                    position: fixed;
                    top: 0;
                    left: 0;
                    right: 0;
                    background: @color-white;
                    padding: 10px;
                    height: 50px;
                    &:after {
                        float: right;
                        font-size: 16px;
                        display: inline-block;
                    }
                }

                .nice-select {
                    position: static;
                    .list {
                        display: block;
                    }
                }

            }
        }
    }
}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @c-desk-md) {
    .toolbar {
        .sorter {
            &-label {
                padding-left: 25px;
            }

            &-options {
              padding-right: 45px;

                &:after {
                    right: 25px;
                }
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @c-desk) {

    .page-with-filter {
        .main {
            position: relative;
        }

        .toolbar {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}
