<!--@subject {{trans "Your %store_name back order email" store_name=$store.frontend_name}} @-->
<!--@vars {

} @-->

{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "%customer_name," customer_name=$customer_name}}</p>
{{trans "It looks like your order #%increment_id with the following has not been shipped." increment_id=$order.increment_id}}
{{layout handle="back_order_email_items" items=$items}}
{{trans "We will keeping you waiting and assure we willdo our Best to get your order out of our warehouse in Southern California as soon as possible."}}
{{trans "Thank you for your patience and understanding"}}

{{template config_path="design/email/footer_template"}}
