// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@review-ratings-left: 280px;
@reviews-indent-desktop: 30px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .rating-summary {
        .lib-rating-summary();
        display: inline;
        padding-right: 10px;
        .rating-result {
            margin-bottom: 5px;
            &:before {
                font-size: @font-size__base + 10px;
            }
            > span{
                &::before{
                    color: @c-primary_color;
                    font-size: @font-size__base + 10px;
                }
            }
        }
        .rating-label{
            text-transform: uppercase;
        }
    }

    .review-date{
        display: inline;
    }

    .product-reviews-summary,
    .table-reviews {
        .rating-summary {
            .lib-rating-summary-label-hide();
        }
    }

    .review-control-vote {
        .lib-rating-vote();
    }

    //
    //  Add review block
    //  ---------------------------------------------

    .block {
        &.add.review {
            margin-bottom: @indent__xl;

            > .title {
                .lib-heading(h2);
            }

            .legend {
                .lib-heading(h3);
                margin: 0 0 @indent__base;
            }

            .field.rating {
                display: table-row;

                .label {
                    display: table-cell;
                    padding: @indent__xs 0;
                    vertical-align: middle;
                }

                .control {
                    display: table-cell;
                    vertical-align: top;
                }
            }
        }

        &.reviews.list {
            > .title {
                .lib-heading(h2);
            }



            .review {
                &.item {
                    margin-bottom: @indent__xl;
                }

                &.title {
                    .lib-heading(h3);
                }
            }
        }
    }

    .data.table.reviews {
        .rating-summary {
            margin-top: -4px;
        }
    }

    .customer-review.view {
        margin-bottom: @indent__base;

        .review.title,
        .ratings-summary,
        .product-details {
            margin-bottom: @indent__base;
        }
    }

    .product-reviews-summary {
        display: table;
        margin: @indent__s 0 12px;

        .products.wrapper.list & {
            margin: 0 auto;
        }

        &.empty {
            margin-left: 0;
        }

        .rating-summary {
            display: table-cell;
            left: -@indent__xs;
            position: relative;
            text-align: left;
            vertical-align: middle;
        }

        .reviews-actions {
            display: table-cell;
            line-height: @rating-icon__font-size;
            vertical-align: middle;

            a {
                margin-right: @indent__xs;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product-reviews-summary {
        .products.wrapper.list & {
            margin: 0;
        }
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .customer-review {
        .product-details {
            &:extend(.abs-add-clearfix all);
            margin-bottom: @indent__xl;
        }

        .product-media {
            float: left;
            margin-right: 3%;
            max-width: 285px;
            width: 30%;
        }

        .review-details {
            .customer-review-rating {
                margin-bottom: @indent__base;

                .item {
                    margin-bottom: @indent__s;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .review-title {
                .lib-heading(h3);
                font-weight: @font-weight__semibold;
                margin-bottom: @indent__base;
            }

            .review-content {
                margin-bottom: @indent__base;
            }
        }

        .product-reviews-summary {
            .rating-summary,
            .reviews-actions {
                display: block;
            }
        }
    }

    .review-field-ratings {
        .nested {
            display: table;
        }

        .review-field-rating {
            display: table-row;

            .label,
            .control {
                display: table-cell;
                padding-bottom: @indent__s;
                vertical-align: top;
            }

            .label {
                padding-right: @indent__s;
                padding-top: 6px;

            }

            .control {
                padding-top: 2px;
                position: static;

                &.review-control-vote {
                    label {
                        position: absolute;
                    }
                }
            }
        }
    }

    //
    //  Review product page
    //  ---------------------------------------------

    .review {
        &-toolbar {
            margin: 0 0 @indent__base;
            text-align: center;

            &:first-child {
                display: none;
            }

            .pages {
                border-bottom: 1px solid @color-gray79;
                display: block;
                padding: @indent__base 0;
                text-align: center;
            }

            .limiter {
                display: none;
            }
        }

        &-add {
            .block-title {
                display: none;
            }
        }

        .fieldset &-legend.legend {
            &:extend(.abs-reset-left-margin all);
            margin-bottom: @indent__base;

            strong {
                display: block;
                margin-left: 0;
            }
        }

        &-field-rating {
            .control {
                margin-bottom: 1.2 * @indent__xl;
                margin-top: @indent__s;
            }
        }

        &-list {
            margin-bottom: @indent__l;

            .block-title strong {
                .lib-heading(h2);
                text-transform: uppercase;
                text-align: center;
                display: block;
                font-weight: 600;
                font-size: 2.4rem;
                margin-bottom: 0;
            }

            .action-toolbar {
                text-align: center;
            }
        }

        &-items {
            margin-bottom: 30px;
        }
        


        &-item {
            .lib-clearer();
            border-bottom: 1px dotted @color-gray79;
            margin: 0;
            padding: @indent__base 0;
            display: flex;
            font-size: @font-size__s;

            .right{
                width: 75%;
                .review-details-value{
                    font-weight: 400;
                }
                .review-details{
                    color: @c-primary_color;
                    font-size: @font-size__xs - 2;
                    font-weight: @font-weight__heavier;
                    text-transform: uppercase;
                }
            }
        }

        &-ratings {
            display: block;
            margin-bottom: @indent__s;
            max-width: 100%;
            font-size: @font-size__s - 2;
            &:extend(.abs-rating-summary all);
        }

        &-author {
            display: inline;
        }

        &-title {
            .lib-heading(h3);
            font-size: 1.6rem;
            text-transform: capitalize;
            color: @c-shuttle-gray;
            font-weight: 600;
            margin: 0 ;
            width: 25%;
        }

        &-content {
            margin-bottom: 1rem;
            text-transform: capitalize;
        }

        .review-form-actions{
            margin: 0;


        }

    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .review {

        &-ratings {

            margin-bottom: 10px;

        }

        &-toolbar {
            margin: 0 0 @reviews-indent-desktop;

            .pages {
                padding: @reviews-indent-desktop 0;
            }
        }

        .fieldset &-legend.legend {
            margin-bottom: @reviews-indent-desktop;
        }

        &-item {
            padding: 4rem 0 1rem 0;
        }

    }

    .product.info.detailed{
        .review-form{
            .review-form-actions{
                margin: 0;
            }
        }
    }


}