<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="shipping-address-item" data-label="Shipping To" data-bind="css: isSelected() ? 'selected-item' : 'not-selected-item'">
    <!-- ko text: address().prefix --><!-- /ko --> <!-- ko text: address().firstname --><!-- /ko -->
    <!-- ko text: address().lastname --><!-- /ko --> <!-- ko text: address().suffix --><!-- /ko --><br/>
    <!-- ko if: address().company -->
        <!-- ko text: address().company --><!-- /ko --><br/>
    <!-- /ko -->
    <!-- ko text: address().street --><!-- /ko --><br/>
    <!-- ko text: address().city --><!-- /ko -->, <!-- ko text: address().region --><!-- /ko --> <!-- ko text: address().postcode --><!-- /ko --><br/>
    <!-- ko text: getCountryName(address().countryId) --><!-- /ko --><br/>
    <!-- ko text: address().telephone --><!-- /ko --><br/>
    <!-- ko foreach: { data: address().customAttributes, as: 'element' } -->
        <!-- ko foreach: { data: Object.keys(element), as: 'attribute' } -->
            <!-- ko if: element[attribute].attribute_code != 'shipping_site_id' -->
                <!-- ko if: element[attribute].value != null -->
                    <!-- ko text: element[attribute].value --><!-- /ko --><br/>
                <!-- /ko -->
                <!-- ko if: element[attribute].value == null -->
                    <!-- ko text: element[attribute] --><!-- /ko --><br/>
                <!-- /ko -->
            <!-- /ko -->
         <!-- /ko -->
    <!-- /ko -->
    <button type="button" data-bind="click: selectAddress" class="action action-select-shipping-item button--tertiary">
        <span data-bind="i18n: 'Ship Here'"></span>
    </button>
</div>
