<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <estimate_shipping>
            <general>                
                <enabled>1</enabled>
                <production_item_text>This is a production item, which is made to order. This item will be shipped to you based on the shipping lead time mentioned here.</production_item_text>
                <nonproduction_item_text>This is a non-production item, which is readily stocked in the warehouse. This item will be shipped to you based on the shipping lead time mentioned here.</nonproduction_item_text>
            </general>
        </estimate_shipping>
    </default>
</config>