<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_before">
        <observer name="ziffity_order_place_validate" instance="Ziffity\Pickupdate\Observer\Order\Place\Before" />
    </event>
</config>