<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Groupcat
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="amasty_groupcat_api_data_ruleinterface_save_before">
        <observer name="legacy_model_save" instance="Magento\Framework\EntityManager\Observer\BeforeEntitySave" />
    </event>
    <event name="amasty_groupcat_api_data_ruleinterface_save_after">
        <observer name="legacy_model_save" instance="Magento\Framework\EntityManager\Observer\AfterEntitySave" />
    </event>
    <event name="amasty_groupcat_api_data_ruleinterface_delete_before">
        <observer name="legacy_model_delete" instance="Magento\Framework\EntityManager\Observer\BeforeEntityDelete" />
    </event>
    <event name="amasty_groupcat_api_data_ruleinterface_delete_after">
        <observer name="legacy_model_delete" instance="Magento\Framework\EntityManager\Observer\AfterEntityDelete" />
    </event>
    <event name="amasty_groupcat_api_data_ruleinterface_load_after">
        <observer name="legacy_model_load" instance="Magento\Framework\EntityManager\Observer\AfterEntityLoad" />
    </event>
    <event name="customer_save_after_data_object">
        <observer name="reindex_on_save_customer" instance="Amasty\Groupcat\Observer\Customer\Save"/>
    </event>
    <event name="customer_login">
        <observer name="amasty_groupcat_customer_login" instance="Amasty\Groupcat\Observer\Customer\Login"/>
    </event>
</config>
