<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="PartySupplies_LayeredNavigation" setup_version="1.0.0" >
        <sequence>
            <module name="WeltPixel_LayeredNavigation"/>
        </sequence>
    </module>
</config>
