//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .checkout-cart-index{
        .page-wrapper {
            .page-main {
                padding-left: 0;
                padding-right: 0;
            }

            .page-title-wrapper {
                margin-bottom: 50px;
            }

            .cart-empty,
            .cart-container {
                .container-md();
            }
        }

        .form-cart {
            .cart {
                &.table-wrapper {
                    .cart {

                        thead {
                            th.col {
                                border: none;
                                color: #fff;
                                padding: 15px 25px;
                                border-right: 1px solid #00aeeb;
                                text-align: center;
                                font-family: @heading__font-family__base;
                                &:last-child{
                                    border-right: 0;
                                    border-radius: 0 3px 0 0;
                                }
                                &:first-child{
                                    text-align: left;
                                    border-radius: 3px 0 0 0;
                                }
                            }
                        }

                        th,
                        td {
                            width: auto;
                        }

                        &.item {
                            border: 1px solid #cecece;
                            &:hover {
                                -webkit-box-shadow: 0px 0px 5px 3px rgba(216, 221, 231, 0.5);
                                -moz-box-shadow: 0px 0px 5px 3px rgba(216, 221, 231, 0.5);
                                box-shadow: 0px 0px 5px 3px rgba(216, 221, 231, 0.5);
                                transition: all .5s ease 0s;
                                .product-image-container{
                                    border: 2px solid #019cdf;
                                }
                            }
                        }

                        .item-info {
                            .col {
                                padding: 15px 25px;
                            }
                            .item-options {
                                color:#616b75;
                                max-width: 135px;
                                margin: 0;
                                dt {
                                    font-weight: normal;
                                    margin: 0;
                                }
                            }
                            .product-item-photo {
                                vertical-align: middle;
                                margin-bottom: 15px;
                            }

                            .product-image-container {
                                max-width: 65px;
                                border: 1px solid #cecece;
                                padding: 2px;
                                transition: all .5s ease 0s;
                            }

                            .product-item-details {
                                padding-bottom: 0;
                            }

                            .product-item-name {
                                font-size: 14px;
                                font-weight: bold;
                                max-width: 300px;
                                margin: 0;
                            }

                            .cart-price {
                                .price {
                                    font-size: 14px;
                                }
                            }

                            .actions-toolbar {
                                text-align: center;
                                .action.towishlist,
                                .action-edit,
                                .action-delete{
                                    &:before {
                                        content: '\e909';
                                        font-family: @icons__font-name_ps;
                                        color: #8991a6;
                                        font-size: 13px;
                                    }
                                    &:hover{
                                        &:before {
                                            color: #000;
                                        }
                                    }
                                    span{
                                        display: none;
                                    }
                                    &:active{
                                        box-shadow: none;
                                    }
                                }
                                .action-edit{
                                    &:before {
                                        content: '\e90c';
                                    }
                                }
                                .action-delete{
                                    &:before {
                                        content: '\e90b';
                                        font-size: 12px;
                                    }
                                }
                                a{
                                    background: transparent;
                                    padding: 0 ;
                                    margin: 0 10px 0 0;
                                }
                            }
                        }

                        .col {
                            .control.qty {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                .input-text {
                                    margin-top: 0;
                                    border-radius: 0;
                                    width: 52px;
                                    height: 40px;
                                    color: #001944;
                                    border: 1px solid #d9dde8;
                                    border-left: 0;
                                    border-right: 0;
                                    &:focus{
                                        box-shadow: none;
                                    }
                                }
                                button {
                                    background: transparent;
                                    width: 40px;
                                    height: 40px;
                                    padding: 0;
                                    color: #8893a5;
                                    border: 1px solid #d9dde8;
                                    cursor: pointer;
                                    font-size: 20px;
                                    border-radius: 0;
                                    &:active{
                                        box-shadow: none;
                                    }
                                    &.decreaseQty{
                                        border-radius: 3px 0 0 3px;
                                    }
                                    &.increaseQty{
                                        border-radius: 0 3px 3px 0;
                                    }
                                }
                            }
                            &.item-actions{
                                min-width: 105px;
                            }
                            &.subtotal{
                                min-width: 110px;
                            }
                        }

                    }
                    
                }

                &.actions {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .action {
                        padding: 0;
                        margin: 0;
                        background: transparent;
                        font-family: @heading__font-family__base;
                        &.continue {
                            display: flex;
                            align-items: center;
                            position: relative;
                            font-weight: 600;
                            color: #0d0d0d;
                            font-size: 1.6rem;
                            text-align: left;
                            -webkit-transition: .4s ease;
                            transition: .4s ease;
                            &::before{
                                top: 0;
                                line-height: 1;
                                font-size: 20px;
                                content: '\e904';
                                font-family: @icons__font-name_ps;
                                transform: rotate(180deg);
                                padding-left: 10px;
                            }
                            &:active{
                                box-shadow: none;
                            }
                            &:hover{
                                color: @c-primary_color;
                            }
                        }
                        &.update{
                            background: #000;
                            padding: 0 30px;
                            border-radius: 3px;
                            height: 5rem;
                            font-size:1.6rem;
                            -webkit-transition: .4s ease;
                            transition: .4s ease;
                            &::before{
                                content: "";
                            }
                            &:hover{
                                color: #fff;
                                background-color: @c-primary_color;
                            }
                        }
                    }

                }
            }

            .cart.table-wrapper,
            .order-items.table-wrapper {
                .col.price,
                .col.qty,
                .col.subtotal,
                .col.msrp,
                .col.item-actions {
                    text-align: center;
                    vertical-align: middle;
                }
            }

        }

        .cart-summary {
            padding: 0 0 2.5rem 0;
            background-color: #f2f5f8;
            position: static;
            .summary{
                margin: 0;
                text-align: center;
                background: @c-primary_color;
                padding: 15px 25px;
                color: #fff;
                font-weight: bold;
                font-size: 2.2rem;
                border-radius: 3px 3px 0 0;
            }

            .block.shipping,
            .cart-totals,
            .block.discount,
            .checkout-methods-items{
                padding: 2.5rem 6.5rem 0;
                border: 0;
            }

            .cart-totals{
                padding-top: 0;
                .table-wrapper{
                    border-top: 1px solid #d9dde8;
                    padding-top: 10px;
                }
                .mark{
                    font-weight: 600;
                    padding-bottom: 0;
                    > strong{
                        font-weight: 600;
                    }
                }
                .amount{
                    padding-bottom: 0;
                }
            }

            .block.shipping{
                .title{
                    border: 0;
                    padding: 0 33px 0 0;
                }
                .fieldset{
                    margin: 20px 0 0 0;
                    .field{
                        margin: 0 0 15px;
                        &:last-child{
                            margin: 0;
                        }
                    }
                }
            }

            select,
            .input-text{
                height: 40px;
                border-radius: 3px;
                font-size: 1.4rem;
                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                appearance: none;
                &:focus{
                    box-shadow: none;
                }
            }

            select{
                background: #fff url(../images/down_arrow.svg) no-repeat 97%;
                background-size: 15px;
            }

            input[type="radio"]{
                display: none;
            }
            input[type="radio"]+label{
                cursor: pointer;
                position: relative;
            }
            input[type="radio"]+label::before{
                content: '';
                border: 2px solid #5b5e67;
                display: inline-block;
                height: 15px;
                width: 15px;
                vertical-align: middle;
                margin-right: 8px;
                -webkit-transition: .4s ease;
                transition: .4s ease;
                border-radius: 10px;
                background: #f2f9ff;
            }
            input[type="radio"]:checked+label::after{
                background: #fff;
                position: absolute;
                content: "\002E";
                left: 4px;
                top: 2px;
                font-size: 30px;
                color: #000;
                line-height: 0;
                border-radius: 50px;
                -webkit-transition: .4s ease;
                transition: .4s ease;
            }
            
        }

        .paypal-review-discount .block > .title:after, 
        .cart-summary .block > .title:after {
            position: absolute;
            right: 0;
            top: -15px;
            line-height: 1;
        }

        .column.main{
            .paypal-review-discount,
            .cart-summary{
                .block > .title strong{
                    font-weight: bold;
                    font-size: 1.6rem;
                }
            }
        }




    }

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {

    .checkout-cart-index {
        .form-cart {
            .cart {
                &.table-wrapper {
                    .cart {
                        .item-info {
                            .actions-toolbar{
                                a{
                                    margin: 0 20px 0 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}



.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xl) {

    .checkout-cart-index {
        .page-wrapper {
            .cart-empty,
            .cart-container {
                padding-left: 30px;
                padding-right: 30px;
            }
        }
        .form-cart {
            .cart {
                &.table-wrapper {
                    .cart {
                        .item-info {
                            .col {
                                padding: 15px;
                            }
                        }
                    }
                }
            }
        }
        .cart-summary {
            .block.shipping,
            .cart-totals,
            .block.discount,
            .checkout-methods-items{
                padding: 2.5rem 3rem 0;
            }
        }
    }

}


@media screen and (max-width: 1200px) {
    .checkout-cart-index {
        .cart-container {
            .cart-summary,
            .form-cart {
                width: 100%;
                padding-right: 0;
            }


            .cart-summary {
                position: static;
                padding-left: 0;

                .cart-totals,
                .discount,
                .checkout-methods-items {
                    max-width: none;
                }
            }


        }
    }

}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m ) {

    .checkout-cart-index {
        .cart-summary {
            width: 30%;
            float: right;
        }
        .form-cart {
            width: 70%;
            padding-right: 2%;
        }
    }
    
    .cart {
        &.table-wrapper {
            margin-bottom: 4rem;
            .cart {
                thead {
                    background: @c-primary_color;
                }
            }
        }
    }
    
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .checkout-cart-index {
        .form-cart {
            .cart.table-wrapper {
                border: none;
                overflow-x: visible;
                overflow-y: visible;
                .cart {

                    .item-info {
                        .col.item {
                            padding: 15px;
                        }

                        .product-item-photo {
                            position: static;
                        }

                        td {
                            float: none;

                            .control.qty {
                                justify-content: flex-start;
                            }
                        }

                        .col.qty {
                            text-align: left;

                        }
                        
                        .cart-price{
                            .price{
                                color: @c-primary_color;
                            }
                        }
                    }
            
                    thead {
                        .col {
                            &.item,
                            &.qty,
                            &.price,
                            &.subtotal,
                            &.msrp {
                                display: none;
                            }
                        }
                    }

                    .col {
                        &.qty,
                        &.price,
                        &.subtotal,
                        &.msrp {
                            text-align: left;
                        }
                        &.item-actions{
                            vertical-align: top;
                            min-width: auto;
                            .actions-toolbar{
                                text-align: right;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .cart-container {
        .form-cart {

            .col {
                width: 100%;
            }
            .actions.main {
                display: inline-block;
                .action {
                    & + .action {
                        margin-top: 20px;
                    }
                }
            }
        }

    }
}