//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .icon {
        span {
            .lib-visually-hidden();
        }
    }

    .page-footer {
        background: @theme__color__secondary;

        .brand-message {
            background: @theme__color__primary;
            color: @color-white;
            text-align: center;
            padding: 25px 0;
            .lib-font-size(20);
            font-weight: @font-weight__bold;

            [data-content-type='row'][data-appearance='contained'] {
                padding-left: @layout-indent__width;
                padding-right: @layout-indent__width;
            }

            .widget.block {
                margin: 0;
            }
        }

        .footer {

            .widget.block {
                margin: 0;
                float: none;
            }

            &.content {
                border-top: none;
                margin-top: 0;
                padding-top: 0;
                padding-bottom: 0;

                .footer-links {
                    > .block {
                        padding: 50px 0 75px;
                    }
                }

                .block {
                    float: none;
                }
            }

            .copyright {
                margin-top: 0;
            }
        }
    }

    .footer {

        .social-links {
            margin-top: 30px;
            ul {
                .flex();
            }
            li {
                & + li {
                    margin-left: 10px;
                }
                a {
                    display: block;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    border: 1px solid @color-white;
                    color: @color-white;
                    .lib-font-size(16);
                    .br-radius(3px);
                    .transition(all 0.5s ease 0s);

                    &:hover {
                        background: @theme__color__primary;
                        border-color: @theme__color__primary;
                    }
                }
            }
        }

        a {
            color: @text__color;

            &:hover {
                color: @theme__color__primary;
                text-decoration: none;
            }
        }

        &-links-wrap {
            .flex();

            .block {
                margin-bottom: 0;
                &-title {
                    strong {
                        .lib-font-size(20);
                    }
                }
            }

            .company-info {
                .flex-width(30%);
                padding-right: 20px;
            }


            .links-wrap {
                .flex-width(70%);
                .flex();

                .widget.block {
                    .flex-width(percentage(1/4));

                    & + .block {
                        padding-left: 20px;
                    }
                }
            }
        }

        .brand-img {
            margin: 0 0 20px;
            max-width: none;
        }

        .brand-content {
            .lib-line-height(25);
        }

        .footer-links {

            > .block {
                border-top: 1px solid fadeOut(@color-black, 60%);
                border-bottom: 1px solid fadeOut(@color-black, 60%);
                padding: 50px 0 75px;
            }

            .block-title {
                color: @color-white;
            }


            .block {

                .links {
                    margin-bottom: 0;
                    padding: 0;
                }
            }
        }

        &-copyright {
            padding: 32px 0;
            .flex();
            color: @color-white;

            a {
                color: @color-white;

                &:hover {
                    color: @theme__color__primary;
                }
            }

            .block,
            .copyright{
                .flex-width(50%);
            }

            .block.widget {
                .order(2);
                .links {
                    .lib-font-size(13);
                    margin-bottom: 0;
                    padding: 0;
                    .flex();
                    justify-content: flex-end;
                }
            }
            .block {
                .links {
                    li {
                        margin-bottom: 0;

                        & + li {
                            margin-left: 15px;
                        }
                    }
                }
            }
        }
    }


    .block {
        &.newsletter {
            padding: 40px 0;
            .flex();
            align-items: center;
            justify-content: center;
            margin-bottom: 0;

            .title {
                display: block;
                margin-bottom: 0;
                margin-right: 40px;
                .lib-css(color, @color-white);
                strong {
                    font-size: @font-size__xl;
                    font-weight: 700;
                }
            }

            .content {
                max-width: 570px;
                width: 100%;
            }

            .form {
                &.subscribe {
                    background: @color-white;
                    position: relative;
                    .br-radius(3px);
                    padding: 5px;
                }

                div.mage-error[generated] {
                    position: absolute;
                    bottom: -20px;
                }

                .action {
                    &.primary {
                        min-width: 160px;
                        height: 50px;
                        .br-radius(3px);
                    }
                }
            }

            .field {
                &.newsletter {
                    margin-right: 0;

                    .control {
                        &:before {
                            display: none;
                        }
                    }
                    label {
                        width: 100%;
                        margin-bottom: 0;
                    }
                    input {
                        border: none;
                        margin: 0;
                        padding-left: 12px;
                        padding-right: 15px;
                        height: 50px;

                        &:focus {
                            box-shadow: none;
                        }

                    }
                }
            }
        }
    }
}




.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @c-desk) {

    .footer {
        &-links-wrap {
            .block {
                &-title {
                    strong {
                        .lib-font-size(16);
                    }
                }
            }
        }
    }
}


//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {

    .page-footer {
        .footer.content {
            .footer-links {
                > .block {
                    padding: 30px 0;
                }
            }
        }
    }

    .block.newsletter {
        padding: 30px 0;
        .title {
            strong {
                .lib-font-size(16);
            }
        }
        .content {
            max-width: 60%;
        }
    }

    .footer {

        &-links-wrap {
            .company-info {
                margin-bottom: 30px;
                padding-right: 0;
            }

            .company-info,
            .links-wrap {
                .flex-width(100%);
            }

        }
    }

}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @c-tab) {
    .page-footer {
        .brand-message {
            .lib-font-size(16);
        }
        .footer {
            &-copyright {
                padding: 20px 0;

                .block,
                .copyright {
                    .flex-width(100%);
                }

                .block {
                    .order(-1);

                    .links {
                        justify-content: center;
                    }
                }

                .copyright {
                    text-align: center;
                }
            }
        }
    }
    .sticky.contact {
        right: -42px;
        span, i {
            padding: 10px;
        }
    }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .block.newsletter {
        .title {
            margin: 0 0 20px;
        }

        .content {
            max-width: 100%;
        }

        .form {
            .action{
                &.primary {
                    min-width: 100px;
                }
            }
        }
    }

    .footer{
        .brand-img {
            img {
                margin: 0 auto;
            }
        }
        .social-links {
            ul {
                justify-content: center;
            }
        }
        &-links {
            > .widget.block {
                border-bottom: 0;
                padding-bottom: 10px;
            }
            &-wrap {
                .block {
                    &-title {
                        margin: 15px 0;
                        padding-right: 20px;
                        position: relative;
                        width: 100%;
                        cursor: pointer;

                        &:before {
                            position: absolute;
                            right: 0;
                        }

                        .lib-icon-font(
                        @_icon-font-content: @icon-chevron-right,
                            @_icon-font: @icon__font-name,
                            @_icon-font-size: 20px,
                            @_icon-font-line-height: 20px,
                            @_icon-font-color: inherit,
                            @_icon-font-color-hover: inherit,
                            @_icon-font-color-active: @header-icons-color-hover,
                            @_icon-font-text-hide: true
                            );
                    }

                    &-content {
                        display: none;
                    }

                    &.active {
                        .block-title {
                            &:before {
                                .transform(rotate(-90deg));
                            }
                        }

                        .block-content {
                            display: block;
                            margin-bottom: 20px;
                        }
                    }
                }

                .links-wrap {
                    .widget.block {
                        .flex-width(100%);

                        &:first-child {
                            border-top: 1px solid fadeOut(@color-black, 60%);
                            border-bottom: 1px solid fadeOut(@color-black, 60%);
                        }

                        & + .block {
                            padding-left: 0;
                            border-bottom: 1px solid fadeOut(@color-black, 60%);
                        }
                    }
                }
            }
        }
    }
    .block.newsletter {
        .field.newsletter input,
        .form .action.primary {
            height: 40px;
        }
    }
    .footer .social-links li a {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    .page-footer .brand-message {
        font-size: 1.4rem;
        padding: 10px 0;
    }
    .block.newsletter {
        padding: 20px 0;
    }
    .page-footer .footer.content .footer-links>.block {
        padding: 20px 0;
    }
}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .footer.content {
        .block {
            &.newsletter {
                max-width: 100%;
                width: 100%;
                float: none;
            }
        }
    }
}
