//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .page-footer {
        background: @theme__color__secondary;

        .footer{
            &.content {
                border-top: none;
                margin-top: 0;
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }

    .block {
        &.newsletter {
            border-bottom: 1px solid @color-black;
            padding: 30px 0;
            .flex();
            align-items: center;
            justify-content: center;

            .title {
                display: block;
                margin-bottom: 0;
                margin-right: 20px;
                .lib-css(color, @color-white);
                strong {
                    font-size: @font-size__xl;
                }
            }



            .form {
                &.subscribe {
                    background: @color-white;
                    position: relative;
                    .br-radius(3px);
                    padding: 5px;
                }

                div.mage-error[generated] {
                    position: absolute;
                    bottom: -20px;
                }

                .action {
                    &.primary {
                        max-width: 160px;
                        height: 50px;
                    }
                }
            }

            .field {
                &.newsletter {
                    margin-right: 0;

                    .control {
                        &:before {
                            display: none;
                        }
                    }
                    label {
                        width: 100%;
                        margin-bottom: 0;
                    }
                    input {
                        border: none;
                        margin: 0;
                        padding-left: 12px;
                        height: 50px;

                        &:focus {
                            box-shadow: none;
                        }

                    }
                }
            }
        }
    }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .block.newsletter {
        .title {
            margin: 0 0 20px;
        }
    }
}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .footer.content {
        .block {
            &.newsletter {
                max-width: 100%;
                width: 100%;
                float: none;

                .content {
                    max-width: 570px;
                    width: 100%;
                }
            }


        }
    }
}
