//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    @-webkit-keyframes slide-down { 0% { opacity:0; transform:translateY(-100%);}100% { opacity:1; transform:translateY(0);}}
    @-moz-keyframes slide-down { 0% { opacity:0; transform:translateY(-100%);}100% { opacity:1; transform:translateY(0);}}
    @keyframes slide-down { 0% { opacity:0; transform:translateY(-100%);}100% { opacity:1; transform:translateY(0);}}

    /* loader */

    body {
        overflow-y: hidden;

        &.page-loaded {
            overflow-y: auto;
        }
    }

    .to-top {
        #backtotop {
            background: @theme__color__secondary;
            border-radius: 100%;
            -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
            color: #ffffff;
            cursor: pointer;
            font-size: 26px;
            font-weight: 600;
            height: 40px;
            line-height: 20px;
            padding: 2px;
            position: fixed;
            right: 20px;
            bottom: 20px;
            text-align: center;
            text-transform: uppercase;
            width: 40px;
            z-index: 88;
            display: none;
            text-decoration: none;

            &:hover {
                background: @theme__color__primary;
            }
        }
    }

    .preloader {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        background: @color-white;
        z-index : 99999;
        .flex();
        align-items: center;
        justify-content: center;

        .loader-container {
            max-width: 200px;
            margin: 0 auto;
            width: 100%;
            color: @theme__color__secondary;
            text-align: center;

            .menu-toggle,
            .nav-toggle {
                display: none;
            }



            .logo {
                pointer-events: none;
                margin: 0 auto;
                float: none;
                max-width: none;
                display: block;
            }
        }

        #progressbar {
            position: relative;
            background: @color-lines;
            height: 10px;
            margin: 20px 0 15px;
        }
        .ui-widget-header {
            height: 100%;
            width: 0%;
            position: relative;
            overflow: hidden;
        }
        .ui-widget-header:before {
            content:'';
            position: absolute;
            height: 100%;
            width:100%;
            background: @theme__color__primary;
            top:0;
            left: 0;
        }
    }

    body {
        .page-header {
            border: none;

            .panel.wrapper {
                background: @color-white;
            }
        }
        &:not(.cms-index-index) {
            .page-header {
                & + #maincontent {
                    position: relative;
                    &:before {
                        content: '';
                        width: 100vw;
                        position: absolute;
                        height: 1px;
                        background: @color-lines;
                        left: 50%;
                        z-index: 1;
                        right: 5%;
                        top:0;
                        margin-left: -50vw;
                        margin-right: -50vw;
                    }
                }
            }
        }
    }

    .header{
        &.panel {
            padding-top: 0;
            padding-bottom: 0;
            ul {
                margin-bottom: 0;
                padding: 0;
                list-style: none;
                li {
                    margin-bottom: 0;

                    a {
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
            .our-brands {
                li {
                    padding: 0 10px;
                }

                ul {
                    .flex();
                    li {
                        position: relative;

                        &:first-child {
                            font-weight: 600;
                            color: @theme__color__secondary;
                            padding-left: 0;
                            span {
                                &:after {
                                    content: ':';
                                }
                            }
                        }

                        &:last-child {
                            padding-right: 0;
                        }

                        a {
                            position: relative;
                            &:before {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                height: 2px;
                                background: @theme__color__primary;
                                left: 0;
                                .transition(all 0.5s ease 0s);
                            }
                            &:hover, &.active {
                                &:before {
                                    width: 100%;
                                }
                            }
                        }

                        span,
                        a {
                            padding: 12px 0;
                            display: block;
                            font-weight: @font-weight__semibold;

                        }
                    }
                }

            }

            .social-links {
                ul {
                    li {
                        display: inline-block;
                        vertical-align: middle;
                        margin-bottom: 0;

                        & + li {
                            padding-left: 20px;
                        }

                        a {
                            display: block;
                            color: @theme__color__primary;
                            &:hover {
                                color: @theme__color__secondary;
                            }
                            span {
                                .lib-visually-hidden();
                            }
                        }
                    }
                }
            }
        }

        &-wrapper {
            background: @color-white;
            transition: all 0.5s ease 0s;
            position: relative;

            &.sticky {
                z-index: 999;
                position: fixed;
                width: 100%;
                top: 0;
                box-shadow: 0 10px 5px -5px rgba(0,0,0,0.05);
                -webkit-animation: slide-down 0.5s;
                -moz-animation: slide-down 0.5s;
                animation: slide-down 0.5s;
                .content {
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }

            &.scrollUp {
                /* transform: translateY(-120%);*/
            }
        }

        &.content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .page-header & {
                &:before, &:after {
                    display: none;
                }
            }
        }

        .navigation {
            background: transparent;
        }

        .block-search {
            .control {
                position: static;
            }
        }
    }

    .header-right-pane {
        .flex();
        justify-content: space-between;
        align-items: center;

        .minicart-wrapper {
            margin: 0 0 0 25px;
        }

        > .header {
            padding: 0;
            margin-bottom: 0;
            margin-left: 25px;
            list-style: none;

            > li {
                margin-bottom: 0;
            }

            a {
                color: @theme__color__secondary;
                &:hover {
                    color: @theme__color__primary;
                    text-decoration: none;
                }
            }

            .dropdown {
                &-toggle {
                    &:after {
                        display: none;
                    }
                }
                &-content {
                    position: absolute;
                    right: 0;
                    top: 60px;
                    min-width: 150px;
                    list-style: none;
                    background: @color-white;
                    border: 1px solid @border_color;
                    border-top: 3px solid @theme__color__primary;
                    padding: 0;
                    z-index: 2;
                    transition: all 0.5s ease-in-out 0s;
                    opacity: 0;
                    visibility: hidden;

                    &:before {
                        content: '';
                        border-top: 5px solid transparent;
                        position: absolute;
                        width: 100%;
                        top: -10px;
                    }

                    li {
                        margin-bottom: 0;
                        > span {
                            font-weight: 700;
                            color: @theme__color__secondary;
                        }
                        > span, a {
                            display: block;
                            padding: 5px 10px;
                        }

                        a {
                            span {
                                .lib-visually-hidden();
                            }
                        }
                    }
                }

                &:hover {
                    .switch {
                        .lib-icon-font(
                        @_icon-font-content: @icon-chevron-up,
                            @_icon-font: @icon__font-name,
                            @_icon-font-size: 16px,
                            @_icon-font-line-height: 20px
                            );
                    }
                    .dropdown-content {
                        opacity: 1;
                        visibility: visible;
                        transition: all 0.5s ease-in-out 0s;
                        top: 30px;
                    }
                }
            }
        }



        .action{
            &.user {
                line-height: normal;
                display: block;
                cursor: pointer;
                color: @theme__color__secondary;
                &:hover {
                    color: @theme__color__primary;
                }
                .lib-icon-font(
                @_icon-font-content: @icon-user,
                    @_icon-font: @icon__font-name,
                    @_icon-font-size: 22px,
                    @_icon-font-line-height: 22px,
                    @_icon-font-color: inherit,
                    @_icon-font-color-hover: inherit,
                    @_icon-font-color-active: @header-icons-color-hover,
                    @_icon-font-text-hide: true
                    );
            }

            > .text,
            strong {
                .lib-visually-hidden();
            }
            &.switch {
                color: inherit;
                .lib-button-reset();
                margin-right: -5px;
                .lib-icon-font(
                @_icon-font-content: @icon-chevron-down,
                    @_icon-font: @icon__font-name,
                    @_icon-font-size: 16px,
                    @_icon-font-line-height: 20px,
                    @_icon-font-color: inherit,
                    @_icon-font-color-hover: inherit,
                    @_icon-font-color-active: @header-icons-color-hover,
                    @_icon-font-text-hide: true
                    );
            }
        }
    }


    .logo {
        img {
            max-width: 270px;
            width: 100%;
            height: auto;
        }
    }

    .navigation {
        .level0 {
            > .level-top {
                font-weight: 600;
            }
        }
    }

    a.mm-prev.mm-btn ~ .user-prof {
        display: none;
    }

    .mm-prev.mm-btn.mm-hidden ~ .user-prof {
        display: block;
    }

    .nav-sections .shop-by-brand h2 {
        font-size: 14px;
    }

    .section-item-content ul .menu-content.col-menu-9 ~ .menu-sidebar-right {
        border: none;
    }

    .nav-sections .shop-by-brand li a
    {
        font-size: 13px;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xl) {
    .page-wrapper {
        .logo {
            margin: 0;
            float: none;
            max-width: none;
            img {
                max-width: 200px;
            }
        }
    }

    .header{
        &.content {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        &.panel {
            .our-brands {
                li {
                    font-size: 1.2rem;
                }
            }
        }
    }


    .section-item-content {
        .menu-container {
            &.menu-extended {
                .menu {
                    &.horizontal,
                    &.stickymenu {
                        > ul {
                            > li {
                                a {
                                    font-size: 1.3rem;
                                }
                            }

                            h2 {
                                font-size: 1.3rem;
                            }
                        }
                    }
                }
            }
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @c-desk) {
    .page-wrapper {
        .logo {
            img {
                max-width: 180px;
            }
        }
    }
    .header {
        &-right-pane {
            .minicart-wrapper {
                margin: 0 0 0 12px;
            }

            > .header {
                margin-left: 12px;
            }

            .action {
                &.user,
                &.showsearch,
                &.showcart, &.showmobcart {
                    &:before {
                        .lib-font-size(18);
                        .lib-line-height(18);
                    }
                }
            }

        }
    }

    .section-item-content {
        .menu-container {
            &.menu-extended {
                .menu {
                    &.horizontal,
                    &.stickymenu {
                        > ul {
                            > li {
                                a {
                                    font-size: 1.2rem;
                                }
                            }
                            h2 {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}


//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {

    .page-header {
        .header {
            &.content {
                .logo {
                    margin: 0 auto;
                }
            }
        }
    }

    .header {
        .nav-toggle {
            display: block;
            position: static;
            text-decoration: none;
            cursor: pointer;
            display: block;
            font-size: 0;
        }

        .menu-toggle {
            .lib-icon-font(
            @icon-menu,
            @_icon-font-size: 28px,
                @_icon-font-color: @header-icons-color,
                @_icon-font-color-hover: @header-icons-color-hover
                );
            .lib-icon-text-hide();
            cursor: pointer;
            display: block;
            font-size: 0;
        }



        .nav-sections {
            display: none;
        }


        &-right-pane {
            .minicart-wrapper {
                margin: 0 0 0 15px;
            }

            > .header {
                margin-left: 15px;
                display: none;
            }

            .action {
                &.user,
                &.showsearch,
                &.showcart, &.showmobcart {
                    &:before {
                        .lib-font-size(22);
                        .lib-line-height(22);
                    }
                }
            }

        }

    }

    .mm-background {
        .menu-toggle {
            &:after {
                background: rgba(0, 0, 0, 0.5);
                content: '';
                display: block;
                height: 100%;
                position: fixed;
                right: 0;
                top: 0;
                width: 100%;
                z-index: 12;
                display: none;
            }
        }
    }



    .mobile-menu {
        .phone-sec {
            display: block;
            margin: 30px;
            text-align: center;
            a {
                background: @theme__color__primary;
                padding: 20px;
                .br-radius(10px);
                display: inline-block;
                font-weight: bold;
                font-size: 16px;
                color: @color-white;
                width: 85%;
            }
        }
        .user-info {
            color: @theme__color__secondary;
            font-weight: bold;
            position: relative;

            &:before {
                content: '';
                /*background: @color-white;*/
                width: 100vw;
                height: 100%;
                position: absolute;
                left: -40px;
                top: 0;
                right: 0;
            }

            > span {
                position: relative;
            }

            .customer-logo {
                background: #86b1fb;
                width: 50px;
                height: 50px;
                line-height: 50px;
                .br-radius(50%);
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
                .lib-icon-font(
                @_icon-font-content: @icon-user,
                    @_icon-font: @icon__font-name,
                    @_icon-font-size: 20px,
                    @_icon-font-line-height: 20px,
                    @_icon-font-color: @color-white,
                    @_icon-font-color-hover: @color-white,
                    @_icon-font-color-active: @color-white,
                    @_icon-font-text-hide: true
                    );
            }

            .welcome {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                width: 95%;
                display: inline-block;
                vertical-align: middle;
            }
        }


        &.mm-menu {
            background: @color-white;

            .mm-navbar {
                height: 80px;
                line-height: 60px;
                background: @color__ghostwhite;
                .mm-btn {
                    height: 80px;
                }
                .mm-btn:before {
                    border-color: @theme__color__secondary;
                }

                .mm-close {
                    padding-right: 20px;
                    &:after {
                        font-size: 30px;
                    }
                }

                .mm-prev {
                    left: 0;
                }

                .mm-title {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    width: ~"calc(100% - 80px)";
                    display: inline-block;
                    vertical-align: middle;
                    margin: auto;
                }

                a[href*="#mm"] ~ .user-info {
                    display: none;
                }
            }

            .mm-panel {
                padding: 0;
                top: 81px;


                &.mm-hasnavbar:first-child {
                    .mm-navbar {
                        display: none;
                    }
                }
                .mm-listview {
                    animation: none;
                    margin: 0;

                    li {
                        &.has-active {
                            a {
                                color: @theme__color__primary;

                                &.mm-next:after {
                                    border-color: @theme__color__primary;
                                }
                            }
                        }

                        border-top: 1px solid @color-lines;
                        border-bottom: 1px solid @color-lines;
                        margin-bottom: -1px;
                    }

                    >li {
                        .mm-next:before {
                            display: none;
                        }
                        .mm-next:after {
                            border-color: @theme__color__secondary;
                        } 


                        &:not(.mm-divider):after {
                            left: 0;
                        }

                        &:after {
                            display: none;
                        }

                        > a, 
                        > span {
                            padding: 18px 10px 18px 20px;
                            font-weight: bold;
                            color: @theme__color__secondary;
                        }
                    }
                }
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @c-tab) {
    .slogan-sec {
        display: none;
    }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    html {
        &.mm-opening {
            .mm-slideout {
                .transform(none) !important;
            }
        }

        #mm-blocker {
            z-index: 9999;
            display: none !important;
        }
    }

    html.mm-effect-slide-menu.mm-opened .mm-menu.mm-offcanvas {
        .transform(translate3d(-100%, 0 , 0)) !important;
    }
    html.mm-effect-slide-menu.mm-opening {
        .slogan-sec,
        .mm-menu.mm-offcanvas {
            .transform(translate3d(0, 0 , 0)) !important;
        }
    }

    #mobile-menu {
        max-width: 100%;
        width: 100%;
        z-index: 99999;
        margin-top: 38px;
        /*overflow: visible;*/
        &:after {
            display: none;
        }

        &:before {
            content: '';
            position: absolute;
            top: -38px;
            height: 38px;
            background:@theme__color__primary;
            width: 100%;
            left: 0;
            right: 0;
            z-index: 2;
        }
    }

    .header.panel {
        .slogan-sec {
            background: @theme__color__primary;
            text-align: center;
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            .transform(transform .4s ease);
            .transform(translate3d(-100%, 0 , 0)) !important;
            transition: .4s ease;
            z-index: 99999;
            height: 38px;
        }
    }

    .nav-open {
        .page-wrapper {
            left: 0;
        }
    }

    .nav-toggle{
        &:before {
            .lib-font-size(20);
        }
    }
    .header{
        &.content {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        &.panel {
            .wrapper & {
                border-bottom: 1px solid @secondary__color;
            }
            .social-links {
                display: none;
            }
            .our-brands {
                ul {
                    justify-content: space-between;

                    li{
                        padding: 0;
                        &:first-child {
                            display: none;
                        }
                    }

                }
            }
        }

        &-right-pane {
            > .header {
                display: none;
            }
        }

        .block-search {
            margin: 0;

            .label {
                display: none;
            }

            .control {
                border: none;
                margin: 0;
                padding: 0;
            }
        }

        .logo {
            margin: 0 auto;
            img {
                max-width: 150px;
            }
        }

        &.links {
            .nav-sections & {
                .dropdown {
                    &-toggle {
                        display: none;
                    }

                    &-content {
                        padding-left: 0;

                        li {
                            font-weight: normal;
                            a {
                                font-weight: inherit;
                            }
                        }
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .menu-toggle{
        display: none;
    }

    #mobile-menu {
        display: none;
    }

    html.mm-opening {
        #mm-blocker {
            display: none;
        }
        .mm-slideout {
            transform: none;
        }
    }

    .nav-sections {
        max-width: calc(~'100% - 260px');
        padding: 0 10px;
    }
    .header-right-pane {
        min-width: 95px;
    }

    .sticky {
        .section-item-content {
            .menu-container {
                .menu.horizontal, .stickymenu {
                    > ul > li > a:before {
                        bottom: -10px;
                    }
                } 
            }
        }
    }

    .section-item-content {
        .menu-container {
            display: block;
            .menu-mobile {
                display: none;
            }
            ul {
                padding: 0;
                margin: 0;
            }

            &.menu-extended {
                .menu {
                    &.horizontal,
                    &.stickymenu {
                        > ul {
                            > li {
                                padding: 0 5px;
                            }
                        }
                    }
                }
            }


            .menu {
                &.horizontal,
                &.stickymenu {
                    width: 100%;
                    background: transparent;
                    margin-bottom: 0;


                    > ul { 
                        > li.has-active {
                            background: transparent;
                            > a {
                                color: @theme__color__primary;
                                &:before {
                                    display: block;
                                }
                            }

                            li.has-active {
                                >  a {
                                    color: @theme__color__primary;
                                }
                            }
                        }
                    }

                    > ul {
                        position: static;
                        > li {
                            display: inline-block;
                            padding: 0 10px;
                            &:hover {
                                background: transparent;

                                > a {
                                    color: @theme__color__primary;

                                    &:before {
                                        display: block;
                                    }
                                }

                                > .wrapper {
                                    display: block;
                                }
                            }

                            > a {
                                color: @theme__color__secondary;
                                padding: 20px 0;
                                position: relative;
                                > span {
                                    display: none;
                                }
                                &:before {
                                    position: absolute;
                                    bottom: -15px;
                                    height: 5px;
                                    width: 100%;
                                    background: @theme__color__primary;
                                    content: '';
                                    left: 0;
                                    right: 0;
                                    margin: 0;
                                    display: none;
                                }

                                &:after {
                                    position: absolute;
                                    bottom: -22px;
                                    height: 22px;
                                    width: 100%;
                                    left: 0;
                                    right: 0;
                                    content: '';
                                }
                            }

                            &.dropdown {
                                position: static;
                            }

                            ul {
                                margin-bottom: 0;

                                li {
                                    a {
                                        transition: none;
                                        color: @theme__color__secondary;
                                        &:hover {
                                            padding: 0;
                                            color: @theme__color__primary;
                                        }
                                        &:before {
                                            display: none;
                                        }
                                    }
                                }
                            }



                            .wrapper {
                                display: none;
                                width: 100%;
                                background: #fff;
                                padding: 15px;
                                box-shadow: inset 0px 9px 6px 0px rgba(0, 0, 0, 0.05);
                                border: none;
                                border-top: 1px solid @color-lines;
                                position: absolute;
                                z-index: 99;
                                left: 0;
                                margin: 0;
                                top: 100%;
                                list-style: none;
                                box-sizing: border-box;
                                min-height: 300px;
                                -webkit-animation: none;
                                animation: none;

                                > ul {
                                    max-width: 1200px;
                                    margin: 0 auto;
                                    float: none;

                                    .category-item {
                                        padding: 0 5px;
                                        > a {
                                            font-weight: bold;
                                            margin-bottom: 5px;
                                            display: block;
                                            font-size: 13px;

                                            & + ul {
                                                a {
                                                    color: @color-dgray;
                                                    font-size: 12px;

                                                    &:hover {
                                                        color: @theme__color__primary;
                                                    }
                                                }

                                                li.has-active {
                                                    >  a {
                                                        color: @theme__color__primary;
                                                    }
                                                }
                                            }
                                        }
                                    }


                                    .heading {
                                        font-weight: bold;
                                        margin-bottom: 5px;
                                        display: block;
                                    }

                                    .menu-content {
                                        &.col-menu-9 {
                                            width: 84%;
                                            padding-right: 20px;

                                            & ~ .menu-sidebar-right {
                                                padding-left: 20px;
                                                width: 16%;
                                                border-left: 1px solid @color-lines;
                                            }
                                        }
                                        > [class*="column"] {
                                            > li {
                                                width: percentage(1/6);
                                            }
                                        }
                                    }

                                    .shop-by-brand {
                                        h2 {
                                            text-align: left;
                                            margin-bottom: 15px;
                                        }

                                        li {
                                            a {
                                                color: @color-dgray;

                                                &:hover {
                                                    color: @theme__color__primary;
                                                }
                                            }
                                        }
                                    }

                                    [data-element='inner'] {
                                        padding: 0 !important;
                                        margin: 0 !important;
                                    }

                                    .menu-footer {
                                        ul {
                                            section h2 {
                                                text-align: left;
                                                margin-bottom: 15px;
                                            }
                                            ul {
                                                .flex();
                                                margin-left: -10px;
                                                margin-right: -10px;
                                                li {
                                                    .flex-width(140px);
                                                    padding: 5px;

                                                    &:hover {
                                                        .product-item-photo {
                                                            border: 1px solid @theme__color__primary;
                                                        }

                                                        .product-item-link {
                                                            color: @theme__color__primary;
                                                        }
                                                    }

                                                    .product-item-link {
                                                        color: @color-dgray;
                                                    }
                                                }

                                                .product-item-photo {
                                                    border: 1px solid @color-lines;
                                                    .br-radius(10px);
                                                    display: block;
                                                    padding: 5px;
                                                    .product-image-container {
                                                        max-width: 150px;
                                                        width: 100% !important;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .section-item-content .menu-container .menu > ul > li ul li {
        padding: 2px 0;
        line-height: 1.2;
    }

    .megaStaticBlock {
        .product-image-wrapper {
            padding-bottom: 40% !important;
        }
        .product-item-name {
            font-size: 12px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .header{
        &.content {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        &.panel {
            .our-brands {
                li {
                    padding: 0 18px;
                }
                span,a {
                    .lib-font-size(14);
                }
            }

            .social-links {
                a {
                    .lib-font-size(14);
                }
            }
        }
    }
    .navigation {
        .level0 {
            .lib-font-size(14);
        }
    }

    .section-item-content {
        .menu-container,
        .menu-container.menu-extended {
            .menu {
                &.horizontal,
                &.stickymenu {
                    > ul {
                        > li {
                            padding: 0 20px;

                            > a {
                                padding: 20px 0;
                                &:before {
                                    bottom: -22px;
                                }

                                &:after {
                                    bottom: -22px;
                                    height: 22px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .sticky {
        .section-item-content {
            .menu-container {
                .menu.horizontal, .stickymenu {
                    > ul > li > a:before {
                        bottom: -12px;
                    }
                } 
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @c-desk) {
    .header {
        &-top-links {
            .our-brands,
            .slogan-sec,
            .social-links {
                .flex-width(percentage(1/3));
            }

            .slogan-sec {
                text-align: center;
            }

            .social-links {
                text-align: right;
            }
        }

        .navigation {
            .level0 > {
                .level-top {
                    font-size: 1.6rem;
                }
            }
        }

        &-right-pane {
            min-width: 120px;
        }
    }

    .nav-sections {
        max-width: calc(~'100% - 300px');
    }

    .section-item-content {
        .menu-container,
        .menu-container.menu-extended {
            .menu {
                &.horizontal,
                &.stickymenu {
                    > ul {
                        > li {
                            padding: 0 10px;


                            > a {
                                padding: 20px 0;
                                &:before {
                                    bottom: -15px;
                                }

                                &:after {
                                    bottom: -22px;
                                    height: 22px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .sticky {
        .section-item-content {
            .menu-container {
                .menu.horizontal, .stickymenu {
                    > ul > li > a:before {
                        bottom: -10px;
                    }
                } 
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    @-webkit-keyframes slideInUp {
        0% {
            -webkit-transform: translateY(50px);
            transform: translateY(50px);
            visibility: hidden;
            opacity: 0;
        }
        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            visibility: visible;
            opacity: 1;
        }
    }
    @keyframes slideInUp {
        0% {
            -webkit-transform: translateY(50px);
            transform: translateY(50px);
            visibility: hidden;
            opacity: 0;
        }
        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            visibility: visible;
            opacity: 1;
        }
    }

    .mega-menu {
        .header {
            &.content {
                position: static;
            }
        }
    }


    .page-wrapper {
        &:after {
            content: '';
            position: fixed;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.5);
            visibility: hidden;
            opacity: 0;
            z-index: 99;
        }

        .page-header {
            z-index: 100;
            position: relative;
        }
    }

    .menu-hovered {
        .page-wrapper {
            &:after {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    .page-header {
        .header {
            &.panel {
                padding-top: 0;
                padding-bottom: 0;
            }
            &-top-links{
                .flex();
                justify-content: space-between;
                align-items: center;
                padding-top: 0;
                padding-bottom: 0;
            }

            .logo {
                margin: 0;
            }
        }
    }

    .nav-sections {
        background: transparent;
        margin-bottom: 0;

        .links {
            display: none;
        }
    }
    .navigation {
        max-width: none;
        width: auto;
        font-weight: normal;
        .level0 {
            text-align: center;
            margin-right: 0;
            > .level-top {
                text-transform: none;

            }
        }
    }
}
