.flex() {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-width(@width) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 @width;
    flex: 0 0 @width;
    max-width: @width;
}

.order(@order) {
    -webkit-box-ordinal-group: @order + 1;
    -ms-flex-order: @order;
    order: @order;
}

.box-shadow (@string) {
    -webkit-box-shadow: @string;
    -moz-box-shadow: @string;
    box-shadow: @string;
}

.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
    -webkit-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.inner-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
    -webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.br-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.transition (@transition) {
    -webkit-transition: @transition;
    -moz-transition: @transition;
    -ms-transition: @transition;
    -o-transition: @transition;
    transition: @transition;
}
.transform(@string){
    -webkit-transform: @string;
    -moz-transform: @string;
    -ms-transform: @string;
    -o-transform: @string;
    transform: @string;
}
.scale (@factor) {
    -webkit-transform: scale(@factor);
    -moz-transform: scale(@factor);
    -ms-transform: scale(@factor);
    -o-transform: scale(@factor);
    transform: scale(@factor);
}
.rotate (@deg) {
    -webkit-transform: rotate(@deg);
    -moz-transform: rotate(@deg);
    -ms-transform: rotate(@deg);
    -o-transform: rotate(@deg);
    transform: rotate(@deg);
}
.translate (@x, @y:0) {
    -webkit-transform: translate(@x, @y);
    -moz-transform: translate(@x, @y);
    -ms-transform: translate(@x, @y);
    -o-transform: translate(@x, @y);
    transform: translate(@x, @y);
}
.translate3d (@x, @y: 0, @z: 0) {
    -webkit-transform: translate3d(@x, @y, @z);
    -moz-transform: translate3d(@x, @y, @z);
    -ms-transform: translate3d(@x, @y, @z);
    -o-transform: translate3d(@x, @y, @z);
    transform: translate3d(@x, @y, @z);
}

.lib-button-primary() {
    .br-radius(3px);
}

.btn-bor() {
    border: 2px solid @theme__color__primary;
    padding: 9px 15px;
    display: inline-block;
    border-radius: 3px;

    &:focus,
    &:hover {
        background: @color-dark-blue;
        border-color: @color-dark-blue;
        color: @color-white;
    }

    &:active {
        box-shadow: none;
    }
}

.btn-bor-gray() {
    border: 1px solid @color-lines;
    padding: 9px 15px;
    display: inline-block;
    border-radius: 3px;
    background: transparent;
    color: @theme__color__primary;
    font-weight: 600;

    &:focus,
    &:hover {
        background: @theme__color__primary;
        color: @color-white;
        border: 1px solid @theme__color__primary
    }

    &:active {
        box-shadow: none;
    }
}

.link-inverse() {
    color: @theme__color__primary;
    &:hover {
        color: @color-dark-blue;
    }
}

.choice() {
    position: relative;
    input[type="checkbox"],
    input[type="radio"]{
        position: absolute;
        visibility: hidden;

        & + label {
            cursor: pointer;

            span {
                line-height: normal;
            }
        }
    }

    input[type="radio"] {
        &:checked + label {
            &:before {
                background: transparent;
                border-color: @theme__color__primary;
                box-shadow: inset 0px 0px 0px 3px @color-white, inset 0px 0px 0px 10px @theme__color__primary;
                text-align: center;
                font-size: 25px;
                line-height: 10px;
            }
        }
        & + label {
            line-height: normal;
            margin-bottom: 0;
            &:before {
                width: 15px;
                height: 15px;
                line-height: 15px;
                border: 2px solid @color-lines;
                color: @color-lines;
                content: '';
                .br-radius(50%);
                //font-family: @icon-fox;
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
            }
        }
    }

    input[type="checkbox"] {
        &:checked + label {
            &:before {
                content: @icon-check;
                background: @theme__color__primary;
                border-color: @theme__color__primary;
            }
        }
        & + label {
            line-height: normal;
            margin-bottom: 0;
            &:before {
                width: 15px;
                height: 15px;
                line-height: 15px;
                border: 1px solid @color-lines;
                color: @color-white;
                content: '';
                font-family: @icon__font-name;
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
                border-radius: 2px;
                font-weight: 600;
                margin-top: -1px;
            }
        }
    }
}

.inner-container() {
    max-width: @inner_container__width;
    padding: 0 15px;
    margin: 0 auto;
}

.more-icon() {
    color: @theme__color__secondary;
    &:after {
        transition: transform .3s cubic-bezier(.165,.84,.44,1);
        display: inline-block;
        content: @icon-chevron-right;
        font-family: @icon__font-name;
        display: inline-block;
        vertical-align: middle;
        .lib-font-size(15);
        margin-top: -1.5px;
        line-height: normal;
    }
    &:hover {
        color: @theme__color__primary;
        &:after {
            -webkit-animation: button-arrow-right .3s cubic-bezier(.165,.84,.44,1) both;
            animation: button-arrow-right .3s cubic-bezier(.165,.84,.44,1) both;
        }
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .bg-primary {
        background: @theme__color__primary;
    }
    .bg-secondary {
        background: @theme__color__secondary;
    }
    .bg-linen {
        background: @color__linen;
    }
    .bg-white {
        background: #fff;
    }
    .bg-light {
        background: @color__ghostwhite;
    }

    .text-title {
        color: @text__color__secondary;
    }

    .py-10 {
        padding: 6rem 0;
    }

    .pb-10 {
        padding-bottom: 6rem;
    }

    .mb-10 {
        margin-bottom: 6rem;
    }

    .pt-6 {
        padding-top: 4rem;
    }

    .mb-6 {
        margin-bottom: 4rem;
    }

    .abs-center {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }

    .w-overlay {
        .transition(.5s);
        background: rgba(0,0,0,.5);
        cursor: pointer;
        position: fixed;
        top: 0;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        z-index: 99;
    }

    .read-more, a.more {
        text-transform: uppercase;
        .more-icon();
    }

    .action {
        &.reset {
            .br-radius(3px);
        }
    }

    .action {
        &.link {
            .link-inverse();
        }
    }

    .action.btn-bor {
        .lib-button-primary();
        background: transparent;
        border-radius: 3px;
        border: 2px solid @title_color;
        color: @title_color;
        display: inline-block;
        text-decoration: none;
        &:hover {
            border: 2px solid @color-dark-blue;
            background: @color-dark-blue;
            color: #fff;
        }
    }

    .inner-container {
        .inner-container();
    }

    .bg-img {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .gutter {
        padding-left: 15px; 
        padding-right: 15px; 
    }
}

@-webkit-keyframes button-arrow-right{0%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}49%{opacity:0;-webkit-transform:translateX(25px);transform:translateX(25px)}50%{opacity:0;-webkit-transform:translateX(-25px);transform:translateX(-25px)}10%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}}@keyframes button-arrow-right{0%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}49%{opacity:0;-webkit-transform:translateX(25px);transform:translateX(25px)}50%{opacity:0;-webkit-transform:translateX(-25px);transform:translateX(-25px)}10%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @c-desk) {
    .py-10 {
        padding: 7rem 0;
    }
    .pb-10 {
        padding-bottom: 7rem;
    }
    .mb-10 {
        margin-bottom: 7rem;
    } 
    .mb-6 {
        margin-bottom: 5rem;
    }
    .pt-6 {
        padding-top: 5rem;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .py-10 {
        padding: 10rem 0;
    }
    .pb-10 {
        padding-bottom: 10rem;
    }
    .mb-10 {
        margin-bottom: 10rem;
    }
    .mb-6 {
        margin-bottom: 6rem;
    }
    .pt-6 {
        padding-top: 6rem;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .gutter {
        padding-left: 20px; 
        padding-right: 20px; 
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .py-10 {
        padding: 4rem 0;
    }
    .pb-10 {
        padding-bottom: 4rem;
    }
    .mb-10 {
        margin-bottom: 4rem;
    }
    .mb-6 {
        margin-bottom: 2rem;
    }
    .pt-6 {
        padding-top: 2rem;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .action.primary {
        padding: 14px 30px;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @c-desk) {
    .action.btn-bor {
        padding: 14px 20px;
    }
    .action.primary {
        padding: 12px 30px;
    }
    .action.btn-bor {
        min-width: 170px;
        text-align: center;
    }
}