{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": [ "last 2 versions", "ie 11", "safari 9" ],
        "useBuiltIns": "entry",
        "corejs": 3,
        "forceAllTransforms": true
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties"
  ]
}
