<div class="ship-warehouse" data-bind="visible: selectedMethod() == 'ownshipping_ownshipping'">
    <span data-bind="i18n: 'Ship your products from our warehouse'"></span>
    <div class="warehouse-address">
    <span data-bind="text: warehouseAddress().branch_name"></span>
    <span data-bind="text: warehouseAddress().street1"></span>
    <span data-bind="text: warehouseAddress().street2"></span>
    <span data-bind="text: warehouseAddress().city"></span>
    <span data-bind="text: warehouseAddress().state"></span>
    <span data-bind="text: warehouseAddress().country"></span>
    <span data-bind="text: warehouseAddress().zip_code"></span>
    <span data-bind="text: warehouseAddress().phone"></span>
    </div>
</div>
