<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="customfilters" id="customfilters">
            <module name="Ziffity_CustomFilters"/>
        </route>
    </router>
</config>