// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Blank theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files



//
//  Typography
//  ---------------------------------------------

//  Fonts

@font-face {
    font-family: 'PS';
    src:  url('@{baseDir}fonts/PS.eot??90zgln');
    src:  url('@{baseDir}fonts/PS.eot??90zgln#iefix') format('embedded-opentype'),
    url('@{baseDir}fonts/PS.ttf??90zgln') format('truetype'),
    url('@{baseDir}fonts/PS.woff??90zgln') format('woff'),
    url('@{baseDir}fonts/PS.svg??90zgln#PS') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'PS' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@icons__font-name_ps: 'PS';

//
//  Layout
//  ---------------------------------------------

@layout-indent__width: 20px;
@layout__max-width: 1920px;


//
//  Sizes
//  ---------------------------------------------

@font-family-name__base: 'Questrial', 'sans-serif';
@font-size-ratio__base: 1.6;

//
//  Colors
//  ---------------------------------------------

@text__color: @c-text_color;

//
//  Headings
//  ---------------------------------------------

@heading__font-family__base: 'Montserrat', sans-serif;
@h1__font-size: 3.8rem;
@h2__font-size: 3rem;
@h3__font-size: 2.4rem;
@h4__font-size: 2rem;
@h5__font-size: 1.6rem;
@h6__font-size: 1.4rem;
//
//  Buttons
//  ---------------------------------------------

@button__border: none;
@button__padding: 15px 33px;
@button__font-size: 1.375rem;
@button__color: @c-white_color;
@button-primary__background: @color-black;
@button-primary__border: false;
@button-primary__hover__background: @c-primary_color;
@button-primary__hover__border: flase;
@button-primary__font-weight: 700;

//
//  Links
//  ---------------------------------------------

@link__color: @c-text_color;
@link__text-decoration: none;

@link__visited__color: false;
@link__visited__text-decoration: none;

@link__hover__color: @c-primary_color;
@link__hover__text-decoration: none;

@link__active__color: @c-primary_color;
@link__active__text-decoration: none;

//
//  Navigation variables
//  ---------------------------------------------

@navigation__background: @c-primary_color;
@navigation-desktop-level0-item__line-height: false;
@navigation-desktop-level0-item__color: @c-white_color;
@navigation-desktop-level0-item__hover__color: @c-hover_color;
@navigation-desktop-level0-item__active__border-width: 0;

@submenu-desktop-item__hover__background: false;
@submenu-desktop-item__active__border-width: false;
@submenu-desktop-item__active__border-style: false;
@submenu-desktop-item__active__border-color: false;



//
//  Icons variables
//  ---------------------------------------------

@icon-filter:'\e90d';

@right-arrow:"\e904";

@icon-heart-o:"\e909";

@icon-heart: "\e90a";

@icon_delete:"\e90b";

@icon_edit:"\e90c";

@icon-cart: "\e901";

@icon-customer_support: "\e902";

@icon-dollar_arrow: "\e903";

@icon-lock: "\e905";

@icon-minimum_order_value: "\e906";

@icon-own_shipping: "\e907";

@icon-search: "\e908";

@icon-chevron-thin-right: "\e900";

@icon-check:"\e910";
