// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Blank theme variables
//  _____________________________________________

//
//  Typography
//  ---------------------------------------------

//  Fonts
@font-family-name__base: 'Open Sans';
@font-family__base: @font-family-name__base, @font-family__sans-serif;

//
//  Sections variables
//  _____________________________________________

//
//  Tabs
//  ---------------------------------------------
@tab-content__border-top-status: true;

//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background

//
//  New Variables
//  ---------------------------------------------

@c-primary_color: #009cdf;
@c-sec_color: #0079bc;
@c-text_color: #0d0d0d;
@c-text_sec_color: #868686;
@c-hover_color: #f1003e;
@c-bg-color: #f9f9f9;
@c-white_color: #fff;
@c-whitesmoke: #f2f5f8;
@c-aliceblue: #f1f8ff;
@c-lavander: #e9edf0;
@c-lightgray: #8d92a3;
@c-shuttle-gray: #595e63;
@c-graylight:#e0e0e0;
@c-border-strip:#f4f4f4;
@c-success: #4acc7e;
@c-warning:#ffd966;
@active__color: @c-primary_color;
@icon-color: #8a92a5;



@c-tab: 992px;
@c-desk: 1200px;
@c-desk-md: 1350px;
@c-desk-lg: 1700px;
@c-mob: 576px;



/* Mixin style */


.flex() {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-width(@width) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 @width;
    flex: 0 0 @width;
    max-width: @width;
}

.order(@order) {
    -webkit-box-ordinal-group: @order + 1;
    -ms-flex-order: @order;
    order: @order;
}

.box-shadow (@string) {
    -webkit-box-shadow: @string;
    -moz-box-shadow: @string;
    box-shadow: @string;
}

.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
    -webkit-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.inner-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
    -webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.br-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.transition (@transition) {
    -webkit-transition: @transition;
    -moz-transition: @transition;
    -ms-transition: @transition;
    -o-transition: @transition;
    transition: @transition;
}
.transform(@string){
    -webkit-transform: @string;
    -moz-transform: @string;
    -ms-transform: @string;
    -o-transform: @string;
    transform: @string;
}
.scale (@factor) {
    -webkit-transform: scale(@factor);
    -moz-transform: scale(@factor);
    -ms-transform: scale(@factor);
    -o-transform: scale(@factor);
    transform: scale(@factor);
}
.rotate (@deg) {
    -webkit-transform: rotate(@deg);
    -moz-transform: rotate(@deg);
    -ms-transform: rotate(@deg);
    -o-transform: rotate(@deg);
    transform: rotate(@deg);
}
.skew (@deg, @deg2) {
    -webkit-transform: skew(@deg, @deg2);
    -moz-transform: skew(@deg, @deg2);
    -ms-transform: skew(@deg, @deg2);
    -o-transform: skew(@deg, @deg2);
    transform: skew(@deg, @deg2);
}
.translate (@x, @y:0) {
    -webkit-transform: translate(@x, @y);
    -moz-transform: translate(@x, @y);
    -ms-transform: translate(@x, @y);
    -o-transform: translate(@x, @y);
    transform: translate(@x, @y);
}
.translate3d (@x, @y: 0, @z: 0) {
    -webkit-transform: translate3d(@x, @y, @z);
    -moz-transform: translate3d(@x, @y, @z);
    -ms-transform: translate3d(@x, @y, @z);
    -o-transform: translate3d(@x, @y, @z);
    transform: translate3d(@x, @y, @z);
}

.d-none {
    display: none !important;
}


.container-lg() {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;


    @media screen and (min-width: 1600px) {
        padding-right: 60px;
        padding-left: 60px;
    }
}

.container-lg {
    .container-lg();
}


.container-md() {
    max-width: 1610px;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    padding-right: 20px;
    padding-left: 20px;
}

.container-md {
    .container-md();
}

.container-sm() {
    max-width: 1210px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 98%;
}

.container-sm {
    .container-sm();
}


// Mixin itself
.clearfix() {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}


/*.lib-link( @_link-color: @color-blue, @_link-text-decoration: @link__text-decoration, @_link-color-visited: @link__visited__color, @_link-text-decoration-visited: @link__visited__text-decoration, @_link-color-hover: @link__hover__color, @_link-text-decoration-hover: @link__hover__text-decoration, @_link-color-active: @link__active__color, @_link-text-decoration-active: none) {
    .lib-css(color, @color-blue);
    .lib-css(text-decoration, @_link-text-decoration);
    &:visited {
        .lib-css(color, @color-blue);
        .lib-css(text-decoration, @_link-text-decoration-visited);
    }
    &:hover {
        .lib-css(color, @color-blue);
        .lib-css(text-decoration, @_link-text-decoration-hover);
    }
    &:active {
        .lib-css(color, @color-blue);
        .lib-css(text-decoration, @_link-text-decoration-active);
    }
}*/

@keyframes bounce {
    0% {
        transform: translate(0,0);
    }
    20% {
        transform: translate(0,10px);
    }
    40% {
        transform: translate(0,0);
    }
}

@keyframes shine {
    100% {
        left: 125%
    }
}

@-moz-keyframes shine {
    100% {
        left: 125%
    }
}

@-webkit-keyframes shine {
    100% {
        left: 125%
    }
}

@-o-keyframes shine {
    100% {
        left: 125%
    }
}

input[type="button"],
input[type="reset"],
input[type="submit"],
button{
    &:active {
        box-shadow: none;
        outline: none;
    }
}

.action.update {
    .lib-button-primary();
}



.btn() {
    position: relative;
    overflow: hidden;
    .transition(all 0.75s ease-in-out 0s);
    .br-radius(3px);
    .lib-css(color, @color-white);
    font-size: 1.6rem;
    padding: 15px 20px;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        z-index: 2;
        display: block;
        width: 50%;
        height: 100%;
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
        .transform(skewX(-45deg));
    }

    &:hover {
        &:after {
            -webkit-animation: shine .75s;
            animation: shine .75s;
        }
    }

    @media screen and (max-width: @c-desk-md) {
        font-size: 1.4rem;
    }

}

.btn {
    .btn();
}

.action{
    &.update,
    &.primary,
    &.share,
    &.tocart,
    &.viewcart,
    &-primary,
    &-dismiss {
        .btn();
        .lib-button-primary();
    }

    &.edit {
        &:before {
            content: @icon_edit;
            font-family: @icons__font-name_ps;
        }
    }
}




.qty() {
    .flex();
    align-items: center;
    .item-qty,
    .input-text {
        margin-top: 0;
        margin-right: 0;
        .br-radius(@radius: 0);
        width: 54px;
        height: 40px;
        padding: 0;
        border-left: 0;
        border-right: 0;
        .lib-css(color, @c-lightgray);
        font-weight: @font-weight__heavier;
    }

    .label {
        font-weight: 600;
    }

    .increment-cart-item,
    .decrement-cart-item,
    .decreaseQty,
    .increaseQty,
    .update-cart-item {
        background: transparent;
        width: 40px;
        height: 40px;
        padding: 0;
        color: @c-text_sec_color;
        border: 1px solid  @c-graylight;
        font-size: 20px;
        position: relative;
        span {
            position: relative;
        }
    }

    .decreaseQty,
    .decrement-cart-item {
        .br-radius(3px 0 0 3px);
        span {
            color: transparent;
            display: block;
            max-width: 20px;
            margin: 0 auto;
            width: 100%;

            &:before {
                background: @c-graylight;
                width: 15px;
                height: 1px;
                content: '';
                position: absolute;
                display: block;
                top: 14px;
                left: 2px;
                margin: 0 auto;
            }
        }
    }

    .increaseQty,
    .increment-cart-item{
        .br-radius(0 3px 3px 0);
        span {
            color: transparent;
            display: block;
            max-width: 20px;
            margin: 0 auto;
            width: 100%;

            &:after,
            &:before {
                background: @c-graylight;
                content: '';
                position: absolute;
                display: block;
            }

            &:after {
                width: 1px;
                height: 15px;
                top: 7px;
                left: 9px;
                margin: 0 auto;
            }

            &:before {
                width: 15px;
                height: 1px;
                top: 14px;
                left: 2px;
                margin: 0 auto;
            }


        }
    }

    .update-cart-item {
        margin-left: -1px;
        &:before {
            font-family: @icons__font-name_ps;
            content: '\e912';
            font-size: @font-size__s;
        }
    }

}