// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Blank theme variables
//  _____________________________________________

//
//  Typography
//  ---------------------------------------------

//  Fonts
@font-family-name__base: 'Open Sans';
@font-family__base: @font-family-name__base, @font-family__sans-serif;
@heading__font-family__base: @font-family__base;

//
//  Sections variables
//  _____________________________________________

//
//  Tabs
//  ---------------------------------------------
@tab-content__border-top-status: true;

//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background

//
//  New Variables
//  ---------------------------------------------

@c-primary_color: #009cdf;
@c-sec_color: #0079bc;
@c-text_color: #0d0d0d;
@c-text_sec_color: #868686;
@c-hover_color: #f1003e;
@c-bg-color: #f9f9f9;
@c-white_color: #fff;
@c-whitesmoke: #f2f5f8;
@c-aliceblue: #f1f8ff;
@c-lavander: #e9edf0;
@c-lightgray: #8d92a3;
@c-shuttle-gray: #595e63;
@c-graylight:#e0e0e0;
@c-border-strip:#f4f4f4;
@c-success: #4acc7e;
@c-warning:#ffd966;
@active__color: @c-primary_color;
@icon-color: #8a92a5;


@c-tab-m: 800px;
@c-tab: 992px;
@c-desk: 1200px;
@c-desk-md: 1350px;
@c-desk-lg: 1700px;
@c-mob: 576px;



