<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers">
            <group id="shipper" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <field id="customer_carrier_options" translate="label" type="textarea" sortOrder="365" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Customer Carrier Options</label>
                    <comment>Customer Carrier Options comma separated</comment>
                </field>
            </group>
        </section>
    </system>
</config>
