<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog">
            <group id="frontend">
                <field id="catalog_page_number_offset" translate="label comment" type="text" sortOrder="300" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Offset for Catalog Page Number</label>
                </field>
                <field id="catalog_page_number_placeholder" translate="label" type="text" sortOrder="310" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Placeholder for Catalog Page Number</label>
                </field>
            </group>
        </section>
    </system>
</config>