@media screen and (max-width: 1200px) {
    .who-we-are .inner-content-wrap {
        padding: 65px 100px 0%
    }
}

@media screen and (max-width: 1024px) {
    .heading .heading-title {
        font-size: 30px;
    }
    .header-container {
        padding: 10px 15px;
    }
    header .right-block {
        margin: 5px 0;
    }
    .cd-nav .cd-contact-info a {
        display: block;
    }
    .cd-nav .cd-contact-info a+a {
        margin: 15px 0;
    }
    .slider-content .btn-more {
        margin-top: 15px;
    }
    .scroll-down {
        font-size: 40px;
        height: 55px;
        line-height: 50px;
        width: 40px;
    }
    .scroll-down:before,
    .scroll-down:after {
        height: 24px;
    }
    .footer-wrap .footer-kick-module h4 {
        font-size: 30px;
    }
}

@media only screen and (min-width:992px) {
    .cd-nav .cd-navigation-wrapper {
        padding: 62px 5%
    }
    .cd-nav .cd-navigation-wrapper::after {
        clear: both;
        content: "";
        display: table
    }
    .cd-nav .cd-half-block {
        width: 50%;
        float: left
    }
    .cd-nav .cd-primary-nav {
        margin-top: 0
    }
    .cd-nav h2 {
        font-size: 1.5rem;
        margin-bottom: 5.6em
    }
    .cd-nav .cd-contact-info {
        margin: 172px 0 100px;
        text-align: right
    }
    .cd-nav .social-links>div {
        text-align: right;
    }
    .cd-nav .social-links h2 {
        text-align: right;
        margin-bottom: 50px;
    }
    .cd-nav .social-links h2:after {
        left: auto;
        right: 0;
    }
    .cd-nav .cd-contact-info .footer-contact-us {
        text-align: right;
    }
    .cd-nav .cd-contact-info li {
        margin-bottom: 2.4em
    }
}

@media screen and (max-width: 991px) {
    .slider-content .slider-heading {
        font-size: 30px;
    }
    .who-we-are .inner-content-wrap {
        padding: 65px 50px 0%
    }
    .footer-copy .footer_menu {
        text-align: center;
    }
    .footer_menu .navbar-nav li+li {
        margin-left: 25px;
    }
}

@media screen and (min-width: 769px) {
    .home .video-content {
        top: 160px;
    }
    .home .who-we-are .content-desc {
        position: absolute;
        top: 0;
        width: 100%;
    }
    .uniques-inner .content-wrap {
        padding-left: 132px;
    }
    .footer-wrap {
        position: fixed;
        width: 100%;
        bottom: 0;
    }
    footer .footer-social-links>div {
        text-align: right;
    }
}

@media screen and (max-width: 782px) {
    .admin-bar .header-sticky {
        top: calc(100% - 92%);
    }
}

@media screen and (max-width: 768px) {
    .btn-lg {
        min-width: 150px;
    }
    .heading {
        margin-bottom: 20px;
    }
    .heading .heading-title {
        font-size: 20px;
    }
    .main-navigation .menu-item-has-children .caret {
        top: 10px;
    }
    .cd-navigation-wrapper .social-links a {
        font-size: 35px;
    }
    .right-block>div+div {
        margin-left: 20px;
    }
    .search-wrap {
        margin-right: 0;
    }
    .search-form {
        padding-left: 25px;
        padding-right: 25px;
    }
    header .contact-wrap {
        display: none;
    }
    .logo-wrap img {
        height: 60px;
    }
    .home .main-content>section:not(:first-child) {
        padding: 25px 0;
    }
    .slider-content .slider-heading {
        font-size: 25px;
    }
    .slider-homepage .social-links-sec {
        display: none;
    }
    .uniques-inner .tab-content {
        padding: 30px;
    }
    .uniques-inner .panel .content-wrap {
        padding-top: 40px;
    }
    .uniques-inner .seconday-image,
    .uniques-inner .feature-image {
        transform: none !important;
    }
    .uniques-inner .seconday-image {
        top: 10px;
        left: 10px;
    }
    .who-we-are .inner-content-wrap {
        padding: 30px 30px;
        height: auto;
        margin-bottom: 25px;
    }
    .home .video-content {
        top: 0;
        margin-bottom: 30px;
    }
    .who-we-are .parallax-move {
        width: 100px;
    }
    .what-we-do {
        margin-top: 25px;
    }
    .what-we-do .thumbnail .img-sec {
        height: auto;
    }
    .what-we-do .thumbnail .caption {
        padding: 30px;
    }
    .social-icon-footer {
        margin-top: 50px;
    }
    .footer-wrap .footer-kick-module h4 {
        font-size: 25px;
    }
    .footer-wrap .footer-contact-us>div,
    .footer-wrap .footer-social-links>div {
        text-align: center;
    }
    .footer_menu .navbar-nav li+li {
        margin-left: 0;
    }
    .footer_menu .navbar-nav li {
        margin: 15px 0;
    }
    .copyright-content {
        margin-top: 20px;
        text-align: center;
    }
    .scroll-top {
        top: -55px;
        bottom: auto;
    }
}

@media screen and (max-width: 767px) {
    #hero-slider {
        margin-bottom: 0;
    }
    .uniques-inner .tab-content {
        padding: 0;
    }
}

@media screen and (max-width: 600px) {
    #wpadminbar {
        position: fixed;
    }
    .what-we-do .grid-content div[class*="col-"] {
        width: 100%;
    }
}