@media screen and (min-width: 1367px) {
    .cd-nav .cd-navigation-wrapper {
        width: 320px;
    }
    .sub-category {
        margin-top: -50px;
        position: relative;
        z-index: 10;
    }
    .nav-tabs.responsive li a {
        padding-left: 35px;
        padding-right: 35px;
    }
    .what-we-do {
        margin-top: 35px;
    }
}

@media screen and (max-width: 1366px) {
    .header-container {
        padding: 15px;
    }
    .logo-wrap img {
        height: 85px;
    }
    header .right-block {
        margin: 20px 0;
    }
    .cd-nav .cd-navigation-wrapper {
        width: 320px;
    }
    .cd-nav .hamburger {
        position: absolute;
        right: 15px;
        top: 42px;
    }
    .executive-wrap .mem-info {
        padding-top: 30px;
    }
    .executive-wrap .exe-name {
        font-size: 22px;
    }
    .executive-wrap .slider-nav {
        margin-top: -60px;
    }
    .curated-news-inner {
        padding: 30px;
    }
    .timeline-inner {
        padding: 50px 40px 100px;
    }
    .timeline-item+.timeline-item {
        margin-top: 80px;
    }
    .timeline-item .timeline-year {
        font-size: 150px;
    }
}

@media screen and (max-width: 1360px) {
    .single-page-wrap .single-content-outer {
        margin: 0;
        width: 100%;
    }
    .careers-wrap .inner-section {
        padding: 30px;
    }
}

@media screen and (max-width: 1200px) {
    .who-we-are .inner-content-wrap {
        padding: 65px 100px 0%
    }
}

@media screen and (min-width: 1025px) {
    .executive-wrap .member-img {
        width: 400px;
    }
    .executive-wrap .mem-info {
        width: calc(100% - 400px);
    }
}

@media screen and (max-width: 1024px) {
    .heading .heading-title {
        font-size: 30px;
    }
    .header-container {
        padding: 10px 15px;
    }
    .cd-nav .hamburger {
        top: 37px;
    }
    .cd-nav .cd-navigation-wrapper {
        padding: 65px 5% 40px;
    }
    .cd-nav h2 {
        margin-bottom: 3em;
    }
    .cd-nav .cd-contact-info {
        margin: 110px 0 100px;
    }
    .cd-nav .cd-contact-info a {
        display: block;
    }
    .cd-nav .cd-contact-info a+a {
        margin: 15px 0;
    }
    .slider-content .btn-more {
        margin-top: 15px;
    }
    .scroll-down {
        font-size: 40px;
        height: 55px;
        line-height: 50px;
        width: 40px;
    }
    .scroll-down:before,
    .scroll-down:after {
        height: 24px;
    }
    .footer-wrap .footer-kick-module h4 {
        font-size: 30px;
    }
    .executive-wrap .mem-info {
        padding-left: 20px;
        padding-right: 20px;
    }
    .page-desc,
    .cd-icons-filling {
        padding: 50px;
    }
    .news-sec .news-content {
        padding: 30px;
    }
    .timeline-inner {
        padding: 50px 25px;
    }
    .timeline-item .timeline-year {
        font-size: 100px;
    }
    .timeline-item .timeline-title {
        font-size: 18px;
        line-height: normal;
    }
    .timeline-item .timeline-content {
        padding: 0 20px;
    }
    .sub-service-wrap .categories-blk {
        margin-bottom: 40px;
    }
    .single .single-page-wrap .single-content-inner {
        padding: 30px;
    }
}

@media only screen and (min-width:992px) and (max-width:1100px) {
    .cd-icons-filling .content-detail {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media only screen and (min-width:992px) {
    .ie .related-categories-wrap .category-blk {
        flex: 0 0 18%;
        width: 18%;
    }
}

@media only screen and (min-width:992px) {
    .search-open .search-form {
        width: 450px;
    }
    .col-md-20 {
        width: 20%;
    }
    .cd-nav .cd-navigation-wrapper::after {
        clear: both;
        content: "";
        display: table
    }
    .cd-nav .cd-half-block {
        width: 50%;
        float: left
    }
    .cd-nav .cd-primary-nav {
        margin-top: 0
    }
    .cd-nav .cd-contact-info {
        text-align: right
    }
    .cd-nav .social-links>div {
        text-align: right;
    }
    .cd-nav .social-links h2 {
        text-align: right;
        margin-bottom: 50px;
    }
    .cd-nav .social-links h2:after {
        left: auto;
        right: 0;
    }
    .cd-nav .cd-contact-info .footer-contact-us {
        text-align: right;
    }
    .cd-nav .cd-contact-info li {
        margin-bottom: 2.4em
    }
    .uniques-inner .content-wrap {
        top: 70px;
    }
    .seconday-image {
        position: absolute;
        top: 70px;
        left: 70px;
    }
    .sub-category .tab-content {
        padding: 30px 0;
    }
}

@media screen and (max-width: 991px) {
    .slider-content .slider-heading {
        font-size: 30px;
    }
    .who-we-are .inner-content-wrap {
        padding: 65px 50px 0%
    }
    .footer-copy .footer_menu {
        text-align: center;
    }
    .affiliations-outer {
        max-width: 700px;
    }
    .sub-category .content-wrap {
        padding: 30px;
    }
    .sub-service-wrap .categories-blk {
        padding: 30px;
    }
    .sub-service-wrap .categories-content {
        padding: 25px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .tab-section .nav-tabs>li+li {
        margin-left: 10px;
    }
    .tab-section .nav-tabs>li>a {
        font-size: 1.2vw;
    }
    .uniques-inner .content-wrap p {
        font-size: 14px;
    }
    .address-section h2 {
        font-size: 16px;
    }
}

@media screen and (min-width: 769px) {
    .sticky-footer .footer-wrap {
        position: fixed;
        width: 100%;
        bottom: 0;
    }
    footer .footer-social-links>div {
        text-align: right;
    }
    .footer_menu .navbar-nav li+li:before {
        content: '';
        display: inline-block;
        margin: 0 5px;
        width: 1px;
        height: 12px;
        background: #6f6f6f;
        vertical-align: middle;
    }
    .contact-form-sec .form-sec-inner {
        margin-top: -300px;
    }
    .page-template-page-contact-us .page-header-content {
        -webkit-transform: translateY(-160%);
        -moz-transform: translateY(-160%);
        transform: translateY(-160%);
    }
    .contact-form .wpcf7-form .mdc-layout-grid__cell:not(.cf7md-submit) {
        width: 48% !important;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .footer_menu .navbar-nav li a,
    .footer-copy p {
        font-size: 10px;
    }
    .uniques-inner .content-wrap {}
    .contact-form .wpcf7-form .mdc-layout-grid__cell:not(.cf7md-submit) {
        width: 100% !important;
    }
    .flex-md-60 {
        width: 60%;
        flex: 0 0 60%;
    }
    .flex-md-40 {
        width: 40%;
        flex: 0 0 40%;
    }
    .flex-md-30 {
        width: 30%;
        flex: 0 0 30%;
    }
    .sub-category .tab-content {
        padding: 30px 0;
    }
}

@media screen and (min-width: 800px) and (max-width: 992px) {
    .cd-icons-filling .content-detail {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 800px) {
    .cd-icons-filling .content-detail {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .cd-icons-filling:before,
    .cd-icons-filling:after {
        height: 58px;
    }
    .cd-service .heading .heading-title {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .btn-lg {
        min-width: 150px;
        font-size: 16px;
    }
    .heading {
        margin-bottom: 20px;
    }
    .heading .heading-title {
        font-size: 20px;
    }
    .main-navigation .menu-item-has-children .caret {
        top: 10px;
    }
    .cd-navigation-wrapper .social-links a {
        font-size: 35px;
    }
    .cd-nav .cd-contact-info {
        margin: 50px 0 50px;
        padding-top: 20px;
        border-top: 1px solid #2a5680;
    }
    .right-block>div+div {
        margin-left: 20px;
    }
    .search-wrap {
        margin-right: 0;
    }
    /* .search-form {
        padding-left: 25px;
        padding-right: 25px;
    } */
    header .contact-wrap {
        display: none;
    }
    .logo-wrap img {
        height: 80px;
    }
    .home .main-content>section:not(:first-child) {
        padding: 25px 0;
    }
    .slider-content .slider-heading {
        font-size: 25px;
    }
    .uniques-inner .tab-content {
        padding: 30px 0 38px;
    }
    .uniques-inner .panel .content-wrap {
        padding-top: 40px;
    }
    .uniques-inner .seconday-image,
    .uniques-inner .feature-image {
        transform: none !important;
    }
    .uniques-inner .seconday-image {
        top: 10px;
        left: 10px;
    }
    .who-we-are .inner-content-wrap {
        padding: 30px 30px;
        height: auto;
        margin-bottom: 25px;
    }
    .home .video-content {
        top: 0;
        margin-bottom: 30px;
        min-height: initial;
    }
    .who-we-are .parallax-move {
        width: 100px;
    }
    .what-we-do {
        margin-top: 25px;
    }
    .what-we-do .thumbnail .img-sec {
        height: auto;
    }
    .what-we-do .thumbnail .caption {
        padding: 30px;
    }
    .footer-contact {
        padding: 30px 0;
    }
    .social-icon-footer {
        margin-top: 30px;
    }
    .footer-wrap .footer-kick-module h4 {
        font-size: 25px;
    }
    .footer-wrap .footer-contact-us>div,
    .footer-wrap .footer-social-links>div {
        text-align: center;
    }
    .footer-copy {
        padding: 20px 0;
    }
    .footer-wrap .footer-contact-us,
    .footer-wrap .social-icon-footer,
    .footer-copy .footer_menu,
    .footer-copy .copyright-content {
        width: 100%;
    }
    .footer_menu .navbar-nav {
        float: none !important;
    }
    .footer_menu .navbar-nav li+li {
        margin-left: 0;
    }
    .footer_menu .navbar-nav li {
        margin: 15px 0;
        display: block;
        float: none;
    }
    .copyright-content {
        margin-top: 20px;
        padding-top: 18px;
        text-align: center;
        border-top: 1px solid #232020;
    }
    .scroll-top {
        top: -28px;
        bottom: auto;
    }
    .main-banner {
        min-height: 300px;
    }
    .page-header-content h1 {
        font-size: 30px;
    }
    .page-header-content p {
        font-size: 14px;
        line-height: normal;
    }
    .executive-wrap .slick-slide img {
        margin: 0 auto;
    }
    .our-history .history-content-inner {
        width: 100%;
        margin-left: 0;
    }
    .page-desc,
    .cd-icons-filling {
        padding: 30px;
    }
    .timeline-item .timeline-year {
        font-size: 80px;
    }
    .timeline-item .timeline-title {
        font-size: 16px;
    }
    .flex-sm-100 {
        width: 100%;
        flex: 0 0 100%;
    }
    .flex-sm-60 {
        width: 60%;
        flex: 0 0 60%;
    }
    .flex-sm-50 {
        width: 50%;
        flex: 0 0 50%;
    }
    .flex-sm-40 {
        width: 40%;
        flex: 0 0 40%;
    }
    .flex-sm-30 {
        width: 30%;
        flex: 0 0 30%;
    }
    .contact-form-sec .form-sec-inner {
        flex-direction: column-reverse;
    }
    .related-categories-wrap .category-blk figure img {
        height: auto;
    }
    .sub-category .image-sec {
        background-image: none !important;
    }
    .sub-service-wrap .categories-content h2 {
        font-size: 18px;
    }
    .careers-wrap .inner-section {
        padding: 30px 15px;
    }
    .careers-wrap .careers-form-wrap {
        padding: 0;
    }
    .opening-wrap {
        padding-bottom: 20px;
    }
    .opening-wrap .opening-list {
        text-align: center;
    }
    .opening-wrap .opening-list .post-name-wrap {
        margin-bottom: 30px;
        padding-right: 0;
    }
    .opening-wrap .opening-list .job-desc {
        padding-left: 0;
        border: none;
    }
    .careers-wrap+.image-gallery {
        padding-top: 30px;
    }
}

@media screen and (max-width: 767px) {
    .main-navigation .navbar-nav li a {
        padding: 8px 18px 8px 0;
    }
    .search-open .search-form {
        width: 300px;
    }
    #hero-slider {
        margin-bottom: 0;
    }
    .uniques-inner .tab-content {
        padding: 0;
    }
    .executive-wrap .slider-sec {
        padding: 10px;
    }
    .exe-slider-inner {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    }
    .executive-wrap .mem-info {
        box-shadow: none;
    }
    .executive-wrap .slider-nav {
        max-width: 480px;
    }
    .what-we-do-wrap .categories-blk {
        margin-bottom: 30px;
    }
    .copyright-content {
        text-align: center;
    }
    .quotes-sec {
        padding: 15px 20px 45px;
    }
    .quotes-content-inner:before,
    .quotes-content-inner:after {
        width: 30px;
        height: 34px;
    }
    .slider-homepage .social-links-sec {
        display: none;
    }
    .contact-form .wpcf7-form .mdc-layout-grid__cell:not(.cf7md-submit) {
        width: 100% !important;
    }
    .cd-service .img-blk img {
        margin: 0 auto;
    }
    .cd-icons-filling:before,
    .cd-icons-filling:after {}
    .sub-service-wrap .categories-content {
        width: auto;
    }
    .main-banner-wrap .blog-detail-wrap {
        padding: 15px 30px;
        flex-direction: column;
        text-align: center;
    }
    .blog-detail-wrap .blog-detail {
        justify-content: center;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 627px) {
    .executive-wrap .slider-nav {
        max-width: 320px;
    }
    .our-history .our-history-outer a.btn {
        font-size: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 600px) {
    #wpadminbar {
        position: fixed;
    }
    .what-we-do .grid-content div[class*="col-"] {
        width: 100%;
    }
}

@media screen and (max-width: 580px) {
    .search-open .search-form {
        width: 250px;
    }
}

@media screen and (max-width: 667px) {
    .search-wrap {
        position: static;
    }
    .search-form .search-close {
        display: block;
        width: 25px;
        right: 15px;
        top: 0;
    }
    .search-form {
        visibility: hidden;
        position: fixed;
        width: 100%;
        top: -100%;
        left: 0;
        bottom: auto;
        right: 0;
        opacity: 0;
        /* transform: scale(0); */
        transition: all 0.5s ease-in-out 0s;
        padding: 50px;
        z-index: 999;
    }
    .search-open .search-form {
        visibility: visible;
        /* transform: scale(1); */
        padding: 35px 12px 36px;
        background: #174a7a;
        width: auto;
        opacity: 1;
        top: 0;
    }
    form#searchform {
        position: relative;
        top: 5px;
        max-width: 800px;
        margin: auto;
    }
    .search-open .search-form {
        display: block;
    }
    .search-form .form-control:focus {
        box-shadow: none;
    }
    .search-form .form-control {
        color: #fff;
        border-bottom: 1px solid #fff;
        width: 0;
        transition: all 0.5s ease-in-out 0.5s;
    }
    .search-open .form-control {
        width: 100%;
    }
    .search-form .form-control::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.3) !important;
    }
    .search-form .form-control:-moz-placeholder {
        color: rgba(255, 255, 255, 0.3) !important;
    }
    .search-form .form-control::-moz-placeholder {
        color: rgba(255, 255, 255, 0.3) !important;
    }
    .search-form .form-control:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.3) !important;
    }
    .search__info {
        font-size: 12px;
        font-weight: bold;
        display: block;
        margin: 0 auto;
        padding: 0.85em 0;
        text-align: right;
        color: #fff;
        opacity: 0;
        transform: translate3d(0, 50px, 0);
        transition: opacity 0.4s, transform 0.4s;
    }
    .search-form #searchsubmit {
        margin: 4px 0;
        position: absolute;
        top: 0;
        right: 0;
        background: none;
        font-size: 50px;
        border: none;
        color: #fff;
    }
}

@media screen and (max-width: 657px) {
    .what-we-do-wrap .categories-blk {
        padding: 30px;
    }
    .what-we-do-wrap .categories-content {
        width: auto;
        float: none;
        padding: 30px;
    }
}

@media screen and (max-width: 568px) {
    .flex-sec .flex-xs-100 {
        flex: 0 0 100%;
        width: 100%;
    }
    .quotes-content-inner {
        padding: 0 25px;
    }
    .news-sec-blk img {
        width: 100%;
        display: block !important;
    }
    .timeline-sec .timeline-inner:before {
        left: 20px;
    }
    .timeline-item .timeline-image {
        margin-bottom: 50px;
    }
}