/* General Styles */

*:focus {
    outline: none !important;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

p:empty {
    display: none;
}


/* Mixins styles */

a,
a:hover,
a:focus {
    color: #174a79;
}

h1,
h2 {
    font-family: 'Lato', sans-serif;
}

h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

img {
    margin-bottom: 0;
}

.pos-rel {
    position: relative;
}

.margin-top--70 {
    margin-top: -70px;
}

.no-pad {
    padding: 0;
}

.pad-70 {
    padding: 70px;
}

.margin-30 {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: inline-block;
}

.white-bg {
    background: #fff;
}

.alice-blue-bg {
    background: #f3f6f9;
}


/* ripple effects */

.ripple-link {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0)
}

.ripple-link:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: -webkit-radial-gradient(circle, #000 10%, transparent 10.01%);
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-transform: scale(10, 10);
    -moz-transform: scale(10, 10);
    transform: scale(10, 10);
    opacity: 0;
    -webkit-transition: transform .5s, opacity 1s;
    -moz-transition: transform .5s, opacity 1s;
    transition: transform .5s, opacity 1s
}

.ripple-link:active:after {
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: .2;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    transition: 0s;
}


/* color styles */

.black-bg {
    background: #000;
}


/* Button styles */

.btn-ripple {
    display: inline-block;
    overflow: hidden;
}


/*  Ripple */

.btn {
    border-radius: 0;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    position: relative;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
}

.btn:hover,
.btn:focus,
.btn.focus {
    color: #192a3e;
}

.btn-sm {
    min-width: 140px;
    height: 40px;
    line-height: 30px;
    font-size: 13px;
}

.btn-lg {
    min-width: 200px;
    height: 60px;
    line-height: 40px;
}

.btn-load:after {
    content: '...';
    display: inline-block;
    vertical-align: top;
    color: currentColor;
    letter-spacing: 3px;
    margin-left: 5px;
}

.btn-blue {
    color: #fff;
}

.btn-blue:hover,
.btn-blue:focus {
    color: #174a79;
    background: transparent
}

.btn-blue:before {
    border-top-color: #174a79;
    border-bottom-color: #174a79;
}

.btn-blue:after {
    background-color: #174a79;
}

.btn-ani:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    -webkit-transform: scale(0.1, 1);
    transform: scale(0.1, 1);
}

.btn-ani::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-blue:hover::before {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.btn-blue:hover::after {
    opacity: 0;
    -webkit-transform: scale(0.1, 1);
    transform: scale(0.1, 1);
}

.border-btn {
    border: 1px solid #174a7a;
    color: #174a7a;
    text-transform: uppercase;
    position: relative;
}

.btn-door {
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.btn-door::before {
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 0px;
    width: 100%;
    z-index: -1;
    content: '';
    background: #fff;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.btn-door.btn-blue {
    background: #174a79;
    color: #fff;
}

.btn-door.btn-blue:hover,
.btn-door.btn-blue:focus {
    color: #fff;
}

.btn-door.btn-blue::before {
    background: #192a3e;
    color: #fff;
}

.btn-door:hover:before {
    top: 0%;
    bottom: auto;
    height: 100%;
}

.btn-white-border {
    border: 1px solid #fff;
}

.btn:active {
    box-shadow: none;
}

.btn-ripple .ripple {
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
    position: absolute;
    opacity: 1;
}

.btn-ripple .rippleEffect {
    animation: rippleDrop .6s linear;
}

@-webkit-keyframes rippleDrop {
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes rippleDrop {
    100% {
        transform: scale(2);
        opacity: 0;
    }
}


/* img effects */

.effect-milo .image-sec {
    max-width: none;
    /* width: -webkit-calc(100% + 60px); */
    width: calc(100% + 60px);
    opacity: 1;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-30px, 0, 0) scale(1.12);
    transform: translate3d(-30px, 0, 0) scale(1.12);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
}

.effect-milo:hover .image-sec {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
}

body {
    color: #6f6f6f;
    font-size: 14px;
    font-family: 'Lato', 'Poppins', sans-serif;
    overflow-x: hidden;
}

p {
    font-size: 14px;
    color: #192a3e;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
}

.nicescroll-rails {
    z-index: 99999 !important;
}

.loader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: -webkit-radial-gradient(50% 50%, circle cover, #ffffff 0, #dadada 100%);
    background: radial-gradient(50% 50%, circle cover, #ffffff 0, #dadada 100%);
    background: -o-radial-gradient(50% 50%, circle cover, #ffffff 0, #dadada 100%);
    /* Opera 11.10+ */
    background: -ms-radial-gradient(50% 50%, circle cover, #ffffff 0, #dadada 100%);
    /* IE10+ */
    /* W3C */
    z-index: 99999;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    opacity: 0;
    visibility: hidden;
}

.loader-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loader.scale {
    visibility: visible;
    opacity: 1;
}

.loader-inner a {
    pointer-events: none;
}

.loader-inner img {
    -webkit-animation: heartbeat 2s linear 0s infinite alternate;
    -moz-animation: heartbeat 2s linear 0s infinite alternate;
    animation: bounced 2s linear 0s infinite alternate;
    margin: 0;
}

@keyframes bounced {
    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }
    100% {
        opacity: 1;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


/* Effect 10: Corner indicator */

.circular {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 300px;
    background: #174a79;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateX(100%) translateY(-100%) rotate(45deg);
    transform: translateX(100%) translateY(-100%) rotate(45deg);
    pointer-events: none;
}

.circular.circular-animate {
    -webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
    transform: translateX(50%) translateY(-50%) rotate(45deg);
}


/* Loading circle idea from http://codepen.io/Metty/details/lgJck */

.circular::before,
.circular::after {
    position: absolute;
    bottom: 30px;
    left: 50%;
    display: block;
    border: 5px solid #000;
    border-radius: 50%;
    content: '';
}

.circular::before {
    margin-left: -40px;
    width: 80px;
    height: 80px;
    border-right-color: #fff;
    border-left-color: #fff;
    -webkit-animation: rotation 3s linear infinite;
    animation: rotation 3s linear infinite;
}

.circular::after {
    bottom: 50px;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    border-top-color: #fff;
    border-bottom-color: #fff;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
}

@-webkit-keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

div.container {
    max-width: 1200px;
    width: 100% !important;
}

.heading {
    text-align: center;
    margin-bottom: 40px;
}

.heading .heading-title {
    color: #174a7a;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
}

.heading-white .heading-title {
    color: #fff;
}

.sub-heading {
    color: #6f6f6f;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}


/* header Styles */

.home .header-container {
    position: absolute;
    width: 100%;
    z-index: 99;
}

.header-container {
    display: inline-block;
    padding: 17px 30px;
    width: 100%;
    transition: all 0.5s ease 0s;
}

.header-sticky {
    position: fixed !important;
    top: 0px;
    background: #174a7a;
    z-index: 99;
    box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.5);
}

.header-sticky .white-logo {
    display: block;
}

.header-sticky .logo-wrap a {
    margin-top: 0;
}

.header-sticky .custom-logo-link {
    display: none;
}

.admin-bar .header-sticky {
    top: calc(100% - 96.7%);
}

.logo-wrap a {
    margin-top: 8px;
    transition: all 0.5s ease 0s;
}

.white-logo {
    display: none;
}

.logo-wrap img {
    margin-top: 0;
    margin-right: 0;
    width: auto;
}

header .right-block {
    margin: 37px 0;
}

.right-block>div {
    display: inline-block;
    vertical-align: middle;
}

.contact-wrap {
    margin-right: 20px;
}

.contact-wrap a:hover {
    color: #fff;
}

.contact-wrap a:before {
    background: #174a79;
}

.header-sticky .contact-wrap a {
    border-color: #fff;
    color: #fff;
}

.header-sticky .contact-wrap a:hover {
    color: #174a79;
}

.header-sticky .contact-wrap a:hover:before {
    background: #fff;
    color: #174a7a;
}

.search-wrap {
    margin-right: 20px;
    font-size: 18px;
    color: #174a7a;
    position: relative;
}

.search-wrap a {
    color: inherit;
    cursor: pointer;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 5;
}

.search-form .search-close {
    position: fixed;
    right: 15%;
    display: none;
    background: transparent;
}

.search-form .search-close:before,
.search-form .search-close:after {
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    background: #fff;
}

.search-form .search-close:before {
    transform: translate(0px, 25px) rotate(45deg);
}

.search-form .search-close:after {
    transform: translate(0px, 23px) rotate(-45deg)
}

.search-form {
    position: absolute;
    width: 0;
    /* left: 0; */
    bottom: -1px;
    right: 20px;
    transition: all 0.5s ease-in-out 0s;
    /* padding: 50px; */
    z-index: 4;
    width: 0;
}

.search__info {
    display: none;
}

.search-form .form-control {
    height: auto;
    background: transparent;
    box-shadow: none;
    color: #174a79;
    border: 0;
    font-size: 13px;
    border-bottom: 1px solid #174a79;
    padding: 5px 0;
    line-height: 20px;
    border-radius: 0;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out 0.5s;
}

#searchsubmit {
    display: none;
}

.search-open .search-form {
    width: 350px;
}

.search-form .form-control::-webkit-input-placeholder {
    color: #174a79 !important;
}

.search-form .form-control:-moz-placeholder {
    color: #174a79 !important;
}

.search-form .form-control::-moz-placeholder {
    color: #174a79 !important;
}

.search-form .form-control:-ms-input-placeholder {
    color: #174a79 !important;
}

.header-sticky .search-form .form-control::-webkit-input-placeholder {
    color: #fff !important;
}

.header-sticky .search-form .form-control:-moz-placeholder {
    color: #fff !important;
}

.header-sticky .search-form .form-control::-moz-placeholder {
    color: #fff !important;
}

.header-sticky .search-form .form-control:-ms-input-placeholder {
    color: #fff !important;
}

.header-sticky .search-form .form-control {
    color: #fff;
    border-color: #fff;
}

.search-open .search__info {
    display: none;
}


/*

.search-open .main-wrap--move {
    transform: scale3d(0.9, 0.9, 0.9)
}

.search-form {
    visibility: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s ease-in-out 0s;
    padding: 50px;
    z-index: 999;
}

.search-open .search-form {
    visibility: visible;
    transform: scale(1);
    background: #174a7a;
    opacity: 1;
}

form#searchform {
    position: relative;
    top: 50%;
    max-width: 800px;
    transform: translateY(-50%);
    margin: auto;
}

.search-open .search-form {
    display: block;
}

.search-form .form-control:focus {
    box-shadow: none;
}

.search-form .form-control {
    height: auto;
    background: transparent;
    box-shadow: none;
    color: #fff;
    border: 0;
    font-size: 50px;
    border-bottom: 5px solid #fff;
    padding-right: 75px;
    border-radius: 0;
    width: 0;
    padding-left: 0;
    padding-right: 0;
    
    transition: all 0.5s ease-in-out 0.5s;
}

.search-open .form-control {
   
    width: 100%;
}

.search-form .form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.3) !important;
}

.search-form .form-control:-moz-placeholder {
    
    color: rgba(255, 255, 255, 0.3) !important;
}

.search-form .form-control::-moz-placeholder {

    color: rgba(255, 255, 255, 0.3) !important;
}

.search-form .form-control:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.3) !important;
}

.search__info {
    font-size: 90%;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    padding: 0.85em 0;
    text-align: right;
    color: #fff;
    opacity: 0;
    transform: translate3d(0, 50px, 0);
    transition: opacity 0.4s, transform 0.4s;
}

.search-open .search__info {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition-delay: 0.6s;
}

.search-form #searchsubmit {
    margin: 4px 0;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    font-size: 50px;
    border: none;
    color: #fff;
} */

.header-sticky .search-wrap a {
    color: #fff;
}


/* Main menu */

.cd-nav-trigger {
    position: relative;
    z-index: 9;
    display: inline-block;
    vertical-align: middle;
}

.header-sticky .cd-nav-trigger .cd-nav-icon {
    background: #fff;
}

.cd-nav-trigger svg {
    position: absolute;
    top: 0;
    left: 0
}

.cd-nav-trigger circle {
    -webkit-transition: stroke-dashoffset .4s 0s;
    -moz-transition: stroke-dashoffset .4s 0s;
    transition: stroke-dashoffset .4s 0s
}

.navigation-is-open .cd-nav-trigger circle {
    stroke-dashoffset: 0;
    -webkit-transition: stroke-dashoffset .4s .3s;
    -moz-transition: stroke-dashoffset .4s .3s;
    transition: stroke-dashoffset .4s .3s
}


/* hamburger */

.hamburger {
    font: inherit;
    margin: 0;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity, filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent
}

.cd-nav .hamburger {
    position: absolute;
    right: 30px;
    top: 61px;
    z-index: 99;
}

.hamburger-box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    z-index: 99;
    top: 5px;
}

.hamburger-inner {
    top: 50%;
    display: block;
    margin-top: -2px
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    position: absolute;
    width: 20px;
    height: 2px;
    transition-timing-function: ease, ease-in-out;
    transition-duration: .15s, .15s;
    transition-property: transform, background-color;
    background-color: #174a79;
}

.header-sticky .hamburger-inner,
.header-sticky .hamburger-inner:after,
.header-sticky .hamburger-inner:before {
    background-color: #fff;
}

.hamburger-inner:after,
.hamburger-inner:before {
    display: block;
    content: ""
}

.hamburger-inner:before {
    top: -10px;
    width: 25px;
}

.hamburger-inner:after {
    bottom: -10px;
    width: 16px;
}

.hamburger--spring .hamburger-inner {
    top: 2px;
    transition: background-color 0s linear .13s;
}

.hamburger--spring .hamburger-inner:before {
    top: 6px;
    transition: top .1s cubic-bezier(.33333, .66667, .66667, 1) .2s, transform .13s cubic-bezier(.55, .055, .675, .19);
}

.hamburger--spring .hamburger-inner:after {
    top: 12px;
    transition: top .2s cubic-bezier(.33333, .66667, .66667, 1) .2s, transform .13s cubic-bezier(.55, .055, .675, .19)
}

.navigation-is-open .cd-nav .hamburger--spring .hamburger-inner {
    transition-delay: .22s;
    background-color: transparent;
    width: 35px;
}

.navigation-is-open .header-sticky .hamburger-inner:after,
.navigation-is-open .header-sticky .hamburger-inner:before {
    background: #fff;
}

.navigation-is-open .cd-nav .hamburger--spring .hamburger-inner:before,
.navigation-is-open .cd-nav .hamburger--spring .hamburger-inner:after {
    background: #174a79;
}

.navigation-is-open .cd-nav .hamburger--spring .hamburger-inner:before {
    top: 0;
    transition: top .1s cubic-bezier(.33333, 0, .66667, .33333) .15s, transform .13s cubic-bezier(.215, .61, .355, 1) .22s;
    transform: translate3d(0, 10px, 0) rotate(45deg);
    width: 100%;
}

.navigation-is-open .cd-nav .hamburger--spring .hamburger-inner:after {
    top: 0;
    transition: top .2s cubic-bezier(.33333, 0, .66667, .33333), transform .13s cubic-bezier(.215, .61, .355, 1) .22s;
    transform: translate3d(0, 10px, 0) rotate(-45deg);
    width: 100%;
}

.cd-nav {}

.overlaybgDark {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

.navigation-is-open .cd-nav,
.navigation-is-open .overlaybgDark {
    visibility: visible;
    opacity: 1;
}

.cd-nav::before {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
    z-index: 10;
    width: 40em;
    background: #ffffff;
    content: '';
    transform: skewX(-10deg) translateX(100%);
    transform-origin: bottom right;
    will-change: transform;
    transition: transform 0.6s ease-in-out 0s;
}

.navigation-is-open .cd-nav:before {
    transform: skewX(-10deg) translateX(0%);
}

.cd-nav .cd-navigation-wrapper {
    height: 100%;
    overflow-y: auto;
    position: fixed;
    width: 350px;
    right: 0;
    z-index: 12;
    top: 0;
    background: #fff;
    -webkit-overflow-scrolling: touch;
    padding: 80px 55px 50px 35px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: transform 0.6s ease-in-out 0s;
    -moz-transition: transform 0.6s ease-in-out 0s;
    transition: transform 0.6s ease-in-out 0s;
}

.navigation-is-open .cd-nav .cd-navigation-wrapper {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.cd-nav h2 {
    position: relative;
    margin-bottom: 3em;
    font-size: 1.3rem;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase
}

.cd-nav h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -20px;
    height: 1px;
    width: 60px;
    background-color: currentColor
}

.cd-nav .cd-primary-nav {
    margin-top: 60px
}

.cd-nav .cd-primary-nav a.selected {
    color: #fff
}

nav.main-navigation {
    background: transparent;
    box-shadow: none;
    height: 100%;
}

.main-navigation .navbar-nav {
    float: none;
    margin-left: 0;
    margin-right: 0;
}

.main-navigation ul li {
    display: block;
    float: none;
}

.main-navigation .menu-item-has-children {
    position: relative;
}

.main-navigation .menu-item-has-children .caret {
    display: inline-block;
    vertical-align: middle;
    top: 20px;
    border: none;
    right: 0;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    transition: all 0.5s ease 0s;
    color: #fff;
}

.main-navigation .menu-item-has-children.menu-open>.caret {
    transform: rotate(-180deg);
}

.main-navigation .menu-item-has-children .caret:before {
    content: "\f078";
    font-family: 'FontAwesome';
}

.main-navigation .menu-item-has-children:hover>.sub-menu {
    display: none;
}

.main-navigation .navbar-nav li a {
    width: auto;
    color: #174a79;
    outline: none;
    line-height: normal;
    display: block;
    padding-left: 0;
    font-size: 20px;
    padding: 15px 18px 15px 0;
    transition: all 0.5s ease-in-out 0s;
}

.main-navigation .navbar-nav .current-menu-item>a {
    color: #192a3e;
}

.main-navigation .navbar-nav li a:hover {
    padding-left: 20px;
    color: #192a3e;
}

.main-navigation .navbar-nav li a:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 2px;
    background: #174a7a;
    width: 0;
    transition: all 0.5s ease-in-out 0s;
    transform: translateY(-50%);
}

.main-navigation .navbar-nav li a:hover:before {
    width: 15px;
}

.main-navigation .nav>li>a:hover,
.main-navigation .nav>li>a:focus,
.main-navigation .nav .open>a,
.main-navigation .nav .open>a:hover,
.main-navigation .nav .open>a:focus {
    background: transparent;
}

.current-menu-item>a:after {
    display: none;
}

.main-navigation .navbar-nav .sub-menu {
    position: static;
    width: 100%;
    box-shadow: none;
    border: none;
    float: none;
    padding-left: 30px;
    background: transparent;
}

.main-navigation .sub-menu>li>a:hover {
    background: none;
}

.container {
    clear: both;
}

.cd-nav .social-links h2 {
    font-size: 1.2rem;
}

.cd-navigation-wrapper .social-links a {
    font-size: 20px;
    color: #fff;
}


/* Footer styles */

.footer-wrap {
    padding-top: 50px;
}

.footer-wrap .footer-kick-module {
    text-align: center;
    padding-bottom: 50px;
    border-bottom: 1px solid #192a3e;
}

.footer-wrap .footer-kick-module h4 {
    font-size: 40px;
    font-weight: bold;
    color: #174a7a;
    margin-bottom: 50px;
    display: none;
}

.footer-wrap .footer-kick-module .btn {
    min-width: 200px;
    height: 52px;
    line-height: 40px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.footer-contact {
    padding: 50px 0;
}

.footer-contact address {
    font-size: 14px;
    color: #192a3e;
    line-height: 20px;
}

.footer-contact address span {
    display: block;
}

.footer-contact address span+span {
    margin-top: 8px;
}

.footer-contact address a {
    margin-top: 20px;
    display: inline-block;
    color: #192a3e;
}

.footer-contact address a .icons {
    color: #174a7a;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

.footer-contact address a+a {
    margin-left: 20px;
}

.social-icon-footer .footer_menu {
    margin: 20px;
}

.footer-social-links .social-links {
    color: #174a7a;
    font-size: 18px;
}

.footer-social-links .social-links+.social-links {
    margin-left: 20px;
}

.footer_menu .navbar-nav {
    margin-right: 0;
}

.footer_menu .navbar-nav li a,
.footer-copy p {
    font-size: 12px;
    color: #6f6f6f;
}

.footer-copy {
    padding: 30px 0;
    color: #fff;
    position: relative;
}

.footer-copy p {
    margin-bottom: 0;
    font-size: 12px;
    line-height: normal;
}

.scroll-top {
    transition: all 0.5s ease-in-out 0s;
    position: absolute;
    bottom: 55px;
    right: 0;
    left: 0;
}

.scroll-top .scroll-up {
    position: relative;
    width: 50px;
    height: 50px;
    background: #fff;
    display: block;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    color: #174a79;
    margin: auto;
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
}


/* fancybox */

.fancybox-wrap .fancybox-close {
    cursor: pointer;
    font-size: 25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    text-align: center;
    background: none;
    border-radius: 50%;
    top: -55px;
    right: -10px;
}

.fancybox-wrap .fancybox-close:before {
    transform: translate(0px, 25px) rotate(45deg);
}

.fancybox-wrap .fancybox-close:before,
.fancybox-wrap .fancybox-close:after {
    content: '';
    height: 2px;
    display: block;
    background: #fff;
    margin: auto;
}

.fancybox-wrap .fancybox-close:after {
    transform: translate(0px, 23px) rotate(-45deg);
}


/* Home Page Styles */

.main-content {
    z-index: 1;
    background: #fff;
    position: relative;
    transition: transform 0.5s;
    box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.10);
}


/* Home page slider start */

.slider-homepage {
    position: relative;
}

.slick-slide img {
    margin-bottom: 0;
}

.slider-content {
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.admin-bar .slider-blk {
    height: calc(100vh - 32px);
}

.slider-blk {
    height: 100vh;
    background: no-repeat center fixed;
    background-size: cover;
}

.slider-content .slider-heading {
    font-size: 50px;
    color: #fff;
    line-height: normal;
    font-family: 'Lato', sans-serif;
}

.slider-content .btn-more {
    border-color: #fff;
    color: #fff;
}

.slider-content .btn-more {
    margin-top: 30px;
    font-size: 14px;
}

.slider-content .btn:before {
    background: #fff;
}

.slider-content .btn-more:hover {
    color: #174a79;
}

#hero-slider .slick-dots {
    bottom: 40px;
}

.dots-bar .slick-dots li button {
    padding: 0;
    width: 25px;
    height: 2px;
    background-color: #174b7d;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.dots-bar .slick-dots li.slick-active button {
    background-color: #fff;
}

.dots-bar .slick-dots li button::before {
    display: none;
}

.slider-homepage .social-links-sec {
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.slider-homepage .social-links-sec a {
    font-size: 18px;
    width: 32px;
    height: 32px;
    display: inline-block;
    transition: all 0.5s ease 0s;
    border-radius: 50%;
    background: transparent;
    text-align: center;
    line-height: 32px;
}

.main-content .slider-homepage .social-links-sec a+a {
    margin-left: 10px;
}

.slider-homepage .social-links-sec a:hover {
    background: #174a7a;
    color: #fff;
}

.scroll-down {
    font-size: 40px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    text-align: center;
    bottom: 90px;
    height: 66px;
    color: #174a79;
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
    width: 46px;
    line-height: 60px;
    transition: all 0.5s ease 0s;
}

.scroll-down:hover {
    color: #fff;
}

.scroll-down:before,
.scroll-down:after {
    width: 100%;
    content: '';
    height: 28px;
    border: 2px solid #535353;
    position: absolute;
    margin: auto;
    left: 0;
}

.scroll-down:before {
    border-bottom: transparent;
}

.scroll-down:after {
    border-top: transparent;
    bottom: 0px;
}

@-webkit-keyframes sdb04 {
    0% {
        -webkit-transform: translate(0, 0);
    }
    20% {
        -webkit-transform: translate(0px, 10px);
    }
    40% {
        -webkit-transform: translate(0, 0);
    }
}

@keyframes sdb04 {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(0px, 10px);
    }
    40% {
        transform: translate(0, 0);
    }
}


/* Home page slider end */

.tab-section .nav-tabs {
    border: transparent;
}

.tab-section .nav-tabs>li+li {
    margin-left: 30px;
}

.tab-section .nav-tabs>li>a {
    border: none;
    position: relative;
    text-align: center;
}

#myTabs {
    margin: 0 auto;
    list-style: none;
    position: relative;
    padding: 0;
}

#myTabs li {
    display: inline-block;
    float: none;
    position: static;
}

.nav-tabs li a {
    color: #767676;
    font-weight: bold;
    font-size: 14px;
    display: block;
    float: left;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-tabs li a:hover {
    color: #174a7a;
}

.nav-tabs li a.btn-ripple .ripple {
    background: rgb(23, 74, 121, 0.5);
}

#magic-line {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100px;
    height: 2px;
    background: #174a7a;
}

#magic-line:before {
    content: '';
    border: 10px solid #174a7a;
    border-color: #174a7a transparent transparent transparent;
    position: absolute;
    top: 0;
    width: 20px;
    margin: 0 auto;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.tab-section .nav-tabs>li>a:before {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #e2e2e2;
    content: '';
    left: 0;
    bottom: 0;
}

.tab-section .nav>li>a:focus,
.tab-section .nav>li>a:hover,
.tab-section .nav-tabs>li.active>a,
.tab-section .nav-tabs>li.active>a:focus,
.tab-section .nav-tabs>li.active>a:hover {
    border: none;
    border-bottom-color: #174b7d;
    background: transparent;
    color: #174a7a;
}

.uniques {
    padding: 50px 0;
}

.uniques-inner .tab-content {
    padding: 50px 0 68px;
    overflow: hidden;
}

.panel-group .panel {
    border-radius: 0
}

.panel-default>.panel-heading {
    border-radius: 0;
}

.panel-group .panel-title>a {}

.uniques .panel-group {
    margin-bottom: 0;
}

.uniques .panel-heading {
    padding: 0;
    background: transparent;
}

.uniques .panel-title>a {
    padding: 15px;
    display: block;
}

.uniques .panel-title>a[aria-expanded="true"] {
    background: #174a7a;
    color: #fff;
    border: 1px solid #174a79;
}

.uniques .panel-title>a[aria-expanded="false"] {
    background: #fff;
    color: #174a7a;
}

.img-sec {
    position: relative;
}

.seconday-image {
    position: absolute;
    top: 70px;
    left: 70px;
}

.uniques-inner .panel .content-wrap {
    padding-top: 50px;
}

.uniques-inner .content-wrap p {
    font-size: 16px;
    line-height: 25px;
    color: #192a3e;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
}

.uniques-inner .content-wrap p+p {
    margin-top: 20px;
}


/* Who we are */

.who-we-are {
    padding: 50px 0 120px;
    position: relative;
}

.who-we-are:before,
.who-we-are:after {
    width: 100%;
    height: 25px;
    content: '';
    position: absolute;
    z-index: 201;
}

.who-we-are:before {
    background: -moz-linear-gradient(90deg, #fff 35%, rgba(255, 255, 255, 0)100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, 90deg, color-stop(0, ffffff), color-stop(100%, ffffff));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(90deg, #fff 35%, rgba(255, 255, 255, 0)100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(90deg, #fff 35%, rgba(255, 255, 255, 0)100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(90deg, #fff 35%, rgba(255, 255, 255, 0)100%);
    /* IE10+ */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff', GradientType='1');
    /* for IE */
    background: linear-gradient(to bottom, #fff 35%, rgba(255, 255, 255, 0)100%);
    /* W3C */
    top: 0;
}

.who-we-are:after {
    background: -moz-linear-gradient(90deg, #fff 35%, rgba(255, 255, 255, 0)100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, 90deg, color-stop(0, ffffff), color-stop(100%, ffffff));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(90deg, #fff 35%, rgba(255, 255, 255, 0)100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(90deg, #fff 35%, rgba(255, 255, 255, 0)100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(90deg, #fff 35%, rgba(255, 255, 255, 0)100%);
    /* IE10+ */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff', GradientType='1');
    /* for IE */
    background: linear-gradient(to top, #fff 35%, rgba(255, 255, 255, 0)100%);
    bottom: 0;
    /* W3C */
}

.who-we-are .inner-content-wrap {
    padding: 65px 200px 0%;
    box-shadow: 0 12px 20px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 100px;
    height: 500px;
    background: #fff;
}

.who-we-are .inner-content {
    position: relative;
    z-index: 99;
}

.video-content-inner p {
    font-size: 14px;
    line-height: 30px;
    color: #192a3e;
    font-family: 'Poppins', sans-serif;
    display: inline;
}

.video-content-inner .btn-more {
    float: right;
    color: #174a7a;
    text-transform: uppercase;
    text-decoration: underline;
}

.heading-title {
    font-size: 30px;
    color: #444;
    margin-bottom: 5px;
}

.heading .sub-heading {
    font-size: 13px;
    color: #6f6f6f;
}

.video-content {
    position: relative;
    padding: 20%;
    text-align: center;
    display: block;
    color: #174a79;
}

.home .video-content {
    top: 50px;
}

.video-content .btn-fancy {
    position: relative;
    display: inline-block;
}

.video-content:before {
    background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(25, 75, 125, 0.9) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(25, 75, 125, 0.9) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(25, 75, 125, 0.9) 100%);
    background: -o-linear-gradient(0deg, rgba(0, 0, 0, 0) 0, rgba(25, 75, 125, 0.9) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(0deg, rgba(0, 0, 0, 0) 0, rgba(25, 75, 125, 0.9) 100%);
    /* IE10+ */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#194b7deb", GradientType=0);
    bottom: 0;
    content: "";
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
}

.video-content .play-icon-block {
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #fff;
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

.video-content .btn-fancy:before,
.video-content .btn-fancy:after {
    content: '';
    width: 80px;
    height: 80px;
    position: absolute;
    left: -10px;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    border-radius: 50%;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
}

.video-content .btn-fancy:before {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    background: rgba(255, 255, 255, 0.5);
}

.video-content .btn-fancy:after {
    background: #174a79;
}

.video-content:hover .btn-fancy:after {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.text-content {
    display: block;
    margin-top: 20px;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    position: relative;
    z-index: 9;
}

.what-we-do {
    background: url('/wp-content/uploads/2018/05/bg_top_what_we_do.png') center -15px no-repeat, url('/wp-content/uploads/2018/05/bg_bottom_what_we_do.png') center bottom no-repeat;
    background-color: #f6f5f1;
    padding: 70px 0;
}

.what-we-do .grid-content div.thumbnail {
    padding: 0;
    border: none !important;
    margin-bottom: 30px;
    border-radius: 0;
    -webkit-box-shadow: -2px 0 20px rgba(0, 0, 0, 0.3);
    box-shadow: -2px 0 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease-in-out 0s;
}

.what-we-do .grid-content div.thumbnail:hover {
    -webkit-box-shadow: 0px 10px 21px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 21px 0px rgba(0, 0, 0, 0.2);
}

.what-we-do .thumbnail .img-sec {
    height: 250px;
    overflow: hidden;
    display: block;
}

.what-we-do .thumbnail:hover .img-sec:before {
    visibility: visible;
    opacity: 1;
}

.what-we-do .thumbnail .img-sec:before {
    content: '';
    position: absolute;
    background: #174a7a69;
    width: 100%;
    height: 100%;
    pointer-events: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
    transition: all 0.5s ease 0s;
    opacity: 0;
    visibility: hidden;
}

.what-we-do .thumbnail img {
    padding: 0;
    margin-bottom: 0;
    border-radius: 0;
    border: none;
    max-width: none;
    width: calc(100% + 60px);
    -webkit-transition: opacity .35s, transform .45s;
    -moz-transition: opacity .35s, transform .45s;
    transition: opacity .35s, transform .45s;
    -webkit-transform: translate3d(-40px, 0, 0);
    -moz-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0);
}

.what-we-do .thumbnail:hover img {
    opacity: .6;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.what-we-do .thumbnail .caption {
    padding: 40px;
    background: #fff;
    position: relative;
    height: 100%;
    min-height: 176px;
    width: 100%;
    z-index: 12;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

.what-we-do .thumbnail:hover .caption {
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    transform: translateY(-50px);
    background: #fff;
}

.what-we-do .thumbnail .caption h4 {
    color: #174a7a;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 15px;
    display: inline-block;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    position: relative;
    font-family: 'Lato', sans-serif;
}

.what-we-do .thumbnail .caption h4:before {
    content: '';
    bottom: -5px;
    width: 0;
    margin: 0;
    position: absolute;
    background: #174a7a;
    height: 2px;
    transition: all 0.5s ease 0s;
}

.what-we-do .thumbnail:hover h4:before {
    width: 100%;
}

.what-we-do .thumbnail .caption .content-desc {
    font-size: 14px;
    color: #6f6f6f;
    transition: all 0.5s ease 0s;
}

.testimonials {
    padding: 50px 0;
}

.testimonials .dots-bar .slick-dots li.slick-active button {
    background: #000;
}

.review-content {
    position: relative;
}

.review-content:before {
    content: '';
    background: url('/wp-content/uploads/2018/05/icon_quote_testimonial.png') no-repeat center center;
    background-size: 100%;
    width: 100px;
    height: 100px;
    position: absolute;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
}

.review-content p {
    color: #192a3e;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
}

.author-details {
    margin: 35px 0 25px;
}

.author-details .author-name {
    margin-bottom: 10px;
    color: #174b7d;
    font-size: 18px;
}


/* Inner Pages */

.main-banner {
    position: relative;
    min-height: 450px;
    z-index: -1;
}

.main-banner:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
}

.page-header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    color: #fff;
    text-align: center;
}

.page-header-content h1 {
    font-size: 50px;
    margin: 0 0 10px;
    color: #fff;
}

.page-header-content p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}


/* Who We are */

.main-who-we {
    margin-top: -45px;
    margin-bottom: 0;
}

.main-who-we .video-content-inner {
    padding-bottom: 50px;
    border-bottom: 1px solid #192a3e;
}

.main-who-we .video-content {
    margin-bottom: 30px;
    padding: 16%;
}

.executive-wrap {
    margin-top: 0;
    padding-top: 50px;
}

.executive-carousel {
    margin-top: 20px;
}

.slider-sec {
    padding: 10px 2px;
}

.executive-wrap .exe-thumb {
    width: 135px;
    height: 135px;
    overflow: hidden;
    margin: 0 auto;
    cursor: pointer;
}

.executive-wrap .member-img {
    padding-left: 0;
    padding-right: 0;
}

.executive-wrap .slick-slide img {
    margin: 0 auto;
}

.exe-personal {
    padding-bottom: 25px;
    border-color: #192a3e;
    margin-top: 0;
    margin-bottom: 10px;
}

.exe-personal .linkedin {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 5px 2px -1px rgba(0, 0, 0, 0.2), -2px 1px 2px -1px rgba(0, 0, 0, 0.2), 2px 2px 2px -1px rgba(0, 0, 0, 0.2);
    background: #fff;
    z-index: 9;
    color: #174a7a;
    float: right;
    position: relative;
    top: -40px;
    line-height: 25px;
    font-size: 16px;
}

.executive-wrap .exe-name {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
    font-weight: bold;
    color: #174a79;
    text-transform: uppercase;
}

.executive-wrap .exe-pos {
    font-size: 15px;
    text-transform: uppercase;
    color: #192a3e;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
}

.executive-wrap .mem-info {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 40px 70px 65px;
}

.exe-desc p {
    color: #174a79;
    line-height: 18px;
}

.exe-desc p+p {
    margin-top: 25px;
}

.executive-wrap .slider-nav {
    max-width: 635px;
    margin: 0 auto;
    margin-top: -50px;
}

.executive-wrap .slider-nav .slick-next {
    right: -10px;
}

.executive-wrap .slider-nav .slick-prev {
    left: -10px;
}

.our-history:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background: rgba(0, 0, 0, 0.8);
}

.our-history .our-history-outer {
    position: relative;
    z-index: 1;
}

.history-content {
    margin-bottom: 50px;
    color: #fff;
    line-height: 30px;
}

.history-content p {
    color: #fff;
}

.history-content p+p {
    margin-top: 30px;
}

.our-history .history-content-inner a.btn {
    border: 1px solid #fff;
    color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 13px;
}

.our-history .history-content-inner a:hover {
    background: #fff;
    color: #174a79;
}

.affiliations-outer {
    padding: 30px 50px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    margin: 0 auto 50px;
}

.affiliate-thumb img {
    margin: 0 auto;
}

.slick-slider .slick-arrow,
.slick-slider .slick-arrow:focus {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.2);
    background: #fff;
    z-index: 9;
    line-height: 50px;
}

.slick-slider .slick-next {
    right: -18px;
}

.slick-slider .slick-prev {
    left: -18px;
}

.slick-slider .slick-arrow::before {
    font-family: 'FontAwesome';
    color: #174a79;
    font-size: 14px;
}

.slick-slider .slick-arrow:after {
    background-image: radial-gradient(circle, #174a7a 10%, transparent 10.01%);
}

.slick-slider .slick-arrow:hover {
    background: #fff;
}

.slick-slider .slick-next::before {
    content: '\f054';
}

.slick-slider .slick-prev::before {
    content: '\f053';
}

.morphing-btn-wrap {
    display: inline-block;
    position: relative;
    text-align: center;
}

.morphing-btn {
    -webkit-transition: background 0.3s, color 0.2s 0.2s, width 0.2s 0s;
    -moz-transition: background 0.3s, color 0.2s 0.2s, width 0.2s 0s;
    -o-transition: background 0.3s, color 0.2s 0.2s, width 0.2s 0s;
    transition: color 0.3s 0.2s, width 0.2s 0s;
    white-space: nowrap;
    box-sizing: border-box;
}

.morphing-btn_circle {
    color: transparent !important;
    padding-left: 0;
    padding-right: 0;
    width: 35.6px !important;
    /* Override inline style rule */
    -webkit-transition: color 0.2s 0s, width .3s 0.2s;
    -moz-transition: color 0.2s 0s, width .3s 0.2s;
    -o-transition: color 0.2s 0s, width .3s 0.2s;
    transition: color 0.2s 0s, width .3s 0.2s;
}

.morphing-btn-clone {
    position: fixed;
    background: #174a79;
    border-radius: 50%;
    z-index: 3;
    -webkit-transition: all 0.5s cubic-bezier(.65, .05, .36, 1);
    -moz-transition: all 0.5s cubic-bezier(.65, .05, .36, 1);
    -o-transition: all 0.5s cubic-bezier(.65, .05, .36, 1);
    transition: all 0.5s cubic-bezier(.65, .05, .36, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.morphing-btn-clone_visible {
    display: block;
    -webkit-transform: scale(1) !important;
    -moz-transform: scale(1) !important;
    -ms-transform: scale(1) !important;
    -o-transform: scale(1) !important;
    transform: scale(1) !important;
}

.fancybox-morphing .fancybox-bg {
    background: #174a79;
    opacity: 1;
}

.fancybox-morphing .fancybox-toolbar {
    top: 20px;
    right: 40px;
}

.fancybox-morphing .fancybox-button--close {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    color: #fff;
}

.fancybox-morphing .fancybox-button--close::after,
.fancybox-morphing .fancybox-button--close::before {
    height: 1.55px;
    width: 22px;
    left: calc(50% - 11px);
}

.fancybox-morphing .fancybox-button--close:hover {
    background: rgba(0, 0, 0, 0.25);
}


/* Styling for element used in example */

#morphing-content {
    margin: 0;
    position: relative;
    background: transparent;
    color: #fff;
    padding: 6em 10vw;
    line-height: 2;
    z-index: 3;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#morphing-content a {
    color: #fff;
}


/* What We Do */

.border-ani {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: transparent;
    bottom: 0;
    transition: all 0.5s ease 0s;
}

.border-efx:hover .border-ani {
    background: rgba(0, 0, 0, 0.5);
}

.border-ani:before,
.border-ani:after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    -webkit-transform-origin: center;
    transform-origin: center;
    transition: all 0.5s ease-in-out 0s;
}

.border-ani:before {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
}

.border-ani:after {
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
}

.border-efx:hover .border-ani:before,
.border-efx:hover .border-ani:after {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}

.page-desc {
    padding: 70px;
    background: #fff;
    position: relative;
}

.what-we-do-wrap .categories-blk {
    margin-bottom: 80px;
    padding: 70px;
    background: no-repeat left center;
    background-size: cover;
    position: relative;
}

.what-we-do-wrap .categories-content {
    background: rgba(255, 255, 255, 0.8);
    padding: 48px;
    width: 448px;
    position: relative;
    z-index: 2;
}

.what-we-do-wrap .categories-blk:nth-child(even) .categories-content {
    float: right;
}

.what-we-do-wrap .categories-content h2 {
    text-transform: uppercase;
    font-size: 22px;
    color: #174a79;
    margin-bottom: 30px;
    font-weight: bold;
}

.what-we-do-wrap .categories-content h2 a {
    color: #174a79;
}

.what-we-do-wrap .categories-content .short-desc {
    margin-bottom: 30px;
}

.what-we-do-wrap .categories-content .short-desc,
.what-we-do-wrap .categories-content p {
    color: #6f6f6f;
    font-size: 14px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
}

.what-we-do-wrap .categories-content .btn {
    padding: 13px 25px;
    font-size: 14px;
    text-transform: uppercase;
}


/* Curated News */

.curated-news-wrap {
    margin-bottom: 30px;
}

.quotes-sec {
    margin-bottom: 30px;
    padding: 30px 40px 45px;
}

.quotes-sec .heading-title {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 30px;
}

.quotes-sec .heading-title:before {
    content: '';
    width: 142px;
    height: 1px;
    background: #192a3e;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -20px;
}

.quotes-content-inner {
    padding: 0 100px;
    position: relative;
}

.quotes-content-inner:before {
    left: 0;
    top: -30px;
    background: url('/wp-content/uploads/2018/05/icon_quote1.png') no-repeat left top;
}

.quotes-content-inner:after {
    right: 0;
    bottom: 0;
    background: url('/wp-content/uploads/2018/05/icon_quote2.png') no-repeat right bottom;
}

.quotes-content-inner:before,
.quotes-content-inner:after {
    position: absolute;
    content: '';
    width: 58px;
    height: 54px;
    background-size: 100%;
}

.quotes-sec .quotes-content,
.quotes-sec .quotes-content p {
    color: #192a3e;
    font-style: italic;
    line-height: normal;
}

.quotes-sec .quote-author {
    color: #192a3e;
    font-size: 16px;
    margin-top: 25px;
    font-style: italic;
    display: inline-block;
}

.quotes-sec .quote-author:before {
    content: '';
    width: 20px;
    height: 1px;
    background: #192a3e;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

.heading-strip {
    background: #192b3e;
    -moz-background-size: 20px 20px;
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    color: #fff;
    border-radius: 0;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
}

.heading-strip:before {
    content: '';
    background: url('../images/pattern_dot.png'), url('../images/pattern_dot.png'), url('../images/pattern_dot.png');
    background-position: 0 0, 15px 20px, -12px 10px;
    display: block;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.flex-sec {
    display: flex;
    flex-wrap: wrap;
}

.flex-sec>* {
    position: relative;
}

.news-sec-blk {
    overflow: hidden;
}

.news-sec-blk+.news-sec-blk {
    margin-top: 30px;
}

.news-sec-blk:nth-child(even) {
    flex-direction: row-reverse;
}

.flex-50 {
    width: 50%;
    flex: 0 0 50%;
}

.news-sec-inner {
    margin-bottom: 30px;
}

.news-sec .news-content {
    padding: 40px 50px;
}

.news-title {
    padding-bottom: 30px;
    border-bottom: 1px solid #e1e1e1;
    color: #174a79;
    font-size: 18px;
    font-weight: bold;
}

.news-desc {
    margin: 20px 0;
}

.news-desc p {
    line-height: normal;
    font-size: 16px;
}

.news-info-details {
    margin-bottom: 15px;
}

.news-info-details div {
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #6f6f6f;
}

.news-info-details span {
    text-transform: none;
}

.news-content .btn {
    margin-top: 15px;
}


/* Time line Our History */

.timeline-inner {
    position: relative;
    padding-bottom: 100px;
}

.timeline-inner:before {
    content: '';
    position: absolute;
    width: 5px;
    background: #d8d7e4;
    left: 50%;
    top: 0;
    height: 100%;
}

.timeline-item+.timeline-item {
    margin-top: 180px;
}

.timeline-item:nth-child(odd) {
    flex-direction: row-reverse;
}

.timeline-inner .timeline-item {
    justify-content: space-between;
}

.timeline-heading {
    position: relative;
}

.timeline-title {
    color: #174a79;
    font-size: 25px;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    line-height: 30px;
    font-weight: bold;
    transform: translateY(-50%);
}

.timeline-title span {
    display: block;
}

.timeline-year {
    color: #eeeeef;
    font-size: 175px;
    font-weight: bold;
}

.timeline-desc {
    margin-top: 25px;
}

.timeline-item .timeline-image {
    padding-right: 25px;
    padding-left: 25px;
    width: 48%;
    flex: 0 0 48%;
}

.timeline-image .img-sec {
    position: static;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: 0.5s ease-in-out 0s;
    transition: 0.5s ease-in-out 0s;
}

.timeline-item:hover .timeline-image .img-sec {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

.timeline-image .feature-image {
    position: relative;
    z-index: 2;
}

.timeline-image .seconday-image {
    left: 45px;
    top: 25px;
    z-index: 1;
}

.timeline-item .timeline-content {
    padding-left: 25px;
    padding-right: 25px;
    width: 45%;
    flex: 0 0 45%;
}