<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Bundle\Block\Catalog\Product\View\Type\Bundle" type="Ziffity\Bundle\Block\Catalog\Product\View\Type\Bundle" />
    <preference for="Ewave\ExtendedBundleProduct\Plugin\Magento\Bundle\Helper\Catalog\Product\ConfigurationPlugin" type="Ziffity\Bundle\Plugin\ConfigurationPlugin" />
    <type name="Magento\Bundle\Block\Catalog\Product\View\Type\Bundle\Option">
        <plugin name="addons-secion-renderer" type="Ziffity\Bundle\Plugin\BundleOption" sortOrder="1" />
    </type>
</config>