<p>Dear {{var name}},</p>

<p>Great news, {{var company}} has been approved for an account at partysupplyusa.com.</p>

<p>Your secret number is: {{var secret_number}}</p>

<p>You will need this to create a user login and begin saving on our site. Please create a user <a href="{{config path="web/secure/base_url"}}customer/account/create/">here</a>:  After this you will be able to log in and start taking advantage of all of our great deals. </p>

<p>If you ever have any questions, please use our <a href="{{config path="web/secure/base_url"}}contact">contact us</a> page or call us at 800-324-7474. </p>

 

<p>Thanks,</p>

Partysupplyusa.com