
ol,
ul {
    list-style: none
}



.center {
    height: auto;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1110px
}

@media (min-width:90em) {

    .center {
        padding-right: 30px;
        padding-left: 30px;
        max-width: 80%
    }

    .dragger .dragger-controls .dragger-controls-next {
        right: 18rem;
    }
    .dragger .dragger-controls .dragger-controls-prev {
        left: 18rem;
    } 

    .dragger .dragger-scrollbar {
        width: 90%;
    }
}

@media (max-width:89.99em) {
    .center {
        padding-right: 30px;
        padding-left: 30px;
        max-width: 1260px
    }
}

@media (min-width:62em) and (max-width:73.115em) {
    .center {
        max-width: 100%
    }
}

@media (max-width:61.99em) {
    .center {
        padding-right: 20px;
        padding-left: 20px
    }
}


.button,
.woocommerce a.button,
.woocommerce button.button {
    margin: 0;
    padding: 0;
    display: inline-block;
    background: none;
    border: 0 none;
    border-radius: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer
}

.button:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover {
    background: none
}

.button--circle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 2px solid #357df9;
    border-radius: 50%;
    color: #357df9;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(#fff, #000)
}

.button--circle:focus{
    background-color: #357df9;
    color: #fff;
}


.button--circle .svg,
.woocommerce a.button--circle .svg,
.woocommerce button.button--circle .svg {
    fill: currentColor;
    transition: fill .3s cubic-bezier(.165, .84, .44, 1)
}

.button--circle:after,
.woocommerce a.button--circle:after,
.woocommerce button.button--circle:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    z-index: -1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    transition: -webkit-transform .3s cubic-bezier(.165, .84, .44, 1);
    transition: transform .3s cubic-bezier(.165, .84, .44, 1);
    transition: transform .3s cubic-bezier(.165, .84, .44, 1), -webkit-transform .3s cubic-bezier(.165, .84, .44, 1);
    background-color: #357df9
}

.button--circle:hover,
.woocommerce a.button--circle:hover,
.woocommerce button.button--circle:hover {
    color: #fff;
    background-color: #357df9;
    transition: background-color 0s cubic-bezier(.165, .84, .44, 1) .15s
}

.button--circle:hover:after,
.woocommerce a.button--circle:hover:after,
.woocommerce button.button--circle:hover:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%
}

.button--circle:hover .svg,
.woocommerce a.button--circle:hover .svg,
.woocommerce button.button--circle:hover .svg {
    -webkit-animation: button-arrow-right .3s cubic-bezier(.165, .84, .44, 1) both;
    animation: button-arrow-right .3s cubic-bezier(.165, .84, .44, 1) both
}

.button--circle--revert:after,
.woocommerce a.button--circle--revert:after,
.woocommerce button.button--circle--revert:after {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%
}

.button--circle--revert:hover:after,
.woocommerce a.button--circle--revert:hover:after,
.woocommerce button.button--circle--revert:hover:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%
}

.button--circle--revert:hover .svg,
.woocommerce a.button--circle--revert:hover .svg,
.woocommerce button.button--circle--revert:hover .svg {
    -webkit-animation: button-arrow-left .3s cubic-bezier(.165, .84, .44, 1) both;
    animation: button-arrow-left .3s cubic-bezier(.165, .84, .44, 1) both
}

.woocommerce ul.products li.product a {
    position: relative;
    display: flex;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.woocommerce ul.products li.product a img {
    max-width: 100%;
    border-radius: 10px;
}

.object-fit .woocommerce ul.products li.product a img {
    object-fit: cover;
    object-position: 50% 0
}

.no-object-fit .woocommerce ul.products li.product a img {
    font-family: "object-fit: cover; object-position: 50% 0";
    object-position: 50% 0
}

.woocommerce ul.products li.product a:after,
.woocommerce ul.products li.product a:before {
    position: relative;
    z-index: 1;
    transition: opacity .6s cubic-bezier(.165, .84, .44, 1)
}

.woocommerce ul.products li.product a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    content: "";
    opacity: 0;
    background: linear-gradient(0deg, rgb(53, 125, 249) 0, hsla(8, 38%, 77%, 0));
    border-radius: 0 0 10px 10px;
}

@media (max-width:47.99em) {
    .woocommerce ul.products li.product a:before {
        opacity: 0
    }
    .woocommerce ul.products li.product a:after {
        opacity: .5
    }
}

.woocommerce ul.products li.product a:hover .price,
.woocommerce ul.products li.product a:hover .view_products {
    opacity: 1;
    transition-duration: .6s
}

.woocommerce ul.products li.product a:hover .woocommerce-loop-category__title,
.woocommerce ul.products li.product a:hover .woocommerce-loop-product__title {
    -webkit-transform: translateY(-35px);
    transform: translateY(-35px)
}

.woocommerce ul.products li.product a:hover:before {
    opacity: 0
}

.woocommerce ul.products li.product a:hover:after {
    opacity: 1
}

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title {
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
    text-align: center;
    transform: translateY(100%);
    padding: 30px 10px 20px;
    z-index: 2;
    color: #fff;
    font-size: 2rem;
    line-height: 1.2857142857;
    transition: -webkit-transform .5s cubic-bezier(.19, 1, .22, 1);
    transition: transform .5s cubic-bezier(.19, 1, .22, 1);
    transition: transform .5s cubic-bezier(.19, 1, .22, 1), -webkit-transform .5s cubic-bezier(.19, 1, .22, 1)
}


.dragger {
    clear: both;
    text-align: center;
}

.dragger-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 75px
}

.dragger-header-title {
    margin-right: 5.8558558559%
}

@media (max-width:47.99em) {
    .dragger-header-title {
        margin-bottom: 30px
    }
}

.dragger-header-all {
    margin-top: 13px
}

.dragger-zone {
    position: relative;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab
}

.dragger-zone:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.dragger-zone.is-dragging .dragger-inner {
    pointer-events: none
}

.drag-slider {
    position: relative;
}

.dragger-zone.is-dragging .product {
    pointer-events: none!important
}

.dragger-zone.is-pressed .product {
    opacity: 1!important;
    -webkit-transform: scale(.95);
    transform: scale(.95)
}

.dragger-zone.is-pressed .product img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.dragger-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px
}

@media (max-width:28.115em) {
    .dragger-footer {
        justify-content: center
    }
}

.dragger-scrollbar {
    position: relative;
    height: 3px;
    width: 100%;
    background-color: #d9e0f1;
}

.dragger-scrollbar-handle {
    position: absolute;
    top: 50%;
    left: 0;
    height: 74px;
    width: calc(100% - 100px);
    margin-top: -37px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
    transition: all 0.5s ease-in-out 0s;
}

.dragger-scrollbar-handle:before {
    content: "";
    width: 100px;
    height: 10px;
    border-radius: 6px;
    background-color: #357df9
}

@media (max-width:47.99em) {
    .dragger-scrollbar {
        display: none
    }
}

.dragger-controls {
    display: flex;
    flex-wrap: wrap;
    margin:0;
    padding: 0;
    height: 0;
}


.dragger-controls button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
}

.dragger-controls button:before {
    font-size: 16px;
}

.dragger-controls button span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.dragger-controls .dragger-controls-prev{
    left: 5rem;
}

.dragger-controls .dragger-controls-next{
    right: 5rem;
}






.dragger-inner {
    transition: all 0.5s ease-in-out 0s;
}

.dragger-inner ul {
    padding: 0;
    margin: 0;
}

.dragger-inner li {
    margin: 0;
}

.dragger .dragger-inner .products[class*=columns-] {
    display: flex;
    margin-bottom: 0
}

.dragger .dragger-inner .products[class*=columns-] .product {
    height: auto;
    width: 25.6756756757%;
    margin: 0;
    padding-right: 20px;
    float: none;
    flex-shrink: 0;
    transition: opacity .4s cubic-bezier(.165, .84, .44, 1), -webkit-transform .4s cubic-bezier(.165, .84, .44, 1);
    transition: transform .4s cubic-bezier(.165, .84, .44, 1), opacity .4s cubic-bezier(.165, .84, .44, 1);
    transition: transform .4s cubic-bezier(.165, .84, .44, 1), opacity .4s cubic-bezier(.165, .84, .44, 1), -webkit-transform .4s cubic-bezier(.165, .84, .44, 1)
}

@media (max-width:73.115em) {
    .dragger .dragger-inner .products[class*=columns-] .product {
        opacity: 1
    }
}

@media (max-width:61.99em) {
    .dragger .dragger-inner .products[class*=columns-] .product {
        height: auto;
        width: 34.2342342342%
    }
}

@media (max-width:47.99em) {
    .dragger .dragger-inner .products[class*=columns-] .product {
        height: auto;
        width: 100%
    }
}

.dragger .dragger-inner .products[class*=columns-] .product a,
.dragger .dragger-inner .products[class*=columns-] .product img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none
}

.dragger .dragger-inner .products[class*=columns-] .product img {
    transition: -webkit-transform .4s cubic-bezier(.165, .84, .44, 1);
    transition: transform .4s cubic-bezier(.165, .84, .44, 1);
    transition: transform .4s cubic-bezier(.165, .84, .44, 1), -webkit-transform .4s cubic-bezier(.165, .84, .44, 1)
}

@media (min-width:73.125em) {
    .dragger .dragger-inner .products[class*=columns-] .product.is-first,
    .dragger .dragger-inner .products[class*=columns-] .product.is-first+.product,
    .dragger .dragger-inner .products[class*=columns-] .product.is-first+.product+.product,
    .dragger .dragger-inner .products[class*=columns-] .product.is-first+.product+.product+.product {
        opacity: 1;
        pointer-events: auto
    }
}

@media (min-width:62em) {
    .dragger .dragger-inner .products[class*=columns-] .product.is-first,
    .dragger .dragger-inner .products[class*=columns-] .product.is-first+.product {
        opacity: 1;
        pointer-events: auto
    }
}

.dragger .dragger-inner .products[class*=columns-]:after,
.dragger .dragger-inner .products[class*=columns-]:before {
    content: none
}


@media screen and (max-width: 767px) {
    .dragger .dragger-inner .products[class*=columns-] .product {
        padding-right: 10px;
    }
    .dragger-controls .dragger-controls-prev {
        left: 2rem;
    }
    .dragger-controls .dragger-controls-next {
        right: 2rem;
    }
    .dragger-footer {
        margin-top: 0;
    }
}

body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
}