$page-header--sticky__height: 60px;
$page-header--sticky__height--mobile: 55px;

//
//  Common
//  _____________________________________________

html,
body {
    @include min-screen($mobile-nav__breakpoint) {
        height: 100%;
    }
}

body {
    background-color: $page__background-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

//
//  Header
//  ---------------------------------------------

.page-header {
    background-color: $header__background-color;
    margin-bottom: $indent__base;
    border-bottom: 1px solid $border-color__base;

    @include min-screen($mobile-nav__breakpoint) {
        border: 0;
        margin-bottom: 0;
    }

    .cms-index-index & {
        margin-bottom: 0;
    }

    .phone-number {
        float: left;
        margin: 0;
        font-size: $font-size__base;
        font-weight: $font-weight__semibold;
        color: $c-steel;
        text-transform: uppercase;
        display: none;
        box-sizing: border-box;

        @include max-screen($mobile-nav__breakpoint) {
            margin-bottom: 3px;
            padding: $indent__xs $indent__s;
            background-color: $c-smoke;
            width: 100%;
            display: block;
        }
    }

    .logo svg {
        height: 35px;

        @include min-screen($mobile-nav__breakpoint) {
            height: 55px;
        }
    }

    &:not(.page-header--sticky) {
        @include min-screen($mobile-nav__breakpoint) {
            .header.content {
                position: relative;
                flex-wrap: wrap;
                margin-top: $indent__base;
                margin-bottom: 0;
                padding-left: 0;
                padding-right: 0;
            }

            .logo {
                padding-left: $indent__l;
            }

            .quick-order-container {
                padding-right: 50px;
            }
        }

        @include min-screen($screen__l) {
            .logo {
                padding-left: 50px;
            }
        }
    }

    &--sticky {
        position: fixed;
        top: -$page-header--sticky__height--mobile;
        width: 100%;
        min-height: $page-header--sticky__height--mobile;
        z-index: 15;
        background-color: $color-white;
        box-shadow: 2px 3px 7px 0 rgba(0, 0, 0, 0.1);
        transform: translateY($page-header--sticky__height--mobile);
        transition: transform .7s;

        @include min-screen($mobile-nav__breakpoint) {
            top: -$page-header--sticky__height;
            min-height: $page-header--sticky__height;
            transform: translateY($page-header--sticky__height);
        }

        .panel.wrapper,
        .social-links,
        .quick-order-container {
            display: none;
        }

        .header.content {
            display: flex;
            position: relative;
            min-height: 40px;
            margin-bottom: 0;

            @include min-screen($mobile-nav__breakpoint) {
                min-height: 60px;
                padding-left: 0;
            }
        }

        .logo {
            margin-bottom: 0;
            padding-left: 0;
            order: 0;
            line-height: 1;

            svg {
                width: 150px;
                margin-top: $indent__s;
            }

            @include min-screen($mobile-nav__breakpoint) {
                position: absolute;
                left: $indent__base;

                svg {
                    margin-top: 0;
                }
            }
        }
    }
}

//
//  Account Navigation & Currency Switcher
//  ---------------------------------------------
.panel.header {
    @include layout-container;
    background-color: $c-smoke;
    padding: 0;
    max-width: none;

    a {
        color: $c-cobalt;
    }

    @include min-screen($mobile-nav__breakpoint) {
        @include lib-clearfix();
        padding: $indent__s 20px $indent__xs 0;
    }
}

.panel.header > .links,
.panel.header .switcher {
    display: none;

    @include min-screen($mobile-nav__breakpoint) {
        display: inline-block;
    }
}

.header.panel > .links {
    @include lib-list-inline();
    float: right;
    font-size: 0;
    margin-left: auto;

    .greet {
        color: $color-black;
    }

    .counter {
        &::before {
            content: '(';
        }

        &::after {
            content: ')';
        }
    }

    > li,
    > .phone-number {
        font-size: $font-size__base--desktop;
        margin: 0 0 0 15px;

        &.welcome,
        a {
            line-height: 1.4;
        }

        &.welcome a {
            padding-left: $indent__xs;
        }
    }

    > .authorization-link::after {
        content: attr(data-label);
        display: inline-block;
        margin: 0 -6px 0 6px;
    }

    > .customer-welcome + .authorization-link {
        display: none;
    }
}

.header.panel .switcher {
    float: right;
    margin-left: 15px;
    margin-right: -6px;
}

.customer-name,
.customer-welcome + .authorization-link {
    @include max-screen($mobile-nav__breakpoint) {
        display: none;
    }
}

.customer-welcome {
    @include min-screen($mobile-nav__breakpoint) {
        @include lib-dropdown(
          $_toggle-selector: '.action.switch',
          $_options-selector: 'ul.header.links',

          $_dropdown-actions-padding: 10px 0,
          $_dropdown-list-item-padding: 0 $indent__base,
          $_dropdown-list-shadow: none,
          $_dropdown-list-pointer: false,
          $_dropdown-list-position-right: 0,
          $_dropdown-list-item-hover: transparent,
          $_dropdown-list-border: 1px solid $c-border,

          $_dropdown-toggle-icon-content: '\e622',
          $_dropdown-toggle-active-icon-content: '\e621',

          $_icon-font-text-hide: true,
          $_icon-font-size: 22px,
          $_icon-font-line-height: 22px,
          $_icon-font-color: $text__color
        );

        &.active .action.switch:before {
            content: '\e621';
        }

        .customer-name {
            cursor: pointer;
        }

        .customer-menu {
            display: none;
        }

        .action.switch {
            @include lib-button-reset();
        }

        ul.header.links {
            min-width: 210px;
            right: 0;
            padding: 10px 0;
            background-color: $c-smoke;

            a {
                text-decoration: none;
                padding: 10px 0;

                &:not(.no-display) {
                    display: block;
                }
            }
        }

        .link.wishlist .counter {
            &::before {
                content: '('
            }

            &::after {
                content: ')'
            }
        }

        &.active .customer-menu {
            display: block;
        }

        .greet {
            display: none;
        }
    }
}

//
//  Main Header Area
//  ---------------------------------------------

.header.content {
    @include layout-container();
    @include lib-clearfix();
    min-height: 85px;

    @include min-screen($mobile-nav__breakpoint) {
        padding: 0 $layout__width-xs-indent 0;
        display: flex;
        margin: 0;
        margin-bottom: $indent__xs;
        max-width: none;
        align-items: center;

        .minicart-wrapper {
            order: 1;
            margin-top: 0;
        }
    }

    .checkout-index-index & {
        min-height: 60px;
        max-width: 1280px;
        margin: 0 auto;

        .logo {
            padding-left: 0;
        }
    }
}

.logo {
    margin: 0 0 $indent__s ($indent__s * 1.5);
    max-width: 50%;
    position: relative;
    z-index: 5;

    @include min-screen($mobile-nav__breakpoint) {
        margin: 0 $indent__s 0 0;
    }

    @include min-screen($screen__l) {
        padding-left: 70px;
        margin-left: 0;
    }

    .page-print & {
        float: none;
    }

    svg {
        max-width: 150px;
        width: 100%;
        margin-top: 12px;

        @include min-screen($mobile-nav__breakpoint) {
            max-width: 280px;
            margin-top: 3px;
        }
    }

    img {
        display: block;

        @include min-screen($mobile-nav__breakpoint) {
            max-height: inherit;
        }
    }
}

.page-main > .page-title-wrapper .page-title {
    @include min-screen($mobile-nav__breakpoint) {
        display: inline-block;
    }

    + .action {
        margin-top: $indent__l;

        @include min-screen($mobile-nav__breakpoint) {
            float: right;
            margin-top: $indent__base;
        }
    }
}

.header.links {
    li {
        a,
        span,
        button {
            color: $c-cobalt;

            @include hover {
                color: $c-royal;
            }
        }

        &.greet.welcome {
            display: none;
        }
    }

    .phone-number {
        display: none;

        @include min-screen($mobile-nav__breakpoint) {
            display: block;
        }
    }
}

.action.skip {
    &:not(:focus) {
        @include lib-visually-hidden();
    }

    &:focus {
        background: $color-gray94;
        padding: $indent__s;
        box-sizing: border-box;
        left: 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 15;
    }
}

//
//  Footer
//  ---------------------------------------------

.page-footer {
    @include layout-container;
    margin-top: 25px;
    padding-top: 25px;
    padding-bottom: 75px;
    background-color: $footer__background-color;
    border-top: 1px solid $border-color__base;
    width: 100%;

    @include min-screen($screen__m) {
       display: flex;
       justify-content: space-between;
    }

    a {
        text-decoration: none;
    }
}

.footer {
    &__connect {
        display: flex;
        flex-direction: column;

        @include min-screen($screen__m) {
            max-width: 405px;
            order: 2;
        }
    }

    &-links{
        margin-top: $indent__s;
        margin-bottom: $indent__s;

        @include min-screen($mobile-nav__breakpoint) {
            display: flex;
            margin-top: 0;
        }

        &-block {
            @include min-screen($mobile-nav__breakpoint) {
                width: 100%;
            }
        }
    }

    .block {
        float: right;
    }

    .switcher-store,
    .links {
        @include min-screen($mobile-nav__breakpoint) {
            display: inline-block;
            padding-right: $indent__m;
            vertical-align: top;
        }
    }

    .links {
        @include lib-list-reset-styles();

        @include min-screen($mobile-nav__breakpoint) {
            padding: 0 50px 0 0;
        }

        > li {
            margin-bottom: 25px;
        }
    }

    .switcher-store {
        margin: 0 0 30px;

        .switcher-trigger strong span,
        .options ul.dropdown.switcher-dropdown a {
            font-size: 13px;
            font-weight: $font-weight__regular;
        }

        .switcher-option {
            background-color: $c-smoke;
        }

        .options ul.dropdown.switcher-dropdown {
            border: 0;
            box-shadow: none;
            min-width: 100px;

            &::before,
            &::after {
                display: none;
            }
        }
    }

    .copyright,
    .bugs {
        color: $text__color-alt;
        display: block;
        margin: 20px 0 0;
    }

    .copyright {
        @include min-screen($mobile-nav__breakpoint) {
            @include lib-clearfix();
        }
    }
}

.page-header .switcher,
.page-footer .switcher {
    margin-right: 10px;

    .options {
        @include lib-dropdown(
          $_dropdown-actions-padding           : 0,
          $_dropdown-list-item-padding         : 0,
          $_dropdown-toggle-icon-content       : $icon-down,
          $_dropdown-toggle-active-icon-content: $icon-up,
          $_icon-font-text-hide                : true,
          $_icon-font-size                     : 22px,
          $_icon-font-line-height              : 22px,
          $_dropdown-list-min-width            : 160px
          );

        ul.dropdown a {
            display: block;
            padding: 8px;

            @include hover {
                text-decoration: none;
            }
        }

        .action.toggle::before {
            position: absolute;
            right: -$indent__s;
        }
    }

    li {
        font-size: $font-size__s;
        margin: 0;
    }

    .label {
        @include lib-visually-hidden();
    }

    strong {
        font-weight: $font-weight__regular;
    }
}

//
//  Widgets
//  ---------------------------------------------

.sidebar .widget.block:not(:last-child),
.sidebar .widget:not(:last-child) {
    @extend .abs-margin-for-blocks-and-widgets;
}

.widget {
    clear: both;

    .block-title {
        @extend .abs-block-title;
    }
}

.page-header .widget.block,
.page-footer .widget.block {
    margin: $indent__base 0;
}

//
//  Calendar
//  ---------------------------------------------

.ui-datepicker td {
    padding: 0;
}

.cms-index-index {
    .page-title-wrapper {
        display: none;
    }
}

//
//  Miscellaneous
//  ---------------------------------------------

.only-on-mobile {
    @include min-screen($mobile-nav__breakpoint) {
        display: none !important;
    }
}

//
//  404 Page
//  ---------------------------------------------

.cms-no-route {
    .columns .column.main {
        width: 100%;
    }

    .page-title-wrapper {
        display: none;
    }
}

.page-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: $indent__l 0;

    h1 {
        margin-bottom: $indent__s;
    }

    h4 {
        font-size: $font-size__base--desktop;
        font-weight: $font-weight__semibold;
        margin-top: 0;
    }

    .buttons {
        width: 100%;
        margin-top: 60px;

        button {
            width: 100%;
            margin-top: $indent__s;

            @include min-screen($screen__m) {
                max-width: 180px;

                &:not(:last-of-type) {
                    margin-right: $indent__s;
                }
            }
        }
    }

    img {
        margin-top: $indent__l;
    }
}
