<?xml version="1.0"?>
<!--
 * Copyright © 2016 Wyomind. All rights reserved.
 * See LICENSE.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
   
    <event name="admin_system_config_changed_section_advancedinventory">
        <observer name="wyomind_advancedinventory_save_config" instance="Wyomind\AdvancedInventory\Observer\SaveConfig" />
    </event>
    <!--<event name="admin_system_config_changed_section_cataloginventory">-->
        <!--<observer name="wyomind_advancedinventory_save_config" instance="Wyomind\AdvancedInventory\Observer\SaveInventory" />-->
    <!--</event>-->
   
  
</config>
