<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog">
            <group id="search" translate="label" type="text" sortOrder="600" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="min_sku_length" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Minimal SKU Length</label>
                    <validate>validate-digits</validate>
                </field>
                <field id="max_suffix_length" translate="label comment" type="text" sortOrder="41" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Maximum Suffix Length</label>
                    <validate>validate-digits</validate>
                </field>
            </group>
        </section>
    </system>
</config>