<?xml version="1.0"?>
<!--
 * Copyright © 2016 Wyomind. All rights reserved.
 * See LICENSE.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
   
    <!-- Standard checkout -->
    <event name="checkout_submit_all_after">
        <observer name="wyomind_advancedinventory_checkout_submit_all_after" instance="Wyomind\AdvancedInventory\Observer\CheckoutSubmitAllAfter" />
    </event>  
    <!-- Paypal -->
    <event name="paypal_express_place_order_success">
        <observer name="wyomind_advancedinventory_checkout_submit_all_after" instance="Wyomind\AdvancedInventory\Observer\CheckoutSubmitAllAfter" />
    </event>
    <event name="paypal_ipn_submit_all_after">
        <observer name="wyomind_advancedinventory_paypal_ipn_submit_all_after" instance="Wyomind\AdvancedInventory\Observer\CheckoutSubmitAllAfter" />
    </event>
    <!-- Ebizmart POS -->
    <event name="pos_order_after_submit">
        <observer name="wyomind_advancedinventory_checkout_submit_all_after" instance="Wyomind\AdvancedInventory\Observer\CheckoutSubmitAllAfter" />
    </event>
    <!-- M2ePro -->
    <event name="ess_order_place_success">
        <observer name="wyomind_advancedinventory_m2epro_submit_all_after" instance="Wyomind\AdvancedInventory\Observer\CheckoutSubmitAllAfter" />
    </event>

    <event name="sales_order_payment_cancel">
        <observer name="wyomind_advancedinventory_sales_order_payment_cancel" instance="Wyomind\AdvancedInventory\Observer\SalesOrderPaymentCancel" />
    </event>
    <event name="sales_order_creditmemo_refund">
        <observer name="wyomind_advancedinventory_sales_order_payment_cancel" instance="Wyomind\AdvancedInventory\Observer\SalesOrderCreditmemoRefund" />
    </event>  
    
    <event name="sales_order_creditmemo_save_after">
        <observer name="inventory" disabled="true"/>
        <observer name="wyomind_advancedinventory_observer_saveinventory" instance="Wyomind\AdvancedInventory\Observer\RefundOrderInventoryObserver"/>
    </event>
</config>
