<?xml version="1.0"?>
<!--
 * Copyright © 2016 Wyomind. All rights reserved.
 * See LICENSE.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Wyomind_AdvancedInventory" setup_version="7.1.0.1">
        <sequence>
            <module name="Wyomind_Core"/>
            <module name="Wyomind_PointOfSale"/>
        </sequence>
    </module>
</config>
