<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Controller\Account\CreatePost">
        <plugin name="set_password_as_confirm_password"
                type="Earthlite\Customer\Plugin\Controller\Account\CreatePostPlugin" sortOrder="10"/>
    </type>
    <preference for="Magento\CustomerCustomAttributes\Block\Adminhtml\Customer\Address\Attribute\Edit\Tab\General"
                type="Earthlite\Customer\Block\Adminhtml\Customer\Address\Attribute\Edit\Tab\General" />
</config>
