<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="feedbackform" translate="label" sortOrder="10">
            <label>Feedback Form Setting</label>
        </tab>
        <section id="feedbackformsetting" translate="label" sortOrder="600" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Jira Setting</label>
            <tab>service</tab>
            <resource>Traversl_Feedback::config_webapi</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                 <field id="url" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API URL</label>
                </field>
                <field id="username" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Username</label>
                </field>
                <field id="password" translate="label" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
            </group>
            <group id="jiradetails" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Jira Details</label>
                 <field id="project" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Project Key</label>
                    <comment>Example: For project "Feedback" key is -> FB</comment>
                </field>
                <field id="issuetype" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Issue Type</label>
                     <source_model>Travers\Feedback\Model\Config\Source\IssueList</source_model>
                </field>
                <field id="labellist" translate="label comment" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Labels</label>
                    <comment>Add using (,) comma separator </comment>
                </field>
            </group>
        </section>
    </system>
</config>