<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="checkout">
            <group id="sidebar" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="enable_minicart_sidebar" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Minicart Slide-in Minicart</label>
                    <comment>Full-height sidebar versus a dropdown</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="display">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
