// All !importants are necessary in order to override Algolia

#algolia-searchbox {
    .algolia-search-input {
        max-width: none !important;
        width: 100%;
        line-height: normal;

        &::placeholder {
            font-size: $font-size__base--desktop;
        }
    }

    .magnifying-glass {
        top: 11px !important;
    }

    @include max-screen($screen__l) {
        .algolia-search-input {
            margin-top: 0 !important;
            min-height: 40px;
            height: 100%;
        }

        .search-button {
            min-height: 40px;
            padding: $indent__s $indent__base;
        }
    }

    @include min-screen($screen__m) {
        .magnifying-glass {
            top: 20px !important;
        }
    }
}

#algolia-autocomplete-container {
    max-width: 800px !important;
    width: 100%;

    .aa-dataset-products {
        width: 100%;
    }

    @include min-screen(869px) { // Algolia's breakpoint where it turns into dual menu
        .aa-dropdown-menu {
            width: 90% !important;
        }
    }
}

#algolia-searchbox {
    width: 100%;
}

.algolia-search-block .search-button {
    display: none;

    @include min-screen($mobile-nav__breakpoint) {
        @include button--type(secondary);
        display: block;
        position: absolute;
        top: 0;
        right: -2px;
        padding: 15px 40px;
        box-shadow: inset 0 -2px $c-aluminum, inset -1px 0px 0px 2px $c-grey;
        border-radius: 0 6px 6px 0;
        min-height: 49px;
    }
}

.page-header {
    &:not(.page-header--sticky) {
        .algolia-search-block {
            @include min-screen($mobile-nav__breakpoint) {
                flex-basis: 44%;
            }

            @include min-screen($screen__xl) {
                flex-basis: 55%;
            }
        }
    }

    &--sticky {
        .algolia-search-block {
            display: none;
            max-width: 300px;
            margin-right: 70px;
            padding-bottom: $indent__xs;
            flex-basis: auto;
            order: 2;

            @include min-screen($screen__l) {
                display: block;
                flex-basis: auto;
                position: absolute;
                right: $indent__base;
            }

            @include min-screen($screen__m) {
                .search-button {
                    min-height: 0;
                    padding-left: $indent__s;
                    padding-right: $indent__s;
                }
            }

            .algolia-search-input,
            .search-button {
                height: 40px;
            }
        }
    }
}