$bp-medium: $screen__m; // pre-set _catland breakpoint
$bp-large: $screen__l; // pre-set _catland breakpoint
$max-content-width: $layout__max-width - $layout-indent__width; // probably 1260px
$loading-background-color: $secondary__color;

:root .bluefoot-driver a {
    width: 100%; // auto by default and IE 11 stretches iamges past parent width bounds
}

/*
 *
 *  BLUEFOOT :: Bluefoot Styling Overrides.
 *  Bluefoot.css gets included after our CSS so we use :root to override
 *
 */
:root {
    .bluefoot-row {
        &--reverse {
            // let's reverse the columns
            > *:first-child {
                @include max-screen($screen__m) {
                    order: 2;
                }
            }
        }

        @include max-screen($screen__m) {
            // match bluefoot-wrapper mobile styling if no bluefoot-wrapper
            > .bluefoot-column {
                padding-left: 15px;
                padding-right: 15px;
            }
        }

        &.catland__section {
            margin-bottom: 0; // reset catland styling given bluefoot scope
        }
    }

    .bluefoot-driver-text {
        text-transform: uppercase;
        color: $color-black;
        background-color: rgba($color-white, .75);
    }

    .bluefoot-driver {
        @include hover {
            .bluefoot-driver-text {
                background-color: rgba($color-white, .9);
            }
        }
    }
}

/*
 *
 *  BLUEFOOT :: Product List Styling
 *
 */
.bluefoot-product-list .products {
    margin-top: 0;
}

/*
 *
 *  BLUEFOOT :: Category Banner Styling
 *
 */
.bluefoot__banner {
    @include max-screen($screen__m) {
        // match the bluefoot-row padding on mobile
        padding-left: 15px;
        padding-right: 15px;
    }
}

/*
 *
 *  BLUEFOOT :: Category Banner Fullbleed Styling
 *
 */
:root .catland__fullbleed {
    margin-left: (-($layout__width-xs-indent) + 7.5px); // offset bluefoot margin on bluefoot-row
    margin-right: (-($layout__width-xs-indent) + 7.5px); // offset bluefoot margin on bluefoot-row

    @include min-screen($screen__m) {
        margin-left: (-($layout-indent__width) + 7.5px); // offset bluefoot margin on bluefoot-row
        margin-right: (-($layout-indent__width) + 7.5px); // offset bluefoot margin on bluefoot-row
    }

    @include min-screen($layout__max-width + 20px) {
        margin-right: calc(-50vw + ((#{$max-content-width} - 4.25px) / 2)); // offset bluefoot margin on bluefoot-row
        margin-left: calc(-50vw + ((#{$max-content-width} - 4.25px) / 2)); // offset bluefoot margin on bluefoot-row
    }

    .bluefoot__banner {
        padding-left: 0;
        padding-right: 0;

        @include max-screen($screen__m) {
            max-height: none !important; // override potential inline max-height from bluefoot block
        }

        @include min-screen($screen__m) {
            max-height: 650px; // can be overriden with inline styles via bluefoot attribute

            img {
                max-height: 650px; // can be overriden with inline styles via bluefoot attribute
                object-fit: cover;
            }
        }
    }
}

.fullbleed__wrapper {
    position: relative;
    max-width: $max-content-width;
    margin: 0 auto;

    @include min-screen($layout__max-width + 20px) {
        .fullbleed__caption.left-top,
        .fullbleed__caption.left-center,
        .fullbleed__caption.left-bottom {
            left: 0; // push to left
        }
    }
}

/*
 *
 *  BLUEFOOT :: Helper class to vertically center bluefoot content
 *
 */
.bluefoot--vertical-center {
    display: flex;
    flex-direction: column;

    @include min-screen($screen__m) {
        align-items: center; // align contents vertically centered
        flex-direction: row;
    }

    > .bluefoot-wrapper {
        @include min-screen($screen__m) {
            display: flex;
            align-items: center;
        }
    }
}

/*
 *
 *  BLUEFOOT :: Helper class to remove max-width on bluefoot-wrapper container
 *
 */
:root .bluefoot--full-width {
    margin-left: 0;
    margin-right: 0;

    .bluefoot-wrapper {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

:root .bluefoot-video {
    @include responsive-video();
}

/*
 *
 *  BLUEFOOT :: Improve perceived performance when loading images 
 *  by setting a background color that matches the size of the image
 *
 */
%intrinsic-background {
    position: relative;
    height: 0;
    background-color: $loading-background-color;

    img {
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity .2s ease-in;

        &.lazyload {
            opacity: 0;
        }

        &.lazyloaded {
            opacity: 1;
        }
    }
}

:root {
    .bluefoot-image,
    .bluefoot-driver a {
        @extend %intrinsic-background;
    }

    // In some cases (e.g., circular images) we don't want the background color.
    .bluefoot-image.no-background,
    .bluefoot-driver.no-background a {
        background-color: transparent;
    }
}

// In some cases we may not want the instrinsic background & padding at all.
// Apply to `.bluefoot-image` or `.bluefoot-driver a` as needed.
@mixin reset-intrinsic {
    height: auto !important;
    padding-top: 0 !important;
    background-color: transparent !important;

    img {
        position: static !important;
    }
}

.carousel .slick-slider {
    .slick-dots {
        .slick-active button {
            background: $c-royal;
        }

        li button {
            width: 10px !important; //override slick's !important
            height: 10px;
            line-height: 10px;
        }

        li:not(.slick-active) button {
            background: $c-nickel;

            @include hover {
                background: $c-royal;
            }
        }

        @include min-screen($screen__m) {
            position: absolute;
            bottom: 0;
        }
    }

    .bluefoot-advanced-slide-content {
        h3 {
            @include bryant-park-headings-h1();
            margin-bottom: 0;
        }

        button {
            @include button--type(primary);
            min-width: 150px;
        }

        @include min-screen($screen__m) {
            text-align: left;
        }
    }

    .slick-arrow {
        background-color: transparent;
        color: $c-royal;

        @include max-screen($screen__m) {
            display: none !important; // override slick
        }

        span {
            font-size: 45px;
            font-weight: $font-weight__light;
        }

        &.slick-next {
            right: $indent__xs;
        }
    }
}

.product-category {
    .section-heading {
        text-align: center;
        margin-bottom: $indent__m;

        &::after {
            content: "";
            display: block;
            margin: 0 auto;
            width: 50px;
            padding-top: 15px;
            border-bottom: 3px solid $c-royal;
        }
    }

    &.category-grid {
        @include min-screen($screen__m) {
            width: 90%;
            margin: 0 auto;
        }

        .product-category-item {
            margin-bottom: $indent__xl;
            width: 50%;

            @include min-screen($screen__m) {
                width: 25%;
            }

            @include hover {
                .bluefoot-driver-text {
                    color: $c-royal;
                }
            }

            .bluefoot-driver {
                img {
                    width: 100%;
                }

                &-text {
                    bottom: -35px;
                    font-family: $font-family__sans-serif;
                    font-weight: $font-weight__bold;
                    text-transform: capitalize;
                    color: $c-cobalt;
                    background-color: transparent !important; //override Bluefoot driver
                }
            }
        }
    }

    &.product-grid {
        width: 100%;

        @include max-screen($screen__m) {
            margin: 0;

            .product-items {
                margin-left: 0;
            }

            .product-item {
                padding: 0;
            }
        }

        .product-items {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        .product-item {
            display: flex;
            justify-content: center;

            .reviews-actions,
            .product-item-inner {
                display: none;
            }

            .product-reviews-summary {
                margin-top: 0;
                margin-bottom: $indent__xs;
            }

            &-name a,
            .price-box span {
                color: $c-nickel;
                font-size: $font-size__base--desktop;
            }

            &-name  {
                margin-top: 15px;

                a {
                    @include hover {
                        color: $text__color-alt;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.overlapping-touts {
    position: relative;
    margin: 75px 0;
    background: linear-gradient(to bottom, lighten($c-grey, 5%) 0%, $c-smoke 10%, $color-white 20%);

    @include min-screen($screen__l) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: $indent__s;
        margin-bottom: 180px;
    }

    &-header.bluefoot-entity {
        flex-basis: 100%;
        text-align: center;
        margin-bottom: $indent__xl;
        font-size: 35px;
    }

    .text-tout,
    .video-tout.bluefoot-column {
        flex: .5;
    }

    .text-tout {
        position: relative;
        padding: $indent__xl $indent__m;
        background-color: $c-midnight;
        color: $color-white;
        float: left;
        width: 100%;

        @include min-screen($screen__l) {
            max-width: 550px;
            transform: translateX(5%);
            padding: $indent__xl;

            .bluefoot-textarea,
            .bluefoot-buttons {
                padding-left: 20px;
            }
        }

        .tout-header {
            @include lib-heading(h2);
            font-weight: $font-weight__regular;
            margin: 0;
        }
    }

    .bluefoot-html {
        float: left;
        width: 33%;
        text-align: center;
        padding: 0 $indent__xs;

        &:not(:nth-of-type(3)) {
            border-right: 1px solid $color-white;
        }
    }

    .bluefoot-textarea {
        max-width: 90%;
        line-height: 1.8;
        margin: $indent__m 0;
    }

    .bluefoot-textarea,
    .bluefoot-buttons {
        margin-left: $indent__m;

        @include min-screen($screen__l) {
            margin-left: 0;
        }
    }

    button {
        @include button--transparent;
        font-size: $font-size__base--desktop;

        @include hover {
            color: $c-dusty-grey;
        }
    }

    .video-tout.bluefoot-column {
        position: relative;
        padding: 0;
        width: 100%;

        @include min-screen($screen__l) {
            transform: translateY(125px) translateX(-5%);
            max-width: 50%;
        }
    }
}

.footer-promo-banner {
    padding: $indent__m $indent__s;
    background-color: $c-smoke;

    @include min-screen($screen__m) {
        display: flex;
        align-items: center;
        padding-left: 80px;
        padding: $indent__s;

        .footer-promo-text {
            width: 100%;
            max-width: 450px;
            margin-right: $indent__m;
        }

        .footer-promo-header {
            margin-top: 15px;
        }
    }

    .catalog-image {
        max-width: 100px;
        width: 100%;

        figure { // The image's container
            margin: 0;
        }
    }

    .footer-promo-header,
    .bluefoot-buttons,
    button {
        margin-bottom: 0;
    }

    .footer-promo-header {
        font-weight: $font-weight__bold;
        margin-top: 0;
    }

    .footer-promo-text {
        width: 60%;
    }

    button {
        @include button--type(secondary);
    }
}

.page-footer {
    .footer {
        &.phone,
        &.links {
            display: none;
        }

        &.content {
            display: flex;
            flex-direction: column;
            width: 100%;

            .footer-links {
                width: 70%;

                &-heading {
                    margin-top: $indent__m;
                    font-weight: $font-weight__bold;
                }

                ul {
                    padding-left: 0;
                    list-style-type: none;

                    li {
                        margin-bottom: 7px;
                    }

                    a {
                        color: $c-nickel;
                        font-weight: $font-weight__semibold;

                        @include hover {
                            color: $c-cobalt;
                        }
                    }
                }
            }

            .switcher-store {
                margin-top: $indent__s;
                margin-bottom: 0;
                width: 100%;
                max-width: 50px;
                padding-left: $indent__s;
            }

             @include min-screen($screen__m) {
                flex-direction: row;

                 .footer-links {
                    width: 100%;

                     &-heading {
                        margin-top: 0;
                    }
                }

                 .switcher-store {
                    margin-top: 0;
                    padding-left: 0;
                }
            }
        }

        &__connect {
            width: 100%;
        }
    }
}

.copyright {
    padding-left: 20px;
    font-weight: $font-weight__semibold;
    font-size: $font-size__base;
    color: $c-nickel;
}

.triple-tout-row .homepage-tout {
    button {
        @include button--type(primary);
        @include min-screen($screen__m) {
            max-width: 160px;
            width: 100%;
        }
    }

    .tout-header {
        font-weight: $font-weight__bold;
        margin-bottom: $indent__s;
    }

    .tout-description {
        color: $c-nickel;

        p {
            margin: 0;
            margin-bottom: $indent__xs;
        }
    }
}