.cms-brands {
    .column.main {
        [data-content-type="row"] {
            margin: 0 !important; // Overrides PageBuilder
            padding: 0 !important; // Overrides PageBuilder
            border: 2px solid $c-border !important; // Overrides PageBuilder
            border-top: 0 !important; // Overrides PageBuilder
            max-width: none;

            @include min-screen($screen__m) {
                border: 0 !important; // Overrides PageBuilder

                &:nth-of-type(even) {
                    background-color: $c-smoke;
                    margin-top: $indent__xl;
                }

                &:nth-of-type(2) {
                    background-color: transparent !important;
                }
            }

            [data-element="inner"],
            .pagebuilder-column {
                @include max-screen($screen__m) {
                    padding: 0 !important; // Overrides PageBuilder
                    margin: 0 !important; // Overrides PageBuilder
                }
            }
        }
    }

    .page-main {
        @include min-screen($screen__m) {
            margin: 0;
            padding: 0;
            max-width: none;
        }
    }

    [data-content-type="text"] {
        padding-left: $indent__s !important; // Overrides PageBuilder

        @include min-screen($screen__m) {
            padding-left: 0 !important; // Overrides PageBuilder

            h6:first-child {
                margin-top: 0;
            }
        }
    }

    .pagebuilder-collapsible {
        width: 100% !important; // Overrides PageBuilder
        flex-wrap: wrap;
        padding: 0 !important; // Overrides PageBuilder
        box-sizing: border-box;

        @include min-screen($screen__m) {
            padding: $indent__base 0 !important; // Overrides PageBuilder
        }
    }

    .tabs-content {
        @include min-screen($screen__m) {
            column-count: 2;
        }

        @include min-screen($screen__l) {
            column-count: 4;
        }
    }

    .tabs-content,
    .coll-header {
        @include min-screen($screen__m) {
            max-width: 80%;
            margin: 0 auto !important;
        }
    }

    .coll-header {
        @include bryant-park-headings-h2;
        margin: 0;
        padding: $indent__s !important; // Overrides PageBuilder
        position: relative;

        &::after {
            content: "+";
            position: absolute;
            right: $indent__l;
            transform: scale(2);

            @include min-screen($screen__m) {
                display: none;
            }
        }

        @include min-screen($screen__m) {
            padding: 0 !important; // Overrides PageBuilder
            margin-bottom: $indent__m !important; // Overrides PageBuilder
            outline: 0;
        }

        &[aria-expanded="true"]::after {
            content: "-";
            top: $indent__xs;
        }
    }
}

.brands-nav[data-element="inner"] {
    margin-bottom: $indent__m;
    display: none !important; // Overrides PageBuilder

    @include min-screen($screen__m) {
        display: flex !important; // Overrides PageBuilder
        margin: 0 auto !important; // Overrides PageBuilder
    }

    [data-element="main"] {
        display: flex;
        justify-content: center;

        a {
            max-width: 40px;
            width: 100%;
            text-align: center;
            border: 1px solid $c-border;
            color: $text__color;

            &:not(:last-of-type) {
                border-right: 0;
            }

            @include hover {
                background-color: $primary__color;
                color: $color-white;
            }
        }
    }
}
