/*doc
---
title: Buttons
name: Buttons
category: Style-Guide - Buttons-Links
---

```html_example
  <button type="submit">Buy Me</button>
  <p> AKA secondary button </p>
```

```html_example
  <button class="action primary" type="submit">Buy Me</button>
```

```html_example
  <a  href="#"">Buy Me</a>
```

```html_example
  <a class="abs-action-link-button" href="#">Buy Me</a>
```
*/

 // Secondary Button (main button styling)
button,
.file-upload {
    @include lib-button();
    @include headingFont;
    appearance: none;
}

// Primary Button (mostly CTA)
.action.primary {
    @include lib-button-primary();
}

.action.primary,
.action.primary:hover,
.action.primary:focus {
    border: 2px solid transparent;
    border-image: linear-gradient(to top, #{$c-sapphire} 0%, #{$c-waterfall} 60%);
    border-image-slice: 1;
}

button,
button:hover,
button:focus {
    border: 2px solid transparent;
    border-image: linear-gradient(to top, #{$c-aluminum} 0%, #{$c-grey} 60%);
    border-image-slice: 1;
}

// Treat these anchor links as buttons
a.action.primary {
    @include lib-link-as-button();
    @include headingFont;
    font-weight: $font-weight__bold;
}

button,
.action.primary,
a.action.primary {
    width: 100%;

    @include min-screen($screen__xs) {
        width: auto;
    }
}

.action.primary,
a.action.primary {
    @include button--type(primary);
}

.button--transparent {
    @include button--transparent;
}

.button--inline-link {
    @include button--inline-link;
}

@keyframes buttonShine {
    0% {
        opacity: 0;
        left: 0%;
    }

    100% {
        opacity: 1;
        left: 100%;
    }
}

