/*doc
---
title: Buttons
name: Buttons
category: Style-Guide - Buttons-Links
---

```html_example
  <button type="submit">Buy Me</button>
  <p> AKA secondary button </p>
```

```html_example
  <button class="action primary" type="submit">Buy Me</button>
```

```html_example
  <a  href="#"">Buy Me</a>
```

```html_example
  <a class="abs-action-link-button" href="#">Buy Me</a>
```
*/

 // Secondary Button (main button styling)
button,
.file-upload {
    @include lib-button();
    @include headingFont;
    appearance: none;
}

// Primary Button (mostly CTA)
.action.primary {
    @include lib-button-primary();
}

// Treat these anchor links as buttons
a.action.primary {
    @include lib-link-as-button();
    @include headingFont;
}

button,
.action.primary,
a.action.primary {
    position: relative;
    width: 100%;

    &:hover,
    &:focus {
        color: $color-white;
        background-color: $c-sapphire;
        transition: all 0.2s ease-out;

        &:before {
            animation: buttonShine 0.8s 0s linear;
        }
    }

    &:before {
        content: '';
        display: block;
        width: 0px;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        opacity: 0;
        background: $color-white;
        box-shadow: 0 0 15px 8px $color-white;
        transform: skewX(-20deg);
    }

    @include min-screen($screen__xs) {
        width: auto;
    }
}

.button--transparent {
    @include button--transparent;
}

.button--inline-link {
    @include button--inline-link;
}

@keyframes buttonShine {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        left: 100%;
    }
}

