$nav-section-title__height: 60px;

//
//  Common
//  _____________________________________________
.nav-sections {
    background: $navigation__background;

    @include max-screen($mobile-nav__breakpoint) {
        -webkit-overflow-scrolling: touch;
        background: $flyout-active-color;
        transition: transform $transition-speed $transition-func;
        height: 100%;
        z-index: $z-index-5;
        transform: translateX(-120%);
        overflow: auto;
        position: fixed;
        top: 0;
        width: calc(100% - #{$active-nav-indent});
    }

    .nav-open & {
        @include max-screen($mobile-nav__breakpoint) {
            transition: transform .4s $transition-func;
            box-shadow: $flyout-box-shadow;
        }
    }
}

.navigation {
    @include layout-container;

    @include min-screen($screen__l) {
        max-width: none;
        margin-left: 0;
        margin-right: 0;

        ul:first-of-type {
            padding-left: 70px;
        }
    }

    .level-top span {
        color: $text__color;

        @include hover {
            color: $text__color-alt;
        }
    }

    .level-top > span {
        font-weight: $font-weight__semibold;
    }

    .submenu {
        li {
            margin: 0;
        }

        a {
            font-weight: $font-weight__regular;
        }

        &.level1 {
            display: none !important; // override menu.js
        }

        &.static-block-submenu {
            display: none;

            &[aria-expanded="true"] {
                min-width: 350px;

                @include min-screen($mobile-nav__breakpoint) {
                    display: block !important; // override JS

                    &.mobile-submenu {
                        display: none !important; // override JS
                    }

                    [data-content-type="heading"] {
                        margin-bottom: 0;
                    }

                    ul {
                        display: block !important;
                        padding-left: 0;
                        margin-top: $indent__s;

                        a {
                            padding-left: 0;
                        }
                    }
                }
            }

            @include max-screen($mobile-nav__breakpoint) {
                [data-content-type="heading"] {
                    padding-left: 15px;
                    margin-bottom: $indent__s;
                }

                .all-category {
                    display: none;
                }

                ul {
                    display: block !important;
                }
            }
        }
    }

    .has-mobile-submenu {
        @include max-screen($mobile-nav__breakpoint) {
            .desktop-submenu {
                display: none !important; // override JS
            }

            .mobile-submenu.show {
                display: block !important; // override JS
                left: 0 !important; // override JS
            }
        }
    }

    .first .all-text {
        display: none;
    }

    .quick-order-container {
        display: none;

        @include min-screen($mobile-nav__breakpoint) {
            display: block;
            float: right;
            margin-top: 8px;
            padding-right: 70px;

            a {
                font-size: 18px;
                text-decoration: none;
                text-transform: uppercase;
                font-family: $font-family__sans-serif;
                font-weight: $font-weight__semibold;

                @include hover {
                    text-decoration: none;
                    color: $c-royal;
                }
            }
        }
    }
}

.secondary-nav-links {
    width: 100vw;
    margin-bottom: 15px;
    text-align: center;
    background-color: $c-smoke;
    padding: $indent__s 0 8px 0;

    &-link {
        flex-basis: 50% !important; // override PageBuilder

        a {
            color: $c-cobalt;
            text-decoration: none;
            font-size: $font-size__base--desktop;

            @include hover {
                text-decoration: none;
                color: $c-royal;
            }
        }

        div {
            margin-bottom: $indent__xs;
        }
    }

    @include min-screen($screen__m) {
        display: none !important; // override PageBuilder
    }
}

.nav-sections-item-switch {
    text-decoration: none;
}

.nav-toggle {
    @include lib-icon-text-hide();
    @include icon-svg(
        $icon       : menu,
        $fill       : $header-icons-color,
        $fill-hover : $header-icons-color-hover,
        $width      : 28px
    );
    display: flex;
    align-items: center;
    min-height: 53px;
    float: left;
    font-size: 0;
    cursor: pointer;
    z-index: 14;
}

.nav-sections-item-title[aria-controls="close.menu"] {
    text-align: right;
    position: relative;
    background-color: $color-white;

    a {
        @include button--close();
        font-size: 0; // hiding actual text
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        &::after {
            right: $layout__width-xs-indent;
        }
    }
}


//
//  Mobile
//  _____________________________________________

@include max-screen($mobile-nav__breakpoint) {
    .navigation {
        padding: 0;

        .parent {
            .level-top {
                @include icon-svg(
                    $icon     : expand,
                    $fill     : $navigation-level0-item__color,
                    $width    : 15px,
                    $height   : auto,
                    $hideLabel: false,
                    $pseudo   : after
                );
                position: relative;

                &::after {
                    @include vertically-center($position: absolute);
                    right: 15px;
                }

                &.ui-state-active {
                    @include icon-svg(
                        $icon     : collapse,
                        $fill     : $navigation-level0-item__color,
                        $hideLabel: false,
                        $pseudo   : after
                    );
                }

            }

            .submenu:not(:first-child) {
                background-color: $c-smoke;

                ul {
                    padding-left: 0;
                }

                li {
                    font-size: $font-size__base--desktop;
                    letter-spacing: 0;
                    color: $text__color;
                    margin: 0;

                    a,
                    a:visited {
                        color: $text__color;

                        @include hover {
                            color: $primary__color;
                        }
                    }
                }
            }
        }

        .parent .level-top,
        .contact-link a,
        .about-link a {
            text-transform: uppercase;
            letter-spacing: .5px;
            text-decoration: none;
            font-family: $font-family__sans-serif;
            font-weight: $font-weight__semibold;
            color: $c-steel;

            &:visited {
                color: $text__color;
            }

            @include hover {
                color: $c-cobalt;
            }
        }
    }

    .nav-sections {
        .switcher {
            border-top: 1px solid $color-gray82;
            font-size: 16px;
            font-weight: 700;
            margin: 0;
            padding: 0.8rem 3.5rem 0.8rem 2rem;

            .label {
                display: block;
                margin-bottom: $indent__xs;
            }

            &:last-child {
                border-bottom: 1px solid $color-gray82;
            }
        }

        .switcher-trigger {
            strong {
                position: relative;
                @include lib-icon-font(
                    $_icon-font-content : $icon-down,
                    $_icon-font-size    : 42px,
                    $_icon-font-position: after,
                    $_icon-font-display : block
                );

                &:after {
                    position: absolute;
                    right: -40px;
                    top: -16px;
                }
            }

            &.active strong {
                @include lib-icon-font-symbol(
                    $_icon-font-content : $icon-up,
                    $_icon-font-position: after
                );
            }
        }

        .switcher-dropdown {
            @include lib-list-reset-styles();
            padding: $indent__s 0;
        }

        .header.links {
            @include lib-list-reset-styles();

            li {
                font-family: $font-family__sans-serif;
                font-size: 16px;
                letter-spacing: .5px;
                font-weight: $font-weight__semibold;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 0;

                a,
                a:visited {
                    color: $text__color;
                    padding: 9px $indent__xl 9px 15px;

                    @include hover {
                        color: $c-cobalt;
                    }
                }

                .counter {
                    &::before {
                        content: '(';
                    }

                    &::after {
                        content: ')';
                    }
                }
            }

            .about-link,
            .contact-link {
                display: none;
            }

            .greet.welcome,
            li > a {
                padding: 14px $indent__xl 14px 15px;
                font-weight: 700;
                border-top: 1px solid $color-gray82;
            }

            a {
                text-decoration: $navigation-level0-item__text-decoration;
                display: block;

                @include hover {
                    text-decoration: $navigation-level0-item__text-decoration;
                    display: block;
                }
            }

        }
    }

    .nav-before-open {
        height: 100%;
        overflow-x: hidden;
        width: 100%;

        body {
            height: 100%;
            overflow: hidden;
            position: relative;
            width: 100%;
        }
    }

    .nav-open {
        .nav-sections {
            transform: none;
            z-index: 101; // cover quick order fields
        }

        .header.content {
            padding-left: 0;
        }

        .nav-toggle {
            &:after {
                background: $modal-overlay__background-color;
                content: '' !important; // override SVG
                display: block;
                height: 100%;
                position: fixed;
                right: 0;
                top: 0;
                width: 100%;
                z-index: 6; // above logo, z of 5
            }
        }
    }

    .nav-sections-items {
        @include lib-clearfix();
        position: relative;
        z-index: 1;
    }

    .nav-sections-item-title {
        background-color: $color-white;
        box-sizing: border-box;
        float: left;
        height: $nav-section-title__height;
        line-height: $nav-section-title__height;
        text-align: center;
        width: 33.33%;
        background: $primary__color;

        a {
            color: $color-white;
            font-size: $font-size__base--desktop;
        }

        &.active {
            background: $color-white;

            a {
                color: $text__color;
                font-weight: $font-weight__semibold;
            }
        }

        .nav-sections-item-switch {
            @include hover {
                text-decoration: none;
            }
        }
    }

    .nav-sections-item-content {
        @include lib-clearfix();
        box-sizing: border-box;
        float: right;
        margin-left: -100%;
        margin-top: ($nav-section-title__height + 1px);
        width: 100%;
        padding: 0;
        background-color: $flyout-active-color;

        &.active {
            display: block;
        }

    }

    @include lib-main-navigation(
      $_nav-background-color: $flyout-active-color,

      $_nav-level0-text-transform: none,
      $_nav-level0-item-padding: 9px $indent__xl 9px 15px,
      $_nav__indent-side: 17px,
      $_nav-level0-item__active__border-width: 0 0 0 2px,
      $_nav-level0-item__active__border-color: $c-cobalt,

      $_submenu-item__active__border-width: 0 0 0 2px,
      $_submenu-item__active__border: 2px,
      $_submenu-item__active__border-color: $c-cobalt
    );
}

//
//  Desktop
//  _____________________________________________

@include min-screen($mobile-nav__breakpoint) {
    .navigation {
        .level-top {
            font-size: 16px;

            &.category-item {
                .submenu {
                    font-size: $font-size__base--desktop;
                    color: $text__color;
                    line-height: 1;
                    padding: $indent__s $indent__m;
                    box-shadow: 0 $indent__xs $indent__s -2px $c-silver;
                    box-sizing: border-box;
                }

                &.first .submenu {
                    padding: $indent__s 100px $indent__xl 70px;
                    width: 100vw;
                    left: 0 !important; // overrides the nav JS
                    column-count: 4;
                    column-gap: $indent__s;

                    &:not(.level0) {
                        display: none !important; // overrides the nav JS
                    }

                    @include min-screen($screen__l) {
                        padding-right: 20%;
                    }
                }
            }

            &.parent {
                position: relative;

                &.first {
                    position: static;
                }
            }
        }

        .about-link,
        .contact-link {
            display: none;
        }
    }

    .nav-toggle {
        display: none;
    }

    .nav-sections {
        flex-shrink: 0;
        flex-basis: 100%;
        margin-top: -15px;

        .cms-index-index & {
            margin-bottom: 0;
        }
    }

    .nav-sections-items {
        border-bottom: solid 1px $c-border;
    }

    .nav-sections-item-title {
        display: none;
    }

    .nav-sections-item-content {
        display: block !important;
    }

    .nav-sections-item-content > * {
        display: none;
    }

    .nav-sections-item-content {
        > .navigation {
            display: block;
        }
    }

    @include lib-main-navigation-desktop(
        $_nav-background-color: transparent,
        $_nav-font-size: 16px,
        $_nav-font-weight: $font-weight__regular,

        $_nav-level0-item-margin: 0 30px 0 0,
        $_nav-level0-item-padding: 0,
        $_nav-level0-item-line-height: 45px,
        $_nav-level0-item-color: $c-nickel,
        $_nav-level0-item-color-hover: $c-cobalt,
        $_nav-level0-item-color-active: $c-cobalt,
        $_nav-level0-item__active__border-color: $c-cobalt,

        $_submenu-background-color: $page__background-color,
        $_submenu-box-shadow: none,
        $_submenu-item-color: $c-nickel,
        $_submenu-item__hover__background-color: transparent,
        $_submenu-font-size: $font-size__base
    );

    .navigation ul {
        margin-top: $indent__m;
        padding: 0 $layout__width-xs-indent;
        padding-left: 50px;
    }

    .contact-link {
        padding-right: 70px;
    }
}

.page-header--sticky {
    .navigation {
        .level-top.category-item {
            @include min-screen($mobile-nav__breakpoint) {
                .submenu {
                    top: 53px !important; // overrides megamenu JS
                }

                &.first {
                    padding-left: 180px;

                    .submenu {
                        left: 0 !important; // overrides megamenu JS
                    }
                }
            }

            &.has-active {
                & > .level-top {
                    border-bottom: 0;
                }
            }
        }

        ul {
            margin-top: 0;

            &:first-of-type {
                padding-left: $indent__s;
            }
        }

        li.level0 {
            height: 0;
            margin-right: $indent__base;

            span {
                font-size: $font-size__base--desktop;
            }
        }
    }

    .nav-sections {
        display: block;
        order: 1;

        &-items {
            border-bottom: 0;
        }
    }

    .phone-number.only-on-mobile {
        display: none;
    }
}

@include min-screen($mobile-nav__breakpoint) {
    .page-header--sticky {
        .header.content {
            padding-top: $indent__xs;
        }

        .navigation {
            position: absolute;
            top: 7px;
        }
    }
}
