<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Xtento_XtCore" setup_version="2.3.0">
        <sequence>
            <module name="Magento_AdminNotification"/>
        </sequence>
    </module>
</config>
<!--
/**
 * Product:       Xtento_XtCore (2.3.0)
 * ID:            lXPdgIcrkYrqAkkYfQmiNUpRqDD5NOHfZ3XuYtzPwbA=
 * Packaged:      2018-08-15T13:45:52+00:00
 * Last Modified: 2018-07-25T12:38:08+00:00
 * File:          app/code/Xtento/XtCore/etc/module.xml
 * Copyright:     Copyright (c) 2018 XTENTO GmbH & Co. KG <info@xtento.com> / All rights reserved.
 */
-->