<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="WeltPixel\LayeredNavigation\Block\Navigation\State" type="Ziffity\Common\Block\Navigation\State" />
    <preference for="WebShopApps\MatrixRate\Model\Carrier\Matrixrate" type="Ziffity\Common\Model\Carrier\Matrixrate" />
    <type name="Magento\Framework\App\Action\AbstractAction">
        <plugin name="abstractaction-context-plugin" type="Ziffity\Common\Plugin\App\Action\Context" sortOrder="15"/>
    </type>
    <!-- Disabled intentionally to prevent bundle product cart issue -->
    <type name="Magento\Catalog\Model\Product">
        <plugin name="Ewave_ExtendedBundleProduct::MagentoCatalogModelProduct"
                type="Ewave\ExtendedBundleProduct\Plugin\Magento\Catalog\Model\ProductPlugin"
                sortOrder="10" disabled="true"/>
    </type>
</config>