<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="email_order_set_template_vars_before">
        <observer name="place_order_after" instance="Ziffity\Common\Observer\OrderPlaceAfter" />
    </event>
    <event name="order_cancel_after">
        <observer name="timeslot_release" instance="Ziffity\Common\Observer\OrderCancelAfter" />
    </event>
</config>
