<?xml version="1.0"?>
<!--
/**
* Copyright 2016 aheadWorks. All rights reserved.
* See LICENSE.txt for license details.
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Aheadworks_Csblock::main" title="Custom Static Blocks by aheadWorks" module="Aheadworks_Csblock" sortOrder="999" dependsOnModule="Aheadworks_Csblock" parent="Magento_Backend::content" resource="Aheadworks_Csblock::main"/>
        <add id="Aheadworks_Csblock::csblock" title="Manage Blocks" module="Aheadworks_Csblock" sortOrder="1" parent="Aheadworks_Csblock::main" action="csblock_admin/csblock/index" resource="Aheadworks_Csblock::csblock"/>
    </menu>
</config>