<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="massstockupdate" frontName="massstockupdate">
            <module name="Wyomind_MassStockUpdate" />
        </route>
    </router>
</config>
