<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko if: (visible)-->

<div class="field addresses">
    <div class="address-box">
        <div class="head">
            <h5> Ship To </h5> 
            <div id="select-address" style="display:none">
                <each args="data: elems, as: 'element'">
                    <render if="hasTemplate()"/>
                </each>
            </div>
            <!-- ko if: visibleChangeAddress()-->
            <a  href="#" data-bind="click: showFormPopUp">Change Address </a>
            <!-- /ko -->
        </div>
        <div class="control">
            <div class="shipping-address-items">
                <each args="data: elems, as: 'element'">
                    <render if="hasTemplate()"/>
                </each>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->
