<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko if: (visible)-->

<div class="field addresses">
    <div> Ship To </div> 
    <div id="select-address" style="display:none">
        <each args="data: elems, as: 'element'">
    <render if="hasTemplate()"/>
</each>

    </div>
    <div><a  href="#" data-bind="click: showFormPopUp">Change Address </a>
</div>
    <div class="control">
        <div class="shipping-address-items">
            <each args="data: elems, as: 'element'">
    <render if="hasTemplate()"/>
</each>

        </div>
    </div>
</div>
<!-- /ko -->
