// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@product-name-link__color: @text__color;
@product-name-link__color__active: @text__color;
@product-name-link__color__hover: @text__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;

@product-item__hover__background-color: @color-white;
@product-item__hover__box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, .3);

@product-price__muted__color: @color-gray40;


//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //  Product Lists
    .products {
        margin: @indent__l 0;
    }

    .product {
        &-items {
            &:extend(.abs-reset-list all);
        }

        

        &-item {
            vertical-align: top;

            .products-grid & {
                display: inline-block;
                
            }

            &:extend(.abs-add-box-sizing all);

            &-name {
                &:extend(.abs-product-link all);
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                -webkit-hyphens: auto;
                display: block;
                hyphens: auto;
                margin: @indent__xs 0;
                word-wrap: break-word;
            }

            &-info {
                max-width: 100%;
                .page-products & {
                }
                 .weltpixel-quickview{
                    .disp(none);
                }
            }

            &-actions {
                display: none;

                 

                .actions-secondary {
                    > button.action {
                        .lib-button-reset();
                    }

                    > .action {
                        &:extend(.abs-actions-addto all);
                        &:before {
                            margin: 0;
                        }

                        span {
                            &:extend(.abs-visually-hidden all);
                        }
                    }
                }
            }

            &-description {
                margin: @indent__m 0;
            }

            .product-reviews-summary {
                .rating-summary {
                    margin: 0 4px 0 0;
                }

                .reviews-actions {
                    font-size: @font-size__s;
                    margin-top: 5px;
                    text-transform: lowercase;
                }
            }

            .price-box {
                margin: @indent__s 0 0;

                .price {
                    font-weight: @font-weight__bold;
                    white-space: nowrap;
                }

                .price-label {
                    .lib-css(color, @product-price__muted__color);
                    font-size: @font-size__s;
                }
            }

            .old-price {
                margin: @indent__xs 0;

                .price {
                    font-weight: normal;
                }
            }

            .regular-price {
                .price-label {
                    display: none;
                }
            }

            .minimal-price {
                .price-container {
                    display: block;
                }
            }

            .minimal-price-link {
                margin-top: @indent__xs;
            }

            .price-from,
            .price-to {
                margin: 0;
            }

            .tocompare {
                .lib-icon-font-symbol(
                @icon-compare-full
                );
            }

            .tocart {
                .lib-font-size(13px);
                border-radius: 0;
                line-height: 1;
                padding-bottom: @indent__s;
                padding-top: @indent__s;
                white-space: nowrap;
            }
        }
    }

    .column.main {
        .product {
            &-items {
                
            }

            &-item {
                
            }
        }
    }

    .price-container {
        .price {
            .lib-font-size(14);
        }

        .price-including-tax + .price-excluding-tax,
        .weee {
            margin-top: @indent__xs;
        }

        .price-including-tax + .price-excluding-tax,
        .weee,
        .price-including-tax + .price-excluding-tax .price,
        .weee .price,
        .weee + .price-excluding-tax:before,
        .weee + .price-excluding-tax .price {
            .lib-font-size(11);
        }

        .weee {
            &:before {
                content: '(' attr(data-label) ': ';
            }

            &:after {
                content: ')';
            }

            + .price-excluding-tax {
                &:before {
                    content: attr(data-label) ': ';
                }
            }
        }
    }

    /* .products-list {
        .product {
            &-item {
                display: table;
                width: 100%;

                &-info {
                    display: table-row;
                }

                &-photo {
                    display: table-cell;
                    padding: 0 @indent__l @indent__l 0;
                    vertical-align: top;
                    width: 1%;
                }

                &-details {
                    display: table-cell;
                    vertical-align: top;
                }
            }
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }
    } */



    .products-grid {
        .sku-avali{
            .disp(none);
        }
        .product-item-info {
            background: @color-white;
            text-align: center;
            padding: 30px 20px;
            position: relative;
            transition: all 0.5s ease 0s;
            
            .sale-promo{
                position: absolute;
                top: 0;
                left: 0;
            }
            .product-item-photo {
                display: block;
                margin-bottom: 40px;
            }
            .product-item-name {
                font-weight: normal;
                color: #020202;
                font-size: @f-size-s;
                margin-bottom: 20px;
                display: block;
                min-height: 60px;
                a {
                    color: inherit;
                    font-size: inherit;
                }
            }
            .price {
                font-size: @f-size;
                color: #020202;
                font-weight: bold;
            }
            .product-item-actions {


                .actions-primary .action:not(:first-child):before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 1px;
                    background: #404040;
                }
                .tocompare {
                    display: none;
                }
                .towishlist{
                    position: absolute;
                    right: 20px;
                    top: 20px;
                    color: #c2c2c2;
                    opacity: 0;
                    visibility: hidden;
                    .transition(all 0.5s ease 0s);
                    &:before{
                        .disp(none);
                    }
                }
                .actions-primary {
                    position: absolute;
                    width: 100%;
                    left: 0;
                    bottom: 0;
                    visibility: hidden;
                    opacity: 0;
                    .transition(all 0.5s ease 0s);
                }
                .actions-primary .action {
                    background: #020202;
                    border: none;
                    color: @color-white;
                    padding: 15px 20px;
                    width: 50%;
                    float: left;
                    min-height: 50px;
                    font-weight: bold;
                    font-size: @f-size-xs;
                    text-transform: uppercase;
                    position: relative;
                    text-decoration: none;
                    display: block;
                }
                .actions-primary .action +.action:before{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 1px;
                    background: #404040;
                }
            }
        &:hover .actions-primary,
        &:hover .towishlist {
            visibility: visible;
            opacity: 1;
        }
        }
    }

    .products-list .product-item + .product-item{
        margin-top: 30px;
    }

.products-list {
    .actions {
        .action:not(.towishlist){
            background: @color-black;
            padding: 16px 25px;
            height: 40px;
            line-height: normal;
            font-size: @f-size-xs;
            font-weight: bold;
            text-transform: uppercase;
            border: none;
            color: @color-white;
            display: block;
            &:hover{
                background: @color-darkslateblue;
            }
        }
    }
    .product {
        .actions {
            clear: both;
            .action:not(.towishlist){
                padding: 13px 30px;
            }

            .quick-view{
                margin-left: 20px;
            }
        }
        .product-image-wrapper{
            height: auto;
            overflow: visible;
            padding-bottom: 0 !important;
        }

        
        &-item {
            display: table;
            width: 100%;
            background: @color-white;
            border: 1px solid #d6dcec;
        

            &-info {
                display: table-row;
            }

            &-photo {
                display: table-cell;
                text-align: center;
                vertical-align: middle;
                width: 25%;
                float: none;
                padding: 30px;
            }

            &-details {
                display: table-cell;
                vertical-align: top;
                padding: 30px;
                float: none;
                border-left: 1px solid #d6dcec;
            }

            &-name{
                font-size: @f-size-xxl;
                font-weight: bold;
                float: left;

                a{
                    color: inherit;
                }
                margin-bottom: 20px
            }

            .sku-avali{
                float: right;
                > *{
                    display: inline-block;
                    vertical-align: middle;
                    padding: 0 15px;
                }
                strong{
                    margin-right: 5px;
                }
            }

            .price-box{
                margin-bottom: 30px;
                clear: both;
            }

            .price{
                color: @color-crimson;
                font-weight: bold;
                font-size: 30px;
                
            }

            &-description{
                font-size: @f-size;
                color: @color-black;
                clear: both;
                margin-bottom: 20px;

                a{
                    display: none;
                }
            }


            .tocompare{
                .disp(none) !important;
            }

            .towishlist{
                margin-left: 20px;
                border: 1px solid #d7dded;
                .hw(40px, 40px);
                text-align: center;
                line-height: 40px;
                color: @color-darkslategray;

                &:before{
                    .disp(none);
                }
            }

            &-actions > *, .actions-primary > *{ 
                float: left;
            }

            
        }


    }
}
}



//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .products-list .product {
        &-item {
            table-layout: fixed;

            &-photo {
                padding: 0 @indent__s @indent__s 0;
                width: 30%;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .product-item-info {
        .products-grid & {
            &:hover,
            &.active {
                .lib-css(background, @product-item__hover__background-color);
                //.lib-css(box-shadow, @product-item__hover__box-shadow);
                //border: 1px solid @color-gray-light2;
                box-shadow: 0 0 5px 2px rgba(0,0,0,0.2);
                position: relative;
                z-index: 2;

                .product-item-inner {
                    display: block;
                }
                .sidebar & {
                    .product-item-photo {
                        top: 9px;
                        left: 9px;
                    }
                }
            }
        }
    }

    .product-item-inner {
        .products-grid & {
            .lib-css(background, @product-item__hover__background-color);
            //.lib-css(box-shadow, @product-item__hover__box-shadow);
            //border: 1px solid @color-gray-light2;
            border-top: none;
            left: 0;
            bottom: 0;
            position: absolute;
            right: -1px;
            z-index: 2;
        }
    }

    .product-item-actions {
        display: block;

        .action{
            text-decoration: none;
        }

        .products-grid & {
        }

        .actions-primary + .actions-secondary {
            display: table-cell;
            padding-left: 10px;
            width: 50%;
            vertical-align: middle;

            > .action {
                

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .actions-primary {
            display: table-cell;
        }
    }

    .page-products {
        .products-grid {
            .product-item-inner {
                &:before {
                    .lib-css(background, @product-item__hover__background-color);
                    content: '';
                    height: 3px;
                    left: 0;
                    position: absolute;
                    top: -2px;
                    width: 100%;
                    z-index: 1;
                }
            }
        }

        .product-item-actions {
            position: relative;
            z-index: 1;
        }
    }

    .products-grid {
        .product-item-info {
            &:not(:hover) {
                &:not(.active) {
                    .product-item-inner {
                        &:extend(.abs-visually-hidden-desktop-s all);
                    }
                }
            }
        }
    }

    .products-grid {
        .product-item {
            .ptb(15px);
            
        }
    }

    .page-products,
    .page-layout-1column,
    .page-layout-3columns,
    .page-products.page-layout-1column,
    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-products {
        .products-grid {
           
            .product-item {
                
            }
        }
    }

    .page-products.page-layout-1column {
        .products-grid {
            .product-item {
                
            }
        }
    }

    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

    .products-grid {
        .product-item {
            
        }
    }

    .page-layout-1column {
        .products-grid {
            .product-item {
            
            }
        }
    }

    .page-layout-3columns {
        .products-grid {
            .product-item {
                
            }
        }
    }

    .page-products {
        .products-grid {
            .product-items {
                margin: 0 -15px;
            }

            .product-item {
                

                &:nth-child(4n + 1) {
                
                }
            }
        }
    }

    .page-products {
        &.page-layout-1column {
            .products-grid {
                .product-item {
                    margin-left: 0;
                    width: 100%/5;
                }
            }
        }

        &.page-layout-3columns {
            .products-grid {
                .product-item {
                    margin-left: 1%;
                    width: 32.667%;

                    &:nth-child(3n) {
                        margin-left: 1%;
                    }

                    &:nth-child(3n + 1) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .products-grid {
        .product-item-info{
            padding: 30px 15px;
        }
        .product-item-name {
            font-size: 12px;
        }
    }
}