// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@product-name-link__color: @text__color;
@product-name-link__color__active: @text__color;
@product-name-link__color__hover: @text__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;

@product-item__hover__background-color: @color-white;
@product-item__hover__box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, .3);

@product-price__muted__color: @color-gray40;


//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //  Product Lists
    .products {
        margin: @indent__l 0;
    }

    .product {
        &-items {
            &:extend(.abs-reset-list all);
        }

        

        &-item {
            vertical-align: top;

            .products-grid & {
                display: inline-block;
                
            }

            &:extend(.abs-add-box-sizing all);

            &-name {
                &:extend(.abs-product-link all);
                display: block;
                margin: @indent__xs 0;
                word-wrap: break-word;
            }

            &-info {
                max-width: 100%;
                .page-products & {
                }
                 .weltpixel-quickview{
                    .disp(none);
                }
            }

            &-actions {
                display: none;

                 

                .actions-secondary {
                    > button.action {
                        .lib-button-reset();
                    }

                    > .action {
                        &:extend(.abs-actions-addto all);
                        &:before {
                            margin: 0;
                        }

                        span {
                            &:extend(.abs-visually-hidden all);
                        }
                    }
                }
            }

            &-description {
                margin: @indent__m 0;
            }

            .product-reviews-summary {
                .rating-summary {
                    margin: 0 4px 0 0;
                }

                .reviews-actions {
                    font-size: @font-size__s;
                    margin-top: 5px;
                    text-transform: lowercase;
                }
            }

            .price-box {
                margin: @indent__s 0 0;

                .price {
                    font-weight: @font-weight__bold;
                    white-space: nowrap;
                }

                .price-label {
                    .lib-css(color, @product-price__muted__color);
                    font-size: @font-size__s;
                }
            }

            .old-price {
                margin: @indent__xs 0;

                .price {
                    font-weight: normal;
                }
            }

            .regular-price {
                .price-label {
                    display: none;
                }
            }

            .minimal-price {
                .price-container {
                    display: block;
                }
            }

            .minimal-price-link {
                margin-top: @indent__xs;
            }

            .price-from,
            .price-to {
                margin: 0;
            }

            .tocompare {
                .lib-icon-font-symbol(
                @icon-compare-full
                );
            }

            .tocart {
                .lib-font-size(13px);
                border-radius: 0;
                line-height: 1;
                padding-bottom: @indent__s;
                padding-top: @indent__s;
                white-space: nowrap;
            }
        }
    }

    .column.main {
        .product {
            &-items {
                
            }

            &-item {
                
            }
        }
    }

    .price-container {
        .price {
            .lib-font-size(14);
        }

        .price-including-tax + .price-excluding-tax,
        .weee {
            margin-top: @indent__xs;
        }

        .price-including-tax + .price-excluding-tax,
        .weee,
        .price-including-tax + .price-excluding-tax .price,
        .weee .price,
        .weee + .price-excluding-tax:before,
        .weee + .price-excluding-tax .price {
            .lib-font-size(11);
        }

        .weee {
            &:before {
                content: '(' attr(data-label) ': ';
            }

            &:after {
                content: ')';
            }

            + .price-excluding-tax {
                &:before {
                    content: attr(data-label) ': ';
                }
            }
        }
    }

    




}



//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .products-list .product {
        &-item {
            table-layout: fixed;

            &-photo {
                padding: 0 @indent__s @indent__s 0;
                width: 30%;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .product-item-info {
        .products-grid & {
            &:hover,
            &.active {
                .lib-css(background, @product-item__hover__background-color);
                
                
                position: relative;
                z-index: 2;

                .product-item-inner {
                    display: block;
                }
                .sidebar & {
                    .product-item-photo {
                        top: 9px;
                        left: 9px;
                    }
                }
            }
        }
    }

    .product-item-inner {
        .products-grid & {
            .lib-css(background, @product-item__hover__background-color);
            //.lib-css(box-shadow, @product-item__hover__box-shadow);
            //border: 1px solid @color-gray-light2;
            border-top: none;
            /* left: 0;
            bottom: 0;
            position: absolute;
            right: -1px; */
            z-index: 2;
        }
    }

    .product-item-actions {
        display: block;

        .action{
            text-decoration: none;
        }

        .products-grid & {
        }

        .actions-primary + .actions-secondary {
            display: table-cell;
            padding-left: 10px;
            width: 50%;
            vertical-align: middle;

            > .action {
                

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .actions-primary {
            display: table-cell;
        }
    }

    .page-products {
        .products-grid {
            .product-item-inner {
                &:before {
                    .lib-css(background, @product-item__hover__background-color);
                    content: '';
                    height: 3px;
                    left: 0;
                    position: absolute;
                    top: -2px;
                    width: 100%;
                    z-index: 1;
                }
            }
        }

        .product-item-actions {
            position: relative;
            z-index: 1;
        }
    }

    .products-grid {
        .product-item-info {
            &:not(:hover) {
                &:not(.active) {
                    .product-item-inner {
                        //&:extend(.abs-visually-hidden-desktop-s all);
                    }
                }
            }
        }
    }

    .products-grid {
        .product-item {
            .ptb(15px);
            
        }
    }

    .page-products,
    .page-layout-1column,
    .page-layout-3columns,
    .page-products.page-layout-1column,
    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-products {
        .products-grid {
           
            .product-item {
                
            }
        }
    }

    .page-products.page-layout-1column {
        .products-grid {
            .product-item {
                
            }
        }
    }

    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

    .products-grid {
        .product-item {
            
        }
    }

    .page-layout-1column {
        .products-grid {
            .product-item {
            
            }
        }
    }

    .page-layout-3columns {
        .products-grid {
            .product-item {
                
            }
        }
    }

    .page-products {
        .products-grid {
            .product-items {
                margin: 0 -15px;
            }

            .product-item {
                

                &:nth-child(4n + 1) {
                
                }
            }
        }
    }

    .page-products {
        &.page-layout-1column {
            .products-grid {
                .product-item {
                    margin-left: 0;
                    width: 100%/5;
                }
            }
        }

        &.page-layout-3columns {
            .products-grid {
                .product-item {
                    margin-left: 1%;
                    width: 32.667%;

                    &:nth-child(3n) {
                        margin-left: 1%;
                    }

                    &:nth-child(3n + 1) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .products-grid {
        .product-item-info{
            padding: 30px 15px;
        }
        .product-item-name {
            font-size: 12px;
        }
    }
}