<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="partysupplies_warehouse" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Warehouse</label>
            <tab>partysupplies</tab>
            <resource>Magento_Checkout::checkout</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Address</label>
                <field id="branch_name" translate="label" type="text" sortOrder="1" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Branch Name</label>
                </field>
                <field id="street1" translate="label" type="text" sortOrder="1" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Street 1</label>
                </field>
                <field id="street2" translate="label" type="text" sortOrder="1" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Street 2</label>
                </field>
                <field id="city" translate="label" type="text" sortOrder="1" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>City</label>
                </field>
                <field id="state" translate="label" type="text" sortOrder="1" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>State</label>
                </field>
                <field id="country" translate="label" type="text" sortOrder="1" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Country</label>
                </field>
                <field id="zip_code" translate="label" type="text" sortOrder="1" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Zip Code</label>
                </field>
                <field id="phone" translate="label" type="text" sortOrder="1" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Phone</label>
                </field>
            </group>
        </section>
    </system>
</config>
