<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="partysupplies" translate="label" sortOrder="450">
            <label>PartySupplies</label>
        </tab>
        <section id="reseller_certification" translate="label" type="text" sortOrder="301" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Reseller Certification</label>
            <tab>partysupplies</tab>
            <resource>PartySupplies_Customer::config_resellercertificate</resource>
            <group id="general" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" >
                <label>General</label>
                <field id="upload_form" translate="label" type="Magento\Config\Block\System\Config\Form\Field\File" sortOrder="5" showInDefault="1" showInWebsite="1" >
                    <label>Upload Form</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system" scope_info="1">reseller_certificate</upload_dir>
                </field>
                <field id="download_form" translate="label" type="button" sortOrder="6" showInDefault="1" showInWebsite="1" >
                    <frontend_model>PartySupplies\Customer\Block\System\Config\Button</frontend_model>
                </field>
                <field id="max_filesize_limit" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" >
                    <label>Max Filesize Limit</label>
                    <comment>Please use size value in MB (eg.: 2 for 2MB) and also change webserver and php configuration respectively</comment>
                </field>
                <field id="supported_file" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" >
                    <label>Supported File Extensions</label>
                    <comment>Please use comma between each file extensions</comment>
                </field>
            </group>
        </section>
        
        <section id="customer" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <tab>customer</tab>
            <group id="create_account" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="company_email_template" translate="label comment" type="select" sortOrder="71" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Default Company Email</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="company_approved_email_template" translate="label comment" type="select" sortOrder="71" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Default Company Approved Email</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="company_declined_email_template" translate="label comment" type="select" sortOrder="71" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Default Company Declined Email</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
        </section>
    </system>
</config>

