<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <customer>
            <create_account>
                <company_email_template>customer_create_account_company_email_template</company_email_template>
                <company_approved_email_template>customer_create_account_company_approved_email_template</company_approved_email_template>
                <company_declined_email_template>customer_create_account_company_declined_email_template</company_declined_email_template>
                <account_registration_add_cc>registration@partysupplyusa.com</account_registration_add_cc>
            </create_account>
        </customer>
    </default>
</config>
