.checkout-cart-index {
    .form-cart,
    .cart-summary{
        background: #f2f5f8;
        border: 1px solid #d7d7ed;
        padding: 30px;
    }

    .form-cart {
        .table-wrapper {
            .lib-css(background, @color-white);
            border: 1px solid #d7d7ed;
            .items thead + .item{
                border: none;
            }
            thead th{
                border: none;
            }
            th, td {
                padding: 20px;
            }

            

        }
    }
}