.checkout-cart-index {
    .page-main {
        margin-top: 20px;
        border-collapse: collapse;
        .container-md();
        >.page-title-wrapper {
            display: none;
        }
        .page-title-wrapper {
            .bg-smoke();
            border-bottom: none;
            .page-title {
                margin: 0;
                padding: 30px;
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
    .column {
        &.main {
            margin-top: 20px;
        }
    }
    .form-cart, .cart-summary {
        .bg-smoke();
        padding: 30px;
        .control {
            .select {
                height: 30px;
                font-size: 13px;
                &:after {
                    position: absolute;
                    content: '\e621';
                    top: 8px;
                    right: 3px;
                }
            }
            .input-text {
                height: 30px;
                font-size: 13px;
            }
        }
    }
    .form-cart {
        .table-wrapper {
            .lib-css(background, @color-white);
            border: 1px solid @color-lightgray;
            .items thead + .item {
                border-top: 1px solid @color-lightgray;
            }
            .product-item-photo {
                width: 28%;
                margin-left: 25px;
            }
            .product-item-details {
                padding-left: 20px;
            }
            thead {
                .col {
                    border: none;
                    text-align: left;
                }
            }
            th, td {
                padding: 20px;
            }
            .items > .item {
                border-bottom: 0;
            }
            .table>tbody>tr>td {
                border-top: 0 !important;
            }
            .table>tbody+tbody {
                border-top: 0;
            }
            .item-info {
                [colspan="item-actions"] {
                    padding-left: 0;
                    padding-right: 0;
                    width: 75px;
                }
                .qty {
                    .input-text {
                        height: 30px;
                        width: 30px;
                    }
                }
                .col {
                    &.item {
                        padding: 27px 75px 10px;
                    }
                }
                .price {
                    font-size: 14px;
                    font-weight: 400;
                }
                td {
                    padding: 25px;
                }
                .product-item-name {
                    text-transform: lowercase;
                }
                .product-image-container {
                    display: inline-block;
                    max-width: 100%;
                    width: auto !important;
                    padding: 10%;
                }
                .action-delete {
                    margin-right: 0;
                }
                .product-image-container {
                    border: 1px solid @color-lightgray;
                    .product-image-photo {
                        padding: 0;
                    }
                }
                .actions-toolbar {
                    margin-top: 0;
                    .action-towishlist {
                        display: none;
                    }
                    >.action {
                        background: @color-white;
                        border: 0;
                        padding: 0;
                        margin-right: 20px;
                        width: auto;
                        &:hover {
                            background: @color-white;
                            border: 0;
                        }
                        &:before, &:after {
                            display: none;
                        }
                    }
                }
            }
        }
        .main {
            &.actions {
                .action {
                    margin-top: 10px;
                    margin-right: 0;
                    background-color: @color-black;
                    color: @color-white;
                    border: 1px solid @color-black;
                    border-radius: 0;
                    font-weight: bold;
                    text-transform: uppercase;
                    padding: 13px 30px;
                    width: 100%;
                    &:hover {
                        color: @color-white;
                    }
                    &:before {
                        display: none;
                    }
                }
                .continue {
                    padding-top: 16px;
                }
            }
        }
    }
}

.column {
    &.main {
        .cart-summary {
            padding: 0;
            >.title {
                font-size: 18px;
                font-weight: bold;
                padding: 30px;
                margin: 0;
                border-bottom: 1px solid @color-lightgray;
            }
            .shipping {
                padding: 30px;
                border-bottom: 1px solid @color-lightgray;
                &.active {
                    >.title {
                        &:after {
                            content: '\e621';
                        }
                    }
                }
                >.title {
                    border-top: 0;
                    padding-left: 0;
                    strong {
                        font-size: 13px;
                        font-weight: 700;
                    }
                    &:after {
                        font-size: 13px;
                        content: '\e622';
                        top: 8px;
                        right: 3px;
                    }
                }
                .content {
                    .note {
                        display: none;
                    }
                    .label {
                        font-size: 13px;
                    }
                    #co-shipping-method-form {
                        .disp(none);
                    }
                    .fieldset {
                        margin: 0;
                    }
                }
            }
            .cart-totals {
                padding-top: 0;
                border-top: 0;
                background: @color-lightgray;
                border-bottom: 1px solid @color-sky;
                .totals {
                    .grand {
                        .mark {
                            border-top: 1px solid @color-sky;
                            padding: 30px;
                            padding-right: 0;
                        }
                        .amount {
                            border-top: 1px solid @color-sky;
                            padding: 30px;
                            padding-left: 0;
                        }
                    }
                    .sub {
                        .mark, .amount {
                            padding-top: 30px;
                        }
                    }
                    margin-bottom: 0;
                    .mark {
                        padding-left: 30px;
                        padding-bottom: 30px;
                        background: @color-lightgray;
                        font-size: 13px;
                        font-weight: bold;
                        strong {
                            font-size: 16px;
                            font-weight: bold;
                        }
                    }
                    .amount {
                        padding-right: 30px;
                        .mark;
                    }
                }
            }
            .discount {
                padding: 30px;
                .content {
                    display: block !important;
                }
                .title {
                    border-top: 0;
                    padding-left: 0;
                    strong {
                        font-size: 13px;
                        font-weight: bold;
                    }
                    &:after {
                        .disp(none);
                    }
                }
                .field {
                    .label {
                        display: none;
                    }
                }
                .coupon {
                    display: table;
                    .field {
                        display: table-cell;
                        width: 50%;
                    }
                    .actions-toolbar {
                        display: table-cell;
                        margin-top: 0;
                        .apply {
                            margin-right: 10px;
                            background-color: @color-black;
                            color: @color-white;
                            border: 1px solid @color-black;
                            border-radius: 0;
                            width: 100%;
                            padding: 2px 16px;
                            text-transform: uppercase;
                            font-weight: bold;
                            height: 30px;
                            &:hover {
                                color: @color-white;
                            }
                        }
                    }
                }
            }
            .checkout-methods-items {
                margin-top: 0;
                padding: 30px;
                background: @color-lightgray;
                .action {
                    margin-top: 10px;
                    margin-right: 10px;
                    .lib-css(background, #f26322);
                    color: @color-white;
                    border: 1px solid #f26322;
                    border-radius: 0;
                    width: 100%;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 14px;
                    &:hover {
                        color: @color-white;
                    }
                }
                .multicheckout {
                    display: none;
                }
            }
        }
    }
}

.checkout-cart-index {
    .form-cart {
        .col {
            &.qty {
                width: 20%;
                .control {
                    &.qty {
                        position: relative;
                        height: 27px;
                        margin-top: 0 !important;
                        button {
                            width: 30px;
                            height: 30px;
                            font-size: 14px;
                            padding: 0;
                            background: #ffffff;
                            border-radius: 0;
                            font-weight: bold;
                            float: left;
                            margin-right: 0;
                            &:active {
                                box-shadow: none;
                            }
                        }
                        .input-text {
                            float: left;
                            padding: 0;
                            margin-right: -1px;
                            margin-top: 0;
                            margin-left: -1px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .column {
        &.main {
            .action {
                font-size: 12px;
                span {
                    font-size: 12px;
                }
            }
        }
    }
}

@media screen and ( max-width: 1092px) {
    .checkout-cart-index {
        .form-cart {
            .col {
                &.qty {
                    width: 25%;
                }
            }
            .table-wrapper {
                .item-info {
                    td {
                        padding: 25px 6px;
                    }
                }
            }
        }
    }
}

@media screen and ( max-width: 992px) {
    .checkout-cart-index {
        .page-main {
            .page-title-wrapper {
                .page-title {
                     padding: 15px;
                }
            }
        }
        .form-cart, .cart-summary {
            padding: 15px;
        }
        .column {
            &.main {
                .cart-summary {
                    >.title, .shipping, .discount {
                        padding: 15px;
                    }
                  .totals {
                      .mark {
                        padding-left: 15px;
                        strong {
                            font-size: 13px;
                        }
                      }
                      .amount {
                          padding-right: 15px;
                          padding-left: 15px;
                          strong {
                              font-size: 13px;
                          }
                      }
                      .grand {
                          .amount, .mark {
                            padding: 9px;
                          }
                          
                      }
                  }  
                  .checkout-methods-items {
                      padding: 15px;
                  }
                }
            }
        }
        .cart{
            &.table-wrapper {
                .col {
                    &.price, &.qty, &.subtotal {
                        text-align: left;
                    }
                    &.qty {
                        width: 40%;
                    }
                }
                .product-image-container {
                    width: 85px !important;
                }
                .product-item-photo {
                    padding-right: 0;
                }
                .item {
                    .col {
                        &.item {
                            padding: 27px 10px 10px !important;
                        }
                    }
                }
            }
        }
        
    }
}

@media only screen and (max-width: 768px) {
    .cart {
        &.table-wrapper {
            .col {
                &.subtotal, &.price {
                    width: 30% !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .checkout-cart-index {
        .form-cart {
            .table-wrapper {
                .item-info {
                    [colspan="item-actions"] {
                        padding-left: 0;
                        padding-right: 0;
                        width: 100%;
                        /* position: absolute; */
                        /* top: 0; */
                        clear: both;
                        /* right: 0; */
                        text-align: center;
                        display: block;
                    }
                }
            }
        }
    }
    body {
        .cart {
            &.table-wrapper {
                .col {
                    &.qty, &.price, &.subtotal, &.msrp {
                        box-sizing: border-box;
                        display: block;
                        float: left;
                        text-align: center;
                        padding: 5px;
                        white-space: nowrap;
                        width: 40%;
                    }
                }
            }
        }
    }
    .checkout-cart-index {
        .form-cart {
            padding: 30px 10px;
            .table-wrapper {
                .item-info {
                    td {
                        padding: 25px 0px;
                    }
                }
            }
            .control {
                &.qty {
                    right: -15px;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .cart-summary {
        width: 25%;
        .bg-smoke();
        padding: 30px;
    }
    .checkout-cart-index {
        .page-main {
            .page-title-wrapper {
                width: 73%;
            }
        }
        .form-cart {
            .main {
                &.actions {
                    .action {
                        width: auto;
                    }
                }
            }
        }
        .cart {
            &.table-wrapper {
                .item {
                    .col {
                        &.item {
                            padding: 27px 25px 10px;
                        }
                    }
                }
            }
        }
    }
}