
.catalogsearch-advanced-index {
    .page-main {
        .container-md();

        .page-title-wrapper {
            padding: 30px;
            .bg-smoke();
            
            .page-title {
                font-size: 18px;
                margin: 0;
            }
        }

        form.search{
            &.advanced{
            padding: 30px;
            margin-top: -1px;
            .bg-smoke();
            }
        }

        .findcoin{
            padding: 30px;
            margin-top: -1px;
            .bg-smoke(); 
        }
    }
}

.catalogsearch-result-index {
    .search__result-tabs{
        display: none;
    }
}