/*************checkout page*************/
.onestepcheckout-index-index {
    .page-main {
        border: 1px solid #d7dded;
        background: #f2f5f8;
    }
    .page-title-wrapper {
         background: #f2f5f8;
    }
    .checkout-container {
        border: 1px solid #d7dded;
        background: #fff;
        .step-title {
            background: #fff;
            color: #000 !important;
            border-bottom: 0;
        }
        .step-content {
            background: #fff;
            padding: 0 15px;
        }
        .checkout-shipping-address,
        .hoverable {
            border: 1px solid #d7dded;
            border-collapse: collapse;
        }
        .order-summary {
            background: #d7dded;
            .items-in-cart {
                >.title {
                    border-bottom: 1px solid #b5c0dd;
                }
                .product-image-container {
                    display: none;
                }
                #checkout-review-table {
                    background-color: #d7dded;                    
                    th,td {
                        border-bottom: 0;
                    }
                }
                .data-table {                    
                    th {
                        text-align: left;
                    }
                    .product-item {
                        border-top: 0;
                    }
                }
                .details-qty {
                    .button-action {
                        display: none;
                    }
                    .qty-wrap {
                        display: block;
                    }
                    .item_qty {
                        background: #d7dded;
                    }
                }
                .button-remove {
                    display:none;
                }
            }
            .table-totals {
                .mark {
                    background: #d7dded;
                    font-size: 13px;
                    font-weight: bold;
                    text-align: left;
                }
                .amount {
                   .mark;
                   text-align: right;
                }
                .grand, .sub {
                    border-top: 1px solid #b5c0dd;
                }
            }
            
           
        }
        .place-order-primary {
            .checkout {
                background: #f26322;
                border: none;
            }
        }
        
    }
}