#sticky-social {
    position: fixed;
    left: 0;
    top: 50%;
    .transform(translateY(-50%));
    text-align: center;
    z-index: 99;
    &.active {
        ul {
            .transform(translateX(-100%));
        }
    }
    .trigger {
        .lib-css(color, #bbb);
        font-size: @f-size-xl;
    }
    ul {
        padding: 0;
        overflow: hidden;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        .transition(all 0.5s ease-in-out 0s);
        li {
            list-style: none;
            display: block;
            margin-bottom: 0;
            a {
                width: 40px;
                height: 40px;
                display: block;
                text-align: center;
                line-height: 40px;
                .lib-css(color, @color-white);
            }
            &.facebook {
                a {
                    .lib-css(background, #3e5894);
                }
            }
            &.twitter {
                a {
                    .lib-css(background, #33CCFF);
                }
            }
            &.linkedin {
                a {
                    .lib-css(background, #4875B4);
                }
            }
        }
    }
}

.page-footer {
    margin-top: 50px;
    .footer-logo {
        padding: 20px 20px;
        .sponsor ul li {
            list-style: none;
            padding: 0 30px;
        }
    }
    .media {
        .fa {
            width: 32px;
            height: 32px;
            border: 1px solid #fff;
            padding: 10px 10px;
            color: #fff;
            .transition(all 0.5s ease 0s);
            &-facebook:hover {
                background-color: #3B5998;
                border-color: #3B5998;
            }
            &-twitter:hover {
                background-color: #1dcaff;
                border-color: #1dcaff;
            }
            &-linkedin:hover {
                background-color: #0077B5;
                border-color: #0077B5;
            }
        }
    }
    .footer-links-wrapper {
        padding: 50px 0;
        background: #232f3e;
    }
    .footer-links {
        h3 {
            color: #fff;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
        }
        .footer-list {
            width: 20%;
            float: left;
        }
        .footer-list:nth-child(4) {
            width: 15%;
        }
        .footer-list:nth-child(5) {
            width: 25%;
        }
        ul {
            padding-left: 0;
            list-style: none;
            li {
                text-transform: uppercase;
                padding-right: 0;
                margin-bottom: 0;
            }
            a {
                font-size: 13px;
                color: #ddd;
                text-decoration: none;
            }
        }
        .payment-method {
            .links {
                margin-top: 15px;
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    .page-footer {
        .footer-links {
            h3 {
                font-size: 10px;
            }
            ul {
                a {
                    font-size: 10px;
                }
            }
        }
    }
}

@media screen and (min-width: 1301px) {
    .page-footer {
        .container {
            width: 90%;
        }
    }
}

@media screen and (max-width: 1300px) {
    .page-footer {
        .container {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .page-footer {
        .container {
            padding-left: 30px;
            padding-right: 30px;
        }
        .pat-img {
            img {
                width: 45px;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m+1) {
    .page-footer {
        .footer-links-wrapper {
            padding: 20px 0;
            color: red;
        }
        .footer-links {
            .footer-list {
                width: 50%;
                padding: 0 15px;
                &.contact-info {
                    clear: both;
                }
                &:nth-child(4) {
                    width: 50%;
                }
                &:nth-child(5) {
                    width: 100%;
                }
            }
            .payment-method {
                width: 100%;
                .block-content {
                    >* {
                        width: auto;
                        display: inline-block;
                        vertical-align: middle;
                    }
                    ul {
                        display: block;
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
    .page-footer {.footer-logo{ .sponsor{ ul {li{
        width: 45%;   
    }
}
    }
}
    }
}

@media only screen and (max-width:480px) {
    .page-footer {
        .footer-links-wrapper {
            .footer-links {
                .footer-list {
                    width: 100%;
                    &.contact-info {
                        clear: both;
                    }
                }
            }
        }
    }
}