
@media screen and (max-width: 992px) and (max-width: 1200px) {
    .page-footer {
        .footer-links {
            h3 {
                font-size: 10px;
            }
            .footer-list {
                width: 20%;
                float: left;
            }
            ul {
                a {
                    font-size: 8px;
                    color: #ddd;
                    text-decoration: none;
                }
            }
        }
    }
}


@media screen and (min-width: 1301px) {
    .page-footer {
        .container {
            width: 90%;
        }
    }
}


@media screen and (max-width: 1300px){
    .page-footer {
        .container {
            padding-left: 30px;
            padding-right: 30px; 
        }
    }
}



@media screen and (max-width: 1024px){
    .page-footer {
        .container {
            padding-left: 30px;
            padding-right: 30px; 
        }

        .pat-img {
            img {
                width: 45px;
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .page-footer {
        .footer-links-wrapper {
            padding: 20px 0;
        }
        .footer-links {
            .footer-list {
                width: 50%;
                padding: 0 15px;
                &.contact-info {
                    clear: both;
                }
            }
            .payment-method {
                width: 100%;
                .block-content {
                    >* {
                        width: 50%;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
        }
    }

}


@media screen and (max-width: 640px) {
    .page-footer {
        .footer-links {
            .footer-list {
                width: 100%;
                &.contact-info {
                    clear: both;
                }
            }
            .payment-method {
                width: 100%;
                .block-content {
                    >* {
                        width: 100%;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}