.fieldset, fieldset {
    .label {
        color: @color-black;
    }

    
}

input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"], select{
    border-color: #d7d7ed;
    height: 50px;
}


input[type="checkbox"], input[type="radio"] {
    display: initial;
}
 


/* Button styles */

.actions-toolbar {
    .primary {
        .action {
            .lib-css(background, @color-darkslateblue);
            .lib-css(color, @color-white);
            .br-radius(0);
            border-color: @color-darkslateblue;
          font-weight: normal;
          &-cancel{
              padding: 7px 15px;
              margin-top: 0 !important;
              border: 1px solid @color-darkslateblue !important;
              &:hover {
                .lib-css(background, @color-darkslateblue);
                .lib-css(color, @color-white);
                text-decoration: none;
              }
          }
        }
    }
}


._keyfocus *:focus, input:not([disabled]):focus, textarea:not([disabled]):focus, select:not([disabled]):focus{
    box-shadow: none;
}