
.header-promo {
.promotion-text, .ph{
    font-size: 20px;
}
}

.menu-wrap{
    .pos(relative);
    padding-top: 22px;
    padding-bottom: 22px;
    max-width: 190px;
    &:before, &:after{
        content: '';
        position: absolute;
        .hw(100%, 1px);
        background: #5178bf;
        top: 0;
    }
    &:before{
     left: 1px;
    }
    &:after{
        right: 1px;
    }
    .nav-toggle{
        color: @color-white;
        font-size: @f-size;
        text-transform: uppercase;
        .pos(relative);
        text-align: center;
        .cat-trigger span{
            font-size: @f-size-xs;
            .disp(block); 
        }

        &:before{
            display: none;
        }

        .hamburger {
            width: 30px;
            height: 22px;
            position: relative;
            .disp(inline-block);
            vertical-align: bottom;
            .transform(rotate(0deg));
            .transition(.5s ease-in-out);
            cursor: pointer;
            margin-right: 10px;
          }
          
           .hamburger span {
            display: block;
            .pos(absolute);
            height: 2px;
            width: 100%;
            background: @color-white;
            opacity: 1;
            left: 0;
            .transform(rotate(0deg));
            .transition(.25s ease-in-out);
          }
          
          
          /* Icon 4 */
          
          .hamburger span:nth-child(1) {
            top: 0px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
          }
          
          .hamburger span:nth-child(2) {
            top: 8px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
          }
          
          .hamburger span:nth-child(3) {
            top: 16px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
          }


          .hamburger {
              .nav-open & {
                    span:nth-child(1) {
                        .transform(rotate(45deg));
                        top: -3px;
                        left: 8px;
                    }
                    span:nth-child(2) {
                        width: 0%;
                        opacity: 0;
                    }

                    span:nth-child(3) {
                        .transform(rotate(-45deg));
                        top: 18px;
                        left: 8px;
                    }
              }
          }
          
        //   .hamburger.open span:nth-child(1) {
        //     .transform(rotate(45deg));
        //     top: -3px;
        //     left: 8px;
        //   }
          
        //   .hamburger.open span:nth-child(2) {
        //     width: 0%;
        //     opacity: 0;
        //   }
          
        //   .hamburger.open span:nth-child(3) {
        //     .transform(rotate(-45deg));
        //     top: 18px;
        //     left: 8px;
        //   }

          .cat-trigger{
              .disp(inline-block);
              vertical-align: middle;
              text-align: left;
          }
    }
    .nav-sections{
        .disp(none);
        .pos(absolute);
        left: 0;
        z-index: 20;
        top: 75px;
        .nav-open &{
            .disp(block);
        }
    }
    .navigation ul{
        min-width: 300px;
        width: 100%;
        position: relative;
        background: @color-white;
        padding-bottom: 100px; 
        text-align: left;
        li{
            border-left: 2px solid transparent;
            display: block;
            position: static;
            margin-right: 0;
            margin-bottom: 0;
            .submenu{
                .pos(absolute);
                left: 100% !important; 
                top: 0 !important;
                border: none;
                box-shadow: none;
            }
            
            &:hover, &.active {
                background: @color-whitesmoke;
                border-left-color: @color-darkslateblue;

                a{
                    border: none;
                    display: block;
                }
            }

            &:hover  > .submenu{
                .disp(block) !important;
            }
        }
        li a{
            padding: 15px 20px;
            .disp(block);
            font-size: @f-size-xs;
            color: @color-black;
            position: relative;
        }

        li.parent > a:after{
            .pos(absolute);
            right: 20px;
            top: 20px;
            content: '';
            display: block;
            border: 1px solid @color-black;
            width: 8px;
            height: 8px;
            background: transparent;
            border-left: transparent;
            border-bottom: transparent;
            .transform(rotate(45deg));
        }
    }
}

@media screen and (max-width: 1366px) {
    .page-header {
        .header {
            &.content {
            padding-left: 30px;
            padding-right: 30px;
            }
            .logo-wrap {
                max-width: 75px;
                margin: 0 auto;
            }
            .menu-wrap {
                max-width: 140px;
                .nav-toggle {
                    font-size: 12px;
                }

                .navigation ul{
                    min-width: 250px;
                }
            }
            .block-search {
                max-width: 65%;
                .minisearch {
                    max-width: 80%;
                }
            }
            .acc-links {
                max-width: 150px;
            }
            .minicart-wrapper {
                max-width: 80px;
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .page-header {
        .header {
            .menu-wrap {
                max-width: 140px;
                .nav-toggle {
                    font-size: 12px;
                }
            }
            .block-search {
                max-width: 62%;
                .minisearch {
                    max-width: 80%;
                }
            }
            .acc-links {
                max-width: 150px;
            }
            .minicart-wrapper {
                max-width: 80px;
            }
        }
    }
}


@media screen and (max-width: 1300px) {
    .page-header {
        .header {
            .logo-wrap {
                max-width: 80px;
            }
            .menu-wrap {
                max-width: 80px;
                padding-top: 26px;
                padding-bottom: 26px;
                .cat-trigger{
                    .disp(none);
                }


            }
            .block-search { 
                max-width: 60%;
                .minisearch {
                    max-width: 80%;
                }
            }
            .acc-links {
                max-width: 150px;
            }
            .minicart-wrapper {
                max-width: 90px;
            }
        }
    }
}


@media screen and (max-width: 1120px) {
    .page-header {
        .header {
            .block-search {
                .minisearch {
                    max-width: 80%;
                }
            }
            .acc-links {
                max-width: 150px;
            }
            .minicart-wrapper {
                max-width: 80px;
            }
        }
    }
}


@media screen and (max-width: 1042px) {
    .page-header {
        .header {
            .cat-trigger{
                .disp(none);
            }
            .block-search {
                max-width: 55%;
                .minisearch {
                    max-width: 80%;
                }
            }
            .acc-links {
                max-width: 150px;
            }
            .minicart-wrapper {
                max-width: 80px;
            }
        }
    }
}


@media screen and (max-width: 1023px) {
    .page-header {
        &.header-wrapper {
            border-bottom: none;
            .header {
                position: static;
            }
        }
        .header {
            text-align: center;
            
            .logo-wrap {
                float: none;
            }
            .block-search {
                max-width: none;
                width: 100%;
                padding: 0;
                padding-top: 20px;
                position: static;
                .minisearch {
                    max-width: 50%;
                }
                &:before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    top: 75px;
                    left: 0px;
                    right: 0px;
                    height: 1px;
                    background: #5178bf;
                }
            }
            .acc-links {
                display: none;
            }
            .menu-wrap {
                &::before,
                &:after {
                    display: none;
                }
                position: absolute;
                top: 0;
                width: auto;
                float: left;
                .cat-trigger {
                    display: none;
                }
              
            }
            .minicart-wrapper {
                float: right;
                position: absolute;
                top: 0px;
                right: 30px;
            }
        }
    }

    .cms-index-index .header-promo{
        margin-top: -1px;
    }
}

@media screen and (max-width: 768px) {
    .header-promo {
        margin-bottom: 20px;
        .promotion-text {
            width: 100%;
        }
        .contact-info {
            display: none;
        }
    }
}

@media screen and (max-width: 640px) {
    .header-promo {
        .promotion-text {
            width: 100%;
        }
        .contact-info {
            display: none;
        }
    }
}