//
//  Common
//  _____________________________________________
& when (@media-common =true) {
    .columns .column {
        .cms-index-index & {
            padding-bottom: 20px;
        }
    }
    .cms-index-index {
        .homepage-slider-wrapper {
            .pos(relative);
            &:before {
                background: @color-darkslateblue;
                height: 50%;
                content: '';
                top: -1px;
                position: absolute;
                width: 100%;
            }
        }
        .slider-wrapper {
            .main-slider {
                margin-bottom: 0;
                .slick-slide,
                .slider-item {
                    position: relative;
                    .slider-content {
                        position: absolute;
                        top: 50%;
                        .transform(translateY(-50%));
                        width: 100%;
                    }
                    .slider-content h2 {
                        color: @color-white;
                        font-weight: bold;
                        margin-bottom: 10px;
                    }
                    .slider-content a {
                        display: inline-block;
                        .btn-bor-w;
                        min-width: 150px;
                        text-align: center;
                        text-decoration: none;
                    }
                }
                .slick-dots {
                    bottom: 20px;
                    right: 20px;
                    text-align: right;
                    li {
                        button {
                            border: 1px solid @color-white;
                        }
                        &.slick-active button {
                            background: @color-white;
                        }
                    }
                }
            }
        }
        .promo-banner+.promo-banner {
            margin-top: 38px;
        }
        .product-widget__wrapper {
            .ptb(20px);
        }
        .category-wrapper {
            .ptb(10px)
        }
        .cat-item {
            .cat-item__inner {
                position: relative;
                a {
                    .pos(relative);
                }
                .cat-title {
                    position: absolute;
                    left: 30px;
                    bottom: 30px;
                    color: @color-black;
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }
        .testi-wrapper {
            .ptb(20px);
            .testi-slider__inner {
                padding: 55px 70px;
                .testi-slider {
                    margin-bottom: 0;
                    .slick-dots {
                        text-align: right;
                        .pos(static);
                    }
                }
                .testi-content {
                    &:before {
                        content: '';
                        background: url(../images/icon_quote.png) no-repeat left top;
                        background-size: 100%;
                        width: 60px;
                        height: 57px;
                        display: block;
                        margin-bottom: 30px;
                    }
                    font-size: @f-size-xxl;
                    font-weight: bold;
                    font-style: italic;
                    color: @color-black;
                    p:before,
                    p:after {
                        content: '"';
                    }
                }
                .testi-author {
                    text-align: right;
                    font-size: @f-size-xxl;
                    color: @color-black;
                    font-weight: bold;
                    margin: 30px 0;
                }
            }
            .test-image-sec {
                position: relative;
                .team-text {
                    position: absolute;
                    bottom: 50px;
                    right: 50px;
                    font-weight: bold;
                    color: @color-white;
                    font-size: @f-size-xl;
                }
            }
        }
        .blog-wrapper {
            .ptb(20px);
            .blog-outer {
                border: 1px solid @color-gainsboro;
                background: @color-whitesmoke;
                .blog-content-wrap {
                    padding: 70px 35px;
                }
                .blog-item {
                    padding-left: 35px;
                    padding-right: 35px;
                    >a,
                    a:focus {
                        text-decoration: none;
                        outline: none;
                    }
                }
                .blog-image {
                    position: relative;
                    img {
                        width: 100%;
                    }
                    .blog-date {
                        position: absolute;
                        color: @color-white;
                        left: 10px;
                        bottom: 10px;
                        width: 60px;
                        height: 60px;
                        background: fade(@color-darkslateblue, 60%);
                        font-size: @f-size-xl;
                        font-weight: bold;
                        text-align: center;
                        display: table;
                        .date-sec {
                            display: table-cell;
                            vertical-align: middle;
                        }
                        span {
                            display: block;
                        }
                    }
                }
                .blog-content {
                    background: @color-white;
                    padding: 40px;
                    .blog-title {
                        font-size: @f-size-xxl;
                        font-weight: bold;
                        color: @color-black;
                        margin-bottom: 20px;
                        &:after {
                            margin-top: 15px;
                            width: 45px;
                            height: 1px;
                            background: #d7dded;
                            display: block;
                            content: '';
                        }
                        &:hover{
                            .lib-css(color,@color-darkslateblue);
                        }
                    }
                    .blog-desc {
                        color: @color-black;
                        font-size: @f-size;
                        margin-bottom: 30px;
                    }
                    .more-btn {
                        color: @color-black;
                        font-size: @f-size-s;
                        font-weight: 600;
                        text-align: right;
                        display: block;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1561px) {

    .cms-index-index, 
    .block-products-list{
        .products-grid {
            .product-item {
                &:nth-child(5) {
                    .disp(none);
                }
            }
        }
    }
    .cms-index-index {
        
        .cat-item {
            .cat-item__inner {
                .cat-title {
                    font-size: 12px;
                    bottom: 10px;
                    left: 10px;
                }
            }
        }
        .testi-wrapper {
            .testi-slider__inner {
                padding: 15px 30px;
                .testi-content {
                    &:before {
                        .hw(47px, 50px);
                    }
                }
                .testi-author {
                    margin: 15px 0;
                }
            }
        }
        .blog-wrapper {
            .blog-content-wrap {
                padding: 30px 15px;
            }
            .blog-outer {
                .blog-item {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .page-wrapper {
        .container {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    .cms-index-index {
        .blog-wrapper {
            .blog-outer {
                .blog-content-wrap {
                    padding: 30px 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    .cms-index-index {
        .products-grid {
            .product-item {
                &:nth-child(5) {
                    .disp(none);
                }
            }
        }
        .promo-banner+.promo-banner {
            margin-top: 25px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .cms-index-index {
        .testi-wrapper {
            .testi-slider__inner {
                padding: 15px 30px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .header-promo {
        margin-bottom: 20px;
        .promotion-text {
            width: 100%;
        }
        .contact-info {
            display: none;
        }
    }
    .cms-index-index {
        .column {
            padding-bottom: 0;
        }
    }
    .homepage-slider-wrapper {
        &:before {
            display: none;
        }
        .slider-content {
            .disp(none);
        }
    }
    .slider-wrapper {
        width: 100%;
        margin-bottom: 20px;
        &+div {
            width: 100%;
            & .promo-banner {
                width: 50%;
                padding: 0 15px;
                float: left;
            }
            .promo-banner+.promo-banner {
                margin-top: 0;
            }
        }
    }
    .category-wrapper {
        .cat-item {
            padding-top: 15px;
            padding-bottom: 15px;
            width: 50%;
            float: left;
        }
    }
    .product-widget__wrapper {
        >* {
            padding: 0;
        }
        .block.widget {
            padding: 30px;
        }
        .products-grid {
            .product-item {
                padding: 0;
                width: 50%;
                border: 1px solid @color-gainsboro;
                margin: -1px;
                &:nth-child(5) {
                    display: none;
                }
            }
        }
    }
    .testi-wrapper {
        .testi-slider__inner {
            padding: 30px;
        }
        .testi-inner {
            >* {
                width: 100%;
            }
            .review-sec {
                margin-bottom: 20px;
            }
        }
    }
    .blog-wrapper {
        .blog-outer {
            .blog-content-wrap {
                padding: 30px 15px;
            }
            .blog-item {
                padding-left: 15px;
                padding-right: 15px;
            }
            .blog-content {
                padding: 20px;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .header-promo {
        .promotion-text {
            width: 100%;
        }
        .contact-info {
            display: none;
        }
    }
    .cms-index-index {
        .column {
            padding-bottom: 0;
        }
    }
    .slider-wrapper {
        width: 100%;
        margin-bottom: 20px;
        &+div {
            width: 100%;
            & .promo-banner {
                width: 100%;
                padding: 0 15px;
                float: left;
            }
            .promo-banner+.promo-banner {
                margin-top: 0;
            }
        }
    }
    .category-wrapper {
        .cat-item {
            padding-top: 10px;
            padding-bottom: 10px;
            width: 100%;
        }
    }
}