.toolbar {
    select {
        height: auto;
    }
    .sorter label,
    .limiter label {
        padding: 5px;
    }
}

/* Layered Filter */

& when (@media-common =true) {
    .filter {
        background: @color-whitesmoke;
        padding-bottom: 50px;
        &-title {
            background: @color-whitesmoke;
            text-transform: uppercase;
            color: @color-darkslateblue;
            border-bottom: 1px dotted @color-darkslateblue;
            strong {
                font-size: 18px;
                padding: 15px 30px;
                .disp(block);
            }
        }
        a {
            font-size: @f-size-xs;
            color: @color-black;
        }
        .action {
            color: @color-darkslateblue;
        }
        &-content {
            .block-subtitle {
                .disp(none);
            }
        }
        .filter-options {
            &-title {
                .lib-heading(h4);
                margin: 0 0 @indent__s;
                word-break: break-all;
                .pos(relative);
                .fa {
                    .pos(absolute);
                    right: 0;
                }
            }
            &-item {
                padding: 20px;
                border-bottom: 1px dotted @color-darkslateblue;
                &.active {
                    .fa {
                        .transform(rotate(180deg));
                    }
                }
            }
            &-content {
                padding-top: 15px;
                border-top: 1px dotted @color-darkslateblue;
                .amount {
                    .disp(none);
                }
            }
        }
        .price {
            .filter-options-content {
                label {
                    display: none;
                }
                input {
                    background: transparent;
                    color: @color-darkslateblue  !important;
                    font-size: @f-size-xs;
                }
                #price-slider {
                    height: 2px;
                    background: @color-black;
                    .ui-widget-header {
                        height: 100%;
                        position: absolute;
                        z-index: 1;
                        font-size: .7em;
                        display: block;
                        border: 0;
                        background: @color-darkslateblue;
                    }
                    .ui-slider-handle {
                        background: @color-darkslateblue;
                        top: -4px;
                    }
                }
            }
        }
    }
}

.radio-col {
    &+.radio-col {
        margin-top: 10px;
    }
    a {
        input[type="radio"] {
            display: inline-block;
            margin-top: 0;
        }
        label {
            width: 90%;
            vertical-align: top;
        }
    }
}

/* .radio-col {
    a {
        position: relative;
    }
    input[type="radio"] {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 32px;
        z-index: 8;
    } 
    label {
        position: relative;
    }
input[type="radio"] + label:before {
    content: '';
    width: 12px;
    height: 12px;
    border: 1px solid @color-darkslateblue;
    display: inline-block;
    background: #fff;
}
input[type="radio"] + label:after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    background:@color-darkslateblue;
    position: absolute;
    left: 3px;
    top: 3px;
    .transition(all 0.5s ease-in-out 0s);
    opacity: 0;
}

input[type="radio"]:checked + label:after{
    opacity: 1;
}
} */

.product-item {
    .actions-primary {
        .action {
            .lib-css(background, @color-black);
            .lib-css(color, @color-white);
            .transition(all 0.5s ease-in-out 0s);
            &:hover,
            &:focus,
            &:active {
                .lib-css(background, @color-darkslateblue);
                .lib-css(border-color, @color-darkslateblue);
            }

            cursor: pointer;
        }


    }
}

.product-label {
    position: absolute;
    z-index: 50;
    width: 42px;
    height: 42px;
    top: 0;
    left: 0;
    font-size: 0; 
}

.sale-product-icon {
    background: url('../images/tag_sale.png');
    width: auto;
    display: block;
    background-size: cover;
    height: 100%;
}

.page-main {
    .column {
        .price-box {
            .old-price {
                .price-label {
                    display: none;
                }
                .price {
                    text-decoration: line-through;
                    color: #8c8c8c;
                }
            }
        }
    }
}

.stock.unavailable {
    color: #e32229;
}

.products-grid {
    .sku-avali {
        .disp(none);
    }
    .product-item-info {
        background: @color-white;
        text-align: center;
        padding: 30px 40px 20px;
        min-height: 350px;
        position: relative;
        transition: all 0.5s ease 0s;
        overflow: hidden;
        .sale-promo {
            position: absolute;
            top: 0;
            left: 0;
        }
        .old-price {
            .price {
                margin-left: 10px;
            }
        }
        .product-item-photo {
            display: block;
            margin-bottom: 30px;
            max-width: 200px;
            margin-left: auto;
            margin-right: auto; 
        }
        .product-item-name {
            font-weight: normal;
            color: #020202;
            font-size: @f-size-s;
            line-height: normal;
            margin-top: 0;
            margin-bottom: 0px;
            display: block;
            min-height: 50px;
            a {
                color: inherit;
                font-size: inherit;
                text-decoration: none;
            }
        }
        .price {
            font-size: @f-size;
            color: #020202;
            font-weight: bold;
        }
        .product-item-actions {
            .actions-primary .action.tocart {
                border-left: 1px solid #404040;
            }
            .tocompare {
                display: none;
            }
            .towishlist {
                position: absolute;
                right: 20px;
                top: 20px;
                z-index: 12;
                color: #c2c2c2;
                opacity: 0;
                visibility: hidden;
                .transition(all 0.3s ease 0s);
                &:before {
                    .disp(none);
                }
                .transform(translateY(-100%));
            }
            .actions-primary {
                position: absolute;
                width: 100%;
                left: 0;
                bottom: 0;
                visibility: hidden;
                opacity: 0;
                position: absolute;
    
    text-align: center;
    .transition(all 0.3s ease 0s);

    .transform(translateY(100%));
            }
            .actions-primary .action,
            .unavailable {
                border: none;
                padding: 15px 10px;
                width: 50%;
                float: left;
                min-height: 50px;
                font-weight: bold;
                font-size: @f-size-xs - 1;
                text-transform: uppercase;
                border-radius: 0;
                position: relative;
                text-decoration: none;
                display: block;
                color: #fff;
                line-height: 20px;
                &.quick-view {
                    line-height: 20px;
                }
            }
            .actions-primary .action+.action:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 1px;
                background: #404040;
            }
            .stock.unavailable {
                border-left: 1px solid #404040;
                .lib-css(background,
                @color-black);
                .lib-css(color,
                @color-white);
                .transition(all 0.5s ease-in-out 0s);
                &:hover,
                &:focus,
                &:active {
                    .lib-css(background,
                    @color-darkslateblue);
                    .lib-css(border-color,
                    @color-darkslateblue);
                }
            }
        }
        
        &:hover  {
            
            .actions-primary, .towishlist {
                visibility: visible;
                opacity: 1;
            }
            .towishlist {
                .transform(translateY(0px));
            }
            .actions-primary{
                .transform(translateY(0px));
            }
        }
    }
}

.products-list .product-item+.product-item {
    margin-top: 30px;
}

.products-list {
    .actions {
        .action:not(.towishlist) {
            background: @color-black;
            padding: 16px 25px;
            height: 40px;
            line-height: normal;
            font-size: @f-size-xs;
            font-weight: bold;
            text-transform: uppercase;
            border: none;
            color: @color-white;
            display: block;
            &:hover {
                background: @color-darkslateblue;
            }
        }
    }
    .product {
        .actions {
            clear: both;
            .action:not(.towishlist) {
                padding: 13px 30px;
            }
            .quick-view {
                margin-left: 20px;
                float: right;
            }
        }
        .product-image-wrapper {
            height: auto;
            overflow: visible;
            padding-bottom: 0 !important;
        }
        &-item {
            display: table;
            width: 100%;
            background: @color-white;
            border: 1px solid #d6dcec;
            &-info {
                display: table-row;
            }
            &-photo {
                display: table-cell;
                text-align: center;
                vertical-align: middle;
                width: 25%;
                float: none;
                padding: 30px;
            }
            &-details {
                display: table-cell;
                vertical-align: top;
                padding: 30px;
                float: none;
                border-left: 1px solid #d6dcec;
            }
            &-name {
                font-size: @f-size-xxl;
                font-weight: bold;
                float: left;
                width: 50%;
                a {
                    color: inherit;
                }
                margin-bottom: 20px;
                margin-top: 0;
            }
            .sku-avali {
                float: right;
                width: 50%;
                text-align: right;
                >* {
                    display: inline-block;
                    vertical-align: middle;
                    padding: 0 15px;
                    font-size: 12px;
                    text-transform: uppercase;
                }
                .avaiablity {
                    padding-right: 0;
                }
                strong {
                    margin-right: 5px;
                }
            }
            .price-box {
                margin-bottom: 30px;
                clear: both;
            }
            .price {
                color: @color-crimson;
                font-weight: bold;
                font-size: 30px;
            }
            &-description {
                font-size: @f-size;
                color: @color-black;
                clear: both;
                margin-bottom: 20px;
                a {
                    display: none;
                }
            }
            .actions-secondary {
                display: inline-block;
                width: auto;
                padding-left: 0;
            }
            .tocompare {
                .disp(none) !important;
            }
            .towishlist {
                margin-left: 20px;
                border: 1px solid #d7dded;
                .hw(40px,
                40px);
                text-align: center;
                line-height: 40px;
                color: @color-darkslategray;
                display: inline-block;
                &:before {
                    .disp(none);
                }
            }
            &-actions>*,
            .actions-primary>* {
                float: left;
                .unavailable {
                    display: none;
                }
            }
            .no-stock {
                .quick-view {
                    margin-left: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .products-grid {
        .product-item-info {
            .product-item-actions {
                .actions-primary {
                    .action {
                        padding: 15px;
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:1200px) and (max-width:1336px) {
    .catalog-category-view {
        .products-grid {
            .product-item {
                width: 33%;
            }
        }
    }
}


@media screen and (max-width:1666px) {
    .products-grid {
        .product-item-info{
            padding: 30px;
        }
    }
    }


@media screen and (max-width:1336px) {
.products-grid {
    .product-item-info{
        padding: 20px;
    }
}
}

@media screen and (max-width: 1023px) {
    .products-list {
        .product-item {
            &+.product-item {
                margin-top: -1px;
            }
            .product-item-photo {
                width: 18%;
                padding: 20px;
            }
            .product-item-details {
                padding: 20px;
            }
            .product-item-name {
                margin-bottom: 10px;
            }
            .product-item-name,
            .sku-avali {
                float: none;
                width: 100%;
                text-align: left;
            }
            .sku-avali {
                >* {
                    font-size: 10px;
                }
                .sku-sec {
                    padding-left: 0;
                }
            }
            .actions {
                .action:not(.towishlist) {
                    padding: 13px 10px;
                    font-size: 11px;
                }
                .towishlist,
                .quick-view {
                    margin-left: 15px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .products {
        .product-item-info {
            &:hover,
            &.active {
                box-shadow: 0 0 28px 2px rgba(0, 0, 0, 0.1), 0 8px 28px 2px rgba(0, 0, 0, 0.1);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .page-products {
        .page-main {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .products {
        .product-item-info {
            .product-image-photo {
                max-width: 75%;
            }
        }
        .products-grid {
            .product-item-info {
                padding: 290px;
                min-height: 240px;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________
.media-width(@extremum,
@break) when (@extremum ='max') and (@break =@screen__m) {
    .page-with-filter {
        .sidebar-main {
            .filter {
                padding-bottom: 0;
                background: none;
                &-title {
                    display: inline-block;
                    border-bottom: 0;
                }
                &-content {
                    .disp(none);
                }
                &.active {
                    .filter-content {
                        .disp(block);
                        background: @color-whitesmoke;
                    }
                }
            }
        }
    }
    .products-grid {
        .product-item-info {
            padding: 10px;
            min-height: 260px;
            .product-item-name {
                a {
                    font-size: 10px;
                    line-height: normal;
                }
            }

            .price-box {
                .price{
                    font-size: 12px;
                }
            }
        }


    }
}