.review-control-vote {
    label {
        &:before {
            color: @color-btn;
        }
    }
}

.review-product-list {
    .pdp {
        .product-info-main {
            .product-info-price {
                .price-box {
                    padding-top: 10px;
                }
            }
        }
    }
}

.review-product-list,
.catalog-product-view {
    a[href*="http://www.magictoolbox.com/magicscroll"] {
        display: none !important;
    }
    .product-widget__inner {
        margin-left: 1px;
    }
    .pdp {
        margin-top: 20px;
        .product-label {
            display: none;
        }
        display: table;
        border-collapse: collapse;
        width: 100%;
        .product {
            &.media {
                display: table-cell;
                width: 70%;
                border: 1px solid #d7dded;
                float: none;
                vertical-align: middle;
                .mz-lens {
                    .disp(none);
                }
                .MagicScroll-vertical {
                    span {
                        display: none !important;
                    }
                }
                #mtVideoContainer>div {
                    width: 75%;
                }
                .mcs-wrapper {
                    top: 24px;
                    bottom: 24px;
                    display: block !important;
                    .mcs-item {
                        border: 1px solid #d7dded;
                        margin: 0 -1px -1px;
                        a {
                            height: auto;
                        }
                        .mt-thumb-switcher {
                            &.active-selector {
                                img {
                                    filter: none !important;
                                }
                            }
                        }
                        .mz-thumb {
                            padding: 10px;
                            &:hover:not(.mz-thumb-selected) img {
                                filter: none !important;
                                img:active {
                                    filter: none !important;
                                }
                            }
                        }
                        .mz-thumb {
                            img {
                                box-shadow: none;
                            }
                        }
                    }
                }
                figure {
                    &.mz-figure {
                        padding: 30px 0;
                    }
                }
                .mcs-button-arrow {
                    box-shadow: none;
                    border-radius: 0;
                    display: block;
                    width: 100%;
                    height: 26px;
                    opacity: 1;
                    color: #000;
                    &:before {
                        border-color: #000;
                    }
                    &.mcs-button-arrow-prev {
                        border: 1px solid #d7dded;
                        top: 0;
                    }
                    &.mcs-button-arrow-next {
                        border: 1px solid #d7dded;
                        bottom: 0 !important;
                        margin: -1px;
                        &:before {
                            border-color: 0;
                        }
                    }
                }
            }
        }
        .product-info-main {
            display: table-cell;
            background-color: #f2f5f8;
            border: 1px solid #d7dded;
            padding: 0;
            width: auto;
            float: none;
            vertical-align: top;
            .product-info-price {
                border-bottom: 1px solid #d7dded;
                width: 100% !important;
            }
            .page-title-wrapper {
                padding: 0 20px;
                h1 {
                    font-size: 15px;
                    font-weight: bold;
                }
            }
            .price-box {
                padding: 0 20px;
                color: #e32129;
                font-weight: bold;
                .price-label {
                    font-size: 15px;
                }
                .price {
                    font-size: 22px;
                }
                .old-price {
                    .price {
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
            }
            .overview {
                border-bottom: 1px solid #d7dded;
                padding: 25px 20px;
                margin: 0 !important;
            }
            .product-info-stock-sku {
                border-bottom: 1px solid #d7dded;
                display: table;
                padding: 25px 20px;
                text-align: left;
                border-collapse: separate;
                width: 100%;
                .stock {
                    display: table-cell;
                    float: right;
                }
                .sku {
                    display: table-cell;
                    text-align: right;
                    font-weight: bold;
                    float: left;
                }
            }
            .price-tier_price,
            .maindiv-social,
            .maindiv-social>ul {
                display: none;
            }
            .product-alert {
                border-bottom: 1px solid #d7dded;
                .product {}
                .product {
                    margin: 0;
                    padding: 25px 20px;
                }
                .btn-alert {
                    .button();
                    text-transform: uppercase;
                    margin-bottom: 0;
                }
            }
            .product-options-wrapper {
                .fieldset>.field {
                    margin-bottom: 0;
                }
            }
            .product-add-form {
                padding: 25px 20px;
                .box-tocart {
                    position: relative;
                    .clearfix();
                    .fieldset {
                        margin: 0;
                    }
                    button {
                        padding: 0 10px;
                        float: left;
                        border: 1px solid #d7dded;
                        border-radius: 0;
                        background: #f2f5f8;
                        width: 30px;
                        margin: -1px;
                        height: 40px;
                        box-shadow: none;
                        font-size: 12px;
                        font-weight: bold;
                    }
                    .qty {
                        float: left;
                        font-weight: bold;
                        height: 40px;
                        width: 40px;
                        background: #f2f5f8;
                        border: 1px solid #d7dded;
                        margin: -1px;
                        label {
                            display: none;
                        }
                        &:focus {
                            box-shadow: none;
                        }
                        div.mage-error[generated] {
                            position: absolute;
                            bottom: -20px;
                            left: 0;
                            font-size: 12px;
                            font-weight: normal;
                        }
                    }
                    .primary {
                        margin-top: 0;
                        margin-right: 15px;
                        margin-left: 15px;
                        .button();
                        color: #fff;
                        width: 30%;
                        float: left;
                        font-size: 12px;
                        text-transform: uppercase;
                    }
                    .btn-callforprice {
                        width: auto;
                        margin-left: 0;
                    }
                }
            }
            .product-social-links {
                margin: 0;
                text-align: left;
                >div {
                    display: inline-block;
                    vertical-align: middle;
                }
                #um-sharing-productpage {
                    padding: 0 !important;
                    margin-left: 10px;
                    position: static;
                }
                .towishlist {
                    border: 1px solid #d7dded;
                    color: #d7dded;
                    width: 40px;
                    height: 40px;
                    display: block;
                    &:before {
                        display: none;
                    }
                    .fa-heart-o {
                        display: block;
                        line-height: 40px;
                        text-align: center;
                    }
                }
                .addthis_toolbox {
                    a:not(.addthis_button_compact),
                    .addthis_counter {
                        display: none !important;
                    }
                    .addthis_button_compact {
                        .at-icon-wrapper {
                            display: none;
                        }
                        .share-ic {
                            border: 1px solid #d7dded;
                            color: #d7dded;
                            width: 40px;
                            height: 40px;
                            display: block;
                            .fa-share-alt {
                                display: block;
                                line-height: 40px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
            >.actions {
                margin: 20px;
            }
            >.notify-me {
                margin: 0;
                ~.product-add-form {
                    display: none;
                }
                ~.product-social-links {
                    padding: 25px 20px;
                }
            }
        }
    }
    .detailed {
        text-align: center;
        ul {
            margin: 0;
            padding: 0 15px;
            li {
                list-style-type: circle;
                list-style-position: outside;
            }
        }
        >.review-add {
            margin-top: 50px;
            padding: 35px 35px 35px 35px;
            border: 1px solid #d7dded;
            text-align: left;
        }
        .review-add {
            .review-legend {
                border-bottom: 0;
                margin-bottom: 15px;
            }
            .review-field-ratings {
                legend {
                    text-align: left;
                    padding: 10px 0;
                    border-bottom: 0;
                    font-size: 15px;
                }
                .label {
                    font-size: 13px;
                }
            }
        }
        .review-form-actions {
            .action.button-full {
                margin-top: 10px;
                margin-right: 10px;
                text-transform: uppercase;
                .button();
                width: 100%;
                height: 50px;
                font-weight: bold;
                &:hover {
                    color: #fff;
                }
            }
        }
        .product {
            &.data {
                &.items {
                    border: 1px solid #d7dded;
                    padding: 0;
                    margin-top: 30px;
                    margin-left: 1px;
                    >.item {
                        &.title {
                            display: inline-block;
                            float: none;
                            padding: 0 20px;
                            text-transform: uppercase;
                            &.active {
                                .switch {
                                    color: #1c3f93;
                                    cursor: default;
                                    background-color: #fff;
                                    border-bottom: 2px solid #1c3f93;
                                }
                                &:hover {
                                    color: #1c3f93;
                                }
                            }
                            >.switch {
                                border: 0;
                                color: #000;
                                background: #fff;
                                height: auto;
                                font-weight: bold;
                                padding: 20px 0;
                                position: relative;
                                margin-top: 2px;
                                line-height: 38px;
                                &:focus {
                                    color: #1c3f93 !important;
                                    outline: none;
                                    padding: 20px 0;
                                }
                                &:hover {
                                    color: #000;
                                    text-decoration: none;
                                    padding-bottom: 20px;
                                }
                            }
                            &:visited {
                                color: #000;
                                background: #fff;
                                text-decoration: none;
                            }
                        }
                        &.content {
                            border-top: 1px solid #d7dded;
                            text-align: left;
                            margin-top: 80px;
                            .sub-content {
                                max-width: 1140px;
                                margin: 0 auto;
                            }
                            .form-group {
                                position: relative;
                                .label {
                                    position: absolute;
                                    z-index: 1;
                                    color: #ccc;
                                    left: 10px;
                                    font-size: 13px;
                                    background: #fff;
                                    top: 15px;
                                    pointer-events: none;
                                    transition: all .5s ease 0s;
                                }
                                &.focused label {
                                    top: -7px;
                                    font-size: 11px;
                                }
                                .form-control-wrap {
                                    display: block;
                                    position: relative;
                                    .form-control {
                                        display: block;
                                        width: 100%;
                                        padding: 6px 45px 6px 10px;
                                        font-size: 14px;
                                        line-height: 1.42857143;
                                        color: #000;
                                        background-color: #fff;
                                        background-image: none;
                                        border: 1px solid #d7dded;
                                        border-radius: 0;
                                        box-shadow: none;
                                        &:focus {
                                            border-color: #000;
                                            box-shadow: none;
                                        }
                                        &.input-text {
                                            height: 50px;
                                        }
                                        .secondary a {
                                            color: #000;
                                            text-decoration: none;
                                        }
                                    }
                                }
                            }
                            .additional-attributes {
                                .label {
                                    font-size: 13px;
                                    text-transform: capitalize;
                                }
                            }
                            textarea {
                                &.input-text {
                                    height: 100px !important;
                                }
                            }
                            .label {
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:1666px) {
    .review-product-list,
    .catalog-product-view {
        .pdp {
            .product.media {
                width: 60%;
            }
        }
    }
}

@media only screen and (max-width:1200px) {
    .review-product-list,
    .catalog-product-view {
        .pdp {
            .product.media {
                width: 45%;
            }
        }
    }
}

@media only screen and (max-width:992px) {
    body.review-product-list,
    body.catalog-product-view {
        .pdp {
            display: block;
            .product {
                &.media {
                    width: 100%;
                    margin-bottom: 0;
                    display: block;
                }
            }
            .product-info-main {
                display: block;
                width: 100%;
                margin-top: -1px;
                .product-add-form {
                    padding: 30px 20px;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m + 1) {
    .review-product-list,
    .catalog-product-view {
        .product-widget__inner {
            margin-left: -15px;
            margin-right: -15px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
    .review-product-list,
    .catalog-product-view {
        .page-main {
            padding-left: 15px;
            padding-right: 15px;
        }
        .product-widget__inner {
            margin-left: 1px;
            .slick-arrow {
                &.slick-prev {
                    left: -15px;
                }
                &.slick-next {
                    right: -15px;
                }
            }
        }
        .pdp {
            display: block;
            .product {
                &.media {
                    width: 30%;
                    .mcs-button {
                        display: none !important;
                    }
                    .mcs-item {
                        border-top: 1px solid #d7dded;
                    }
                }
            }
            .product-info-main {
                .product-options-wrapper {
                    margin-bottom: 20px;
                }
                .product-add-form {
                    .box-tocart {
                        margin: 0;
                        .fieldset {
                            display: inline-block;
                            width: 100%;
                            margin-bottom: 20px;
                            position: relative;
                        }
                        .primary {
                            margin: 0;
                            float: none;
                        }
                        .btn-callforprice {
                            margin-top: 0;
                        }
                    }
                    .product-social-links {
                        text-align: left;
                        clear: left;
                        margin-top: 20px;
                    }
                }
            }
        }
        .detailed {
            >.review-add {
                padding: 30px 15px 30px;
            }
            .product {
                &.data {
                    &.items {
                        >.item {
                            &.title {
                                border-top: 1px solid #d7dded;
                                &.active {
                                    .switch {
                                        color: #fff;
                                    }
                                }
                            }
                            &.title:first-child {
                                border-top: 0;
                            }
                            &.content {
                                border-top: 0;
                            }
                        }
                    }
                }
            }
        }
        .detailed {
            .product {
                &.data {
                    &.items {
                        >.title {
                            padding: 0;
                            text-align: left;
                            .switch {
                                padding: 10px 0px !important;
                            }
                            &.active {
                                a:after {
                                    content: '\e621';
                                }
                                background: #3e5ca3;
                                .switch {
                                    background: #3e5ca3 !important;
                                    border-bottom: 0 !important;
                                    color: #fff;
                                    padding: 0;
                                    &:focus {
                                        color: #fff !important;
                                    }
                                }
                            }
                            a:after {
                                position: absolute;
                                right: 10px;
                                top: 10px;
                                -webkit-font-smoothing: antialiased;
                                font-size: 14px;
                                line-height: inherit;
                                color: inherit;
                                content: '\e622';
                                font-family: 'luma-icons';
                                vertical-align: middle;
                                display: inline-block;
                                font-weight: normal;
                                overflow: hidden;
                                speak: none;
                                text-align: center;
                            }
                        }
                        .content {
                            margin-top: 20px !important;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:480px) {
    .review-product-list,
    .catalog-product-view {
        .pdp {
            .product {
                &.media {
                    #mtImageContainer {
                        padding: 0 20px
                    }
                }
            }
            .product-info-main {
                .product-add-form {
                    .box-tocart {
                        .primary {
                            width: 50%;
                        }
                    }
                    .product-social-links {
                        text-align: left;
                        .towishlist {
                            margin-left: 0;
                        }
                        .um-socialshare {
                            margin-left: 10px;
                        }
                    }
                }
                .product-addto-links,
                .um-socialshare {
                    margin-top: 20px;
                }
            }
        }
    }
}

/****************** quick-view **************/

.mfp-wrap {
    .mfp-preloader {
        width: 30px !important;
    }
}

.mfp-iframe-holder {
    .mfp-close {
        background: #d7dded;
        border-radius: 0;
        color: #000;
        padding: 0 15px;
        opacity: 1;
        width: auto;
    }
}

body.weltpixel-quickview-catalog-product-view {
    .sticky-container {
        display: none;
    }
    .product-widget__inner {
        display: none;
    }
    .page-wrapper {
        .page-main {
            padding: 0;
            min-height: auto;
        }
    }
    .column {
        &.main {
            display: block;
        }
    }
    .pdp {
        display: table;
        margin-top: 0;
        .product {
            &.media {
                width: 50%;
                padding: 20px;
                vertical-align: middle;
                display: table-cell;
                .MagicToolboxSelectorsContainer {
                    display: none;
                }
            }
        }
        .product-info-main {
            width: 50%;
            display: table-cell;
            .page-title {
                padding: 15px 0;
                margin-bottom: 0;
                font-size: 20px !important;
            }
            .product-info-price {
                margin-bottom: 0;
            }
            .overview {
                max-height: 130px;
                overflow-y: auto;
            }
            .product-info-stock-sku {
                padding: 20px;
            }
            .product-add-form {
                display: inline-block;
                width: 100%;
                padding: 20px;
                .box-tocart {
                    width: 50%;
                    float: left;
                    margin: 0;
                    .primary {
                        width: 100%;
                        margin: 0;
                        .button();
                    }
                }
                .product-options-wrapper {
                    margin-bottom: 20px;
                }
                .box-gotoproduct {
                    width: 50%;
                    float: left;
                    #product-gotoproduct-button {
                        width: 90%;
                        padding: 9px 17px;
                        .button();
                        height: 40px;
                        margin-top: 0;
                        margin-right: 15px;
                        margin-left: 15px;
                        float: left;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .mfp-iframe-holder {
        .mfp-close {
            top: 0px;
            right: -46px;
        }
    }
}

@media screen and (max-width: 1023px) {
    .mfp-iframe-holder {
        .mfp-content {
            .mfp-close {
                width: 50px;
                top: -44px;
                right: 0;
                padding: 0;
                text-align: center;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum ='max') and (@break=@screen__s) {
    .mfp-wrap {
        .mfp-container {
            padding-top: 6px;
            padding-bottom: 6px;
        }
    }
    body.weltpixel-quickview-catalog-product-view {
        .pdp {
            .product.media,
            .product-info-main {
                width: 100%;
                display: block;
                .product-add-form {
                    .box-gotoproduct #product-gotoproduct-button,
                    .box-tocart .primary {
                        font-size: 10px;
                    }
                    .box-gotoproduct #product-gotoproduct-button {
                        padding: 12px 2px;
                    }
                }
            }
        }
    }
    .review-product-list,
    .catalog-product-view {
        .pdp {
            .product.media {
                .MagicToolboxSelectorsContainer {
                    display: none;
                }
                .MagicToolboxContainer {
                    .MagicScroll {
                        margin-top: 0;
                    }
                    overflow: visible;
                    .mcs-wrapper {
                        position: static;
                        top: 0;
                        bottom: 0;
                        display: inline-block !important;
                    }
                }
                .MagicToolboxMainContainer {
                    padding-left: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 639px) {
    .review-product-list,
    .catalog-product-view {
        .product-info-price {
            margin: 0;
        }
    }
}