.catalog-product-view {
    .pdp {
        display: table;
        border-collapse: collapse;
        width: 100%;
        .product {
            &.media {
                display: table-cell;
                width: 70%;
                border: 1px solid #d7dded;
                float: none;
                .MagicScroll-vertical {
                    span {
                        display: none !important;
                    }
                }
                .mcs-wrapper {
                    top: 24px;
                    bottom: 24px;
                    display: block !important;
                    .mcs-item {
                        border-bottom: 1px solid #d7dded;
                        border-right: 1px solid #d7dded;
                        .mt-thumb-switcher {
                            &.active-selector {
                                img {
                                    filter: none !important;
                                }
                            }
                        }
                        .mz-thumb {
                            padding: 10px 25px;
                            &:hover:not(.mz-thumb-selected) img {
                                filter: none !important;
                                img:active {
                                    filter: none !important;
                                }
                            }
                        }
                        .mz-thumb {
                            img {
                                box-shadow: none;
                            }
                        }
                    }
                }
                figure {
                    &.mz-figure {
                        padding: 30px 0;
                    }
                }
                .mcs-button-arrow {
                    box-shadow: none;
                    border-radius: 0;
                    display: block;
                    width: 100%;
                    height: 26px;
                    opacity: 1;
                    color: #000;
                    &:before {
                        border-color: #000;
                    }
                    &.mcs-button-arrow-prev {
                        border-bottom: 1px solid #d7dded;
                        border-right: 1px solid #d7dded;
                        top: 0;
                    }
                    &.mcs-button-arrow-next {
                        border-top: 1px solid #d7dded;
                        border-right: 1px solid #d7dded;
                        bottom: 0 !important;
                        &:before {
                            border-color: 0;
                        }
                    }
                }
            }
        }
        .product-info-main {
            display: table-cell;
            background-color: #f2f5f8;
            border: 1px solid #d7dded;
            padding: 0;
            width: auto;
            float: none;
            vertical-align: top;
            .product-info-price {
                border-bottom: 1px solid #d7dded;
            }
            .page-title-wrapper {
                padding: 0 20px;
                h1 {
                    font-size: 15px;
                    font-weight: bold;
                }
            }
            .price-box {
                padding: 0 20px;
                color: #e32129;
                font-weight: bold;
                .price-container {
                    .price {
                        font-size: 22px;
                    }
                }
            }
            .overview {
                border-bottom: 1px solid #d7dded;
                padding: 25px 20px;
                margin: 0 !important;
            }
            .product-info-stock-sku {
                border-bottom: 1px solid #d7dded;
                display: table;
                padding: 25px 20px;
                text-align: left;
                border-collapse: separate;
                width: 100%;
                .stock {
                    display: table-cell;
                    float: right;
                    &.available {
                        span {
                            color: #006400;
                        }
                    }
                    &.unavailable {
                        span {
                            color: #e02b27;
                        }
                    }
                }
                .sku {
                    display: table-cell;
                    text-align: right;
                    font-weight: bold;
                    float: left;
                }
            }
            .product-add-form {
                padding: 45px 20px;
                .box-tocart {
                    position: relative;
                    .fieldset {
                        margin: 0;
                    }
                    button {
                        padding: 0 10px;
                        float: left;
                        border: 1px solid #d7dded;
                        border-radius: 0;
                        background: #f2f5f8;
                        width: 45px;
                        margin: -1px;
                        height: 40px;
                        box-shadow: none;
                        font-size: 20px;
                        font-weight: bold;
                    }
                    .qty {
                        float: left;
                        font-weight: bold;
                        height: 40px;
                        background: #f2f5f8;
                        border: 1px solid #d7dded;
                        margin: -1px;
                        label {
                            display: none;
                        }
                        &:focus {
                            box-shadow: none;
                        }
                        div.mage-error[generated]{
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            font-size: 12px;
                            font-weight: normal;
                        }
                    }
                    .primary {
                        margin-top: 0;
                        margin-right: 25px;
                        margin-left: 20px;
                        background-color: #040404;
                        color: #fff;
                        border: 1px solid #000;
                        width: 30%;
                        float: left;
                        font-size: 15px;
                        text-transform: uppercase;
                    }
                }
            }
            .product-social-links {
                margin: 0;
                >div {
                    display: inline-block;
                    vertical-align: middle;
                }
                #um-sharing-productpage {
                    padding: 0 !important;
                    margin-left: 20px;
                    position: static;
                }

                .towishlist {
                    border: 1px solid #d7dded;
                    color: #d7dded;
                    width: 40px;
                    height: 40px;
                    display: block;
                    &:before {
                        display: none;
                    }
                    .fa-heart-o {
                        display: block;
                        line-height: 40px;
                        text-align: center;
                    }
                }
                .addthis_toolbox {
                    a:not(.addthis_button_compact), .addthis_counter {
                        display: none !important;
                    }
                    .addthis_button_compact {
                        .at-icon-wrapper {
                            display: none;
                        }
                        .share-ic {
                            border: 1px solid #d7dded;
                            color: #d7dded;
                            width: 40px;
                            height: 40px;
                            display: block;
                            .fa-share-alt {
                                display: block;
                                line-height: 40px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
    .detailed {
        text-align: center;
        ul {
            margin: 0;
            padding: 0 15px;
            li {
                list-style-type: circle;
                list-style-position: outside;
            }
        }
        .product {
            &.data {
                &.items {
                    border: 1px solid #d7dded;
                    padding: 0;
                    margin-top: 30px;
                    >.item {
                        &.title {
                            display: inline-block;
                            float: none;
                            padding: 0 20px;
                            text-transform: uppercase;
                            &.active {
                                .switch {
                                    color: #1c3f93;
                                    cursor: default;
                                    background-color: #fff;
                                    border-bottom: 2px solid #1c3f93;
                                }
                                &:hover {
                                    color: #1c3f93;
                                }
                            }
                            >.switch {
                                border: 0;
                                color: #000;
                                background: #fff;
                                height: auto;
                                font-weight: bold;
                                padding: 20px 0;
                                position: relative;
                                &:focus {
                                    color: #1c3f93 !important;
                                    outline: none;
                                    padding: 20px 0;
                                }
                                &:hover {
                                    color: #000;
                                    text-decoration: none;
                                }
                            }
                            &:visited {
                                color: #000;
                                background: #fff;
                                text-decoration: none;
                            }
                        }
                        &.content {
                            border-top: 1px solid #d7dded;
                            text-align: left;
                            margin-top: 80px;
                            .sub-content {
                                max-width: 1140px;
                                margin: 0 auto;
                            }
                            .form-group {
                                position: relative;
                                .label {
                                    position: absolute;
                                    z-index: 1;
                                    color: #d7dded;
                                    left: 10px;
                                    font-size: 13px;
                                    background: #fff;
                                    top: 15px;
                                    pointer-events: none;
                                    transition: all .5s ease 0s;
                                }
                                &.focused label {
                                    top: -7px;
                                    color: #d7dded;
                                    font-size: 11px;
                                }
                                .form-control-wrap {
                                    display: block;
                                    position: relative;
                                    .form-control {
                                        display: block;
                                        width: 100%;
                                        padding: 6px 45px 6px 10px;
                                        font-size: 14px;
                                        line-height: 1.42857143;
                                        color: #000;
                                        background-color: #fff;
                                        background-image: none;
                                        border: 1px solid #d7dded;
                                        border-radius: 0;
                                        box-shadow: none;
                                        &:focus {
                                            border-color: #000;
                                            box-shadow: none;
                                        }
                                        &.input-text {
                                            height: 50px;
                                        }
                                        .secondary a {
                                            color: #000;
                                            text-decoration: none;
                                        }
                                    }
                                }
                            }
                            .additional-attributes {
                                .label {
                                    font-size: 13px;
                                }
                            }
                            .review-legend {
                                border-bottom: 0;
                                margin-bottom: 15px;
                            }
                            .review-field-ratings {
                                legend {
                                    text-align: left;
                                    padding: 10px 0;
                                    border-bottom: 0;
                                    font-size: 15px;
                                }
                                .label {
                                    font-size: 13px;
                                }
                            }
                            .review-form-actions {
                                .button-full {
                                    margin-top: 10px;
                                    margin-right: 10px;
                                    background-color: #000;
                                    color: #fff;
                                    border: 1px solid #000;
                                    border-radius: 0;
                                    width: 100%;
                                    height: 50px;
                                    font-weight: bold;
                                    &:hover {
                                        color: #fff;
                                    }
                                }
                            }
                            textarea {
                                &.input-text {
                                    height: 100px !important;
                                }
                            }
                            .label {
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
    }
}




@media only screen and (max-width:1666px) {
    .catalog-product-view {
        .pdp {
            .product.media {
                width: 60%;
            }
        }
    }
}

@media only screen and (max-width:1366px) {}

@media only screen and (max-width:1200px) {
    .catalog-product-view {
        .pdp {
            .product.media {
                width: 45% !important;
            }
           
        }
    }
}

@media only screen and (max-width:992px) {
    .catalog-product-view {
        .pdp {
            display: block;
            .product {
                &.media {
                    width: 45%;
                }
            }
            .product-info-main {
                display: block;
                width: 100%;
                .product-add-form {
                    padding: 30px 20px;
                }
            }
        }
    }
}

@media only screen and (max-width:767px) {
    .catalog-product-view {
        .page-main {
            padding-left: 15px;
            padding-right: 15px;
        }
        .pdp {
            display: block;
            .product {
                &.media {
                    width: 30%;
                    
                        .mcs-button {
                           display: none !important;
                        }
                        .mcs-item {
                            border-top: 1px solid #d7dded;  
                        }
                    
                }
            }
            .product-info-main {
                .product-social-links {
                    text-align: left;
                }
            }
        }
        .detailed {
            .product {
                &.data {
                    &.items {
                        > .item {
                            &.title {
                                border-top: 1px solid #d7dded;
                                &.active {
                                    .switch {
                                        padding-bottom: 20px;
                                        color: #fff;
                                    }
                                }
                            }
                            &.title:first-child {
                                border-top: 0;
                            }
                            &.content {
                                border-top: 0;
                            }
                        }
                    }
                }
            }
        }
        .detailed {
            .product {
                &.data {
                    &.items {
                        >.title {
                            padding: 0;
                            text-align: left;
                            .switch {
                                padding: 10px 20px;
                            }
                            &.active {
                                a:after {
                                    content: '\e621';
                                }
                                background: #3e5ca3;
                                .switch {
                                    background: #3e5ca3 !important;
                                    border-bottom: 0 !important;
                                    color: #fff;
                                    padding-bottom: 20px;
                                    &:focus {
                                        color: #fff !important;
                                    }
                                }
                            }
                            a:after {
                                position: absolute;
                                right: 10px;
                                top: 20px;
                                -webkit-font-smoothing: antialiased;
                                font-size: 14px;
                                line-height: inherit;
                                color: inherit;
                                content: '\e622';
                                font-family: 'luma-icons';
                                vertical-align: middle;
                                display: inline-block;
                                font-weight: normal;
                                overflow: hidden;
                                speak: none;
                                text-align: center;
                            }
                        }
                        .content {
                            margin-top: 20px !important;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:480px) {
    .catalog-product-view {
        .pdp {
            .product {
                &.media {
                    #mtImageContainer {
                        padding: 0 20px
                    }
                }
            }

            .product-info-main {
                .product-add-form {
                    .box-tocart {
                        .primary {
                            width: 50%;
                        }
                    }
                    .product-social-links {
                        text-align: left;
                        .towishlist {
                            margin-left: 0;
                        }
                        .um-socialshare {
                            
                            margin-left: 10px;
                        }
                    }
                }
                .product-addto-links, .um-socialshare {
                    margin-top: 20px;
                }
            }

        }
    }
}









/****************** quick-view **************/

.mfp-wrap{
.mfp-preloader {
    width: 30px !important;
}
}
.mfp-iframe-holder {
    .mfp-close {
        top: 0px;
        right: -46px;
        background: #d7dded;
        border-radius: 0;
        color: #000;
        padding: 0 15px;
        opacity: 1;
        width: auto;
    }
}

body.weltpixel-quickview-catalog-product-view {
    .sticky-container {
        display: none;
    }

    .product-widget__inner {
        display: none;
    }
    .page-wrapper {
        
        .page-main {
            padding: 0;
            min-height: auto;
        }

        
    }
    .column {
        &.main {
            display: block;
        }
    }
    .pdp {   
        display: table;     
        margin-top: 0;
        .product {
            &.media {
                width: 50%;
                padding: 20px;
                vertical-align: middle; 
                display: table-cell;              
                .MagicToolboxSelectorsContainer {
                    display: none;
                }
            }
        }
        .product-info-main {
            width: 50%;         
            display: table-cell;
            .page-title {
                padding: 20px 0;
            }
            .product-add-form {
                display: inline-block;
                width: 100%;
                .box-tocart {
                    width: 50%;
                    float: left;
                    margin: 0;
                    .primary {
                        width: 100%;
                        margin: 0;
                    }
                }
                .box-gotoproduct {
                    width: 50%;
                    float: left;
                    #product-gotoproduct-button {
                        width: 90%;
                        padding: 9px 17px;
                    }
                    .primary {
                        margin-top: 0;
                        margin-right: 15px;
                        margin-left: 15px;
                        background-color: #040404;
                        color: #fff;
                        border: 1px solid #000;
                        width: 35%;
                        float: left;
                        font-size: 15px !important;
                        font-weight: bold;
                        text-transform: uppercase;
                        border-radius: 0 !important;
                    }
                }
            }
        }
    }
}