//
//  Common
//  _____________________________________________

& when (@media-common = true) {


    .paypal-button.paypal-button-context-iframe {
        display: none !important;
    }



    .checkout-index-index {
        
        .opc-progress-bar-item{
            &._active {

                &:before {
                    .lib-css(background, @color-sky-blue);
                    .lib-css(border-color, @color-sky-blue);
                }
                > span {
                    .lib-css(color, @color-blue);
                    &:before {
                        .lib-css(background, @color-sky-blue);
                    }
                    &:before,
                    &:after {
                        .lib-css(border-color, @color-sky-blue);
                    }
                }
            }
            &._complete {
                > span {
                    .lib-css(color, @color-icons);
                    font-weight: 600;
                }
            }
        }
        
        .paypal-button.paypal-button-context-iframe {
            display: block !important;
        }
        
        ul.nav-tabs {
            display:none;
        }

        .page-wrapper {

            > .minicart-wrapper {
                display: none;
            }
        }

        .column.main {
            .container-lg();
            padding-top: 50px;
        }

        .field {
            .control._with-tooltip {
                input {
                    margin-right: 0;
                    width: 100%;
                }

                .field-tooltip {
                    right: 8px;
                    top: 8px;
                }
            }
        }


        .opc-wrapper {
            .shipping-address-items {
                .flex();
                justify-content: space-between;
            }
            .shipping-address-item{
                border-color: @color-sky-blue;
                .flex-width(48%);
                &.selected-item {
                    border-color: @color-sky-blue;
                    &:after {
                        .lib-css(background, @color-sky-blue);
                    }
                }


            }

            .action-select-shipping-item,
            .action-show-popup {
                .button();
                .box-shadow(none);
            }

            .step-title {
                border-bottom-color: @color-gray;
                font-weight: bold;
                font-size: 18px;
            }
        }

        .opc-estimated-wrapper {
            .minicart-wrapper {
                position: relative;
            }
        }

        .methods-shipping {
            .price {
                .lib-css(color, @color-blue);
            }
        }


        .checkout-payment-method {
            .checkout-billing-address {
                .billing-address-details {
                    border: 2px solid @color-sky-blue;
                    padding: 20px;
                    .br-radius(5px);

                    .action-edit-address {
                        .button();
                        .box-shadow(none);
                    }
                }
            }

            .shipping-information {
                > [class*="ship"] {
                    border: 2px solid @color-sky-blue;
                    margin-bottom: 20px;
                    .br-radius(5px);

                    .shipping-information-title {
                        .lib-css(background, @color-sky-blue);
                        .lib-css(color, @color-white);
                        padding: 5px 20px;
                        font-size: 18px;
                        .flex();
                        justify-content: space-between;
                        align-items: center;

                    }

                    .shipping-information-content {
                        padding: 20px;
                    }

                    &.ship-via {
                        display: none;
                    }
                }

                .action {
                    &-edit {
                        background: transparent;
                        color: @color-white;
                        font-size: 20px;
                        border: none;
                        .box-shadow(none);
                        &:before {
                            content: '\e601';
                            font-family: 'luma-icons';
                        }

                        > span {
                            border: 0;
                            clip: rect(0, 0, 0, 0);
                            height: 1px;
                            margin: -1px;
                            overflow: hidden;
                            padding: 0;
                            position: absolute;
                            width: 1px;
                        }
                    }
                }
            }
        }


        .opc-sidebar {
            .modal-content {
                .br-radius(5px 5px 0 0);

            }
            .opc-block-summary{
                background: @color-aliceblue;
                margin-bottom: 0;
                padding: 0;

                > .title {
                    .lib-css(background, @color-sky-blue);
                    .lib-css(color, @color-white);
                    .br-radius(5px 5px 0 0);
                    padding-bottom: 0;
                    text-align: center;
                    font-weight: bold;
                    font-size: 16px;
                    padding: 15px 30px;
                }

                .items-in-cart {
                    > .title {
                        .lib-css(color, @color-blue);
                        font-size: 14px;
                        border-bottom: @color-gray;
                        &:after {
                            content: '\e621';
                        }
                    }
                    margin-bottom: 0;

                    .product {
                        .item-options {
                            dt {
                                margin-bottom: 0;
                            }
                        }
                    }

                    .product-item{
                        &:not(:first-child) {
                            border-color: @color-gray;
                        }
                    }

                    .minicart-items {
                        display: block !important;
                    }

                    &.active {
                        > .title {
                            &:after {
                                content: '\e622';
                            }
                        }
                        .minicart-items {
                            display: none !important;
                        }
                    }
                }

                .shipping-delivery-date,
                .shipping-pickup-date{
                    .lib-css(background, @color-white);
                    padding: 20px;
                    text-align: center;

                    span {
                        &:first-child {
                            color: @color-blue;
                            font-weight: bold;
                        }
                    }
                }

                .modal-content {
                    border-color: @color-aliceblue;
                }

                .items-in-cart {
                    padding: 10px 20px 20px;


                }

                .minicart-items {
                    .product-item-name {
                        color: @color-blue;
                        font-weight: 600;
                    }
                    .price {
                        color: @color-red;
                        font-weight: 600;
                    }
                }


                .table {
                    margin-bottom: 0;
                    .lib-css(color, @color-blue);
                    border-color: @color-gray;

                    th, td {
                        border: none;
                    }

                    .totals-tax-summary,
                    .totals-tax,
                    .totals-tax-details.shown,
                    .totals {
                       display: table;
                        width: 100%;



                        td,
                        th,
                        p {
                            background: transparent;
                            border: none;
                            margin-bottom: 0;
                            padding: 10px 20px;
                            font-weight: bold;
                            font-size: 1.4rem;
                            display: table-cell;
                            vertical-align: middle;
                        }

                        &.sub {
                            padding-top: 20px;
                        }
                        &.grand {
                            padding-bottom: 20px;
                        }

                    }
                }
            }
        }




        .table-checkout-shipping-method {
            tbody {
                tr {
                    display: block;
                    margin: 0;
                }
                td {
                    padding: 11px 10px;
                    width: auto;
                }
            }
        }
        
        
        .payment-option {
            .payment-option-title {
                .lib-css(color, @color-blue);
                font-weight: bold;
                padding-left: 0;
            }

            .payment-option-content {
                padding-left: 0;

                .order-comment-form {
                    max-width: 100%;
                }
            }
        }


        .checkout-payment-method {

            .step-content > h2 {
                font-weight: bold;
                font-size: 18px;
                color: #333333;
            }


            .payment-method-title {
                .payment-icon {
                    float: left;
                }
            }


            .payment-option-title {




                .action-toggle {
                    .lib-css(color, @color-blue);
                }
            }

            .field-select-billing,
            .billing-address-form {
                max-width: 100%;


            }

            .actions-toolbar {
                .action {
                    .button();
                    .box-shadow(none);
                    margin-top: 0;

                    &:hover {
                        .lib-css(color, @color-white);
                    }
                }
            }


            .ccard.fieldset {
                .cvv {
                    ._with-tooltip {
                        padding-right: 0;
                    }
                }
            }
        }





        .form-discount {
            .action-apply {
                .button();
                .box-shadow(none);
            }
        }

        .modal-popup {
            .modal-inner-wrap {
                .form-shipping-address {
                    max-width: none;
                    .fieldset {
                        .field {
                            .label {
                                font-weight: 600;
                            }
                        }
                    }
                }

                .modal-footer {
                    .action-hide-popup {
                        .button();
                        margin-top: 0;
                        margin-left: 20px;
                        &:hover {
                            .lib-css(color, @color-white);
                        }
                    }
                }
            }
        }
    }


    .opc-summary-wrapper {
        .modal-header {
            border: none;
        }
        .modal-content {
            border-color: @color-gray;
        }

        .totals {
            padding: 8px 20px;
        }
    }

    .checkout-onepage-success {
        .page-wrapper {
            .page-main {
                .container-lg();
            }

            .page-title {
                .lib-css(color, @color-blue);
                font-size: 25px;
            }
        }
    }



    body._has-modal-custom {
        .modal-custom-overlay {
            z-index: 899 !important;
        }
    }
}

//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    .checkout-index-index {
        .opc-wrapper,
        .opc-sidebar {
            .flex-width(100%);
            width: 100%;
        }

        .opc-summary-wrapper {
            .modal-header {
                padding: 1.6rem;
            }

        }

        .opc-block-shipping-information {
            padding: 0 15px;
        }
    }

}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m + 1) {
    .checkout-index-index {
        .logo {
            margin-top: 10px;
        }
        .column.main {
            padding-top: 0;
        }
        .checkout-container {
            clear: both;
        }


        .opc-wrapper,
        .opc-sidebar{
            width: auto;
        }



        .opc-estimated-wrapper {
            margin-top: 0;
            .lib-css(background, @color-sky-blue);
            .lib-css(border-color, @color-sky-blue);
            .lib-css(color, @color-white);

            .minicart-wrapper {
                top: 0;
            }
        }

    }


}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
     .checkout-payment-method {
        .payment-method-title {
            .action-help {
                display: block;
            }
        }
    }

    .checkout-index-index {
        .opc-estimated-wrapper {
            .minicart-wrapper {
                button.action.showcart{
                    .box-shadow(0 4px 30px rgba(0, 0, 0, 0.17));
                    .lib-css(background, @color-white);
                }
            }
        }
        .opc-wrapper {
            .authentication-wrapper {
                float: none;
                margin-top: 0;
                max-width: none;
            }
            .shipping-address-item {
                padding: 20px 35px 20px 20px;
                .flex-width(100%);
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m + 1) {
    .checkout-index-index {
        .logo {
            margin-right: 30px;
        }

        .modal-popup {
            .form-shipping-address {
                max-width: 100%;
                .address {
                    .choice {
                        .flex-width(100%);
                    }
                }
            }
        }

        .form-login,
        .form-shipping-address,
        .billing-address-form > form{

            .fieldset .field .label, .fieldset .field .label {
                font-weight: 600;
            }

            max-width: 100%;

            .address {
                .flex();
                margin-left: -15px;
                margin-right: -15px;

                .field {
                    .flex-width(50%);
                    padding-left: 15px;
                    padding-right: 15px;


                    &.street {
                        .flex-width(100%);
                        padding-left: 0px;
                        padding-right: 0px;

                        .label {
                            padding-left: 15px;
                            padding-right: 15px;
                        }

                        .control {
                            .flex();
                            .label {
                                display: none;
                            }
                            .field {
                                &:first-of-type {
                                    .flex-width(100%);
                                }

                                &.additional {
                                    margin-top: 20px;
                                }
                            }
                        }
                    }

                    &.choice {
                        .flex-width(100%);
                    }
                }
            }
        }


        

        .opc-wrapper {

            .authentication-wrapper {

                .action-auth-toggle {
                    .lib-css(color, @color-red);
                    text-decoration: none;
                }
                .authentication-dropdown {
                    min-width: 365px;
                    border-color: @color-gray;
                    right: 0;

                    .modal-header,
                    .modal-content {
                        border: none;
                    }

                    .block-title {
                        .lib-css(color, @color-blue);
                    }

                    .action-login {
                        .button();
                        .box-shadow(none);
                    }
                }
            }



        }
    }
}