//
//  Common
//  _____________________________________________

& when (@media-common = true) {




    .password-strength-meter {
        &:before {
            .transition(all 0.5s ease 0s);
        }
    }
    .cms-noroute-index,
    .customer-account-login,
    .customer-account-create,
    .customer-account-forgotpassword,
    .account,
    .customer-account-index,
    .wishlist-index-index,
    .customer-account-logoutsuccess,
    .customer-account-createpassword,
    .customer-account-confirmation {
        .page-main {
            .container-lg();
        }

        .page-title-wrapper {
            .page-title {
                .lib-css(color, @color-blue);
            }
        }
    }

    .login-container {
        .block {
            .block-title {
                .lib-css(color, @color-blue);
            }
        }
    }


    .account{
        .sidebar-main {
            .block-collapsible-nav {
                .content {
                    .lib-css(background, @color-aliceblue);
                }
                .item {
                    width: 100%;
                    a {
                        width: inherit;
                        padding: 15px 20px;
                        .transition(all 0.5s ease 0s);

                        &:hover {
                            background: @color-blue;
                            color: @color-white;
                        }
                    }

                    .delimiter {
                        display: none;
                    }

                    &.current {
                        a {
                            border-color: @color-blue;
                        }
                        > strong {
                            border-left-color: @color-blue;
                        }
                    }
                }
            }
        }

        .block {
            &-title {
                margin-bottom: 20px;
            }
        }

        .table-wrapper {
            .table {
                thead {
                    th {
                        border: none;
                        .lib-css(background, @color-sky-blue);
                        .lib-css(color, @color-white);

                        &:first-child {
                            .br-radius(5px 0 0 0);
                        }
                        &:last-child{
                            .br-radius(0 5px 0 0);
                        }
                    }
                }
            }
        }


        &.wishlist-index-index {
            .form-wishlist-items {
                .products-grid {
                    &.wishlist {
                        .product-item-photo {
                            margin-right: 0;
                            float: none;
                        }
                        .product-image-container {
                            max-width: 100%;
                        }

                        .product-item-name {
                            float: none;
                            margin-left: 0;
                            text-align: center;
                        }

                        .price-box {
                            margin-left: 0;

                        }

                        .box-tocart {
                            margin:0;
                            .fieldset {
                                margin-bottom: 0;
                            }
                        }



                        .product-item-inner {
                            .field.qty {
                                display: block;
                                margin-bottom: 0;
                            }
                        }
                        .product-item-actions {
                            display: block;
                            .action {
                                &.edit, &.delete {
                                    &:before {
                                        .lib-css(color, @color-icons);
                                    }
                                }
                            }
                        }
                    }
                }

                .actions-toolbar {
                    margin-top: 20px;
                    .primary {
                        .action {
                            .button();
                            .box-shadow(none);
                        }
                    }
                }
            }

        }
    }






        .table td,
        .table th{
            width: auto;
        }

    .sales-order-view,
    .sales-order-history {
        table thead th {
            .lib-css(background, @color-sky-blue);
            .lib-css(color, @color-white);
            border-color: @color-sky-blue;
            border-bottom: none;
            padding: 1rem;
        }

        .table tbody+tbody {
            border-top-width: 1px;
        }

        .toolbar {
            select {
                background-color: @color-white;
            }
        }
    }

    .sales-order-view {
        .order-details-items {
            .product-item-name {
                .lib-css(color, @color-blue);
                font-size: 14px;
            }

            .cart-price {
                .lib-css(color, @color-red);
                font-size: 14px;
            }
        }
    }


    .sales-order-print {
        .minicart-wrapper,
        .footer-bottom-container{
            display: none;
        }
    }


    .customer-account-index {
        .block-dashboard-orders {


            .orders-recent {
                margin-top: 0;
            }


        }
    }



}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m + 1) {
    .account {
        .page-main {
            padding-top: 41px;
            position: relative;
        }
        .block-collapsible-nav{
            left: 0;
            position: absolute;
            top: 5px;
            width: 100%;
            z-index: 5;

            .title {
                height: auto;
                width: auto;
                overflow: auto;
                border-top: 1px solid @color-gray;
                cursor: pointer;
                margin: 0;
                position: relative;
                border-bottom: 1px solid @color-gray;
                padding: 10px 40px 10px 15px;
                display: block;
                text-decoration: none;

                &.active{
                    &:after {
                        content: '\e621';
                    }
                }
                &:after {
                    position: absolute;
                    right: 20px;
                    top: 10px;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    font-size: 12px;
                    line-height: inherit;
                    color: inherit;
                    content: '\e622';
                    font-family: 'luma-icons';
                    margin: 3px 0 0 0;
                    vertical-align: middle;
                    display: inline-block;
                    font-weight: normal;
                    overflow: hidden;
                    speak: none;
                    text-align: center;
                }
            }

            &-content {
                display: none;

                &.active {
                    display: block;
                }
            }


        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

}