//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .page-wrapper {
        > .form-login {
            display: none;
        }
        .page-footer {
            background: @color-white;
            .footer {
                .clearfix();

                a {
                    .lib-css(color, @color-icons);
                    &:hover {
                        text-decoration: none;
                        .lib-css(color, @color-blue);
                    }

                }

                a,
                address {
                    font-size: @font-size__s;
                    color: @color-textcolor;
                }

                address {
                    line-height: 25px;
                }
            }


            .footer-top {
                padding: 20px 0;
                border-top: 1px solid @color-light-blue;
                .footer-top-container {
                    .container-lg();
                }
                .inner-sec {
                    position: relative;
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: -20px;
                        left: 20px;
                        right: 20px;
                        height: 1px;
                        background: @color-light-blue;

                    }
                }


                .footer-logo {
                    img {
                        max-width: 120px;
                    }
                }

                .contact-info {
                    a {
                        .lib-css(color, @color-red);
                        font-size: 20px;
                        display: inline-block;

                        [class*=icon] {
                            display: inline-block;
                            vertical-align: middle;
                            font-size: 25px;
                        }

                        & + a {
                            margin-left: 20px;
                        }
                    }
                }
            }

            .footer-bottom {
                padding: 20px 0;
                border-top: 1px solid @color-light-blue;

                .footer-bottom-container {
                    .container-lg();
                }

                .bottom-links {
                    a {
                        margin-right: 20px;
                    }
                }

                .copyright {
                    .lib-css(background, @color-white);
                    .lib-css(color, @color-blue);
                    text-align: left;
                    padding-left: 0;
                    font-size: @font-size__s;
                }
            }
        }
    }





    .page-footer {

        .footer-links {
            margin-top: 40px;
            margin-bottom: 40px;
            .container-lg();

            .block {
                &-title {
                    strong {
                        color: @color-blue;
                        padding-bottom: 20px;
                        display: block;
                    }

                    p {
                        font-size: 12px;
                        color: @color-textcolor;
                        padding-bottom: 15px;
                    }
                }

                &-content {
                    .links {
                        padding: 0;
                        li {
                            a {
                                .lib-css(color, @color-icons);
                                padding: 8px 0;

                            }

                            a:hover {
                                .lib-css(color, @color-blue);
                                text-decoration: none;
                            }
                        }
                    }

                    .subscribe {
                        position: relative;
                        .label {
                            display: none;
                        }
                        .control:before {
                            display: none !important;
                        }

                        input {
                            height: 40px;
                            padding-right: 108px;
                            padding-left: 15px;
                            .br-radius(5px);
                            font-size: 12px;

                            &:focus {
                                box-shadow: none;
                            }
                        }
                        .actions {
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: auto;
                            display: block;
                        }

                        .primary {
                            height: 40px;
                            .btn-red();
                            .br-radius(0 5px 5px 0);
                        }
                    }
                }
            }

            .social-links {
                .block-title {
                    display: inline-block;
                    margin-right: 10px;
                }

                .block-content {
                    display:  inline-block;
                    vertical-align: middle;
                }

                ul {
                    padding-right: 0 !important;
                }

                .heading {
                    .lib-css(color, @color-blue);
                    font-size: @font-size__s + 2;
                    font-weight: bold;
                    margin-right: 15px;
                }

                li {
                    & + li {
                        margin-left: 15px;
                    }
                }

                li a {
                    display: block;
                    font-size: 0;



                    &:hover {
                        text-decoration: none;
                    }
                }


                [class^="icon-"], [class*=" icon-"] {
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                    .br-radius(50%);
                    .lib-css(color, @color-icons);
                    .lib-css(background, @color-aliceblue);
                    display: block;
                    text-align: center;
                    font-size: @font-size__s;

                    &:hover {
                        .lib-css(color, @color-white);
                    }
                }

                .icon-facebook {
                    &:hover {
                        .lib-css(background, @color-fb);
                    }
                }

                .icon-twitter {
                    &:hover {
                        .lib-css(background, @color-tw);
                    }
                }

                .icon-google-plus {
                    &:hover {
                        .lib-css(background, @color-gp);
                    }
                }

                .icon-instagram {
                    &:hover {
                        .lib-css(background, @color-insta);
                    }
                }

                .icon-youtube {
                    &:hover {
                        .lib-css(background, @color-yt);
                    }
                }

            }
        }
    }
}

//
//  Tablet
//  _____________________________________________

@media screen and (max-width: 1024px + 100) {
    .page-wrapper {
        .page-footer {
            .social-links {
                li {
                    & + li {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m + 1) {
    .page-wrapper {
        .page-footer {
            margin-top: 0;

            .footer {
                padding-top: 0;
                border-top: none;
            }

            .footer-top {
                border-top: none;

                .footer-logo {
                    display: none;
                }

                .footer-top-container {
                    padding-left: 31px;
                    padding-right: 31px;
                }


                .contact-info {
                    .flex-width(100%);

                    a {
                        font-size: 15px;
                        display: block;

                        & + a {
                            margin-left: 0;
                            margin-top: 15px;
                        }
                    }
                }
            }


            .footer-bottom {
                .footer-bottom-container{
                    padding-left: 31px;
                    padding-right: 31px;
                }
            }

            .footer-links {
                padding-left: 31px;
                padding-right: 31px;
                margin-top: 30px;
                margin-bottom: 30px;






                .footer-list {
                    .flex-width(100%);
                    .block {
                        margin-bottom: 0;
                        float: none;

                        strong {
                            padding-bottom: 10px;
                        }

                        .block-content {
                            margin-bottom: 20px;
                        }


                        &.newsletter {
                            width: 100%;
                            .block-content {
                                margin-bottom: 0;
                            }
                        }


                        .links {
                            li {
                                margin: 0;
                                padding: 0;
                                .lib-css(background, none);
                                .lib-css(border, none);
                            }
                        }
                    }

                    .social-links {
                        margin-top: 20px;
                    }
                }


                .accordion-menu {

                        .block {
                            padding: 10px;
                            .lib-css(background, @color-aliceblue);
                            margin-bottom: 10px;
                            .br-radius(5px);

                            strong {
                                padding-bottom: 0;
                            }

                            &-title {
                                position: relative;
                                &:after {
                                    position: absolute;
                                    right: 10px;
                                    top: 0;
                                    content: '\e903';
                                    font-family: @icon-gogo;
                                    .lib-css(color, @color-blue);
                                    .transform(rotate(-90deg));
                                    .transition(all 0.5s ease 0s);

                                }

                                &.active {
                                    &:after {
                                        .transform(rotate(90deg));
                                    }
                                }
                            }

                            .block-content {
                                margin-bottom: 0;
                            }

                        }
                    }

            }

            .footer-bottom {
                .bottom-links {
                    ul {
                        justify-content: center;
                    }
                }

                .payment-icons,
                .copyright {
                    text-align: center;
                }


            }


        }




    }

}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .page-wrapper {
        .page-footer {

            .footer-links {
                padding-left: 10px;
                padding-right: 10px;
            }

            .footer-top {
                .footer-top-container {
                    padding-left: 10px;
                    padding-right: 10px;
                }

            }

            .footer-bottom {
                .footer-bottom-container{
                    padding-left: 10px;
                    padding-right: 10px;
                }

                .bottom-links {
                    a {
                        margin-right: 10px;
                    }
                }

            }
        }

    }

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m + 1) {

    .page-wrapper {
        .page-footer {
            padding-bottom: 0;
            .footer {

                padding-top: 0;
                .block {
                    float: none;
                }

                .footer-links {
                    .clearfix();
                    .footer-list {
                        float: left;
                        
                        .block {
                            width: 100%;
                        }
                    }
                }
            }

            .contact-info,
            .payment-icons {
                text-align: right;
            }
        }
    }

}


