//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    input[type="text"],
    input[type="password"],
    input[type="url"],
    input[type="tel"],
    input[type="search"],
    input[type="number"],
    input[type="datetime"],
    input[type="email"],
    select{

        height: 44px;

    }

    input[type="text"],
    input[type="password"],
    input[type="url"],
    input[type="tel"],
    input[type="search"],
    input[type="number"],
    input[type="datetime"],
    input[type="email"],
    select,
    textarea {
        .lib-css(border-color, @color-gray);
        font-size: @font-size__s;
        .br-radius(3px);

        &:not([disabled]):focus,
        &:focus {
            .box-shadow(inset 0px 0px 0px 1px @color-black);

        }


        &.mage-error {
            &:focus {
                .box-shadow(none);

            }
        }
    }



    label {
        .lib-css(color, @color-blue);
    }

    div.mage-error[generated] {
        font-size: 10px;
    }


    input.mage-error, select.mage-error, textarea.mage-error {
        border-color: @color-red;
    }

    /*.form-control-error, input+.mage-error, textarea+.mage-error, select+.mage-error, .control>div.mage-error {
        background: @message-error__background;
        color: #fff !important;
        padding: 5px 8px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        position: absolute;
        right: 0;
        bottom: 40px;
        margin-bottom: 8px;
        max-width: 230px;
        font-size: 80%;
        z-index: 4;
    }
    .form-control-error:after, input+.mage-error:after, textarea+.mage-error:after, select+.mage-error:after, .control>div.mage-error:after {
        width: 0;
        height: 0;
        content: '';
        display: block;
        border-style: solid;
        border-width: 5px 5px 0;
        border-color: @message-error__background transparent transparent;
        position: absolute;
        right: 20px;
        bottom: -4px;
        margin-left: -5px;
    }*/


    .fieldset {
        .field.date ._has-datepicker, .field-dob ._has-datepicker, .form-giftregistry-search .fields-specific-options .datetime-picker {
            margin-right: 0;
            width: 100%;
        }



        .field {
            .control {
                position: relative;
            }




            ._has-datepicker {
                padding-right: 30px;
                & ~ .ui-datepicker-trigger {
                    position: absolute;
                    right: 8px;
                    top: 12px;
                }
            }
        }
    }


}
