

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .page-wrapper {



         .minicart-wrapper {
            position: fixed;
            top: 111px;
            right: 0%;
            z-index: 31;
             .transition(all 0.5s ease 0s);

            .action.showcart {
                height: 55px;
                width: 55px;
                background: @color-white;
                z-index: 3;
                color: transparent;
                white-space: nowrap;
                .br-radius(5px);
                .flex() !important;
                justify-content: center;
                align-items: center;
                box-shadow: 0 4px 30px rgba(0, 0, 0, .17);

                .counter.qty {
                    background: url('@{baseDir}images/count_balloons.png');
                    width: 32px;
                    height: 58px;
                    position: absolute;
                    top: -20px;
                    right: -16px;

                }

                .counter-number {
                    position: relative;
                    top: 10px;
                }

                &:before {
                    content: '\e901';
                    font-family: @icon-gogo;
                    .lib-css(color, @color-blue);
                    width: 32px;
                    height: 32px;
                    display: block;
                    font-size: 20px;
                    text-align: center;

                }
            }

            .action.showcart,
            .block-minicart {
                position: fixed;
                right: 2%;
                -webkit-transition: -webkit-transform .2s;
                transition: -webkit-transform .2s;
                transition: transform .2s;
                transition: transform .2s, -webkit-transform .2s;
                -webkit-transform: translateZ(0);
                transform: translateZ(0);
                -webkit-backface-visibility: hidden;
                will-change: transform;
                backface-visibility: hidden;

            }

            .ui-dialog {
                display: block !important;
            }

            .block-minicart {
                z-index: 2;
                width: 90%;
                max-width: 440px;
                height: 400px;
                max-height: 90%;
                pointer-events: none;
                min-width: auto;
                display: block;


            }



            .minicart-content-wrap {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 2;
                overflow: hidden;
                height: 55px;
                width: 55px;
                border-radius: 6px;
                -webkit-transition: height .4s .1s, width .4s .1s, box-shadow .3s;
                transition: height .4s .1s, width .4s .1s, box-shadow .3s;
                -webkit-transition-timing-function: cubic-bezier(.67, .17, .32, .95);
                transition-timing-function: cubic-bezier(.67, .17, .32, .95);
                background: #fff;
                box-shadow: 0 4px 30px rgba(0, 0, 0, .17);
                pointer-events: auto;

                .subtitle.empty {
                    opacity: 0;
                    visibility: hidden;
                    .transition(all 0.5s ease 0.2s);
                }

                .items-total {
                    display: none;
                }

                .subtotal {
                    position: absolute;
                    bottom: 48px;
                    left: 0;
                    right: 0;
                    .flex();
                    justify-content: flex-end;
                    align-items: center;
                    background: @color-aliceblue;
                    margin: 0;
                    padding: 15px 40px;

                    .amount {
                        margin-left: 10px;
                    }

                    .price-wrapper .price {
                        color: @color-blue;
                        font-size: 1.4rem;
                        font-weight: normal;

                    }

                }

                .block-content {
                    height: 100%;
                    > .actions {
                        margin-top: 0;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;

                        > .primary {
                            margin: 0;
                            display: none;
                            .action.primary {
                                font-size: 14px;
                            }
                        }

                        .viewcart {
                            .button();
                            display: block;
                            font-size: 14px;
                            padding: 14px 17px;
                            .br-radius(0);
                        }
                    }

                }

            }

            .minicart-items-wrapper {
                margin: 0;
                overflow-y: auto;
                overflow-x: hidden;
                height: ~"calc(100% - 97px)" !important;

                li {
                    position: relative;
                    margin-bottom: 0;
                    opacity: 0;
                    .transform(translateX(80px));
                    -webkit-transition: opacity 0s .2s, -webkit-transform 0s .2s;
                    transition: opacity 0s .2s, -webkit-transform 0s .2s;
                    transition: opacity 0s .2s, transform 0s .2s;
                    transition: opacity 0s .2s, transform 0s .2s, -webkit-transform 0s .2s;

                    &:not(:first-child) {
                        border-top-color: @color-gray;
                    }
                }

                .product-item-details {
                    .product-item-name {
                        a {
                            .lib-css(color, @color-blue);
                            display: block;
                            padding-right: 50px;
                        }
                    }

                    .options {
                        .label {
                            .lib-css(color, @color-blue);
                        }

                        &.list {
                            margin-bottom: 0;
                        }
                    }

                    .price-container {
                        .price {
                            .lib-css(color, @color-red);
                        }
                    }

                    .qty {
                        .label {
                            display: block;
                        }

                        button,
                        .item-qty{
                            float: left;
                            margin-left: -1px;
                        }
                        
                        button {
                            width: 40px;
                            height: 40px;
                            background: transparent;
                            border-color: @color-gray;
                            display: inline-block;
                            vertical-align: top;
                            .box-shadow(none);

                        }
                        .item-qty {
                            margin-right: 0;
                            .br-radius(0);
                            height: 40px;
                        }

                        .update-cart-item {
                            &:before {
                                font-family: @icon-gogo;
                                content: '\f021';
                                color: @color-textcolor;
                            }
                            span {
                                display: none;
                            }
                        }
                    }
                }


                .actions {
                    position: absolute;
                    right: 0;
                    margin-top: -30px;
                }

                .action.edit,
                .action.delete{

                    &:before {
                        .lib-css(color, @color-icons);
                    }
                }

            }

            &.active .minicart-content-wrap {
                height: 100%;
                width: 100%;
                -webkit-transition-delay: 0s;
                transition-delay: 0s;

                .subtitle.empty {
                    opacity: 1;
                    visibility: visible;
                }

                .minicart-items-wrapper {

                    li {
                        -webkit-transition: opacity .3s .2s, -webkit-transform .3s .2s;
                        transition: opacity .3s .2s, -webkit-transform .3s .2s;
                        transition: transform .3s .2s, opacity .3s .2s;
                        transition: transform .3s .2s, opacity .3s .2s, -webkit-transform .3s .2s;
                        opacity: 1;
                        -webkit-transform: translateX(0);
                        -ms-transform: translateX(0);
                        transform: translateX(0);
                    }
                }
            }

        }
}


    .cart-open {
        overflow-y: hidden;
    }





    .nav-sections {
        background: transparent;
        display: inline-block;

        .navigation {
            background: inherit;

            .level0 {
                margin-right: 20px;
                a {
                    .lib-css(color, @color-blue);
                    font-size: 16px;
                    font-weight: @font-weight__bold;

                    .ui-menu-icon {
                        display: none !important;
                    }
                }

                .submenu {
                    background: @color-white;
                    border:none;
                }
            }


        }
    }

    .page-header {


            &.scrollUp {
                transform: translateY(-100%);
            }

            .logo {
                max-width: none;
                margin: 0;
            }
            
            .nav-sections {
                margin-bottom: 0;
            }

            .location-track{
                margin-left: 20px;
                .lib-css(color, @color-blue);
                font-size: 14px;
                font-weight: @font-weight__bold;
                position: relative;
                &:before {
                    content:'\e907';
                    font-family: 'gogo';
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 16px;
                    font-weight: normal;
                    margin-right: 2px;
                    position: absolute;
                    left: 0px;
                    top: 12px;
                }

                > div {
                    display: inline-block;
                    select {
                        background-color: transparent;
                        border-color: transparent;
                        font-weight: @font-weight__bold;
                        .lib-css(color, @color-blue);
                        padding-left: 20px;
                        &:focus {
                            box-shadow: none;
                        }
                    }
                }
            }

            .account-links {
                > .links {
                    margin-bottom: 0;
                    margin-left: 20px;
                    padding-left: 0;
                    > li {
                        margin-bottom: 0;
                    }
                    > li:first-child {
                        display: block;

                        &.signin-link{

                            > a {
                                margin-top: -3px;
                                display: block;
                            }
                        }
                    }
                    > li:not(:first-child) {
                        display: none;
                    }

                    .customer-name {
                        .lib-css(color, @color-blue);
                        font-weight:bold;
                        font-size: 14px;
                        font-weight: @font-weight__bold;

                        .action.switch{
                            .lib-css(color, @color-blue);
                        }
                    }



                    a {
                        .lib-css(color, @color-blue);
                        font-weight:bold;
                        font-size: 14px;
                        font-weight: @font-weight__bold;

                        &:hover {
                            text-decoration: none;
                        }


                    }


                }
                

            }

    }

    .cart-open {
        .page-header {

                z-index: 10;

        }
        .page-wrapper::before {
            opacity: 1;
            visibility: visible;
        }

        .minicart-wrapper {
            z-index: 33;
        }

    }

    .page-wrapper::before {
        content: '';
        position: fixed;
        z-index: 30;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        background: rgba(0,0,0,.8);
        opacity: 0;
        visibility: hidden;
        -webkit-transition: opacity .4s,visibility .4s;
        transition: opacity .4s,visibility .4s;
    }



    /* breadcrumbs */

    .breadcrumbs {
        .lib-css(background, @color-sky-blue);
        margin-bottom: 0;
        &-inner {
            padding: 20px 0;
            .flex();
            justify-content: space-between;
            align-items: center;

            .item {
                &:after {
                    .lib-css(color, @color-white);
                }
            }

            strong, a {
                .lib-css(color, @color-white);
            }

            a {
                &:hover {
                    text-decoration: none;
                    .lib-css(color, @color-white);
                }
                &:visited {
                    .lib-css(color, @color-white);
                }
            }

            .current-page{
                font-size: @font-size__xl;

            }
        }
    }



}

@media screen and (max-width: @screen__xl){
    .page-header {
        .nav-right-sec {
            .block-search .block-title,
            .location-track,
            .account-links > .links a,
            .account-links > .links .customer-name{
                font-size: 12px;
            }

        }
        .nav-sections {

            .navigation {

                .level0 {
                    a {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: @screen__ls){
    .page-header {
        .account-links {
            > .links > li:first-child {
                &.signin-link {
                    > a {
                        margin-top: 0;
                        .icon-user {
                            font-size: 14px;
                        }
                    }
                    strong {
                        display: none;
                    }
                }
            }
        }
        .block-search {
            .block-title {
                strong {
                    display: none;
                }
            }
        }
        
        .location-track {
            span {
                display: none;
            }
        }

        .nav-sections {

            .navigation {

                .level0 {
                    margin-right: 8px;
                    &.parent {
                        > a {
                            padding-left: 8px;
                            padding-right: 8px;
                        }
                    }

                    a {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}



//
//  Tablet
//  _____________________________________________

@media screen and (min-width: 1025px) {

    .page-header {

        > .header {
            height: 110px;
        }

        & + .breadcrumbs {
            margin-top: 110px;
        }

        & + .page-main {
            margin-top: 110px;
        }
    }

}

@media screen and (max-width: 1024px) {
    .page-header {
        height: 70px;
        .logo {
            max-width: 75px;
        }
        .account-links {
            >.links {
                margin-left: 8px;
                .customer-name {
                    font-size: 12px;
                }
            }
        }

        .location-track{
            margin-left: 8px;
            select {
                font-size: 12px;
            }
        }

        > .header {
            height: 70px;
        }

        & + .breadcrumbs {
            margin-top: 70px;
        }

        & + .page-main {
            margin-top: 70px;
        }
    }

}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m + 1) {



    .page-wrapper {
        .minicart-wrapper {
            .action.showcart,
            .block-minicart {
                right: 20px;
            }
        }

        &:before {
            z-index: 32;
        }


        .logo {
            img {
                width: 50px;
            }
        }


        header{
            &.page-header {
                margin-bottom: 0;
                border: none;
                left: 0;
                right: 0;
                top: 0;
                position: fixed;
                .lib-css(background, @color-white);
                .transition(all 0.5s ease 0s);

                z-index: 10;
                padding: 5px 10px;

                > .header {
                    padding: 0;
                }



                .nav-sections {
                    background: @color-white;
                }


            }

            .block-search {
                .block-title {
                    right: 80px;
                    top: 16px;
                    position: absolute;
                    z-index: 99;
                }
            }

            .account-links {
                display: none;
            }






            .nav-toggle {
                z-index: 100;
                width: 30px;
                height: 1px;
                background: @color-blue;
                height: 18px;
                width: 25px;
                top: 20px;
                background: transparent;
                left: auto;
                right: 20px;

                &:before, 
                &:after {
                    display: none;
                }

                .bar {
                    width: 100%;
                    margin: 0 auto;
                    height: 2px;
                    .lib-css(background, @color-blue);
                    clip: auto;
                    display: block;
                    .transition(all 0.5s ease 0s);

                    &-1 {
                        top: 8px;
                    }

                    &-2 {
                        transform: translateY(0px);
                        transition-timing-function: ease;
                        transition-duration: .15s;
                        transition-property: transform;
                    }

                    &-3 {
                        transform: translateY(16px);
                        transition-timing-function: ease;
                        transition-duration: .15s;
                        transition-property: transform;
                    }
                }


            }





            .nav-sections {
                width: 100%;
                left: -100%;
                .section-item-title {
                    display: none;
                }

                .nav-sections-items {
                    top: 80px;
                    height: ~"calc(100% - 80px)";
                    display: none;
                }

                .nav-sections-item-content {
                    padding: 0;
                    margin-top: 0;
                    height: ~"calc(100% - 80px)";
                }

                .navigation {
                    padding: 0;
                    height: 100%;
                    .signin-link {
                        display: block;
                        
                        .icon-user {
                            display: none;
                        }
                    }

                    > ul {
                        position: relative;
                    }

                    ul {
                        padding: 0;
                        height: 100%;
                    }

                    .level0 {
                        margin-right: 0;
                    }
                    
                    .parent {

                        > a {

                        }

                        > .icon {
                            width: 40px;
                            height: 40px;
                            line-height: 40px;
                            text-align: center;
                            display: inline-block;

                        }
                    }





                    li, .ui-menu-item {
                        border-top: 1px solid @color-aliceblue !important;
                        margin-right: 0;
                        a {
                            padding: 20px 40px 20px 15px;
                            text-transform: none;
                            font-size: 14px;
                            color: @color-blue;
                            border-left: 5px solid transparent;
                        }


                        &:last-child {
                            border-bottom: 1px solid @color-aliceblue !important;
                        }


                        &.parent > a {
                            position: relative;
                            padding-right: 40px;
                            &:after {
                                display: none;
                            }
                        }

                        .ui-menu-icon {
                            display: block !important;
                            position: absolute;
                            content: '';
                            top: 14px;
                            right: 8px;
                            width: 40px;
                            height: 40px;

                            &:before {
                                content: '\e622';
                                font-family: 'luma-icons';
                                transform: rotate(-90deg);
                                display: block;
                            }

                        }

                        &.active,
                        &.has-active {
                            > a {
                                border-left: 5px solid @color-sky-blue;
                                padding-left: 15px;
                                color: @color-blue;
                                span {
                                    margin-left: 0 !important;
                                }
                            }
                        }



                        .submenu {
                            position: absolute;
                            .transition(all .2s ease-in-out);
                            display: block !important;
                            width: 100%;
                            background: #fff;
                            top: 0 !important;
                            left: 0 !important;
                            .transform(translateX(-101%));
                            height: 100%;
                            overflow-y: auto;
                            z-index: 11;
                        }


                        &.active-slide {
                            > .submenu {
                                .transform(translateX(0));
                            }
                        }
                    }










                }

                .location-track {
                    margin-left: 0;
                    background: @color-aliceblue;
                    padding: 10px 20px;
                    margin: 10px 20px;
                    .br-radius(5px);
                    position: absolute;
                    bottom: 20px;
                    left: 0;
                    right: 0;
                    &:before{
                        position: static;
                    }
                    span {
                        display: inline-block;
                    }
                }
            }

            .block-search {
                .block-title {
                    &:before {
                        font-weight: bold;
                        font-size: 20px;
                    }
                }
            }

        }
    }
    
    .nav-right-sec {
        .location-track {
            display: none;
        }
    }


.nav-open {
    overflow: hidden;
    .page-wrapper {
        left: 0;
    }
}



    .cms-index-index {
        .page-wrapper {
            header {
                &.page-header {
                    .br-radius(5px);
                    left: 10px;
                    right: 10px;
                    top: 10px;
                }

                &.fixed-header {
                    .br-radius(0);
                    left: 0;
                    right: 0;
                    top: 0;
                }
            }
        }
    }

    .navigation.mm-menu {
        width: 100%;
        max-width: none;
        top: 70px;
        height: ~"calc(100% - 175px)";
        .transform(translate3d(-100%, 0, 0));
        .transition(all 0.5s ease 0s);
        z-index: 99;


            .signin-link {
                display: block !important;
            }



        .mm-navbar,
        .mm-panel {
            background: @color-white;
        }

        .mm-navbar {
            border-top: 1px solid @color-aliceblue;
            border-bottom: none;
            font-size: 16px;
            color: @color-blue;
            font-weight: 700;
            padding: 20px;
            height: auto;
            .mm-navbar__title {
                padding: 0;
            }

            .mm-btn {
                padding: 0;
            }
        }

        .mm-listitem__btn {
            border: none;
            width: 60px;
            line-height: 60px;
            text-align: center;
            padding: 0;
        }

        .parent .level-top:first-child{
            &:after {
                display: none;
            }
        }


        .mm-listitem__text {
            padding: 20px 40px 20px 15px;
            color: @color-blue;
            text-transform: none;
        }

        .mm-btn {
            &:after, &:before {

            }
        }

        .mm-btn_next:after,
        .mm-btn_prev:before {
            border-color: @color-blue;
            border-width: 2px;
            width: 12px;
            height: 12px;
            content: '';
            position: static;
        }

        .mm-listview {
            padding: 0;
            border-top: none;
            li {
                border-top: 1px solid @color-aliceblue;

                &:last-child {
                    border-bottom: 1px solid @color-aliceblue;
                }
            }
            .has-active {
                .mm-listitem__text {
                    border-left-color: @color-sky-blue;
                }
                .mm-btn {
                    border: none;
                }
            }

            .signin-link {
                .icon-user {
                    display: none;
                }
            }

            .mm-listitem{
                &:after {
                    display: none;
                }
            }
        }


    }


    .mm-wrapper_opening {
        .mm-menu_offcanvas {
            .transform(translate3d(0, 0, 0));
        }
        .mm-menu_offcanvas~.mm-slideout {
            .transform(none) !important;
        }

        .mm-wrapper__blocker {
            top: 15px;
            right: 15px;
            left: auto;
            width: 50px;
            height: 50px;
        }


        .page-wrapper {
            left: 0;

            .page-header {
                z-index: 32;
            }

            .logo {
                position: relative;
                z-index: 100;
            }

            .nav-toggle {
                .bar {
                    &-1 {
                        transform: rotate(45deg);
                    }

                    &-2 {
                        background: transparent;
                    }

                    &-3 {
                        transform: rotate(-45deg);
                        bottom: 8px;

                    }
                }
            }

            .nav-sections {
                left: 0;
            }
        }
    }

}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .breadcrumbs {
        display: block;
        margin-bottom: 0;
    }


    .cart-open {
        .page-wrapper {
            .minicart-wrapper {
                top: 10px;
            }
        }
    }
}








//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m + 1) {
    .cms-index-index {
        .page-header {
            .lib-css(background, transparent);
        }
    }

    #menu {
        display: none;
    }

    .page-header {
            position: fixed;
            .lib-css(background, @color-white);
            .transition(all 0.5s ease 0s);
            width: 100%;
            top: 0;
            z-index: 10;

            &.fixed-header {
                .lib-css(background, @color-white);
                position: fixed;
                .box-shadow(1px 1px 10px 10px rgba(0,0,0,.05));
            }
            > .header {
                .container-lg();
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 0px;
            }

    }


    .nav-sections {

        .navigation {

            .level0 {
                position: relative;
                
                &.my-account-link {
                    display: none;
                }

                &.has-active,
                &.active,
                &:hover {
                    > a {
                        .lib-css(border-color, @color-sky-blue);
                        color: @color-sky-blue;
                    }
                }




                &.submenu {
                    &:before {
                        position: absolute;
                        pointer-events: none;
                        top: -10px;
                        left: 50%;
                        transform: translateX(-50%);
                        height: 0;
                        width: 0;
                        border-bottom: 10px solid #fff;
                        border-left: 9px solid transparent;
                        border-right: 9px solid transparent;
                    }
                }


            }

            li {
                position: static;

                > .submenu {
                    .lib-css(background, @color-white);
                    position: absolute;
                    top: 100% !important;
                    min-width: 220px;
                    left: -74px !important;
                    margin-top: 25px;
                    -ms-transform: translateY(17px);
                    transform: translateY(17px);
                    opacity: 0;
                    visibility: hidden;
                    display: block !important;
                    will-change: transform,opacity;
                    .br-radius(4px);
                    .box-shadow(0px 0px 20px 5px rgba(0, 0, 0, 0.05));
                    transition: transform .3s linear,opacity .3s linear,visibility .3s linear;

                    li {

                        &:hover {
                            > a {
                                border-left: 3px solid @color-sky-blue;
                                .lib-css(background, @color-aliceblue);
                            }
                        }
                    }

                }

                .submenu {
                    a {
                        padding: 10px 20px;
                        border-left: 3px solid transparent;
                        .transition(all 0.5s ease 0s);
                    }
                }

                &:hover {
                    > .submenu {
                        opacity: 1;
                        visibility: visible;
                        -ms-transform: translateY(0);
                        transform: translateY(0);
                    }
                }
                
                &.signin-link {
                    display: none;
                }
            }
        }
    }

}

@media screen and (min-width: @screen__xl) {
    .page-header {

             > .header {
                padding-left: 61px;
                padding-right: 61px;
            }

    }
}

@media screen and (max-width: 1439px) {
    .page-header {

             > .header {
                padding-left: 31px;
                padding-right: 31px;
            }

    }
}


@media screen and (max-width: 1024px) {
    .page-header {

        > .header {
            padding-left: 21px;
            padding-right: 21px;
            
            .account-links {
                .welcome,
                .username {
                    display: none;
                }
            }
        }

    }
}



