//
//  Common
//  _____________________________________________

& when (@media-common = true) {


    .cms-index-index {

        .column.main {
            padding-bottom: 0;
        }

        .page-title-wrapper {
            display: none;
        }


        .home-banner {
            position: relative;
            .home-slider {
                margin-bottom: 0;
                .banner-item {
                    .slide-content {
                        position: absolute;
                        top: 50%;
                        .transform(translateY(-50%));
                        width: 100%;
                        text-align: center;

                        &-inner {
                            display: inline-block;
                            text-align: left;
                            margin-left: 10%;
                        }

                        h2{
                            font-family: @font-family-name__curly;
                            font-size: 50px;
                            text-align: left;
                            margin-bottom: 20px;
                            .lib-css(color, @color-blue);
                            font-weight: normal;
                            span {
                                display: block;
                            }
                        }
                    }
                }
                .slick-dots {
                    position: absolute;
                    bottom: 20px;
                    .fillup();
                }

            }


            .scroll-down {
                font-size: 40px;
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                display: block;
                text-align: center;
                bottom: 60px;
                height: 66px;
                color: #fff;
                -webkit-animation: bounce 2s infinite;
                animation: bounce 2s infinite;
                width: 46px;
                line-height: 60px;
                transition: all 0.5s ease 0s;

                &:hover {
                    text-decoration: none;
                }



                &:before, &:after {
                    width: 100%;
                    content: '';
                    height: 28px;
                    border: 2px solid #fff;
                    position: absolute;
                    margin: auto;
                    left: 0;
                }

                &:before {
                    border-bottom: transparent;
                }

                &:after {
                    border-top: transparent;
                    bottom: 0;
                }
            }
        }


    .category-sec {
      .category-block {
          overflow: hidden;

          &:before {
              content: '';
              background: rgba(0,0,0,0.3);
              position: absolute;
              height: 100%;
              width: 100%;
              z-index: 1;
          }

          img {
              .transition(all 0.5s ease 0s);
          }

          &:hover {
              img {
                  .scale(1.1);
              }
          }

          .category-content {
              position: absolute;
              top: 50%;
              left: 0;
              right: 0;
              .transform(translateY(-50%));
              text-align: center;
              z-index: 2;

              h2 {
                  color: @color-white;
              }
          }
      }
  }

        .featured-product-sec {
            .block-title{
                display: none;
            }
            .products-grid {
                .product-items {
                    .flex();
                }
                .featured-heading {
                    text-align: center;
                    .flex();
                    justify-content: center;
                    align-content: center;
                    background: rgb(0,189,255);
                    background: linear-gradient(135deg, rgba(0,189,255,1) 0%, rgba(58,98,171,1) 100%);
                    .lib-css(color, @color-white);
                    h2 {
                        font-weight: bold;
                    }
                }
            }
        }


        .best-seller-inner {
            .br-radius(5px);
        }


        .best-seller {
            background: @color-white;
            height: 100%;

            .product-items {
                .flex();
            }
            .block-products-list {
                margin-bottom: 0;
                position: relative;
                top: 50%;
                .transform(translateY(-50%));
                .block-title {
                    position: absolute;
                    left: -5px;
                    top: 50px;
                    .lib-css(background, @color-sky-blue);
                    .lib-css(color, @color-white);
                    .br-radius(0 5px 5px 0);
                    z-index: 5;
                    padding: 8px 16px;

                    &:before {
                        position: absolute;
                        border: 4px solid @color-black;
                        border-left-color: transparent;
                        border-bottom-color: transparent;
                        content: '';
                        bottom: -8px;
                        left: 0;

                    }
                }


            }

            .products-grid {
                .product-item {
                    margin-left: 0 !important;

                    .product-item-info {
                        background: @color-white;
                        .br-radius(5px);
                        padding: 15px 30px;
                        .product-item-details {
                            text-align: left;
                        }

                        .towishlist{
                            right: 30px;
                        }
                    }
                    .product-image-container {
                        display: inline-block;
                    }
                    .price-box {
                        justify-content: flex-end;
                    }

                    .actions-primary {
                        display: none;
                    }

                    &:hover {
                        .box-shadow(none);
                    }

                }
            }
            .slick-arrow {
                width: 40px;
                height: 40px;
                background: #f6f6f6;
                border:none;
                z-index: 15;
                .br-radius(50%);
                &:before {
                    font-family: @icon-gogo;
                    color: @color-blue;
                    font-size: 10px;
                }
                &.slick-prev {
                    left: 25px;
                    &:before {
                    content: '\f053';
                    }
                }

                &.slick-next {
                    right: 25px;
                    &:before {
                        content: '\f054';
                    }
                }
            }

        }

        .promo-banner {
            .br-radius(5px);
            overflow: hidden;
            img {
                width: 100%;
            }
        }


        .promotional-sec {
            padding-top: 50px;
            padding-bottom: 25px;
            background: @color-aliceblue;

            .promo-container {
                .container-lg();
            }
        }



        .best-seller-sec {
            background: @color-aliceblue;
            padding-top: 25px;
            padding-bottom: 25px;

            .best-seller-container {
                .container-lg();
            }

            .best-seller-inner {
                width: 50%;
            }
        }

        .delivery-sec {
            padding-top: 25px;
            padding-bottom: 50px;
            background: @color-aliceblue;
            .delivery-container {
                .container-lg();
            }

            .promo-banner {
                position: relative;


            }


            .promo-content-sec {
                position: absolute;
                bottom: 0;
                width: 100%;
                padding: 30px;
                .flex();
                justify-content: space-between;
                .lib-css(color, @color-white);
            }
        }


    }


}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {



}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .cms-index-index {
        .block-products-list {

        }
    }

}