//
//  Common
//  _____________________________________________

& when (@media-common = true) {


    .cms-index-index {

        .column.main {
            padding-bottom: 0;
        }

        .page-title-wrapper {
            display: none;
        }


        .home-banner {
            .home-slider {
                margin-bottom: 0;
                .banner-item {
                    .slide-content {
                        position: absolute;
                        top: 50%;
                        .transform(translateY(-50%));
                        width: 100%;
                        text-align: center;
                    }
                }
                .slick-dots {
                    position: absolute;
                    bottom: 20px;
                }
            }
        }


    .category-sec {
      .category-block {
          overflow: hidden;

          &:before {
              content: '';
              background: rgba(0,0,0,0.3);
              position: absolute;
              height: 100%;
              width: 100%;
              z-index: 1;
          }

          img {
              .transition(all 0.5s ease 0s);
          }

          &:hover {
              img {
                  .scale(1.1);
              }
          }

          .category-content {
              position: absolute;
              top: 50%;
              left: 0;
              right: 0;
              .transform(translateY(-50%));
              text-align: center;
              z-index: 2;

              h2 {
                  color: @color-white;
              }
          }
      }
  }

        .featured-product-sec {
            .block-title{
                display: none;
            }
            .products-grid {
                .product-items {
                    .flex();
                }
                .featured-heading {
                    text-align: center;
                    .flex();
                    justify-content: center;
                    align-content: center;
                }
                .product-item {
                    width: percentage(1/5);
                }
            }
        }


        .best-seller {
            .block-products-list {
                margin-bottom: 0;
                position: relative;
                .block-title {
                    position: absolute;
                    left: -5px;
                    top: 50px;
                    .lib-css(background, @color-sky-blue);
                    .lib-css(color, @color-white);
                    .br-radius(0 5px 5px 0);
                    z-index: 5;
                    padding: 8px 16px;

                    &:before {
                        position: absolute;
                        border: 4px solid @color-black;
                        border-left-color: transparent;
                        border-bottom-color: transparent;
                        content: '';
                        bottom: -8px;
                        left: 0;

                    }
                }
                .product-item {
                    margin-left: 0 !important;

                    .product-item-info {
                        background: @color-white;
                        .br-radius(5px);
                        .product-item-details {
                            text-align: left;
                        }
                    }
                    .product-image-container{
                        display: inline-block;
                    }

                    .actions-primary {
                        display: none;
                    }
                }
            }


        }

        .promo-banner {
            .br-radius(5px);
            overflow: hidden;
        }


        .promotional-sec {
            padding-top: 50px;
            padding-bottom: 25px;
            background: @color-aliceblue;
        }

        .best-seller-sec {
            background: @color-aliceblue;
            padding-top: 25px;
            padding-bottom: 25px;
        }

        .delivery-sec {
            padding-top: 25px;
            padding-bottom: 50px;
            background: @color-aliceblue;
        }


    }


}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {



}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .cms-index-index {
        .block-products-list {

        }
    }

}