//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .pages {
        &-items {
            .item {

                    strong {
                        background: @color-sky-blue;
                    }


                a.page, a.action {
                    margin-left: 0;
                    .lib-css(background, @color-blue);

                    &:before {
                        .lib-css(color, @color-white);
                    }

                    &:hover {
                        .lib-css(background, @color-sky-blue);
                        .lib-css(color, @color-white);

                        &:before {
                            .lib-css(color, @color-white);
                        }
                    }
                }

                strong,
                a {
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                    vertical-align: middle;
                    padding: 0;
                    border: none;
                    .lib-css(color, @color-white);
                    .br-radius(0);
                    text-align: center;
                }

            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

}