//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .price-box {
        .price-label {
            display: none;
        }

        .price {
            .lib-css(color, @color-red);
        }

        .old-price {
            .price {
                .lib-css(color, @color-textcolor);
            }
        }
    }
    
    .bundle-options-container {
        .product-add-form {
            display: block;
        }
    }


    .paypal-button.paypal-button-context-iframe {
            display: none;
    }

    .catalog-product-view,
    .weltpixel_quickview-catalog_product-view{
        .product {
            &.media {
                display: block;


                .fotorama__wrap {
                    .fotorama__stage__shaft {
                        border: 1px solid @color-gray;
                    }

                    .fotorama__stage__frame {
                        .fotorama__img {
                            width: 100%;
                        }
                    }

                    .fotorama__nav--thumbs {
                        .flex();
                        align-items: center;
                    }

                    .fotorama__nav__shaft {

                    }
                }
            }
        }


        .product-info-main {

            .page-title {
                .lib-css(color, @color-blue);
                font-size: 30px;
            }



            .product.attribute.sku {
                border: 1px solid @color-gray;
                padding: 5px 15px;
                display: inline-block;
                .lib-css(color, @color-blue);
                font-weight: 600;
                margin-bottom: 20px;

                .type {
                    font-weight: 600;
                }
            }

            .product-info-price {
                .flex();
                align-items: center;
                border: none;
                margin-bottom: 0;
                margin-left: 0;
                width: 100% !important;


                    .price-box {
                        .price-label {
                            display: none !important;
                        }

                        .normal-price {
                            .price-wrapper {
                                margin-bottom: 0;
                            }
                        }


                        .normal-price,
                        .old-price{
                            display: inline-block;
                            vertical-align: middle;
                        }

                        .old-price {
                            .price {
                                text-decoration: line-through;
                                color: @color-icons;
                                font-size: 16px;
                            }
                        }
                    }


                .price-box,
                .product-info-stock-sku {
                    display: block;
                    width: auto;
                    padding-left: 0;
                }
            }

            .product-info-stock-sku {
                margin-left: 30px;
                font-size: 10px;
                .available {
                    .lib-css(color, @color-green);
                }

                .unavailable {
                    .lib-css(color, @color-red);

                    & + .availability.only {
                        display: none;
                    }
                }
            }

            > .product-social-links {
                display: none;
            }

            .product-add-form {
                padding-top: 0;
            }

            .fieldset-bundle-options {
                margin-bottom: 0;
                position: relative;
                .options-list {
                    .bundle-item {
                        display: none;
                    }
                }

            }

            .bundle-options-wrapper {
                .product-options-wrapper {
                    > .fieldset {
                        margin-bottom:10px;
                    }
                }
                .fieldset {
                    &.bundle-configurable {
                        margin-bottom: 0;
                        margin-left: 0;
                    }
                }

                .field {
                    .control {
                        width: 100%;
                    }
                }
            }

            .block-bundle-summary {
                .box-tocart {
                    margin-top: 30px;
                }
                .product-details {
                    > .product-addto-links {
                        display: none;
                    }
                }
            }

            .swatch-opt {
                margin: 0;
                .swatch-attribute-options {
                    .color {
                        width: 30px;
                        height: 30px;
                        .br-radius(50%);
                    }
                }

                .swatch-attribute {
                    .swatch-attribute-label {
                        .lib-css(color, @color-blue);
                    }
                    & + .swatch-attribute {
                        margin-top: 20px;
                    }
                }
            }


            .product-options-wrapper {
                border-bottom: 2px solid @color-gray;
            }


            .product-options-bottom {
                .clearfix();
             }


            .box-tocart,
            .product-social-links{
                float: left;
                width: auto;
            }


            .box-tocart {
                margin: 0;
                margin-top: 15px;
                .fieldset {
                    margin-bottom: 0;
                    .lib-clearfix();
                }

                .field.qty {
                    position: relative;
                    div.mage-error {
                       position: absolute;
                        top: -30px;
                        min-width: 250px;
                        .lib-css(color, @color-red);
                        font-size: 12px;
                        border: none;
                    }
                }
                .field,
                .actions {
                    float: left;
                }



                .field {
                    margin-bottom: 20px;
                    margin-right: 20px;
                    .label {
                        display: none;
                    }



                    button {
                        background: transparent;
                        padding: 0;
                        width: 44px;
                        height: 44px;
                    }

                    .qty {
                        .br-radius(0);
                    }

                    .control {

                        > * {
                            border: 1px solid @color-gray;
                            margin-left: -1px;
                            color: @color-textcolor;
                            font-size: 14px;
                            float: left;
                        }
                    }
                }

                .actions {
                    margin-right: 20px;
                    margin-bottom: 20px;
                }

                .action {
                    &.tocart {
                        width: 100%;
                        padding: 10px 15px;
                        margin-bottom: 0;
                        font-size: 14px;
                        min-width: 150px;
                    }
                }
            }


            .product-social-links {
                margin-bottom: 0;

                .product-addto-links {
                    .flex();
                }

                .action {
                    &.towishlist {
                        width: 44px;
                        height: 44px;
                        border: 1px solid @color-aliceblue;
                        text-align: center;
                        line-height: 40px;
                        .br-radius(5px);
                        margin-right: 0;
                        color: @color-icons;
                        background: @color-aliceblue;

                        &:before {
                            margin-right: 0;
                        }
                        span {
                            display: none;
                        }
                    }
                }


                #st-1 {
                    display: inline-block;
                    margin-left: 20px;
                    z-index: 5 !important;

                    .st-btn {
                        width: 44px;
                        height: 44px;
                        .br-radius(5px);
                        min-width: 44px;
                        display: flex !important;
                        align-items: center;
                        justify-content: center;
                        background: transparent;
                        border: 1px solid @color-aliceblue;
                        background: @color-aliceblue;


                        &:hover {
                            top: 0;
                        }

                        > svg {
                            top: 0;
                            fill: @color-icons;
                        }
                    }
                }
            }
        }
    }









    .review-product-list,
    .catalog-product-view {
        .column.main {
            padding-bottom: 0;
        }

        .product-info-wrap {
            .container-md();
            .product-info-inner {
                .clearfix();
            }
        }


        .product-info-wrap {
            padding-top: 30px;

            & + .product-options-wrapper {
                .lib-css(background, @color-aliceblue);
                padding: 50px 0;
                margin-top: 30px;
                > .fieldset {
                    margin-bottom: 0;
                }
                .fieldset-bundle-options {
                    .container-sm();
                    margin-bottom: 0;
                    > .option {
                        text-align: center;
                        margin-bottom: 0;
                        > .label {
                            font-size: 3rem;
                            margin-bottom: 30px;
                        }
                    }

                    .slick-list {
                        max-width: 88%;
                        margin: 0 auto;

                        .product-item {
                            .flex-width(100%);
                        }
                    }

                    .slick-arrow {
                        .lib-css(background, @color-white);

                        &:hover {
                            .lib-css(background, @color-sky-blue);
                        }
                    }

                    .product-item {

                        padding: 0 15px;

                    }
                    .product-item-info {
                        margin: 0 auto 20px;
                        .lib-css(background, @color-white);
                        padding: 15px;
                        width: auto;
                        position: relative;
                        height: 100%;

                        .choice {
                            position: absolute;
                            right: 15px;
                            top: 0;

                            input[type=checkbox] + label {
                                &:before {
                                    border: 1px solid @color-gray;
                                }
                                &:before,
                                &:after {
                                    width: 25px;
                                    height: 25px;
                                    .br-radius(5px);
                                }
                                &:after {
                                    line-height: 25px;
                                }
                            }
                        }

                        .product-item-photo {
                            width: 150px;
                            margin: 0 auto;
                        }

                        .label-text {
                            display: none;
                        }

                        .product-item-name {
                            .lib-css(color, @color-blue);
                            font-weight: bold;

                            .price-notice {
                                display: block;
                                .lib-css(color, @color-red);
                            }
                        }
                    }
                }
            }
        }




        .detailed {
            margin-bottom: 0;
            position: relative;
            .tocart {
                z-index: 9;
                position: absolute; 
                right: 20px;
                top: 4px;
                .lib-css(background, @color-white);
                .lib-css(border-color,@color-white);
                .lib-css(color, @color-blue);
                min-width: 150px;

                &:hover {
                    .lib-css(background, @color-blue);
                    .lib-css(border-color,@color-blue);
                    .lib-css(color, @color-white);
                }
            }
            .product.data.items {
                .lib-css(background, @color-sky-blue);

                .item.title {
                    a {
                        background: transparent;
                        border: none;
                        height: auto;
                        padding: 5px 15px;
                        .lib-css(color, @color-white);
                        font-weight: 600;
                        font-size: 1.2rem;

                        &:hover,
                        &:focus{
                            .lib-css(color, @color-blue);
                            .lib-css(background, transparent);
                        }
                    }

                    &.active {
                        a {
                            .lib-css(color, @color-blue);
                        }
                    }

                    .counter {
                        display: none;
                    }

                }

                .item.content {
                    margin-top: 50px;
                    border: transparent;
                }
            }

            .sub-content {
                .container-sm();

                ol, ul {
                    padding-left: 0;
                }

                li, p {
                    font-size: 1.6rem;

                }
            }
        }
    }



    .additional-attributes {
        .label,
        .data {
            width: auto;
        }
    }


    .review-ratings {
        .rating-summary {
            .rating-result {
                > span:before {
                    .lib-css(color, @color-yellow);
                }
            }
        }
    }


    .review-form {
        .actions-primary {
            .action.submit.primary {
                .button();
                .br-radius(5px);
            }
        }

        .review-control-vote {
            label:before {
                .lib-css(color,@color-yellow);
            }
        }
    }


    .weltpixel_quickview-catalog_product-view {
        .page-wrapper {


            .product-info-main {
                .product-options-bottom {
                    .flex();


                    .box-tocart {
                        .actions {
                            margin-left: 0;
                            margin-right: 20px;

                            .action {
                                .br-radius(5px);
                            }
                        }
                    }

                    .box-gotoproduct {
                        #product-gotoproduct-button {
                            width: 100%;
                            padding: 10px 15px;
                            margin-bottom: 0;
                            font-size: 14px;
                            min-width: 150px;
                            .br-radius(5px);

                        }
                    }
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m + 1) {


    .catalog-product-view {
        .detailed {
            .product.data.items {
                margin-left: 0;
                margin-right: 0;

                > .item.title{
                    width: 100%;
                    float: none;

                    &.active a:after {
                        content: '\e621';
                    }
                    a {
                        &:after {
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            font-size: 14px;
                            line-height: inherit;
                            color: inherit;
                            content: '\e622';
                            font-family: 'luma-icons';
                            vertical-align: middle;
                            display: inline-block;
                            font-weight: normal;
                            overflow: hidden;
                            speak: none;
                            text-align: center;
                            position: absolute;
                            right: 10px;
                            top: 1px;
                        }
                    }


                }
                > .item.content {
                    margin-left: 0;
                    float: none;
                }
            }


        }
    }

    .page-layout-1column {
        .product-info-wrap {
            .product.media,
            .product-info-main {
                width: 100%;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m + 1) {
    .catalog-product-view,
    .review-product-list {
        .product-info-main {
            margin-top: 30px;
        }
        .detailed {
            .product.data.items {
                .item.content {
                    padding: 15px;
                }
                .sub-content {
                    padding: 0;
                }
            }
            .tocart {
                position: relative;
                right: 0;
                left: 0;
                top: 0;
                width: 100%;
                border: 1px solid @color-gray;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m + 1) {
    .catalog-product-view,
    .review-product-list {
        .detailed {
            .product.data.items {
                .item.content{
                    margin-top: 0;
                }
            }
        }
    }

}



//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .catalog-product-view,
    .review-product-list {
        .detailed {
            .product.data.items {
                .item.title {
                    a {
                        padding: 5px 35px;
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}

