//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .products-grid {

        .product-items {

            > .product-item {
                margin-left: 0 !important;
                padding: 0;
                width: percentage(1/4);
                margin-bottom: 0;
                margin: -1px 0 0 -1px !important;
                border: 1px solid @color-light-blue;
            }


            .product-item-info {
                width: auto;

                border: none;
                padding: 15px;
                position: relative;
                top: 2px;
                overflow: hidden;
                .product-item-photo {
                    display: block;
                    text-align: center;
                }

                .product-image-container {
                    width: auto !important;
                    display: block;

                }

                .product-image-wrapper {
                    height: auto;
                    padding-bottom: 0 !important;

                    .product-image-photo {
                        position: relative;
                    }
                }

                .product-item-link {
                    .lib-css(color,@color-blue);
                    font-weight: bold;
                }

                .product-reviews-summary {
                    display: none;
                }

                [class*=swatch-]{
                    display: none;
                }

                .product-item-details {
                    text-align: center;
                }

                &:hover {
                margin: 0;
                box-shadow: none;
                    border: none;

                    .product-item-inner {
                        height: auto !important;
                        width: auto !important;
                        clip: auto !important;
                        position: static !important;
                        margin: 0 !important;
                    }
                }

                .product-item-inner {
                    position: static !important;
                    box-shadow: none;
                    display: block;
                    margin: 0;
                    border: none;
                    box-shadow: none !important;
                    padding: 0;
                    
                    .tocompare {
                        display: none;
                    }

                    .towishlist {
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 5;
                    }
                }

                &:hover {
                    .product-item-actions {
                        .actions-primary {
                            .transform(translateY(0));
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }

            .product-item-actions {
                margin: 0;
                position: static;

                .actions-primary {
                    position: absolute;
                    width: 100%;
                    left: 0;
                    bottom: 0;
                    visibility: hidden;
                    opacity: 0;
                    display: block;
                    text-align: center;
                    .transition(all 0.5s ease 0s);
                    .transform(translateY(100%));
                    .flex();
                    justify-content: space-between;

                    > * {
                        width: 50%;
                    }
                    
                    .tocart {
                        width: 100%;
                    }

                    .action {
                        height: 40px;
                        .br-radius(0);
                        border: none;
                    }
                }
            }
        }


        .price-box {
            display: flex;
            flex-flow: row-reverse;
            justify-content: center;
            align-items: center;

            .price-label {
                display: none;
            }

            .price {
                .lib-css(color, @color-red);
            }
            .normal-price {


            }

            .old-price {
                display: block;
                margin-right: 15px;
                .price {
                    .lib-css(color, @color-textcolor);
                }
            }

        }
    }



    .product-social-links,
    .block-bundle-summary,
    .product-item,
    .table-comparison{
        .action {
            &.towishlist {
                &:before {
                    content: '\e906' !important;
                    font-family: @icon-gogo !important;

                }
            }
        }
    }



}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

}