//
//  Common
//  _____________________________________________

& when (@media-common = true) {


    .account {
        &.wishlist-index-index {
            .products-grid {
                .product-item-info, .product-item-info:hover {
                    .product-item-inner {
                        position: relative !important;
                    }
                }
                .product-item-actions {
                    .action {
                        position: absolute;
                        top: 85px;
                        right: 0;

                        & + .action {
                            margin-right: 60px;
                        }
                    }
                }
            }
        }

    }


    .catalogsearch-result-index {
        .page-title-wrapper {
            display: none;
        }

        .results {
            .block {
                padding: 15px;
                margin-bottom: 0;
                margin-top: -1px;
                border-top:1px solid @color-light-blue;
                .title {
                    .lib-css(color, @color-blue);
                }

                .item {
                    display: inline-block;

                    a {
                        .lib-css(background, @color-blue);
                        .lib-css(color, @color-white);
                        .br-radius(5px);
                        padding: 5px;
                    }

                    & + .item {
                        margin-left: 10px;
                    }

                }
            }
        }
    }

    .page-wrapper {

        .sidebar {
            .action.tocart {
                .br-radius(5px);
            }

            .block-wishlist {
                .product-items .product-item:hover {
                    .box-shadow(none);
                }
            }
        }


    }

    .category-info {
        padding: 30px 0;
        .flex();
        align-items: center;
        background-color: @color-sky-blue;

        .category-title {
            max-width: 650px;
            width: 100%;
            padding: 20px 35px;
            background: rgba(0,0,0,0.4);
        }

        .page-title {
            .lib-css(color, @color-white);
            margin-bottom:  10px;
        }

        .category-description {
            margin-bottom: 0;
            .lib-css(color, @color-white);
            font-size: @font-size__s;
        }

        & + .products {
            margin-top: 0;
        }
    }

    .page-with-filter,
    .page-products {
        .products {
            margin-top: 0;
            margin-bottom: 0;
            &-grid {
                .product-item {
                    &-details {
                        position: static;
                    }
                    &-inner {
                        margin: 0;
                    }
                }
            }


            &-list {

            }
        }
    }


    .product-items {
        .product-item {
            .transition(all 0.5s ease 0s);

            .product-item-info {

                position: relative;

                .product-item-link {
                    .lib-css(color, @color-blue);
                    font-weight: bold;

                    &:hover {
                        text-decoration: none;
                    }
                }

                .product-image-container {
                    .flex();
                    justify-content: center;
                    align-items: center;
                }

                .product-reviews-summary {
                    display: none;
                }

                [class*=swatch-] {
                    display: none;
                }

                .price-box {
                    .old-price {
                        display: block;
                        margin-right: 15px;
                    }
                }

                .product-item-inner {
                    .tocompare {
                        display: none;
                    }
                }

                .product-item-actions {
                    position: static;
                    .stock,
                    .weltpixel-quickview {
                        .button();
                        .br-radius(0);
                        display: block;
                        line-height:  20px;
                    }

                    .stock {
                        &, &:hover{
                            .lib-css(background, @color-red);
                        }
                    }
                }
            }

            &:hover {
                box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.05);
            }
        }
    }


    .products {
        &-list {
            .product-items {
                .product-item {
                    margin: -1px 0 0 -1px !important;
                    border: 1px solid @color-light-blue;

                    &-info {
                        display: flex;
                        width: 100%;


                        .product-image-container {
                            min-height: 250px;
                        }
                    }

                    &-photo {
                        width: 20%;
                        padding: 15px;
                        border-right: 1px solid @color-light-blue;
                    }

                    &-details {
                        width: 80%;
                        padding: 15px;
                    }

                    &-description {
                        .action {
                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }

                    &-actions{
                        .weltpixel-quickview {
                            margin-bottom: 15px;
                        }
                        .towishlist {
                            position: absolute;
                            top: 15px;
                            left: 15px;
                            z-index: 5;
                        }
                    }


                }
            }
        }

        &-grid {
            .product-item {
                &-details {
                    .price-box {
                        margin-bottom: 0;
                    }
                }

            }
        }
    }
    
    
    
    .ie {
        .products-grid {

            .product-items {
                .product-image-container {
                    display: block;
                }
            }
        }
    }

    .products-grid {

        .product-items {
            .flex();

            > .product-item {
                margin-left: 0 !important;
                padding: 0;
                width: percentage(1/4);
                margin-bottom: 0;
                margin: -1px 0 0 -1px !important;
                border: 1px solid @color-light-blue;
            }


            .product-item-info {
                width: auto;
                padding: 15px;
                border: none;
                top: 2px;
                overflow: hidden;
                height: 100%;

                .product-item-photo {
                    display: block;
                    text-align: center;
                }

                .product-image-container {
                    width: auto !important;
                    
                    min-height: 300px;
                }

                .product-image-wrapper {
                    height: auto;
                    padding-bottom: 0 !important;

                    .product-image-photo {
                        position: relative;
                    }
                }



                .product-item-details {
                    text-align: center;
                    position: static !important;
                }

                &:hover {
                margin: 0;
                box-shadow: none;
                    border: none;

                    .product-item-inner {
                        height: auto !important;
                        width: auto !important;
                        clip: auto !important;
                        position: static !important;
                        margin: 0 !important;
                    }
                }

                .product-item-inner {
                    position: static !important;
                    box-shadow: none;
                    display: block;
                    margin: 0 !important;
                    border: none;
                    box-shadow: none !important;
                    padding: 0;
                    
                    .towishlist {
                        position: absolute;
                        top: 15px;
                        right: 15px;
                        z-index: 5;
                    }
                }

                &:hover {
                    .product-item-actions {
                        .actions-primary {
                            .transform(translateY(0));
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }

            .product-item-actions {
                margin: 0;
                position: static;

                .actions-primary {
                    position: absolute;
                    width: 100%;
                    left: 0;
                    bottom: 0;
                    visibility: hidden;
                    opacity: 0;
                    display: block;
                    text-align: center;
                    .transition(all 0.5s ease 0s);
                    .transform(translateY(100%));
                    .flex();

                    > * {
                        width: 50%;
                    }

                    .tocart {
                        width: 100%;
                    }

                    .action {
                        height: 50px;
                        padding: 15px 20px;
                        .br-radius(0);
                        border: none;
                    }
                }
            }
        }

        .price-box {
            display: flex;
            flex-flow: row-reverse;
            justify-content: center;
            align-items: center;
        }

    }



    .product-social-links,
    .block-bundle-summary,
    .product-item,
    .table-comparison{
        .action {
            &.towishlist {
                &:before {
                    content: '\e905' !important;
                    font-family: @icon-gogo !important;

                }
            }
        }
    }


    .page-with-filter {
        #layer-product-list {
            .message {
                &.info {
                    &.empty {
                        margin-top: 20px;
                    }
                }
            }
        }
        .toolbar {

            background-color: transparent;
            .flex();
            align-items: center;
            justify-content: flex-start;
            flex-direction: row-reverse;


            select {
                background-color: @color-white;
            }

            .limiter {
                display: none !important;
            }

            
            .modes {
                float: right;
                margin-right: 0;

                .modes-mode {
                    padding: 19px 18px;
                    background: transparent;
                    .box-shadow(none);
                    .br-radius(0);
                    border-color: @color-light-blue;
                }
            } 
            

            &-amount {
                display: none;
            }

            &-sorter {
                .sorter-action {
                    display: none;
                }

                border-left: 1px solid @color-light-blue;

                padding: 6px 8px;

                .sorter-options {
                    border: none;
                    .box-shadow(none);
                    .lib-css(background-color, transparent);
                }
            }
        }
    }


    .page-with-filter,
    .page-products {
        .sidebar {
            &-main {
                padding-right: 0;
            }
            &-additional {
                display: none;
            }
        }

    }






    #layered-filter-block {
        border-right: 1px solid @color-light-blue;
        position: relative;
        .filter-title {
            display: block;
            padding: 18px 20px 18px 31px;
            border-bottom: 1px solid @color-light-blue;
            color: @color-blue;
            height: auto;
            strong {
                font-size: 16px;
                font-weight: @font-weight__semibold;
            }

            strong {
                background: none;
                padding: 0;
                .box-shadow(none);
                position: static;
                border: none;
            }
        } 
        
        .block-subtitle {
            display: none;
        }

        .filter-current {
            padding-left: 21px;
            border-bottom: 1px solid @color-light-blue;

            .item {
                display: inline-block;
                vertical-align: middle;
                padding: 5px;
                background: @color-gray_1;
                .br-radius(5px);


                .filter-value {
                    color: @color-blue;
                    font-size: 12px;
                }

                .action.remove {
                    position: static;

                    &:before {
                        color: @color-blue;
                        font-size: 10px;
                    }

                }
            }
        }

        .filter-actions {
            position: absolute;
            right:12px;
            top: 18px;
            margin-bottom: 0;

            &:after {
                content: '\e616';
                font-family: 'luma-icons';
                display: inline-block;
            }
        }
        
        .filter-options-title {
            padding: 15px 25px 0 25px;
            text-transform: none;
            color: @color-blue;

            &:after {
                left: 5px;
                right: auto;
                top: 18px;
            }

            .filter-actions {
                position: absolute;
                top: 18px;
                right: 15px;
                text-transform: none;
                font-size: 10px;

                .filter-clear {
                    .lib-css(color, @color-red);

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

        .filter-options-item {
            padding-left: 21px;
            padding-bottom: 15px;
            border-color: @color-light-blue;

            &:hover {
                background: @color-aliceblue;
            }

            .filter-options-title:after {
                content: '\e621';
            }
            .filter-options-content {
                display: block !important;
            }

            &.active {
                .filter-options-title:after {
                    content: '\e622';
                }
                .filter-options-content {
                    display: none !important;
                }
            }

            .radio-button {
                .item {
                    a {
                        &:before {
                            border-radius: 100%;
                        }
                    }

                    &.wp-ln-selected {
                        a {
                            &:before {
                                content: '.';
                            }


                        }
                    }
                }


            }

            .item {
                a {

                    &:hover {
                        background: transparent;
                    }

                    &:before {
                        width: 15px;
                        height: 15px;
                        content: '';
                        display: inline-block;
                        vertical-align: middle;
                        border: 1px solid @color-icons;
                        line-height: 15px;
                        font-size: 12px;
                    }
                }

                &.wp-ln-selected {
                    a {
                        padding-left: 5px;
                        padding-right: 7px;
                        border-left: none;
                        font-style: normal;

                        &:before {
                            content: '\f00c';
                            font-family: @icon-gogo;
                            background: @color-sky-blue;
                            border-color: @color-sky-blue;
                            color: @color-white;
                        }
                    }
                }
            }
        }
    }

}

@media screen and (max-width: @screen__ls) {
    .page-with-filter,
    .page-products {
        .products-grid {

                .product-item {
                    width: percentage(1/3);
                }

        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l + 1) {
    .wishlist-index-index {
        .products-grid() {
            .product-items {
                .product-item {
                    width: percentage(1/2);

                    .product-item-actions {
                        display: none;
                    }
                }
            }
        }
    }

}


    //
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m + 1) {
    .catalogsearch-result-index {
        .page-title-wrapper {
            display: none;
        }

    }

    .products-grid() {
        .product-items {
            .product-item {
                width: percentage(1/2);

                .product-item-actions {
                    display: none;
                }
            }
        }
    }

    .page-with-filter,
    .page-products {
        .products-grid {
            margin-top:0;
            .products-grid();

            .product-item {
                .product-item-info {
                    .product-item-inner {
                       .actions-primary {
                            display: none;
                        }
                    }
                }
            }
        }



        .columns {
            padding-top: 0;
        }

        .toolbar {
            margin-bottom: 0;

            .sorter {
                position: absolute;
                padding: 5px;
                right: 0px;
                margin: 0;
            }



            .modes {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 5;
                display: none;

                .modes-mode {
                    border-top: transparent;
                    border-bottom: transparent;
                }
            }
        }
    }
    .products-grid {
        .products-grid();
    }

    .wp-filters-text {
        display: none;
    }

    #layered-filter-block {
        margin-bottom: 0;
        .filter-title {
            display: inline-block;
            strong {
                color: inherit;
                display: block;
                text-align: left;

                &:after {
                    float: right;
                }
            }
        }

        .filter-options {
            top: 54px;
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .account {
        &.wishlist-index-index {
            .products-grid {
                .product-items {
                    .product-item {
                        width: 100%;
                    }
                }
            }
        }

    }


}


@media screen and (min-width: @screen__m + 1 ) and (max-width: @screen__sl) {
    .page-with-filter,
    .page-products {
        .page-main {
            .column.main {
                width: 70%;
            }
            .sidebar-main {
                width: 30%;
            }
        }
        .products-grid {
            .product-item {
                width: percentage(1/2);
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {

    .cms-index-index {
        .products-grid {
            .product-item {
                width: percentage(1/5);
            }
        }
    }

}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {




    .page-with-filter {
        .breadcrumbs {
            margin-bottom: 0;
        }

        .toolbar:first-of-type {
            margin-bottom: 0;
        }
    }



}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m + 1) {

    .page-products.page-layout-2columns-left {
        .columns {
            .flex();
            .column.main,
            .sidebar-main{
                -webkit-flex-basis: auto;
                flex-basis: auto;
                -webkit-flex-grow: initial;
                flex-grow:initial;
            }

            #layered-filter-block {
                height: 100%;
            }
        }
    }

}

@media screen and (min-width: 1440px) {
    #layered-filter-block {

        .filter-title {
            padding-left: 61px;
        }

        .filter-current {
            padding-left: 51px;
        }

        .filter-options-item {
            padding-left: 51px;
        }
    }
}