@minicart__border-color: @color-lines;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .minicart-wrapper {
        float: none;

        .action {
            &.showcart {
                line-height: normal;
                vertical-align: middle;
                position: relative;
                font-weight: normal;
                background: transparent;
                border: none;
                padding: 0;

                .lib-icon-font(
                @_icon-font-content: @icon-shopping-cart,
                    @_icon-font: @icon__font-name,
                    @_icon-font-size: 20px,
                    @_icon-font-line-height: 20px,
                    @_icon-font-color: @header-icons-color,
                    @_icon-font-color-hover: @header-icons-color-hover,
                    @_icon-font-color-active: @header-icons-color-hover,
                    @_icon-font-text-hide: true
                    );

                .counter.qty {
                    .lib-visually-hidden-reset();
                    .br-radius(50%);
                    padding: 0;
                    width: 24px;
                    position: absolute;
                    left: 10px;
                    top: -15px;
                }
            }
        }

        .block-minicart{
            border-top: 5px solid @theme__color__primary;            
            top: 30px;
            margin-top: 0;
            &:before,
                &:after {
                display: none;
            }
        }

        .minicart-items {
            .item-qty {
                height: 40px;
                width: 40px;
                padding: 0;
            }
            .update-cart-item {
                &:active {
                    box-shadow: none;
                }
                margin-left: -4px;
                .br-radius(0 3px 3px 0);
                padding: 0;
                width: 40px;
                height: 40px;
                background: transparent;
                border: 1px solid @color-lines;
                .lib-icon-font(
                    @_icon-font-content: @icon-update,
                    @_icon-font: @icon-font,
                    @_icon-font-size: 35px,
                    @_icon-font-line-height: 20px,
                    @_icon-font-color: @cart-icons,
                    @_icon-font-color-hover: @cart-icons,
                    @_icon-font-color-active: @cart-icons,
                    @_icon-font-text-hide: true
                );
            }
            .action{
                &.edit {
                    .lib-icon-font(
                    @_icon-font-content: @icon-edit,
                        @_icon-font: @icon__font-name,
                        @_icon-font-size: 16px,
                        @_icon-font-line-height: 20px,
                        @_icon-font-color: @header-icons-color,
                        @_icon-font-color-hover: @header-icons-color-hover,
                        @_icon-font-color-active: @header-icons-color-hover,
                        @_icon-font-text-hide: true
                        );
                }
                &.delete {
                    margin-left: 15px;
                    .lib-icon-font(
                    @_icon-font-content: @icon-trash,
                        @_icon-font: @icon__font-name,
                        @_icon-font-size: 16px,
                        @_icon-font-line-height: 20px,
                        @_icon-font-color: @header-icons-color,
                        @_icon-font-color-hover: @header-icons-color-hover,
                        @_icon-font-color-active: @header-icons-color-hover,
                        @_icon-font-text-hide: true
                        );
                }
            }
        }
    }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .action.showcart {
        &.desk {
            display: none;
        }
    }
    .minicart-wrapper .action.showcart .counter.qty {
        left: 5px;
    }
}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .minicart-wrapper {
        .block-minicart{
            right: 0;
        }
    }
    .action.showcart {
        &.mob {
            display: none;
        }
    }

}
