<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Xtento_OrderExport" setup_version="2.6.6">
        <sequence>
            <module name="Magento_Backend"/>
            <module name="Xtento_XtCore"/>
        </sequence>
    </module>
</config>
<!--
/**
 * Product:       Xtento_OrderExport (2.6.6)
 * ID:            lXPdgIcrkYrqAkkYfQmiNUpRqDD5NOHfZ3XuYtzPwbA=
 * Packaged:      2018-09-18T14:52:22+00:00
 * Last Modified: 2018-09-17T09:38:38+00:00
 * File:          app/code/Xtento/OrderExport/etc/module.xml
 * Copyright:     Copyright (c) 2018 XTENTO GmbH & Co. KG <info@xtento.com> / All rights reserved.
 */
-->