//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .page-wrapper .breadcrumbs {
        background: @color__ghostwhite;
        max-width: none !important;
        ul.items {
            margin-top: 5px;
            max-width: 1740px;
            margin-left: auto;
            margin-right: auto;

        }
        a, strong, a:visited {
            color: @text__color;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
        a:hover {
            color: @theme__color__primary
        }
        .item:not(:last-child):after {
            content: @icon-chevron-right;
            color: @text__color;
            font-family: @icon__font-name;
            font-size: 13px;
            margin-top: -2px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .page-wrapper .breadcrumbs {
        padding: 25px 0;
        margin-bottom: 4.5rem;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-wrapper .breadcrumbs {
        padding: 20px 0;
        margin-bottom: 3.5rem;
        ul.items {
            padding: 0 20px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .page-wrapper .breadcrumbs {
        padding: 12px 0;
        ul.items {
            padding: 0 15px;
        }
    }
}