// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */


//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    ._keyfocus *,
    input:not([disabled]),
    textarea:not([disabled]),
    select:not([disabled]) {
        &:focus {
            .lib-css(box-shadow, none);
        }
    }

    input[type="text"],
    input[type="password"],
    input[type="url"],
    input[type="tel"],
    input[type="search"],
    input[type="number"],
    input[type="datetime"],
    input[type="email"] ,
    select,
    textarea {
        .br-radius(3px);
        color: @text__color;
    }


    .fieldset {
        .legend {
            color: @theme__color__secondary;
        }
        > .field{
            margin-bottom: 15px;

            .additional {
                margin-top: 15px;
            }

            &:not(.choice) {
                > .label {
                    margin-bottom: 10px;
                    color: @theme__color__secondary;
                }
            }
        }
    }

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .fieldset {
        .legend {
            margin-left: 0;
        }
        > .field{
            margin-bottom: 15px;
            &:not(.choice) {
                > .label,
                > .control {
                    width: 100%;
                    float: none;
                }

                > .label {
                    text-align: left;
                }
            }

            &.choice:before, 
            &.no-label:before {
                display: none;
            }
        }
    }

    .column:not(.sidebar-main) form .actions-toolbar, 
    .column:not(.sidebar-additional) form .actions-toolbar {
        margin-left: 0;
    }
}

