// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */


@font-face {
    font-family: @icon__font-name;
    src:  url('@{icon__font-path}.eot');
    src:  url('@{icon__font-path}.eot#iefix') format('embedded-opentype'),
    url('@{icon__font-path}.ttf') format('truetype'),
    url('@{icon__font-path}.woff') format('woff'),
    url('@{icon__font-path}.svg?#ELite') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*="icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'ELite' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-youtube:before {
    content: "\e900";
}
.icon-twitter:before {
    content: "\e901";
}
.icon-support:before {
    content: "\e902";
}
.icon-security:before {
    content: "\e903";
}
.icon-linkedin:before {
    content: "\e904";
}
.icon-facebook:before {
    content: "\e905";
}
.icon-delivery:before {
    content: "\e906";
}
.icon-alert-circle:before {
    content: "\e907";
}
.icon-alert-triangle:before {
    content: "\e908";
}
.icon-arrow-left:before {
    content: "\e909";
}
.icon-arrow-right:before {
    content: "\e90a";
}
.icon-bookmark:before {
    content: "\e90b";
}
.icon-camera:before {
    content: "\e90c";
}
.icon-check:before {
    content: "\e90d";
}
.icon-chevron-down:before {
    content: "\e90e";
}
.icon-chevron-left:before {
    content: "\e90f";
}
.icon-chevron-right:before {
    content: "\e910";
}
.icon-chevron-up:before {
    content: "\e911";
}
.icon-edit-2:before {
    content: "\e912";
}
.icon-external-link:before {
    content: "\e913";
}
.icon-eye:before {
    content: "\e914";
}
.icon-eye-off:before {
    content: "\e915";
}
.icon-filter:before {
    content: "\e916";
}
.icon-heart:before {
    content: "\e917";
}
.icon-help-circle:before {
    content: "\e918";
}
.icon-image:before {
    content: "\e919";
}
.icon-info:before {
    content: "\e91a";
}
.icon-link:before {
    content: "\e91b";
}
.icon-log-in:before {
    content: "\e91c";
}
.icon-log-out:before {
    content: "\e91d";
}
.icon-mail:before {
    content: "\e91e";
}
.icon-map-pin:before {
    content: "\e91f";
}
.icon-message-square:before {
    content: "\e920";
}
.icon-minus:before {
    content: "\e921";
}
.icon-more-vertical:before {
    content: "\e922";
}
.icon-phone:before {
    content: "\e923";
}
.icon-plus:before {
    content: "\e924";
}
.icon-search:before {
    content: "\e925";
}
.icon-share:before {
    content: "\e926";
}
.icon-shopping-cart:before {
    content: "\e927";
}
.icon-star:before {
    content: "\e928";
}
.icon-thumbs-down:before {
    content: "\e929";
}
.icon-thumbs-up:before {
    content: "\e92a";
}
.icon-trash:before {
    content: "\e92b";
}
.icon-truck:before {
    content: "\e92c";
}
.icon-user:before {
    content: "\e92d";
}
.icon-x:before {
    content: "\e92e";
}
.icon-list-view:before {
    content: "\e92f";
}
.icon-sort:before {
    content: "\ea48";
}
