// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */


//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .modal-popup {
        .modal-header {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
        .modal-footer {
            padding-top: 2rem;
            padding-bottom: 2rem;
            .action-primary,
            .action-secondary {
                .lib-button-primary();
            }
        }
        
        .modal-header {
            border-bottom: 0;
        }

        .modal-content {
            border: none;
        }

        &.confirm {
            .modal-content {
                padding-top: 3rem;
                padding-bottom: 3rem;
            }
        }
    }

    .modal-custom {
        .action-close {
            margin: 0;
        }
    }
    .modal-popup .action-close {
        padding: 8px;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .modal-popup {
        .modal-inner-wrap {
            .br-radius(6px);
        }
    }
}

