// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Blank theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files

// width

@layout__max-width: 1740px;
@inner_container__width: 1460px;

@theme__color__primary: #357df9;
@theme__color__primary-alt: fadeOut(@theme__color__primary, 20%);
@theme__color__secondary: #162d5a;
@color__ghostwhite: #f3f6ff;
@color__linen: #f9ede4;
@color-lines: #d9e0f1;
@color-orange: #f26322;
@color-red: #ff4133;
@icon-color: #ced4ed;
@color-dark-blue: #1e60d7;
@secondary__color: @color-lines;
@cart-icons: #8a92a5;
@color-dgray: #687792;

// Tooltip

@checkout-tooltip-content__border-color: @color-lines;





// Icons color variables

@header-icons-color: @theme__color__secondary;
@header-icons-color-hover: @theme__color__primary;


// Icon font

@icon__font-path: '@{baseDir}fonts/icons/ELite';
@icon__font-name: 'ELite';

// font

@font-family-name__base: 'Manrope';

@text__color: #687792;
@text__color__secondary: @theme__color__secondary;
@title_color: @text__color__secondary;

// links

@link__color: @theme__color__secondary;
@link__hover__color: @theme__color__primary;
@link__hover__text-decoration: none;
@link__active__text-decoration: @link__hover__text-decoration;


// table

@table-th__color: @theme__color__secondary;


// Menu

@navigation-desktop-level0-item__color: @text__color__secondary;
@navigation-desktop-level0-item__hover__color: @theme__color__primary;


// alerts variables
@success__color: #7cd17c;
@message-warning__color: #fde95c;
@error__color: @color-red;

@message-icon__inner-padding-left: 55px;

@message-success__color: #fff;
@message-error__color: #fff;
@message-warning__color: #fff;
@message-info__color: #fff;

@message-success__background: #7cd17c;
@message-error__background: #ff4133;
@message-warning__background: #fde95c;
@message-info__background: #357df9;

@message-success__bar: darken(#7cd17c, 20%);
@message-error__bar: darken(#ff4133, 20%);
@message-warning__bar: darken(#fde95c, 20%);
@message-info__bar: darken(#357df9, 20%);

@message-icon__font-size: 18px;
@message-icon__font-line-height: 32px;

@message-success-icon__color-inner: @message-success__background;

// form variables:
@form-element-input__border-color: @color-lines;
@form-element-input__height: 40px;
@border_color: @color-lines;

@border-color__base: @color-lines;

// button

@button__padding: 9px 20px;
@button-primary__hover__background: @color-dark-blue;
@button-primary__hover__border: 1px solid @color-dark-blue;

@button__font-size__l: 1.6rem;
@button__padding__l: 13px 17px;

// drop down

@dropdown-list__border: 1px solid @border_color;

//Headings

@h1__font-size: 40px;
@h1__font-weight: @font-weight__semibold;
@h1__margin-top: 0;
@h2__font-size: 30px;
@h2__font-weight: @font-weight__semibold;
@h2__margin-top: 0;
@h3__font-size: 24px;
@h3__font-weight: @font-weight__semibold;
@h3__margin-top: 0;
@h4__font-size: 20px;
@h4__font-weight: @font-weight__semibold;
@h4__margin-top: 0;
@h5__font-size: 16px;
@h5__font-weight: @font-weight__semibold;
@h5__margin-top: 0;
@h6__font-size: 14px;
@h6__font-weight: @font-weight__bold;
@h6__margin-top: 0;


@indent__s: 15px;
