// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Blank theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files

// width

@layout__max-width: 1740px;
@inner_container__width: 1460px;

@theme__color__primary: #357df9;
@theme__color__primary-alt: fadeOut(@theme__color__primary, 20%);
@theme__color__secondary: #162d5a;
@color__ghostwhite: #f3f6ff;
@color__linen: #f9ede4;
@color-lines: #d9e0f1;

// Icons color variables

@header-icons-color: @theme__color__secondary;
@header-icons-color-hover: @theme__color__primary;


// Icon font

@icon__font-path: '@{baseDir}fonts/icons/ELite';
@icon__font-name: 'ELite';

// Icon variables

@icon-youtube: "\e900";
@icon-twitter: "\e901";
@icon-support: "\e902";
@icon-security: "\e903";
@icon-linkedin: "\e904";
@icon-facebook: "\e905";
@icon-delivery: "\e906";
@icon-alert-circle: "\e907";
@icon-alert-triangle: "\e908";
@icon-arrow-left: "\e909";
@icon-arrow-right: "\e90a";
@icon-bookmark: "\e90b";
@icon-camera: "\e90c";
@icon-check: "\e90d";
@icon-chevron-down: "\e90e";
@icon-chevron-left: "\e90f";
@icon-chevron-right: "\e910";
@icon-chevron-up: "\e911";
@icon-edit: "\e912";
@icon-external-link: "\e913";
@icon-eye: "\e914";
@icon-eye-off: "\e915";
@icon-filter: "\e916";
@icon-heart: "\e917";
@icon-help-circle: "\e918";
@icon-image: "\e919";
@icon-info: "\e91a";
@icon-link: "\e91b";
@icon-log-in: "\e91c";
@icon-log-out: "\e91d";
@icon-mail: "\e91e";
@icon-map-pin: "\e91f";
@icon-message-square: "\e920";
@icon-minus: "\e921";
@icon-more-vertical: "\e922";
@icon-phone: "\e923";
@icon-plus: "\e924";
@icon-magnify: "\e925";
@icon-share: "\e926";
@icon-shopping-cart: "\e927";
@icon-thumbs-down: "\e929";
@icon-thumbs-up: "\e92a";
@icon-trash: "\e92b";
@icon-truck: "\e92c";
@icon-user: "\e92d";
@icon-x: "\e92e";


// font

@font-family-name__base: 'Manrope';

@text__color: #687792;
@text__color__secondary: @theme__color__secondary;
@title_color: @text__color__secondary;

// links

@link__color: @theme__color__secondary;
@link__hover__color: @theme__color__primary;


// Menu

@navigation-desktop-level0-item__color: @text__color__secondary;
@navigation-desktop-level0-item__hover__color: @theme__color__primary;


// alerts variables

@success__color: #7cd17c;
@message-warning__color: #fde95c;
@error__color: #ff4133;


// form variables:

@form-element-input__height: 36px;
@border_color: @color-lines;

@border-color__base: @color-lines;

// drop down

@dropdown-list__border: 1px solid @border_color;

//Headings

@h1__font-size: 40px;
@h1__font-weight: @font-weight__semibold;
@h2__font-size: 40px;
@h2__font-weight: @font-weight__semibold;
@h3__font-size: 24px;
@h3__font-weight: @font-weight__semibold;
@h4__font-size: 20px;
@h4__font-weight: @font-weight__semibold;
@h5__font-size: 16px;
@h5__font-weight: @font-weight__semibold;
@h6__font-size: 14px;
@h6__font-weight: @font-weight__bold;


// Responsive variables

@c-tab: 992px;
@c-desk: 1200px;
@c-mob: 576px;