//
//  Variables
//  _____________________________________________

$checkout-wrapper__margin             : $indent__base !default;
$checkout-wrapper__width              : 59.66666667% !default;
$checkout-sidebar__width              : 40.3333333% !default;

$checkout-step-title__border          : $border-width__base solid $color-gray80 !default;
$checkout-step-title__font-size       : 26px !default;
$checkout-step-title__font-weight     : $font-weight__light !default;
$checkout-step-title__padding         : $indent__s !default;

$checkout-step-title-mobile__font-size: 18px !default;

//
//  Common
//  _____________________________________________

.checkout-index-index,
.checkout-onepage-success {
    .page-title-wrapper {
        @include lib-visually-hidden();
    }
}


.checkout-onepage-success {
    .cart-container {
            & ~ .actions-toolbar {
                float: right;

                a {
                    margin-right: 0;
                }
            }
        .form-cart {
            padding: 0;
            border: none;
            margin-bottom: 20px;
            @include max-screen($screen__l) {
                width: 100%;
            }
            .cart-title {
                margin-bottom: 20px;
                font-weight: 600;
                font-size: 16px;
            }
            .table-wrapper {
                padding: 0;
                border: solid 1px #C2C2C2;
                padding: 0 15px;
                margin-bottom: 20px;
                box-sizing: border-box;
            }

            thead {
                border-bottom: solid 1px #C2C2C2;

                @include max-screen($screen__m) {
                    border: none;
                }

                .col {
                    padding-top: 20px;
                    font-size: 14px;
                }
            }

            .items > .item {
                border: none;

                & ~ .item {
                    border-top: solid 1px #C2C2C2;
                }

                @include min-screen($screen__m) {
                    .col {
                        &:not(.item) {
                            width: 90px;
                        }
                    }
                }

                @include max-screen($screen__m) {
                    .col {
                        &:not(.item) {
                            padding-top: 10px;
                        }
                        &:before {
                            font-weight: 600;
                        }
                        &.item {
                            padding-left: 85px;
                        }
                    }
                }

                .product-image-wrapper {
                    width: 70px;
                    height: 70px;
                    border: solid 1px #C2C2C2;
                    padding: 5px !important;

                    @include max-screen($screen__m) {
                        width: 60px;
                        height: 60px;
                    }
                }

                .product-item-name {
                    font-size: 12px;
                }
            }
        }

        .cart-summary {
            width: 100%;
            border: solid 1px #C2C2C2;
            padding: 20px;

            @include max-screen($screen__m) {
                padding: 15px;
            }

            .title {
                text-transform: none;
                font-family: "Roboto", Helvetica, Arial, sans-serif;
                font-size: 14px;
            }

            .table {
                margin-bottom: 0;

                .totals {
                    .amount {
                        white-space: normal;
                    }

                    td {
                        width: 50%;
                        word-break: break-word;
                    }
                }

                .grand.totals {
                    strong {
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
            }
            @include min-screen($screen__l) {
                width: 27%;
                margin-top: 45px;
                position: sticky;
                top: 25px;
            }
        }
    }

    .column.main {
        display: flex;
        flex-wrap: wrap;
    }
    #registration {
        order: 2;
    }
    .checkout-success {
        flex: 0 0 100%;
    }
    .shipping-information {
        display: flex;
        flex-wrap: wrap;
        margin-left: -20px;
        margin-right: -20px;

        @include max-screen($screen__l) {
            margin-left: -15x;
            margin-right: -15px;
        }

        @include max-screen($screen__m) {
            margin-left: -10px;
            margin-right: -10px;
        }
        .block {
            box-sizing: border-box;
            width: percentage(1/3);
            padding: 20px;
            margin-bottom: 0;

            @include max-screen($screen__l) {
                padding: 15px;
            }

            @include max-screen($screen__m) {
                padding: 10px;
                width: percentage(1/2);
            }

            .block-inner {
                border: 1px solid #c2c2c2;
                padding: 20px;
                height: 100%;
                box-sizing: border-box;

                @include max-screen($screen__m) {
                    padding: 10px;
                }
            }

            .block-title {
                border-bottom: 1px solid #c2c2c2;
                margin-bottom: 15px;
                padding-bottom: 15px;

                @include max-screen($screen__l) {
                    margin-bottom: 10px;
                    padding-bottom: 10px;
                }
            }

            .block-content {
                word-wrap: break-word;
            }
        }
    }
}

.payment-method {
    &-braintree {
        .field-tooltip {
            .field-tooltip-content {
                right: 0;
                transform: translateX(10px);

                @include max-screen($screen__m) {
                    top: 45px;
                    left: auto;
                }

                &:before,
                &:after {
                    @include max-screen($screen__xs) {
                        @include lib-tooltip(top);
                        position: absolute;
                    }
                }
            }
        }
    }
}

.checkout-container {
    @include lib-clearfix();
    margin: 0 0 $checkout-wrapper__margin;
}

.opc-wrapper {
    margin: 0 0 $checkout-wrapper__margin;

    .opc {
        @extend .abs-reset-list;
    }

    .step-title {
        @extend .abs-checkout-title;
    }

    .step-content {
        margin: 0 0 $indent__xl;
    }

    /**
     * The use of .control on the checkout addresses container is a
     * misuse of it – it's typically for form fields. We have a max-width
     * set on the class, and here we're removing it so the addresses aren't
     * scrunched up.
     */
    .addresses > .control {
        max-width: none;
    }
}

.checkout-index-index {
    .nav-sections,
    .nav-toggle {
        display: none;
    }

    .logo {
        margin-left: 0;
    }
}

//
//  Mobile
//  _____________________________________________

@include max-screen($screen__s) {
    .opc-wrapper {
        .step-title {
            border-bottom: 0;
        }
    }
}

//
//  Desktop
//  _____________________________________________

@include min-screen($screen__m) {
    .opc-wrapper {
        @extend .abs-add-box-sizing-desktop-m;
        @include lib-layout-column(2, 1, $checkout-wrapper__width);
        padding-right: $indent__l;
    }
}

@include min-screen($screen__m) {
    .opc-sidebar {
        @include lib-layout-column(2, 2, $checkout-sidebar__width);
        position: sticky;
        right: $indent__base;
        top: $indent__l;
    }
}

/*
    Success page styling
*/
.checkout-success {
    .print {
        display: inline-block;
        margin-bottom: $indent__s;
    }
}
