<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="instagram" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Instagram Feed</label>
            <tab>earthlite</tab>
            <class>separator-top</class>
            <resource>Earthlite_Instagram::instagram</resource>
            <group id="feed" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="25">
                <label>Instagram Feed</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If Yes, then the module will be enabled.</comment>
                </field>
                <field id="api_endpoint" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Instagram API Endpoint</label>
                    <comment>Please specify the Instagram API endpoint.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="accesstoken" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Access Token for Instagram API</label>
                    <comment>Get the Access Token from the Instagram website.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
