<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="partfinder" translate="label" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Part Finder</label>
            <tab>earthlite</tab>
            <resource>Earthlite_PartFinder::partfinder</resource>
            <group id="general" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Please select Yes to enable Part Finder functionality.</comment>
                </field>
                <field id="category_url_key" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Category URL Key</label>
                    <comment>Please specify the category url key of the Part Finder category. If you modify this configuration, Please make sure the category urk key also updated for the Part Finder category.</comment>
                    <depends>
                        <field id="partfinder/general/enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
