<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ziffity_Blockcustomers::data" 
             title="Blocked Customers" 
             module="Ziffity_Blockcustomers" 
             sortOrder="75" 
             resource="Ziffity_Blockcustomers::data"
             parent="Magento_Customer::customer"
             action="blockcustomers/data/index"/>
    </menu>
</config>
