<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
             xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <earthlite_category>
            <category_general>
                <slider_enable>1</slider_enable>
                <clp_enable>1</clp_enable>
            </category_general>
        </earthlite_category>
    </default>
</config>
