// reset button styles
@mixin button--transparent {
    padding: 0;
    text-align: inherit;
    color: inherit;
    background: transparent;
    border: 0;

   @include hover {
        color: inherit;
        background: transparent;
        border: 0;
    }
}

@mixin button--font-reset {
    letter-spacing: normal;
    text-transform: none;
    -webkit-font-smoothing: auto; // reset from button styling
}

@mixin button--inline-link {
    @include button--transparent;
    @include button--font-reset;
    @include lib-link();
    display: inline;
    margin: 0;
    width: auto;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    vertical-align: inherit;
}

@mixin button--split {
    .action.split {
        padding: 7px 12px;
        text-decoration: none;
        border: $border-width__base solid $c-secondary__color;
        border-right: 0;

        @include hover {
            border-color: $primary__color;

            ~ .action.toggle {
                border-color: $primary__color;
            }
        }
    }

    .action.toggle {
        padding:  4px 2px;
        border: $border-width__base solid $c-secondary__color;


        &:after {
            font-size: 29px;
            color: inherit;
        }
    }

    .items {
        margin-top: 35px;
        min-width: 160px;
        border: $border-width__base solid $c-secondary__color;

        &::before,
        &::after {
            display: none; // remove dropdown arrows
        }
    }
}

/*doc
---
title: Tertiary Button Link
name: links_tertiary
category: Blocks - Links
---

```html_example
<a href="#" class="abs-action-link-button">View and Edit Cart</a>

<a href="#" class="action">View and Edit Cart</a>
```
*/
@mixin button--tertiary {
    padding: $button-tertiary__padding;
    font-family: $button-tertiary__font-family;
    letter-spacing: $button-tertiary__letter-spacing;
    text-transform: $button-tertiary__text-transform;
    text-decoration: $button-tertiary__text-decoration;
    color: $button-tertiary__color;
    font-weight: $font-weight__semibold;
    font-size: $font-size__base--desktop;
    line-height: $line-height__base--desktop;

    &:visited {
        color: $button-tertiary__color;
    }

    @include hover {
        text-decoration: $button-tertiary__text-decoration;
        color: $button-tertiary__hover__color;
    }
}

@mixin button--close {
    @include icon-svg(
        $icon       : remove,
        $fill       : $link__color,
        $fill-hover : $link__hover__color,
        $width      : $toggling-icon-width,
        $pseudo     : after
    );

    &::after {
        @include vertically-center($position: absolute);
    }
}

@mixin button--secondary--primary($button-type) {
    border: 2px solid transparent;
    border-image-slice: 1 !important; // Without this, the border does not show
    min-height: 50px;
    position: relative;
    width: 100%;
    font-size: $font-size__base--desktop !important; // All primary and secondary buttons have this font-size on mobile and desktop
    letter-spacing: 1px;
    font-weight: $font-weight__bold;

    @include hover {
        border-image-slice: 1 !important; // Without this, the border disappears on hover
        border: 2px solid transparent;
    }

    @include min-screen($screen__xs) {
        width: auto;
    }

    @if $button-type == "primary" {
        border-image: linear-gradient(to top, #{$c-sapphire} 0%, #{$c-waterfall} 60%);
        background-color: $c-royal;

        @include hover {
            background-color: $c-sapphire;
            border-image: linear-gradient(to top, #{$c-sapphire} 0%, #{$c-waterfall} 60%);
        }
    }

    @if $button-type == "secondary" {
        border-image: linear-gradient(to top, #{$c-aluminum} 0%, #{$c-grey} 60%);
        background-color: $c-nickel;

        @include hover {
            background-color: $c-drill;
            border-image: linear-gradient(to top, #{$c-aluminum} 0%, #{$c-grey} 60%);
        }
    }

    &:hover,
    &:focus {
        color: $color-white;
        transition: all 0.2s ease-out;

        &:before {
            animation: buttonShine 0.8s 0s linear;
        }
    }

    &:before {
        content: '';
        display: block;
        width: 0px;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        opacity: 0;
        background: $color-white;
        box-shadow: 0 0 15px 8px $color-white;
        transform: skewX(-20deg);
    }
}
