<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">    
    <preference for="Magedelight\Megamenu\Block\Topmenu" type="Earthlite\MegaMenu\Block\Topmenu" />
    <preference for="Magedelight\Megamenu\Block\ShortcodeMenu" type="Earthlite\MegaMenu\Block\ShortcodeMenu" />
</config>
