<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_layout_render_before_adminhtml_urapidflowadmin_profile_index">
        <observer name="urapidflowpro" instance="Unirgy\RapidFlowPro\Observer\AdminhtmlVersion"/>
    </event>
</config>
