<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_collect_totals_before">
        <observer name="SomethingDigital_UpdateCartPricing" instance="SomethingDigital\CustomerSpecificPricing\Observer\UpdateQuotePricingObserver" />
    </event>
</config>