.category-landing-page {
  @include max-screen($screen__m) {
    .plp-breadcrumbs {
      position: absolute;
      top: -$indent__s;
    }
  }

  .catland-sibling-categories {
    background-color: $c-smoke;

    .ais-Hits-list {
      display: block;
      margin-top: 0;
    }

    .ais-Hits-item {
      @include lib-list-reset-styles();
      width: 100%;
      padding: 0;
      box-shadow: none;
      box-sizing: border-box;

      button {
        background-color: transparent;
        font-family: $font-family__base;
        text-transform: none;
        border: 0;
        color: $text__color;
        font-weight: $font-weight__semibold;
        padding: 15px 0;
        letter-spacing: 0;
        
        @include hover {
          cursor: pointer;
          color: $c-cobalt;
        }
      }
    }

    .content-after-sidebar {
      padding: $indent__m $indent__l;

      img {
        border: 1px solid $c-grey;
      }
    }
  }

  .bottom-cms-content {
    width: 100%;
    box-sizing: border-box;

    div {
      margin-bottom: $indent__l;
    }

    @include min-screen($screen__m) {
      display: flex;
      width: 80%;
      padding-right: 50px;

      div:not(:last-of-type) {
        margin-right: $indent__m;
      }
    }
  }

  .cms-footer-border {
    transform: translateX(-50px);
    width: 100%;
  }
}

.catland-content {
  display: flex;
  flex-direction: column;

  @include max-screen($screen__m) {
    .Collapsible {
      margin-top: 50px;

      &__contentOuter {
        margin-top: 3px;
      }
    }

    .filter-heading {
      @include lib-button-reset();
      position: absolute;
      width: 100%;
      padding: $indent__s $indent__l;
      margin-top: $indent__m;
      color: $text__color;
      font-size: 16px;
      border: 2px solid $c-grey;
      text-align: left;
      box-sizing: border-box;
      pointer-events: none;
      cursor: pointer;
      z-index: 2;
      font-weight: $font-weight__semibold;

      @include hover {
        border: 2px solid $c-grey;
        color: $c-cobalt;
      }
    }

    .Collapsible__trigger {
      box-sizing: border-box;
      padding: $indent__m 80% $indent__s 0;
      z-index: 3;
      opacity: 0;
      cursor: pointer;
    }
  }

  @include min-screen($screen__m) {
    flex-direction: row;
  }

  .Collapsible {
    @include max-screen($screen__m) {
      width: 100%;

      &__contentInner {
        border: 1px solid $c-grey;
      }
    }
  }

  .catland-subcategories {
    width: 100%;

    h1 {
      margin-top: $indent__m;
    }

    @include min-screen($screen__m) {
      width: 70%;
      padding-left: 50px;
      overflow-x: hidden;

      h1 {
        margin-top: 55px;
      }
    }

    .ais-Hits-list {
      margin-left: 0;
      margin-top: $indent__l;
      padding-left: 0;
      display: flex;
      flex-wrap: wrap;

      @include max-screen($screen__s) {
        justify-content: center;
      }
    }

    .ais-Hits-item,
    .ais-Hits-item button {
      width: 100%;
      margin: 0;
      background-color: transparent;
      border: 0;
      box-shadow: none;

      img {
        width: 100%;
        max-width: 150px;
      }
    }

    .description__desktop {
      max-width: 90%;
    }

    .ais-Hits-item {
      display: flex;
      width: 100%;
      flex-basis: 50%;

      @include min-screen($screen__m) {
        flex-basis: 50%;
      }

      @include min-screen($screen__l) {
        flex-basis: 25%;
      }

      button {
        color: $c-cobalt;
        font-weight: $font-weight__semibold;
        font-size: 15px;
        cursor: pointer;
        padding-left: 0;

        @include hover {
          color: $color-black;
        }
      }
    }

    .product-count,
    .subcategory-name {
      display: block;
    }

    .subcategory-name {
      max-width: 200px;
      margin: $indent__s auto 0 auto;
      text-transform: none;
      font-size: 18px;
      line-height: 1.4;
    }

    .product-count {
      font-size: 12px;
      color: $c-steel;
      margin-top: $indent__xs;
      font-family: $font-family__base;
      letter-spacing: 0;
    }
  }

  .catland-sibling-categories .sibling-buttons {
    .ais-Hits-list {
      padding-left: $indent__s;
      padding-right: $indent__xs;
    }

    .ais-Hits-item button {
      width: 100%;
      padding-bottom: 0;
      font-size: $font-size__base;
      line-height: 1.5;
      text-align: left;
    }

    .active {
      color: $c-cobalt;
    }

    @include min-screen($screen__m) {
      border-bottom: 1px solid $c-grey;

      .ais-Hits-list {
        padding-left: $indent__l;
      }

      .ais-Hits-item button {
        font-size: $font-size__base--desktop;
        font-weight: $font-weight__semibold;
      }

      .active {
        color: $c-cobalt;
        border-right: 3px solid $c-cobalt;
      }
    }
  }
}