.category-landing-page {
  .catland-sibling-categories {
    background-color: $c-smoke;

    .ais-Hits-list {
      display: block;
    }

    .ais-Hits-item {
      @include lib-list-reset-styles();
      width: 100%;
      padding: 0;
      box-shadow: none;
      box-sizing: border-box;

      button {
        background-color: transparent;
        font-family: $font-family__base;
        text-transform: none;
        border: 0;
        color: $text__color;
        font-weight: $font-weight__semibold;
        padding: 15px 0;
        letter-spacing: 0;
        
        @include hover {
          cursor: pointer;
          color: $c-cobalt;
        }
      }
    }

    .content-after-sidebar {
      padding: $indent__m $indent__l;

      img {
        border: 1px solid $c-grey;
      }
    }
  }

  .bottom-cms-content {
    width: 100%;
    box-sizing: border-box;

    div {
      margin-bottom: $indent__l;
    }

    @include min-screen($screen__m) {
      display: flex;
      width: 80%;
      padding-right: 50px;

      div:not(:last-of-type) {
        margin-right: $indent__m;
      }
    }
  }

  .cms-footer-border {
    transform: translateX(-50px);
    width: 100%;
  }
}

.catland-content {
  display: flex;
  flex-direction: column;

  @include min-screen($screen__m) {
    flex-direction: row;
  }

  .Collapsible {
    @include max-screen($screen__m) {
      width: 100%;
    }
  }

  .catland-subcategories {
    width: 100%;

    @include min-screen($screen__m) {
      width: 70%;
      padding-left: 50px;
      overflow-x: hidden;
    }

    h1 {
      margin-top: 55px;
    }

    .ais-Hits-list {
      margin-left: 0;
      margin-top: $indent__l;
      padding-left: 0;
      display: flex;
      flex-wrap: wrap;

      @include max-screen($screen__s) {
        justify-content: center;
      }
    }

    .ais-Hits-item,
    .ais-Hits-item button {
      margin: 0;
      background-color: transparent;
      border: 0;
      box-shadow: none;

      img {
        width: 100%;
        max-width: 150px;
      }
    }

    .description__desktop {
      max-width: 700px;
    }

    .ais-Hits-item {
      display: flex;
      width: 100%;
      flex-basis: 50%;

      @include min-screen($screen__m) {
        flex-basis: 50%;
      }

      @include min-screen($screen__l) {
        flex-basis: 25%;
      }

      button {
        color: $c-cobalt;
        font-weight: $font-weight__semibold;
        font-size: 15px;
        cursor: pointer;
        padding-left: 0;

        @include hover {
          color: $color-black;
        }
      }
    }

    .product-count,
    .subcategory-name {
      display: block;
    }

    .subcategory-name {
      text-transform: none;
      font-size: 18px;
      margin-top: $indent__s;
      line-height: 1.4;
    }

    .product-count {
      font-size: 12px;
      color: $c-steel;
      margin-top: $indent__xs;
      font-family: $font-family__base;
      letter-spacing: 0;
    }
  }

  .catland-sibling-categories {
    .sibling-buttons {
      border-bottom: 1px solid $c-grey;

      .ais-Hits-item button {
        font-size: 14px;
        width: 100%;
        text-align: left;
      }

      .active {
        color: $c-cobalt;
        border-right: 3px solid $c-cobalt;
      }
    }
  }
}