$productInfo__offset-top: 50px;
$sidebar__max-width: 300px;

.left-panel {
  width: 20%;
}

.right-panel {
  @include min-screen($screen__m) {
    padding: 0;
    width: 100%;

    h2 {
      margin-top: 55px;
    }
  }

  .plp-content {
    .numHits-view-switcher {
      display: none;
    }

    @include min-screen($plp_breakpoint) {
      &.productInfo-opened {
        .numHits-view-switcher .number-of-hits {
          position: absolute;
          right: 330px;
        }
      }

      .numHits-view-switcher {
        position: relative;
        padding: 0 $indent__l;
        height: $productInfo__offset-top;
        display: flex;

        .number-of-hits {
          right: 30px;
        }
      }
    }
  }
}

.strikethrough {
  text-decoration: line-through;
}

.product-landing-page {
  .ais-InstantSearch {
    display: flex;
  }
}

.description {
  margin-bottom: $indent__s;
}

.description__mobile {
  display: none;
}

.description--has-mobile {
.description__mobile {
  display: block;
}

.description__desktop {
  display: none;
}

@include min-screen($screen__m) {
  .description__desktop,
    &.description .description__desktop {
      display: block;
    }
  }

  .description__mobile {
    display: none;
  }
}

.product-view-toggles {
  margin: $indent__m 0;
  display: flex;
  
  button {
    @include lib-button-reset();
    border: 1px solid $c-grey;
    padding: $indent__xs 15px $indent__xs $indent__s;
    color: $color-black;
    border-radius: 5px;
    text-decoration: none;
    text-transform: none;
    font-family: $font-family__base;
    font-weight: $font-weight__semibold;
    display: flex;
    margin-right: $indent__xs;

    &.active {
      background-color: $c-royal;
      color: $color-white;

      svg {
        fill: $color-white;
      }
    }

    svg {
      height: 18px;
      margin-right: $indent__xs;
    }

    &:hover,
    &:active {
      border: 1px solid $c-grey;
      text-decoration: none;
      background-color: $c-royal;
      color: $color-white;

      svg {
        fill: $color-white;
      }
    }
  }
}

.hide-on-mobile {
  @include max-screen($screen__m) {
    display: none;
  }
}

.hide-on-desktop {
  @include min-screen($screen__m) {
    display: none;
  }
}

.plp-top {
  display: flex;
  padding-bottom: $indent__m;
  border-bottom: 2px solid $c-grey;

  .plp-category-image {
    max-width: 150px;
    max-height: 150px;
    width: 100%;
    border: 1px solid $c-grey;

    @include max-screen($screen__m) {
      display: none;
    }
  }

  .description {
    max-width: 70%;
    line-height: 1.4;
    padding-left: 40px;
  }
}

.numHits-view-switcher {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-view,
.product-info {
  img {
    max-width: 200px;
    width: 100%;
    align-self: center;
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      font-size: 12px;
      padding: 4px 0;
      font-weight: $font-weight__semibold;
    }
  }

  .product-name {
    font-weight: $font-weight__bold;
    font-size: 16px;
    margin-bottom: 0;
  }

  .product-sku {
    color: $c-nickel;
    font-size: $font-size__base;
    margin-top: 0;
  }

  .pricing {
    .msrp {
      color: $c-nickel;
      font-weight: $font-weight__bold;
      margin-bottom: 0;
      font-size: 16px;
    }

    .strikethrough {
      margin-top: $indent__xs;
      font-weight: $font-weight__semibold;
    }
  }
}

.quantity-input {
  label,
  input {
    display: block;
  }

  label {
    font-size: 14px;
    margin-bottom: 0;
  }

  input {
    max-width: 50px;
    height: 50px;
    text-align: center;
    font-weight: $font-weight__semibold;
    font-size: 16px;
    margin-right: $indent__s;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.quantity-and-cart {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-right: $indent__m;

  @include max-screen($screen__m) {
    .add-to-cart {
      max-width: 150px;
    }

    .quantity-input {
      order: 0;
      margin-left: 0;
      margin-right: $indent__s;
    }
  }
}

.groups,
.table-view,
.list-view {
  @include min-screen($screen__m) {
    padding: 0 $indent__l;
  }
}

.groups {
  width: 100%;
  box-sizing: border-box;

  .table-view,
  .list-view {
    @include min-screen($screen__m) {
      padding: 0;
    }
  }
}

.group {
  h2,
  h3,
  h4 {
    font-weight: $font-weight__semibold;
    letter-spacing: 0;
  }

  h2 {
    margin-top: $indent__m;
    font-size: 30px;
  }

  h4 {
    color: $c-nickel;
    text-transform: none;
    font-family: $font-family__base;
  }

  h3,
  h4 {
    font-size: 20px;
  }
}

.plp-breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: $indent__base;
  align-items: flex-end;
  padding-left: 0;

  button,
  span {
    background-color: transparent;
    padding: 0;
    border: 0;
    text-transform: none;
    font-weight: $font-weight__regular;
    font-family: $font-family__base;
    font-size: $font-size__base;
    width: auto;
    vertical-align: baseline;

    &:not(:first-of-type) {
      padding-left: $indent__xs;
    }

    @include min-screen($screen__m) {
      vertical-align: middle;
    }
  }

  span {
    padding-left: $indent__xs;
  }

  button {
    color: $c-cobalt;

    &::after {
      content: "/";
      padding-left: $indent__xs;
      color: $text__color;
    }

    @include hover {
      color: $text__color;
    }
  }
}

.catland-sibling-categories,
.products-sidebar {
  @include min-screen($screen__m) {
    width: 100%;
    max-width: $sidebar__max-width;
  }
}

.product-landing-page .plp-breadcrumbs {
  top: -$indent__s;

  @include min-screen($screen__m) {
    left: $sidebar__max-width + 30px;
    top: $indent__base;
  }
}

.category-title,
.plp-top {
  @include min-screen($screen__m) {
    margin-left: $indent__l;
  }
}

.category-title {
  @include min-screen($screen__m) {
    font-size: 40px;
  } 
}