.list-view {
  .product-name {
    display: block;
    color: $c-steel;
    text-decoration: none;

    @include hover {
      color: $c-cobalt;
    }
  }

  .pricing {
    .price,
    .as-low-as {
      margin-top: 0;
      font-weight: $font-weight__bold;
      font-size: 16px;
      font-family: $font-family__base;
      margin-bottom: $indent__xs;
    }
  }

  .quantity-and-cart {
    justify-content: flex-end;
    flex-wrap: wrap;

    .message {
      width: 100%;
      margin-top: $indent__s;
      background-color: transparent;
      font-weight: $font-weight__bold;
      text-align: right;
      font-size: $font-size__base;
      padding: 0;

      a::before {
        display: none;
      }

      @include min-screen($screen__l) {
        width: auto;
      }
    }
  }

  .list-item {
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 2px solid $c-grey;

    @include min-screen($screen__l) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    ul li {
      margin: 0;
      padding: 2px 0;
      color: $c-nickel;
    }

    .list-inner {
      display: flex;
      flex-basis: 60%;
      align-items: center;
    }

    .list-image {
      width: 100%;
      max-width: 125px;
      margin-right: 15px;

      @include min-screen($screen__m) {
        margin-left: $indent__m;
      }
    }
  }
}