$list-image__max-width: 100px;
$list-image__margin--mobile: 15px;
$list-image__margin--desktop: $indent__m;

.list-view {
  .product-name {
    display: block;
    color: $c-steel;
    text-decoration: none;
    font-weight: $font-weight__semibold;

    @include hover {
      color: $c-cobalt;
    }
  }

  .product-sku {
    margin-bottom: $indent__s;
  }

  .pricing {
    .price,
    .as-low-as {
      margin-top: 0;
      font-weight: $font-weight__semibold;
      font-family: $font-family__base;
      margin-bottom: $indent__xs;
    }

    .msrp {
      font-size: $font-size__base__desktop;
      font-weight: $font-weight__semibold;
    }
  }

  .cart-actions {
    overflow-x: hidden
  }

  .quantity-and-cart {
    width: 100%;

    @include max-screen($screen__m) {
      justify-content: flex-start;
      margin-left: $list-image__max-width + $list-image__margin--mobile;
      padding-right: 0;

      .quantity-input {
        margin-right: $indent__s;

        input {
          margin: 0;
        }
      }

      .add-to-cart {
        max-width: 110px;
        padding-left: $indent__s;
        padding-right: $indent__s;
      }
    }

    @include min-screen($screen__m) {
      flex-wrap: wrap;
      margin-left: $list-image__max-width + $list-image__margin--desktop + 15px;
    }

    @include min-screen($screen__l) {
      justify-content: flex-end;
      width: auto;
      max-width: 300px;
      margin-left: 0;
    }

    .message {
      width: 100%;
      flex-basis: 100%;
      order: 1;
      margin-top: $indent__base;
      margin-left: -($list-image__max-width + $list-image__margin--mobile);
      background-color: transparent;
      font-weight: $font-weight__semibold;
      text-align: center;
      font-size: $font-size__base;
      padding: 0;

      a::before {
        display: none;
      }

      &.hide {
        display: none;
      }

      @include min-screen($screen__m) {
        margin-left: -($list-image__max-width + $list-image__margin--desktop);
      }

      @include min-screen($screen__l) {
        flex-basis: 100%;
        width: 100%;
        text-align: right;
      }
    }
  }

  .list-item {
    padding-bottom: $indent__s;
    padding-top: $indent__s;
    border-bottom: 1px solid $c-grey;

    &:first-of-type {
        border-top: 1px solid $c-grey;
    }

    @include min-screen($screen__l) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    ul li {
      margin: 0;
      padding: 2px 0;
      color: $c-nickel;
    }

    .list-inner {
      display: flex;
      align-items: center;
      flex-basis: 55%;
    }

    .list-image {
      width: 100%;
      max-width: $list-image__max-width;
      margin-right: $list-image__margin--mobile;

      @include min-screen($screen__m) {
        margin-left: $list-image__margin--desktop;
      }

      @include min-screen($screen__l) {
        max-width: 130px;
      }
    }
  }
}