.product-info {
  display: flex;
  flex-direction: column;
  position: relative;
  transform: translateY(-$productInfo__offset-top);
  width: 100%;
  max-width: 300px;
  background-color: $c-smoke;

  ul li {
    margin: 0;
    padding: 2px 0;
    color: $c-nickel;
  }

  &-content {
    position: sticky;
    top: 50px;
    padding: 0 $indent__m;
    padding-bottom: $indent__l;

    img {
      max-width: none;
      margin-top: 50px;
    }
  }

  .pricing p,
  .product-name {
    font-weight: $font-weight__semibold;
    font-size: 18px;
    font-family: $font-family__sans-serif;
    color: $c-aluminum;
    text-transform: none;
  }

  .pricing {
    .msrp {
      font-weight: $font-weight__semibold;
      text-transform: none;
      font-family: $font-family__base;
    }

    p {
      margin-top: 0;
    }
  }

  .close-button {
    cursor: pointer;
    position: absolute;
    padding: $indent__s 0;
    right: $indent__s;
    border: 0;
    color: $c-royal;
    background-color: transparent;
    font-size: 35px;
    font-family: $font-family__base;
    font-weight: $font-weight__regular;
    z-index: 3;
  }

  .tier-group-table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;

     tr {
      height: 30px;

      td {
        padding: $indent__xs;
      }

      span {
        display: inline-block;
        margin-top: $indent__xs;
      }
    }

    .quantity-row {
      border-bottom: 2px solid $c-royal;
      font-weight: $font-weight__bold;
    }
  }
}