.products-sidebar {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 250px;
  background-color: $c-smoke;

  .Collapsible {
    &__trigger {
      font-weight: $font-weight__bold;
      font-size: $font-size__base--desktop;
      text-transform: capitalize;

    &.is-closed::before {
      content: '+ ';
      font-size: 20px;
      font-weight: $font-weight__semibold;
    }

    &.is-open::before {
      content: '− ';
      font-size: 20px;
      font-weight: $font-weight__semibold;
      }
    }
  }

  @include max-screen($screen__m) {
    max-width: none;

    .show-hide {
      display: none;
    }
  }
}

.show-button-container {
  position: relative;
}

.hide-button-container {
  position: relative;
  margin: $indent__s 0 $indent__xl;
}

.show-button-container,
.hide-button-container {
  .show-hide {
    right: $indent__s;
    width: 100%;
    max-width: 80px;
    padding: 8px $indent__l;
    color: $c-cobalt;
    background-color: $color-white;
    border: 1px solid $c-grey;
    border-radius: 5px;
    font-weight: bold;
    position: relative;

    &.show {
      padding-left: $indent__xs;
      margin-top: $indent__s;
      margin-left: $indent__s;
    }

    &.hide {
      position: absolute;
    }

    @include hover {
      background-color: $c-cobalt;
      border: 0;
      box-shadow: 0;
      color: $color-white;

      .arrow {
        background-color: $color-white;
        color: $c-cobalt;
      }
    }
  }
}

.arrow {
  position: absolute;
  top: $indent__xs;
  width: 13px;
  padding: 3px;
  color: $color-white;
  background-color: $c-cobalt;
  border-radius: 50%;

  &.left-arrow {
    left: $indent__xs;
  }

  &.right-arrow {
    right: $indent__xs;
  }
}

.product-landing-page {
  @include max-screen($screen__m) {
    .ais-InstantSearch {
      flex-direction: column;
    }
  }
}

.sidebar-filters {
  .searchable {
    background-color: $color-white;
    padding: 15px;
    border: 1px solid $c-grey;
    margin-top: 15px;

    .search-container {
      position: relative;

      button {
        position: absolute;
        right: $indent__s;
        top: $indent__xs;
        padding: 0;
        border: 0;
        background-color: transparent;
        pointer-events: none;

        @include icon-svg(
          $icon       : search,
          $fill       : $c-scorpion,
          $width      : 25px
          );
      }

      .searchbox {
        height: 35px;
        margin-bottom: $indent__xs;
      }
    }

    .refinement-list {
      padding-left: 0;
    }
  }

  .refinement-list {
    list-style-type: none;
    padding-left: 15px;

    .refinement-label {
      &::before,
      &::after {
        width: 18px;
        height: 18px;
      }

      @include hover {
        &::after {
          border-width: 0;
        }
      }

      a {
        vertical-align: middle;

        @include hover {
          text-decoration: none;
          color: $c-cobalt;
        }
      }
    }

    &.swatches {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      justify-content: center;

      li {
        margin: $indent__s;
        box-sizing: border-box;
        max-width: 85px;

        a,
        a:active {
          text-align: center;
          font-size: $font-size__base--desktop;

          @include hover {
            color: $c-cobalt;
            text-decoration: none;
          }
        }

        img {
          border: 2px solid $c-grey;

          &:hover,
          &:focus,
          &:active {
            border: 2px solid $c-cobalt;
          }
        }
      }
    }

    li {
      line-height: 1;
      margin-top: 0;
      margin-bottom: 0;

      a {
        color: $text__color;
        font-weight: $font-weight__semibold;

        @include hover {
          color: $c-royal;
        }
      }
    }
  }

  .Collapsible {
    border-top: 1px solid $c-grey;
    padding-top: 7px;
    padding-bottom: 7px;

    &__opened {
      position: relative;

      .sidebar-description-icon {
        position: absolute;
        top: $indent__xs;
        right: $indent__m;
        text-transform: lowercase;
        font-style: italic;
      }

      .sidebar-description-content {
        position: absolute;
        margin-top: 0;
        top: 0;
        right: 0;
        transform: translateX(95%);
        background-color: $color-white;
        padding: $indent__xs;
        border: 1px solid $c-grey;
        z-index: 2;
        font-size: $font-size__base--desktop;

        &::after {
          content: " ";
          position: absolute;
          top: 50%;
          right: 100%;
          margin-top: -$indent__xs;
          border-width: 5px;
          border-style: solid;
          border-color: transparent $c-grey transparent transparent;
        }

        @include max-screen($screen__m) {
          right: 230px;
          max-width: 170px;

          &::after {
            right: -$indent__s;
            top: 20px;
            transform: rotate(180deg);
          }
        }
      }
    }

    &__trigger,
    &__contentOuter {
      padding-left: $indent__m;
      padding-right: $indent__s;
    }
  }
}

.sidebar-description-icon {
  padding: 5px 9px;
  transform: scale(.8);
  background-color: $color-black;
  color: $color-white;
  font-weight: $font-weight__bold;
  border-radius: 50%;
  font-size: 14px;
}

.ais-ClearRefinements {
  margin-bottom: $indent__s;

  button {
    background-color: transparent;
    color: $c-cobalt;
    font-weight: $font-weight__semibold;
    text-transform: initial;
    font-family: $font-family__base;
    border: 0;
    padding: 0;
    letter-spacing: 0;
    font-size: $font-size__base--desktop;

    @include hover {
      color: $text__color;
    }
  }
}

.current-refinements {
  list-style-type: none;
  margin-top: 15px;
  padding-left: $indent__m;

  ul {
    @include lib-list-reset-styles();

    li {
      margin-bottom: $indent__xs;

      @include hover {
        color: $c-cobalt;
        cursor: pointer;

        a {
          color: $c-cobalt;
        }
      }
    }

    li,
    li a {
      margin: 0;
      font-size: $font-size__base;
      font-weight: $font-weight__semibold;
      text-transform: capitalize;
    }
  }

  a {
    color: $c-steel;
    text-decoration: none;
  }

  .clear-refinement-x {
    @include lib-button-reset();
    transform: translateY(-3px);
    line-height: 1;
    padding: 0;
    background-color: transparent;
    border: 0;
    color: $c-cobalt;
    font-size: 20px;
    font-weight: $font-weight__semibold;
    font-family: $font-family__base;
    margin-right: $indent__s;
    cursor: pointer;
  }
}

.ais-ClearRefinements,
.filter-heading {
  padding-left: $indent__m;
}

.filter-heading {
  font-size: 22px;
  letter-spacing: 0;
}

@include max-screen($screen__m) {
  .products-sidebar {
    .hide-button-container {
      display: none;
    }

    .action.search {
      width: auto;
    }

    .current-refinements {
      padding: 0;

      .clear-refinement-x {
        width: auto;
      }
    }

    .ais-ClearRefinements {
      padding-left: 0;
      margin-bottom: 0;

      button {
        width: auto;
      }
    }

    .sidebar-filters {
      background-color: $color-white;

      .Collapsible {
        border-top: 1px solid $c-grey;

        &__trigger {
          padding: $indent__s;
          padding-right: 100%;

          &::before {
            vertical-align: sub;
          }
        }

        &__contentOuter {
          padding-left: 0;
          padding-right: 0;

          .Collapsible__trigger {
            padding-right: 15px;

            &::before {
              vertical-align: baseline;
            }
          }
        }

        &__contentInner {
          background-color: $c-smoke;
          margin-top: $indent__s;
        }
      }
    }

    .sidebar-description-icon {
      width: auto;
    }

    .filter-heading {
      @include lib-button-reset();
      position: absolute;
      width: 100%;
      padding: $indent__s $indent__l;
      color: $text__color;
      font-size: 16px;
      border: 2px solid $c-grey;
      text-align: left;
      box-sizing: border-box;
      pointer-events: none;
      cursor: pointer;
      z-index: 2;
      font-weight: $font-weight__semibold;

      @include hover {
        border: 2px solid $c-grey;
        color: $c-cobalt;
      }
    }

    .Collapsible__trigger {
      padding-right: 200px;
    }
  }
}
