.products-sidebar {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 250px;
  background-color: $c-smoke;

  .Collapsible {
    &__trigger {
      font-weight: $font-weight__bold;

    &.is-closed::before {
      content: '+ ';
    }

    &.is-open::before {
      content: '− ';
      }
    }
  }

  @include max-screen($screen__m) {
    max-width: none;

    .show-hide {
      display: none;
    }
  }
}

.show-button-container {
  position: relative;
}

.hide-button-container {
  position: relative;
  margin: $indent__s 0 $indent__xl;
}

.show-hide {
  right: $indent__s;
  width: 100%;
  max-width: 70px;
  padding: 8px 30px;
  color: $c-cobalt;
  background-color: $color-white;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  font-weight: bold;
  position: relative;

  &.show {
    padding-left: $indent__xs;
    margin-top: $indent__s;
    margin-left: $indent__s;
  }

  &.hide {
    position: absolute;
  }

  @include hover {
    background-color: $c-cobalt;
    border: 0;
    box-shadow: 0;

    .arrow {
      background-color: $color-white;
      color: $c-cobalt;
    }
  }
}

.arrow {
  position: absolute;
  top: $indent__xs;
  width: 13px;
  padding: 3px;
  color: $color-white;
  background-color: $c-cobalt;
  border-radius: 50%;

  &.left-arrow {
    left: $indent__xs;
  }

  &.right-arrow {
    right: $indent__xs;
  }
}

.product-landing-page {
  @include max-screen($screen__m) {
    .ais-InstantSearch {
      flex-direction: column;
    }
  }
}

.sidebar-filters {
  .refinement-list {
    list-style-type: none;
    padding-left: $indent__s;
  }

  .Collapsible {
    border-top: 2px solid $c-grey;

    &__trigger,
    &__contentOuter {
      padding-left: $indent__m;
      padding-right: $indent__s;
    }
  }
}

.sidebar-description-icon {
  padding: 2px 11px;
  transform: scale(.8);
  background-color: $color-black;
  color: $color-white;
  font-weight: $font-weight__bold;
  border-radius: 50%;
  font-size: 14px;
  font-family: cursive;
}