.table-view {
  width: 100%;

  .productInfo-opened & {
    padding-right: 0;
  }

  .products-table {
    font-weight: $font-weight__regular;
    line-height: 1.7;
    border-collapse: collapse;
    margin-bottom: $indent__l;

    thead {
      border-bottom: 2px solid $c-royal;

      th {
        padding-left: $indent__s;
        padding-bottom: $indent__xs;
        text-align: left;
        font-size: $font-size__base--desktop;
        font-weight: $font-weight__semibold;
      }

      .sorting-arrow {
        position: absolute;
        margin-left: $indent__xs;

        svg {
          width: 12px;
          height: 12px;
          fill: $c-cobalt;
        }

        &.down-arrow {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }

    tbody tr {
      border-bottom: 1px solid $c-grey;

      @include hover {
        cursor: pointer;
      }
    }

    .selected-row {
      background-color: $c-smoke;
    }

    &-rows {
      @include hover {
        background-color: $c-royal;
        color: $color-white;
        cursor: default;
      }
    }

    td {
      padding: $indent__xs $indent__s;
      font-size: $font-size__base;
    }
  }
}

.table-and-flyout {
  display: flex;
}
