.table-view {
  width: 100%;

  .products-table {
    font-weight: $font-weight__regular;
    line-height: 1.7;
    border-collapse: collapse;

    thead {
      border-bottom: 2px solid $c-royal;

      th {
        text-align: left;
        padding-left: $indent__s;
        padding-bottom: $indent__xs;
        font-size: 16px;
        font-weight: $font-weight__semibold;
      }

      .sorting-arrow {
        position: absolute;
        margin-left: $indent__xs;

        svg {
          width: 12px;
          height: 12px;
          fill: $c-cobalt;
        }

        &.down-arrow {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }

    tbody tr {
      border-bottom: 1px solid $c-smoke;
    }

    .selected-row {
      background-color: $c-smoke;
    }

    &-rows {
      @include hover {
        background-color: $c-royal;
        color: $color-white;
        cursor: default;
      }
    }

    td {
      padding: $indent__xs $indent__s;
      font-size: $font-size__base--desktop;
    }
  }
}

.table-and-flyout {
  display: flex;

  .view-all {
    text-align: center;
    margin-top: $indent__s;

    button {
      font-weight: $font-weight__semibold;
      background-color: transparent;
      text-transform: capitalize;
      font-family: $font-family__base;
      border: 0;
      color: $c-cobalt;
      font-size: $font-size__base--desktop;
      letter-spacing: 0;
    }
  }
}