<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <!-- override cenpos payment config -->
            <swppayment>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
            </swppayment>
        </payment>
        <dev>
            <js>
                <minify_exclude>
                    <cenpos>jquery\.viewprocess</cenpos>
                </minify_exclude>
            </js>
        </dev>
    </default>
</config>
