<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="billing-address-details" data-bind="if: isAddressDetailsVisible() && currentBillingAddress()">
    <!-- ko text: currentBillingAddress().prefix --><!-- /ko --> <!-- ko text: currentBillingAddress().firstname --><!-- /ko --> <!-- ko text: currentBillingAddress().middlename --><!-- /ko -->
    <!-- ko text: currentBillingAddress().lastname --><!-- /ko --> <!-- ko text: currentBillingAddress().suffix --><!-- /ko --><br/>
    <!-- ko text: _.values(currentBillingAddress().street).join(", ") --><!-- /ko --><br/>
    <!-- ko text: currentBillingAddress().city --><!-- /ko -->, <span data-bind="html: currentBillingAddress().region"></span> <!-- ko text: currentBillingAddress().postcode --><!-- /ko --><br/>
    <!-- ko text: getCountryName(currentBillingAddress().countryId) --><!-- /ko --><br/>
    <!-- ko if: (currentBillingAddress().telephone) -->
    <span data-bind="text: currentBillingAddress().telephone"></span>
    <!-- /ko --><br/>
    <!-- ko foreach: { data: currentBillingAddress().customAttributes, as: 'element' } -->
        <!-- ko foreach: { data: Object.keys(element), as: 'attribute' } -->
            <!-- ko if: (typeof element[attribute] === "object") -->
                <!-- ko if: (element[attribute].attribute_code != "is_billing" && element[attribute].attribute_code != "is_read_only" && element[attribute].attribute_code != 'validation_status' && element[attribute].attribute_code != 'sx_address_id') -->
                    <!-- ko text: element[attribute].value --><!-- /ko --><br/>
                <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: (typeof element[attribute] === "string") -->
                <!-- ko if: (element[attribute] != "is_billing" && element[attribute] != "is_read_only" && element[attribute] != "validation_status" && element[attribute] != "sx_address_id") -->
                    <!-- ko text: element[attribute] --><!-- /ko --><br/>
                <!-- /ko -->
            <!-- /ko -->
        <!-- /ko -->
    <!-- /ko -->
    <!-- ko if: (!hasBilling()) -->
    <button type="button"
            class="action action-edit-address"
            data-bind="visible: !isAddressSameAsShipping(), click: editAddress">
        <span data-bind="i18n: 'Edit'"></span>
    </button>
    <!-- /ko -->
</div>
