.pagebuilder-slide[data-appearance='collage-left'] {
    .pagebuilder-overlay {
        .pagebuilder-drop-content {
            min-height: 140px;
            position: relative;
            border: 1px dashed #ccc;
        }
    }
}
