[data-content-type='fullslide'] {
    min-height: inherit;

    > [data-element='link'],
    > [data-element='empty_link'] {
        min-height: inherit;
    }

    .pagebuilder-slide-wrapper {
        min-height: inherit;
        overflow-wrap: break-word;
        word-wrap: break-word;

        .pagebuilder-overlay:not(.pagebuilder-poster-overlay) {
            max-width: 540px;
        }

        [data-element='content'] {
            min-height: 50px;

            img {
                height: auto;
            }
        }

        .pagebuilder-slide-button {
            margin: 20px 0 0 0;
            max-width: 100%;
            word-break: break-word;
        }
    }

    .element-children {
        width: 100%;
        height: 100%;

        .pagebuilder-content-type-wrapper {
            min-height: auto;
        }
    }
}


[data-content-type='fullslider'] .slick-list > div .pagebuilder-content-type-wrapper,
.pagebuilder-content-type.pagebuilder-slider .slick-slide > div .pagebuilder-content-type-wrapper {
    min-height: auto;
}
