<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Controller\Adminhtml\Category\Save">
        <plugin name="category_gallery_images"
                type="Earthlite\Category\Plugin\Controller\Adminhtml\Category\SavePlugin" sortOrder="10"/>
    </type>
</config>
