/* Order  Success page styling
*  @author karthikeyan Indran <kindran@ztech.io>
*  @package OrderSuccess
*/

& when (@media-common = true) {
    .checkout-onepage-success {
        .item-info {
            tr {
                &:first-child {
                    border-bottom: 1px solid #d1d1d1;
                    border-top: 1px solid #d1d1d1;
                }
                &:nth-child(2n+3) {
                    background: #f1f1f1
                }
            }
            p {
                margin-bottom: 0;
            }
        }
        h2 {
            font-weight: bold;
        }
        a {
            text-decoration: underline;
        }
        .order-confirmation {
            max-width: 600px;

            table > tbody > tr > {
                th,
                td {
                    &:first-child {
                        padding-left: 0;
                    }
                }
            }
        }
        .totalinfo {
            margin-bottom: 20px;
            max-width: 600px;
            padding-bottom: 15px;

            > tbody > tr > {
                th,
                td {
                    &:first-child {
                        padding-left: 0;
                    }
                }
            }
        }
        .item-container {
            h3 {
                font-weight: bold;
                font-size: 18px;
            }
        }
        .img-container {
            img {
                &:empty {
                    display: none;
                }
            }
        }
        .order-confirmation-items {
            margin-bottom: 20px;
            padding-bottom: 15px;
            
            h2 {
                font-weight: bold;
            }
        }
    }


}