<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
  <menu>
    <add id="Unirgy_SimpleUp::usimpleup" resource="Unirgy_SimpleUp::stores_tools"
         module="Unirgy_SimpleUp" title="Unirgy Installer" sortOrder="10"
         parent="Magento_Backend::system_tools" action="usimpleup/module"/>
  </menu>
</config>
