<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <design>
            <socialprofiles>
                <social_facebook>https://www.facebook.com/somethingdigitl</social_facebook>
                <social_twitter>https://twitter.com/somethingdigitl</social_twitter>
                <social_instagram>https://www.instagram.com/somethingdigitl</social_instagram>
            </socialprofiles>
        </design>
        <customer>
            <create_account>
                <subscribe_by_default>No</subscribe_by_default>
            </create_account>
        </customer>
    </default>
</config>
