// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@account-nav-background: @sidebar__background-color;
@account-nav-color: false;

@account-nav-current-border: 3px solid transparent;
@account-nav-current-border-color: @active__color;
@account-nav-current-color: false;
@account-nav-current-font-weight: @font-weight__semibold;

@account-nav-delimiter__border-color: @color-gray82;

@account-nav-item-hover: @color-gray91;

@_password-default: @color-gray-light01;
@_password-weak: #ffafae;
@_password-medium: #ffd6b3;
@_password-strong: #c5eeac;
@_password-very-strong: #81b562;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .customer-account-logoutsuccess,
    .paypal-express-review {
        .page-main {
            .container-md();
        }
    }

    .company-account-create {
        .inner-container {
                .inner-wrapper {
                    max-width: 1210px;
                    margin: 0 auto;
                    width: 100%;
                }
        }
    }

    .customer-account-create {
        .inner-container {
            .form-wrapper {
                max-width: 790px;
                margin: 0 auto;
                width: 100%;
            }
        }
    }

    .customer-account-forgotpassword,
    .customer-account-confirmation,
    .customer-account-createpassword
    .inner-container {
        .form-wrapper {
            max-width: 460px;
            width: 100%;
        }
    }


    .company-account-create,
    .customer-account-confirmation,
    .customer-account-createpassword,
    .customer-account-forgotpassword,
    .customer-account-login,
    .customer-account-create {
        .page-main {
            .column.main {
                min-height: 990px;
            }
        }
    }

    .login-container {
        min-height: 420px;
        max-width: 840px;
        width: 100%;
        position: relative;
        .block {
            margin: 0;
            &-new-customer {
                .actions-toolbar {
                    margin-top: 25px;
                }
            }

            .block-title {
                &:extend(.abs-login-block-title all);
                .lib-font-size(18);
            }
        }

        .fieldset {
            .lib-form-hasrequired(bottom);
            &:after {
                margin-top: 35px;
            }
            &:last-child{
                margin: 0;
            }
        }

        .secondary{
            margin-top: 10px;
            font-size: 1.4rem;
            a{
                color: @c-text_sec_color;
                &:hover{
                    color: @c-primary_color;
                }
            }
        }

        .block-new-customer{
            text-align: center;
        }

        .fieldset:after{
            content: "";
            display: none;
        }

    }

    div.mage-error[generated]{
        font-size: 1.2rem;
    }

    .block-addresses-list {
        .items.addresses {
            > .item {
                margin-bottom: @indent__base;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .form-address-edit {
        .region_id {
            display: none;
        }

        .actions-toolbar .action.primary {
            &:extend(.abs-button-l all);
            .lib-font-size(18);
        }
    }

    .form-edit-account {
        .fieldset.password {
            display: none;
        }
    }

    .box-billing-address,
    .box-shipping-address,
    .box-information,
    .box-newsletter {
        .box-content {
            line-height: 26px;
        }
    }

    //  Full name fieldset
    .fieldset {
        .fullname {
            &.field {
                > .label {
                    &:extend(.abs-visually-hidden all);

                    + .control {
                        width: 100%;
                    }
                }
            }

            .field {
                &:extend(.abs-add-clearfix all);
            }
        }
    }

    //
    //  My account
    //  ---------------------------------------------

    .account {

        .page-title-wrapper {
            .page-title {
                font-size: 2.4rem;
            }
        }
        .column.main {
            h2 {
                margin-top: 0;
            }

            .toolbar {
                text-align: center;
                .limiter-options {
                    width: auto;
                }
            }

            .limiter {
                >.label {
                    &:extend(.abs-visually-hidden all);
                }
            }

            .block:not(.widget) {
                &:extend(.abs-account-blocks all);
            }
        }

        .sidebar-additional {
            margin-top: 40px;

            .block {

                &-title {
                    strong {
                        font-weight: @font-weight__bold;
                    }
                }
                &-reorder {
                    .product-items {
                        display: block;
                    }
                    a {
                        &:hover {
                            color: @c-primary_color;
                        }
                    }
                }
            }
        }

        .table-wrapper {
            &:last-child {
                margin-bottom: 0;
            }

            .action {
                margin-right: 15px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .table-return-items {
            .qty {
                .input-text {
                    &:extend(.abs-input-qty all);
                }
            }
        }
    }

    //  Checkout address (create shipping address)
    .field.street {
        .field.additional {
            .label {
                &:extend(.abs-visually-hidden all);
            }
        }
    }

    //
    //  Account navigation
    //  ---------------------------------------------

    .account-nav {
        & + & {
            display: none;
        }

        .title {
            &:extend(.abs-visually-hidden all);
        }
        .nav {
            display: block;
        } 

        .content {
            .lib-css(background, @account-nav-background);
            padding: 15px 0;
        }

        .item {
            margin: 3px 0 0;

            &:first-child {
                margin-top: 0;
            }

            a,
            > strong {
                .lib-css(color, @account-nav-color);
                border-left: 3px solid transparent;
                display: block;
                padding: @indent__s 18px @indent__s 15px;

            }

            a {
                text-decoration: none;
                .lib-css(color, @color-black);
                position: relative;

                &:before {
                    height: 0;
                    width: 3px;
                    background: @c-primary_color;
                    content: '';
                    position: absolute;
                    left: -3px;
                    .transition(all 0.5s ease 0s);
                    top: 0;
                }

                &:hover {
                    .lib-css(background, @account-nav-item-hover);
                    .lib-css(color, @c-primary_color);

                    &:before {
                        height: 100%;
                    }
                }

            }

            &.current {
                a,
                strong {
                    .lib-css(border-color, @c-primary_color);
                    .lib-css(color, @account-nav-current-color);
                    .lib-css(font-weight, @account-nav-current-font-weight);
                }

                a {
                    .lib-css(border-color, @account-nav-current-border-color);
                }
            }

            .delimiter {
                border-top: 1px solid @account-nav-delimiter__border-color;
                display: block;
                margin: @indent__s 1.8rem;
            }
        }
    }

    //
    //  Blocks & Widgets
    //  ---------------------------------------------

    .block {
        &:extend(.abs-margin-for-blocks-and-widgets all);
        .column.main & {
            &:last-child {
                margin-bottom: 0;
            }
        }

        .title {
            margin-bottom: @indent__s;

            strong {
                .lib-heading(h4);
                .column.main & {
                    font-size: @h3__font-size;
                }
            }
        }

        p:last-child {
            margin: 0;
        }

        .box-actions {
            margin-top: @indent__xs;
        }
    }

    //
    //  Password Strength Meter
    //  ---------------------------------------------

    .field.password {
        .control {

            .mage-error {
                .lib-vendor-prefix-order(2);
            }

            .input-text {
                .lib-vendor-prefix-order(0);
                z-index: 2;
            }
        }
    }

    .password-strength-meter {
        background-color: @_password-default;
        height: @form-element-input__height;
        line-height: @form-element-input__height;
        padding: @form-element-input__padding;
        position: relative;
        z-index: 1;
        display: none;

        &:before {
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            z-index: -1;
            .transition(all 0.5s ease 0s);
        }

        .password-none & {
            &:before {
                background-color: @_password-default;
                width: 100%;
            }
        }

        .password-weak & {
            &:before {
                background-color: @_password-weak;
                width: 25%;
            }
        }

        .password-medium & {
            &:before {
                background-color: @_password-medium;
                width: 50%;
            }
        }

        .password-strong & {
            &:before {
                background-color: @_password-strong;
                width: 75%;
            }
        }

        .password-very-strong & {
            &:before {
                background-color: @_password-very-strong;
                width: 100%;
            }
        }
    }

    .control.captcha-image {
        .lib-css(margin-top, @indent__s);

        .captcha-img {
            vertical-align: middle;
        }
    }

    /*==========================
        Custom
    ============================ */

    .form-wrapper,
    .form.form-orders-search {
        margin: auto;
        box-shadow: 4px 10px 13px 0px #00000045;
        border-radius: 5px;
        padding: 40px;
        background-color: #fff;
    }




    .company-account-create,
    .customer-account-login,
    .customer-account-forgotpassword,
    .customer-account-createpassword,
    .customer-account-create,
    .customer-account-confirmation{
        .page-header {
            margin-bottom: 0;
        }

        .form-create-account {
            .fieldset {
                .flex();
                margin-left: -20px;
                margin-right: -20px;

                .field{
                    .flex-width(50%);
                    padding-left: 20px;
                    padding-right: 20px;

                    &.actions-toolbar {
                        margin-top: 0;

                    }
                }

                .field-recaptcha {
                    .flex-width(50%);
                    padding-left: 20px;
                    padding-right: 20px;
                }


            }
        }

        .fieldset {
            .field.choice {
                .flex-width(100%);
            }
        }



        .page-title-wrapper{
            .page-title {
                text-align: center;
                padding: 30px 0 30px;
                margin: 0;
            }
        }

        .page-main{
            .columns{
                .actions-toolbar{
                    margin: 20px 0 0 0;
                    .primary{
                        display: block;
                        float:none;
                        width:100%;
                    }
                    .secondary{
                        float: none;
                        display: block;
                        text-align: left;
                        margin-top: 20px;
                        color: @c-text_sec_color;
                        a{
                            margin-top: 0;
                            line-height: 1;
                        }
                    }
                }
            }
        }
    }


    .company-account-create,
    .customer-account-create {
        .page-main {
            .columns {
                .actions-toolbar {
                    .secondary {
                        text-align: center;
                    }
                }
            }
        }
    }




    .company-account-create {
        .inner-container {
            width: 100%;
            .container-sm();
            padding-top: 60px;
            padding-bottom: 60px;
        }

        .page-main {
            .columns {
                .actions-toolbar {
                    margin-top: 0;
                    .secondary {
                        margin-top: 0;
                    }
                }
            }
        }

        .inner-wrapper {
            .flex();
            align-items: center;
            justify-content: space-between;

        }

        .benefits-wrapper {
            .flex-width(100%);
            .box-shadow(4px 10px 13px 0px rgba(0,0,0,0.45));
            .lib-css(background, @color-white);
            .br-radius(3px);

            .heading {
                background: @c-aliceblue;
                .br-radius(3px);
                padding: 30px 30px;
                font-size: 1.2em;
                font-weight:bold;
                text-transform: none;
                margin: 0;

            }

            .benifits-list-wrap {
                padding: 40px 30px;
                ul {
                    padding: 0 0 25px;
                    border-bottom: 1px dotted #e0e0e0;
                }
                li {
                    list-style: none;
                    padding-left: 30px;
                    position: relative;
                    &:before {
                        content: '\e900';
                        font-family: 'PS';
                        position: absolute;
                        left: 0;
                        top: 0;
                    }

                    & + li {
                        margin-top: 20px;
                    }
                }

                .download-title {
                    font-weight: bold;
                    font-size: 15px;
                    margin-bottom: 25px;
                }
            }
        }

        .form-create-account {
            .create {
                .field{
                    .flex-width(100%);
                }
            }
            .address {
                .field-file {
                    .flex-width(100%);
                }
            }

        }
    }





    .field .control{
        position: relative;
    }


    .fieldset {
        > .field {
            input[type=file] {
                height: 44px;
                width: 100%;
                margin: 0;
                cursor: pointer;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;

                & ~ .file-custom {
                    position: absolute;
                    pointer-events: none;
                    top: 1px;
                    right: 1px;
                    z-index: 5;
                    display: inline-block;
                    height: 42px;
                    line-height: 24px;
                    font-size: 14px;
                    color: #555;
                    background-color: #fff;
                    border: 1px solid #e0e0e0;
                    .br-radius(3px);
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;

                    span {
                        .lib-css(background, @c-lavander);
                        .lib-css(color, @color-black);
                        font-weight:normal;
                        display: inline-block;
                        max-width: 120px;
                        width: 100%;
                        text-align: center;
                        .br-radius(0 3px 3px 0);
                        height: 100%;
                        font-size: 1.4rem;
                        line-height: 20px;
                        padding: 10px 20px;
                        &:before {
                            display: none;
                        }
                    }
                }
            }
        }
    }


    .input-text.mage-error {
        padding-right: 50px;
        & + .mage-error {
            &:before {
                position: absolute;
                content: '!';
                font-size: 25px;
                color: #fff;
                width: 40px;
                height: 44px;
                background: @c-hover_color;
                right: 0;
                border-radius: 0 5px 5px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 0;
            }
        }
    }
    
    textarea.input-text {
        & + .mage-error {
            &:before {
                visibility: hidden;
                opacity:0;
            }
        }
    }

    .company-account-create,
    .customer-account-confirmation,
    .customer-account-createpassword,
    .customer-account-create,
    .customer-account-forgotpassword,
    .customer-account-login{
        .page-main{
            padding: 0;
            .column.main{
                background-image: url(../images/account/bg_login_right.png);
                background-repeat: no-repeat;
                background-position: center right;
                background-size: cover;
                padding: 40px 20px;
            }
        }
    }

    form.send.confirmation,
    .form.password.reset,
    .form.password.forget{
        max-width: 380px;
        width: 100%;
        margin: 0 auto;
        .field.note{
            margin-bottom: 15px;
        }
    }

    .customer-account-forgotpassword{
        .page-main {
            .columns {
                .actions-toolbar{
                    margin-top: 10px;
                    .secondary{
                        position: relative;
                    }
                    .action.back{
                        &:before{
                            content: @right-arrow;
                            font-family: @icons__font-name_ps;
                            display: inline-block;
                            vertical-align: middle;
                            font-size: 20px;
                            margin-right: 5px;
                            line-height: normal;
                            .transform(rotate(180deg));
                        }
                    }
                }
            }
        }

    }


    .account {

        &.page-layout-2columns-left {
            .sidebar-main,
            .sidebar-additional {
                width:25%;
            }

            .column.main {
                width: 75%;
            }
        }

        .column.main {
            .fieldset {
                .legend{
                    margin-left: 0;
                }
            }

            .actions-toolbar {
                margin-left: 0;
            }




            .block {
                &-title {
                    font-size: 1.6rem;
                    margin-bottom: 20px;
                }

                .action {
                    .lib-css(color, @color-black);
                    & + .action {
                        margin-left: 15px;
                    }
                    &:hover {
                        .lib-css(color, @c-primary_color);
                    }
                    &.edit {

                        &:before {
                            content: '';
                        }
                    }
                }
                &.block-dashboard-info,
                &.block-dashboard-addresses {
                    .box {
                        &-title {
                            > span {
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }
        }

        &.sales-order-print,
        &.sales-order-view {
            .page-main {
                .container-md();
                .page-title-wrapper {
                    background: transparent;
                    padding: 0;
                    margin-bottom: 0;
                    .page-title {
                        .container-reset();
                        margin-bottom: 20px;
                    }
                }

                .columns {
                    .container-reset();
                }
            }

            .order-links {
                li {
                    padding-bottom: 15px;
                }
            }
        }
    }



    .page-print {
        .logo {
            padding: 10px 0;
            display: block;
            text-align: center;
            margin: 0 auto;
            img {
                margin: 0 auto;
            }
        }

        .page-title-wrapper {
            .order-status,
            .order-date {
                display: block;
                .container-md();
                margin-top: 10px;
                margin-bottom: 0;
                .container-reset();
            }
        }

        .copyright {
            .container-md();
            display: block;
            .container-reset();
        }
    }

}



.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @c-tab) {
    .account {
        .page-main {
            position: relative;
        }
        .page-title-wrapper {
            margin-top: 70px;
        }
        .block {
            &-reorder {
                .actions-toolbar {
                    max-width: none;
                }
            }
        }
        .account-nav {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index:5;
            &-title {
                clip: auto;
                width: 100%;
                height: 100%;
                overflow: auto;
                position: relative;
                margin: 0;
                padding: 15px 20px;
                background: @account-nav-background;
                cursor: pointer;
                strong {
                    .lib-font-size(18);
                }

                &:after {
                    content: @icon-chevron-thin-down;
                    font-family: @icons__font-name_ps;
                    position: absolute;
                    right: 20px;
                    top: 12px;
                    .lib-font-size(18);
                }

                &.active {
                    &:after {
                        content: @icon-chevron-thin-up;
                    }
                   & + .account-nav-content {
                        display: block;
                    }
                }
            }
            &-content {
                display: none;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m + 1) {
    .company-account-create {
        .inner-container {
            padding-left: 0;
            padding-right: 0;
        }

        .benefits-wrapper {
            margin-bottom: 30px;
        }
    }

    .form-wrapper {
        padding: 40px 20px;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {



    .login-container {
        .fieldset {
            &:after {
                text-align: center;
            }
        }
        .block-new-customer{
            margin-top: 30px;
            padding-top: 30px;
            border-top: 1px solid #e0e0e0;
        }
    }

    .account {
        .messages {
            margin-bottom: 0;
        }

        .toolbar {
            &:extend(.abs-pager-toolbar-mobile all);
        }
    }

    .control.captcha-image {
        .captcha-img {
            .lib-css(margin-bottom, @indent__s);
            display: block;
        }
    }

    .customer-account-index {
        .page-title-wrapper {
            position: relative;
        }
    }

    /*==========================
        Custom
    ============================ */

    .login-container{
        margin: auto;
    }

    .company-account-create,
    .customer-account-confirmation,
    .customer-account-createpassword,
    .customer-account-create,
    .customer-account-forgotpassword,
    .customer-account-login{
        .page-main{
            .column.main{
                min-height: auto;
                padding-bottom: 100px;
            }
        }

        .form-create-account {
            .fieldset {
                .field {
                    .flex-width(100%);
                }
            }
        }

        .actions-toolbar {
            .secondary {
                text-align: center;
            }
        }
    }

}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xl) {
    .company-account-create,
    .customer-account-confirmation,
    .customer-account-createpassword,
    .customer-account-create,
    .customer-account-forgotpassword,
    .customer-account-login{
        .page-main{
            .column.main{
                min-height: 650px;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .account {
        .column.main,
        .sidebar-additional {
            margin: 0;
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {

    /*==========================
        Custom
    ============================ */

    .form-wrapper,
    .form.form-orders-search{
        box-shadow: none;
        max-width: 100%;
    }


    .form.create.account{
        .actions-toolbar{
            .secondary{
                text-align: center;
                a{
                    display: block;
                }
            }
        }
    }

    .company-account-create,
    .customer-account-confirmation,
    .customer-account-createpassword,
    .customer-account-create,
    .customer-account-forgotpassword,
    .customer-account-login{
        .page-main{
            .column.main{
                padding-bottom: 80px;
            }
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @c-desk) {

    .g-recaptcha {
        .transform(scale(0.8));
        transform-origin: 0 0;
        position: relative;
    }
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .order-details-items {
        .order-items {
            &.table-wrapper {
                .col {
                    text-align: left;
                }

                tbody{
                    tr + tr {
                        border-top: 1px solid @c-graylight;
                    }
                }
            }
        }
    }
}
//
//  Desktop
//  _____________________________________________


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m + 1) {

    .company-account-create,
    .customer-account-confirmation,
    .customer-account-createpassword,
    .customer-account-forgotpassword,
    .customer-account-login,
    .customer-account-create{
        .page-main{
            .column.main{
                padding: 0;
                background-size: contain;
            }

            .inner-container {
                margin-top: -100px;
            }
        }
    }


    .company-account-create {
        .page-main{
            .inner-container {
                margin-top: 0;
            }
        }
    }

    .account {
        &.sales-order-view {
            .page-title {
                margin-top: 40px;
            }
        }
    }

}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @c-desk) {
    .company-account-create {
        .benefits-wrapper {
            .heading {
                padding: 30px 50px;
            }

            .benifits-list-wrap {
                padding: 40px 50px;
            }
        }

    }
}


@media screen and (min-width: @screen__m) and (max-width: @c-tab) {

    .company-account-create {
        .form-create-account {
            .fieldset {
                .field {
                    .flex-width(100%);
                }
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @c-tab) {

    /*==========================
        Custom
    ============================ */

    .form.create.account{
        max-width: 710px;
    }
    .account.page-layout-2columns-left {
        .sidebar-main,
        .sidebar-additional {
            width: 22.3%;
        }

        .column.main {
            width: 77.7%;
        }
    }
}





.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m + 1) {
    .company-account-create {
        .form-wrapper {
            .flex-width(60%);
        }
        .benefits-wrapper {
            .flex-width(40%);
        }
    }

    .company-account-create,
    .customer-account-confirmation,
    .customer-account-createpassword,
    .customer-account-forgotpassword,
    .customer-account-login,
    .customer-account-create {
        .page-title-wrapper {
            .page-title {
                padding-top: 0;
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m + 1) {
    .company-account-create,
    .customer-account-confirmation,
    .customer-account-createpassword,
    .customer-account-forgotpassword,
    .customer-account-login,
    .customer-account-create {
        .page-main {
            .column.main {
                display: table;
                .inner-container {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }


        &.ie {
            .page-main {
                .column.main {
                    display: table;
                    .inner-container {
                        display: table-cell;
                        vertical-align: middle;
                    }
                }
            }
        }
    }

    .login-container {
        &:extend(.abs-add-clearfix-desktop all);
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .block {
            &:extend(.abs-blocks-2columns all);
            &.login {
                .actions-toolbar {
                    > .primary {
                        margin-bottom: 0;
                        margin-right: @indent__l;
                    }

                    > .secondary {
                        float: left;
                    }
                }
            }
        }

        .fieldset {
            &:after {
                &:extend(.abs-margin-for-forms-desktop all);
                margin: 0;
            }

            > .field {
                > .control {
                    width: 100%;
                }
            }
        }

        .block-customer-login{
            padding-right: 40px;
            width: percentage(1/2);
            &::after{
                height: 100%;
                border-right: 1px solid #e2e2e2;
                position: absolute;
                content: "";
                right: 50%;
                top: 0;
            }
        }

        .block-new-customer{
            padding-left: 40px;
            width: percentage(1/2);
            p{
                margin: 10px 0;
            }
        }

    }

    //  Full name fieldset
    .fieldset {
        .fullname {
            .field {
                .label {
                    .lib-css(margin, @form-field-type-label-inline__margin);
                    .lib-css(padding, @form-field-type-label-inline__padding);
                    .lib-css(text-align, @form-field-type-label-inline__align);
                    .lib-css(width, @form-field-type-label-inline__width);
                    box-sizing: border-box;
                    float: left;
                }

                .control {
                    .lib-css(width, @form-field-type-control-inline__width);
                    float: left;
                }
            }
        }
    }

    //
    //  My account
    //  ---------------------------------------------



    .account {

        .page-main {
            padding-left: 0;
            padding-right: 0;

            .page-title-wrapper {
                .lib-css(background, @c-whitesmoke);
                padding-top: 20px;
                padding-bottom: 20px;
                margin-bottom: 40px;
                .page-title {
                    .container-md();
                    display: block;
                    margin-bottom: 0;
                }
            }
        }
        .columns {
            .container-md();
        }
        .column.main {
            .block:not(.widget) {
                .block-content {
                    &:extend(.abs-add-clearfix-desktop all);

                    .box {
                        &:extend(.abs-blocks-2columns all);
                    }
                }
            }
        }

        .toolbar {
            &:extend(.abs-pager-toolbar all);
        }
    }

    .block-addresses-list {
        .items.addresses {
            &:extend(.abs-add-clearfix-desktop all);
            font-size: 0;

            > .item {
                display: inline-block;
                font-size: @font-size__base;
                margin-bottom: @indent__base;
                vertical-align: top;
                width: 48.8%;

                &:nth-last-child(1),
                &:nth-last-child(2) {
                    margin-bottom: 0;
                }

                &:nth-child(even) {
                    margin-left: 2.4%;
                }
            }
        }
    }

    //
    //  Welcome block
    //  ---------------------------------------------

    .dashboard-welcome-toggler {
        &:extend(.abs-visually-hidden-desktop all);
    }

    .control.captcha-image {
        .captcha-img {
            margin: 0 @indent__s @indent__s 0;
        }
    }

    /*==========================
        Custom
    ============================ */

    .company-account-create,
    .customer-account-confirmation,
    .customer-account-createpassword,
    .customer-account-create,
    .customer-account-forgotpassword,
    .customer-account-login{
        .nav-sections{
            margin: 0;
        }
    }

    .customer-account-create{
        .page-main{
            .columns{
                .actions-toolbar{
                    .secondary{
                        margin: 0;
                        text-align: center;
                    }
                }
            }
        }
    }

}