<div id="stock-info-modal-popup" data-bind="afterRender: createModalPopup" style="display: none">
    <div class="product-inventory-table">
        <h2 data-bind="i18n: 'Check Warehouse Stock Availability'"></h2>
        <!-- ko if: stockDataIsEmptyObservable -->
        <p data-bind="i18n: 'There are no available items'"></p>
        <!-- /ko -->
        <!-- ko ifnot: stockDataIsEmptyObservable -->
        <div class="product-inventory-table-mobile">
            <!-- ko foreach: { data: stockDataObservable(), as: 'element' } -->
            <p><strong data-bind="i18n: 'SKU:'"></strong><span data-bind="text: element.sku"></p>
            <p><strong data-bind="i18n: 'Warehouse:'"></strong><span data-bind="text: element.label"></p>
            <p><strong data-bind="i18n: 'Status:'"></strong><span data-bind="text: element.in_stock"></p>
            <p><strong data-bind="i18n: 'QTY:'"></strong><span data-bind="text: element.qty"></p>
            <!-- /ko -->
        </div>
        <div class="product-inventory-table-desktop">
            <table>
                <thead>
                    <th><strong data-bind="i18n: 'SKU:'"></strong></th>
                    <th><strong data-bind="i18n: 'Warehouse:'"></strong></th>
                    <th><strong data-bind="i18n: 'Status:'"></strong></th>
                    <th><strong data-bind="i18n: 'Qty:'"></strong></th>
                </thead>
                <tbody>
                    <!-- ko foreach: { data: stockDataObservable(), as: 'element' } -->
                    <tr>
                        <td><span data-bind="text: element.sku"></span></td>
                        <td><span data-bind="text: element.label"></span></td>
                        <td><span data-bind="text: element.in_stock"></span></td>
                        <td><span data-bind="text: element.qty"></span></td>
                    </tr>
                    <!-- /ko -->
                </tbody>
            </table>
            <!-- /ko -->
        </div>
        <!-- /ko -->
    </div>
</div>