// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@widgets-indent__bottom: @indent__base;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .block-static-block,
    .block-cms-link {
        &.widget {
            .lib-css(margin-bottom, @widgets-indent__bottom);
            .links & {
                margin-bottom: 0;
            }
        }
    }

    .block-cms-link-inline {
        &.widget {
            margin: 0;
        }
    }



    .cms-page-view{
        .page-main{
            padding: 0;
            margin-top: 2rem;
        }
        .terms{

        }
        .nav-tabs{
            position: relative;
            border: none;
            &::before{
                content: "";
                position: absolute;
                width: 1000em;
                z-index: -1;
                background: @c-graylight;
                height: 3px;
                left: -1000rem;
                right: -50px;
                display: block;
                top: 46px;
            }

            .container-sm();
            .nav-item{
                .flex-width(25%);
                margin: 0;
            }
            .nav-link{
                border: 0;
                padding: 1.5rem 0;
                font-size: 2rem;
                line-height: 1;
                font-weight: 600;
                display: inline-block;
                font-family: @heading__font-family__base;
                &.active{
                    color: @c-primary_color;
                    background: transparent;
                    position: relative;
                    &::after{
                        content: "";
                        position: absolute;
                        bottom: -3px;
                        width: 100%;
                        height: 3px;
                        left: 0;
                        background: @c-primary_color;
                    }
                }
            }
        }
        .tab-content{
            .container-sm();
        }
        .tab-con{
            & ~ .tab-con {
                margin-top: 4.5rem;
            }
            h3{
                font-size: 2rem;
                font-weight: 600;
                margin: 0 0 2rem;
            }
            h4{
                font-size: 1.6rem;
                margin: 0 0 2rem;
            }
            p{
                margin: 0 0 2rem;
            }
            ul{
                list-style-position: inside;
                margin: 0;
                padding: 0;
                list-style-type: none;
                li{
                    margin: 0;
                }
                &.alpha{
                    list-style-type: lower-alpha;
                }
                &.dots{
                    list-style-type: disc;
                }
            }
            ol{
                margin: 0;
                padding: 0;
                list-style-position: inside;
                li{
                    margin: 0;
                }
            }
            .bold{
                font-weight: 600;
            }
        }
    }

}



.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @c-desk) {

    .cms-page-view{
        .nav-tabs{
            .nav-link{
                font-size: 2rem;
            }

            &:before {
                top: 50px;
            }
        }

    }

}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @c-tab) {

    .cms-page-view{
        .nav.nav-tabs{
            a.nav-link{
                font-size: 1.2rem;
            }
            &:before {
                top: 43px;
            }
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m + 1) {

    .cms-page-view{
        .card-soup{
            padding: 0 2rem;
            .card{
                margin: .5rem 0;
                border-radius: 0;
            }
            .card-title{
                margin: 0;
                padding: .5rem 0;
                a{
                    padding: 0;
                    font-size: 1.6rem;
                }
            }
            .fade:not(.show) {
                opacity: 1;
            }
        }
        .tab-con{
            margin-top: 2rem;
        }
        .terms{
            display: none;
        }
        .card-header{
            border: 0;
            background-color: @c-whitesmoke;
            padding: 0;

            a {
                padding: 2rem;
                display: block;
                position: relative;

                &:before {
                    position: absolute;
                    content: @icon-chevron-thin-up;
                    font-family: @icons__font-name_ps;
                    right: 20px;
                    top: 20px;
                    color: @c-primary_color;
                }

                &.collapsed {
                    &:before {
                        content: @icon-chevron-thin-down;
                    }
                }
            }
            h5 {
                margin-top: 0;
            }
        }

        .nav-tabs {
            display: none;
        }

        .nav-link{
            position: relative;
            &::after {
                content: '\e900';
                font-family: 'PS';
                transform: rotate(-90deg);
                position: absolute;
                right: 5px;
                font-size:20px;
            }
            &.collapsed{
                color: @c-text_color;
                &::after {
                    transform: rotate(90deg);
                }
            }
        }

        .tab-content {
            .card {
                margin-top: 20px;
            }
            .tab-pane {
                display: block !important;
                opacity: 1;
            }
        }
       
    }

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .cms-page-view{
        .d-none {
            display: flex !important;
        }
    }

}