// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@widgets-indent__bottom: @indent__base;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .block-static-block,
    .block-cms-link {
        &.widget {
            .lib-css(margin-bottom, @widgets-indent__bottom);
            .links & {
                margin-bottom: 0;
            }
        }
    }

    .block-cms-link-inline {
        &.widget {
            margin: 0;
        }
    }



    .cms-page-view{
        .page-main{
            padding: 0;
            margin-top: 2rem;
        }
        .terms{
            position: relative;
            &::after{
                content: "";
                position: absolute;
                width: 100%;
                z-index: -1;
                background: #dee2e6;
                height: 3px;
            }
        }
        .nav-tabs{
            border: 0;
            .container-sm();
            .nav-item{
                .flex-width(25%);
                margin: 0;
            }
            .nav-link{
                border: 0;
                padding: 1rem 0;
                line-height: 1;
                font-weight: 600;
                display: inline-block;
                font-family: @heading__font-family__base;
                &.active{
                    color: @c-primary_color;
                    background: transparent;
                    position: relative;
                    &::after{
                        content: "";
                        position: absolute;
                        bottom: -3px;
                        width: 100%;
                        height: 3px;
                        left: 0;
                        background: @c-primary_color;
                    }
                }
            }
        }
        .tab-content{
            .container-sm();
        }
        .tab-con{
            margin-top: 4.5rem;
            h3{
                font-size: 2rem;
                font-weight: 600;
                margin: 0 0 2rem;
            }
            h4{
                font-size: 1.6rem;
                margin: 0 0 2rem;
            }
            p{
                margin: 0 0 2rem;
            }
            ul{
                list-style-position: inside;
                margin: 0;
                padding: 0;
                list-style-type: none;
                li{
                    margin: 0;
                }
                &.alpha{
                    list-style-type: lower-alpha;
                }
                &.dots{
                    list-style-type: disc;
                }
            }
            ol{
                margin: 0;
                padding: 0;
                list-style-position: inside;
                li{
                    margin: 0;
                }
            }
            .bold{
                font-weight: 600;
            }
        }
    }

    /* About Us */

    .static-page-title{
        text-align: center;
        padding: 4.5rem 0;
        margin: 0;
        font-weight: 600;
        font-size: 3rem;
    }

    .banner-img{
        .banner-content{
            h1{
                color: @color-white;
                margin: 0;
                font-size: 3rem;
                font-weight: 600;
                line-height: 1.4;
            }
        }

        .inner-img{
            &:hover{
                img{
                    .scale(1.11);                
                }
            }
            img{
                .transition(.3s);
                cursor: pointer;
                transform-origin:0 100% 0;
            }
        }
    }

    .container-xs{
        max-width: 990px;
        padding: 3rem 2rem 0rem;
        width: 98%;
        margin: auto;
        p{
            font-family: @heading__font-family__base;
            margin-bottom: 3rem;
            font-weight: 600;
        }
    }

}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl + 1) {

    .banner-img{
        .banner-content{
            left: 14%;
            width: 22%;
        }
        .inner-img{
            top: 13%;
            right: 15%;
            width: 31%;
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

    .banner-img{
        .banner-content{
            top: 40%;
            left: 8%;
            width: 38%;
        }
    }

}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @c-desk) {

    .cms-page-view{
        .nav-tabs{
            .nav-link{
                font-size: 2.4rem;
            }
        }
        .terms{
            &::after{
                top: 44px;
            }
        }
    }

}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @c-tab) {

    .cms-page-view{
        .nav-tabs{
            .nav-link{
                font-size: 2rem;
            }
        }
        .terms{
            &::after{
                top: 40px;
            }
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @c-tab) {

    .cms-page-view{
        .nav-tabs{
            .nav-link{
                font-size: 1.5rem;
            }
        }
        .terms{
            &::after{
                top: 35px;
            }
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .cms-page-view{
        .card-soup{
            padding: 0 2rem;
            .card{
                margin: .5rem 0;
                border-radius: 0;
            }
            .card-title{
                margin: 0;
                padding: .5rem 0;
                a{
                    padding: 0;
                    font-size: 1.6rem;
                }
            }
            .fade:not(.show) {
                opacity: 1;
            }
        }
        .tab-con{
            margin-top: 2rem;
        }
        .terms{
            display: none;
        }
        .card-header{
            border: 0;
            background-color: @c-whitesmoke;
        }
        .nav-link{
            position: relative;
            &::after {
                content: '\e900';
                font-family: 'PS';
                transform: rotate(-90deg);
                position: absolute;
                right: 5px;
                font-size:20px;
            }
            &.collapsed{
                color: @c-text_color;
                &::after {
                    transform: rotate(90deg);
                }
            }
        }
       
    }

    .static-page-title{
        padding: 3rem 0;
        font-size: 2rem;
    }

    .banner-img{
        position: relative;
        .banner-content{
            position: absolute;
            top: 30%;
            left: 5%;
            width: 42%;
            padding: 1rem;
            h1{
                font-size: 2rem;
            }
        }
        .inner-img{
            position: absolute;
            top: 15%;
            right: 5%;
            width: 30%;
        }
    }

    .container-xs{
        padding-top: 8rem;
    }

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .cms-page-view{
        .d-none {
            display: flex !important;
        }
    }

    .banner-img{
        position: relative;
        .banner-content{
            position: absolute;
            top: 30%;
            left: 5%;
            width: 50%;
        }
        .inner-img{
            position: absolute;
            top: 9%;
            right: 5%;
            width: 32%;
            padding: 0;
        }
    }

    .container-xs{
        padding-top: 12rem;
    }


}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @c-mob) {

    .banner-img{
        position: relative;
        text-align: center;
        .banner-content{
            top: 10%;
            left: 5%;
            width: 90%;
        }
        .inner-img{
            position: static;
            width: 100%;
            max-width: 100%;
            padding: 2rem;
        }
    }

    .container-xs {
        padding-top: 2rem;
    }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {

    .banner-img{
        img{
            height: 250px;
        }
        .banner-content{
            top: 15%;
        }
    }

}