<?xml version="1.0"?>
 <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <type name="Magento\Catalog\Model\Config">
   <plugin name="Earthlite_CustomSort::addCustomOptions" type="Earthlite\CustomSort\Plugin\Model\Config" />
  </type>
  <type name="Magento\Catalog\Block\Product\ProductList\Toolbar">
   <plugin name="Earthlite_CustomSort::addPriceDecendingFilterInToolbar" type="Earthlite\CustomSort\Plugin\Product\ProductList\Toolbar" />
  </type>
</config>