<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/Magento/Module/etc/module.xsd">
    <module name="Wyomind_MassStockUpdate" setup_version="9.3.1">
        <sequence>
            <module name="Magento_Core"/>
        </sequence>
    </module>
</config>
